<br />
<div class="row">
	<div class="col-md-12 text-right">
		<small>benvenuto <strong><?php echo $this->user->username; ?></strong>
			- <a href="./logout" class="btn btn-primary btn-xs" role="button">logout</a></small>
	</div>
</div>
<br />

<div class="jumbotron">
	<div class="row">
		<div class="col-md-2">
			<img src="<?php echo $this->basePath('img/app_icon.png') ?>"
				height="120" width="120" style="display: ininline;" />
		</div>
		<div class="col-md-10">
			<h2>
				Pannello di controllo di <span style="color: #ccc;">Carnevale di
					Putignano 2015</span>
			</h2>
			<p>Classifica in tempo reale dei carri pi&ugrave; votati e
				monitoraggio delle region rilevate dai device degli utenti</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">GIURIA POPOLARE</h3>
			</div>
			<div class="panel-body">
				<p>
					La classifica dei carri preferiti dagli utenti (ogni utente
					esprime un voto nell'intervallo <b>0 - 5</b>
				</p>
				<table class="table table-striped" height="450" >
					<thead>
						<tr>
							<th>#</th>
							<th>Carro</th>
							<th>media</th>
							<th>Pt</th>
							<th>n&deg;voti</th>
						</tr>
					</thead>
					<tbody>
						<?php
						$pos = 0;
						$tot_votes = 0;
						foreach ( $this->leaderboard->data as $row ) {
							$pos ++;
							$tot_votes += $row->num_vote;
							?><tr>
							<th scope="row"><?php echo $pos; ?></th>
							<td><?php echo $row->identifier; ?></td>
							<td><?php echo ($row->mean_vote != null) ?  number_format($row->mean_vote,2) : "-"; ?></td>
							<td><?php echo ($row->pt != null) ?  $row->pt : "-"; ?></td>
							<td><?php echo ($row->num_vote != 0) ? $row->num_vote : "-"; ?></td>
						</tr><?php
						}
						?>
					</tbody>
				</table>

				<p>
					<b>Ultimo voto: </b><?php echo $this->leaderboard->last_vote;?>
					<span>  /  </span>
					<b>Votanti: </b><?php echo $tot_votes;?>
				</p>
			</div>
		</div>
	</div>
	
	<div class="col-md-7">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">VOTI - Lista dei voti inviati (app Android/iOS)</h3>
			</div>
			<div class="panel-body">
				<table id="rates_table" class="table table-striped"
					data-url="./rates" data-height="550" data-side-pagination="server"
					data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]"
					data-search="true">
					<thead>
						<tr>
							<th data-field="device_id" data-sortable="true">#Device</th>
							<th data-field="region" data-sortable="true">Nome</th>
							<th data-field="timestamp" data-sortable="true">Quando</th>
							<th data-field="value" data-sortable="true">Voto</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<?php if($this->user->role == 'admin') { ?>
	<div class="row">
	
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">GEOFENCING - Totale eventi rilevati</h3>
				</div>
				<div class="panel-body">
					<table id="tracks_table" class="table table-striped"
						data-url="./tracks" data-height="550" data-side-pagination="server"
						data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]"
						data-search="true">
						<thead>
							<tr>
								<th data-field="device_id" data-sortable="true">#Device</th>
								<th data-field="region" data-sortable="true">Nome</th>
								<th data-field="type" data-sortable="true">Region</th>
								<th data-field="event" data-sortable="true">Evento</th>
								<th data-field="timestamp" data-sortable="true">Quando</th>
								<th data-field="where" data-sortable="false">Dove</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">GEOFENCING - Eventi per device</h3>
				</div>
				<div class="panel-body">
					<table id="stats_table" class="table table-striped"
						data-url="./stats" data-height="550" data-side-pagination="server"
						data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]"
						data-search="true">
						<thead>
							<tr>
								<th data-field="device_id" data-sortable="true">#Device</th>
								<th data-field="event" data-sortable="true">Evento</th>
								<th data-field="num_event" data-sortable="true">n&deg;</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
<?php }?>

<script type="text/javascript">
	$('#rates_table').bootstrapTable();
	$('#tracks_table').bootstrapTable();
	$('#stats_table').bootstrapTable();
</script>