<?php
$icon_path = null;
$status_val = 50;
$status_label = "Setting completed";
$icon_flag = false;
$splash_flag = false;
$cdnBaseurl = $this->layout()->cdnBaseurl;

if ($this->app_data != null) {

    if (!is_null($this->app_data->icon) && $this->app_data->icon != "") {
        $icon_path = $cdnBaseurl . \Common\Helper\ImageHelper::getAppIconUrl() . $this->app_data->icon;
        $status_val += 25;
        $icon_flag = true;
    } else {
        $icon_path = $this->basePath() . "/img/placeholder/app-icon.png"; //avatar placeholder
    }

    $splash_path = null;

    if (!is_null($this->app_data->splash_screen) && $this->app_data->splash_screen != "") {
        $splash_path = $cdnBaseurl . \Common\Helper\ImageHelper::getAppSplashUrl() . $this->app_data->splash_screen;
        $status_val += 25;
        $splash_flag = true;
    } else {
        $splash_path = $this->basePath() . "/img/placeholder/app-splash.png"; //avatar placeholder
    }

    if ($status_val == 50) $status_label = "Set icon and splash screen";
    else {
        if ($status_val == 75) {
            if (!$icon_flag) $status_label = "Set app icon";
            if (!$splash_flag) $status_label = "Set app splash screen";
        }
    }
    ?>

    <!-- Create the tabs -->
    <!--<ul class="nav nav-tabs nav-justified control-sidebar-tabs">-->
    <!--    <li class="active"><a href="#control-sidebar-app-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>-->
    <!--    <li><a href="#control-sidebar-apps-list-tab" data-toggle="tab"><i class="fa fa-folder-open"></i></a></li>-->
    <!--</ul>-->
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div id="control-sidebar-app-settings-tab">
            <!--        <div class="row section_title">-->
            <!--            <div class="col-xs-12 col-md-12 col-lg-12 clean_col">-->
            <!--                <h3>SELECTED APPLICATION</h3>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--        <br/>-->

            <a href="<?php echo $this->basePath() . "/admin/app/" . $this->app_data->id; ?>">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <small class="app-bundle"><?php echo $this->app_data->bundle; ?></small>
                    </div>
                </div>
                <div class="selected-app row">
                    <div class="col-xs-3 col-md-3 col-lg-3">
                        <img src="<?php echo $icon_path; ?>" class="app-icon" alt="App Icon">
                    </div>
                    <div class="col-xs-9 col-md-9 col-lg-9">
                        <h3><?php echo $this->app_data->title; ?></h3>
                        <span class="label bg-red"><?php echo $this->app_data->tpl_title; ?></span>
                    </div>
                </div>
            </a>

            <br/>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <img src="<?php echo $splash_path; ?>" class="app-splash" alt="App Splashscreen">
                </div>
            </div>

            <br/>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    <?php echo $status_label; ?>
                                    <span class="label label-danger pull-right"><?php echo $status_val; ?>%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger"
                                         style="width: <?php echo $status_val; ?>%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <button type="button" id="get-app-id-button" class="modal-apikey-btn btn btn-danger btn-labeled"
                            data-app-key="<?php echo $this->app_data->app_key; ?>"
                            data-app-version="<?php echo $this->app_data->version; ?>"
                            data-api-url="<?php echo $this->app_data->api_url; ?>">
                        <span class="btn-label-left"><i class="fa fa-code" aria-hidden="true"></i></span>
                        Get APP ID
                    </button>
                </div>
            </div>
        </div>
        <!-- /.tab-pane -->

        <!-- Settings tab content -->
        <!--    <div class="tab-pane" id="control-sidebar-apps-list-tab" class="app_list">-->
        <!--        <div class="row section_title">-->
        <!--            <div class="col-xs-12 col-md-12 col-lg-12 clean_col">-->
        <!--                <h3>YOUR APPLICATIONS</h3>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <ul class="control-sidebar-menu app_list clean_col">-->
        <!--            --><?php //foreach($this->app_list_data as $app_data) {
        //                $app_icon = null;
        //                if(!is_null($app_data->icon) && $app_data->icon != "") {
        //                    $app_icon = $cdnBaseurl . \Common\Helper\ImageHelper::getAppIconUrl($this->user_data->id) . $app_data->icon;
        //                } else {
        //                    $app_icon = $this->basePath() . "/img/placeholder/app-icon.png"; //avatar placeholder
        //                }
        //            ?>
        <!--            <li id="app-item---><?php //echo $app_data->id; ?><!--">-->
        <!--                <a href="--><?php //echo $this->basePath() . "/admin/app/" . $app_data->id; ?><!--">-->
        <!--                <div class="row">-->
        <!--                    <div class="col-xs-3 col-md-3 col-lg-3 clean_col">-->
        <!--                        <img src="--><?php //echo $app_icon; ?><!--" class="app-icon" alt="App Icon">-->
        <!--                    </div>-->
        <!--                    <div class="col-xs-9 col-md-9 col-lg-9 clean_col">-->
        <!--                        <small class="app-bundle">--><?php //echo $app_data->bundle; ?><!--</small>-->
        <!--                        <span>--><?php //echo $app_data->title; ?><!--</span>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                </a>-->
        <!--                <div class="close delete-app" app-id="--><?php //echo $app_data->id; ?><!--" app-title="-->
        <?php //echo $app_data->title; ?><!--">×</div>-->
        <!--            </li>-->
        <!--            --><?php //} ?>
        <!--        </ul>-->
        <!---->
        <!--    </div>-->
        <!-- /.tab-pane -->
    </div>

    <script type="application/javascript">
        $(document).ready(function () {
            $('.delete-app').click(function () {
                var $this = $(this);
                var title = $this.attr("app-title");
                var app_id = $this.attr("app-id");

                $('#deleteAppModal .modal-title').html(title.toUpperCase());
                $('#deleteAppModal .modal-confirm-btn').attr('app-id', app_id);

                $('#deleteAppModal').modal();
            });

            $('.modal-apikey-btn').click(function () {
                openCopyToClipboardModal($(this));
            });
        });
    </script>
<?php } ?>