<ol class="breadcrumb">
    <?php
        if(count($this->breadcrumb) > 0) {
            $i = 0;
            foreach($this->breadcrumb as $label => $url) {

                if($i==0) {
                    ?> <li><a href="<?php echo $this->basePath() . $url; ?>"><i class="fa fa-home"></i> <?php echo $label; ?> </a></li>  <?php
                } else if($i==count($this->breadcrumb)-1) {
                    ?> <li class="active"> <?php echo $label; ?> </li>  <?php
                } else {
                    ?> <li><a href="<?php echo $this->basePath() . $url; ?>"> <?php echo $label; ?> </a></li> <?php
                }

                $i++;
            }
        }
    ?>
</ol>
