<style>
    ul#flag-dropdown {
        margin-top: 5px;
        margin-bottom: 0;
    }

    ul#flag-dropdown li {
        list-style-type: none;
    }

    ul#flag-dropdown .unstyled-button {
        border: none;
        padding: 0;
        background: none;
    }

    ul#flag-dropdown .flag-icon {
        font-size: 18px;
    }

    ul#flag-dropdown span.caret {
        margin-top: -6px;
    }
</style>

<?php
if (is_array($this->userLanguages) && count($this->userLanguages) > 0) {
    $count = count($this->userLanguages) - 1;
    ?>
    <ul id="flag-dropdown">
        <li class="dropdown">
            <button id="lang_dropdown"
                    class="dropdown-toggle unstyled-button<?php echo $this->disabled ? " disabled" : ""; ?>"
                    data-toggle="dropdown">
                <span class="<?php echo $this->userLanguages[$this->currentLang]['icon']; ?>"></span>
                <?php if ($count > 0) {
                    ?>
                    <span class="caret"></span>
                    <?php
                } ?>
            </button>
            <ul id="lang_list" aria-labelledby="lang_dropdown" class="dropdown-menu" role="menu">
                <?php
                $idx = 1;
                foreach ($this->userLanguages as $key => $lang) {
                    if ($key !== $this->currentLang) {
                        ?>
                        <li class="lang_btn">
                            <a> <span class="<?php echo $lang['icon'] ?>"
                                      data-value="<?php echo $key; ?>"
                                      style="margin-right: 5px;"></span><?php echo $lang['label']; ?>
                            </a>
                        </li>
                        <?php
                        if ($idx < $count) {
                            ?>
                            <li class="divider"></li>
                            <?php
                        }
                        $idx++;
                    }
                }
                ?>
            </ul>
        </li>
    </ul>
    <?php
}
?>

<script>
    $(document).ready(function () {
        $('.lang_btn').on('click', function () {
            var lang = $(this).children().children('.flag-icon').data('value');
            $.get('<?php echo $this->basePath(); ?>/ajax/lang/' + lang + '/', function (data) {
                if (data.success === true) {
                    var $contentForm = $('#<?php echo $this->form->getName(); ?>');
                    $contentForm.find("#reload_content").val(1);
                    $contentForm.find('#save').click();
                }
            });
        });
    });
</script>