<?php
    $enabled = $this->menu_enabled;
?>

<!-- Sidebar Menu -->
<div class="sidebar-menu-box">
    <ul class="sidebar-menu <?php if(!$enabled) { echo "off"; } ?>">
        <?php for($i=0; $i<count($this->menu); $i++) {
            $item = $this->menu[$i];

            $active = "";
            if($item["active"] != null && $item["active"] && $enabled) $active = 'active';

            switch($item["type"]) {
                case \Common\Helper\LayoutHelper::MENU_HEADER: ?>
                    <li class="header <?php echo $active; ?>"><?php echo $item["title"]; ?></li>
                    <?php break;
                case \Common\Helper\LayoutHelper::MENU_ITEM: ?>
                    <li class="<?php echo $active; ?>">
                        <a href="<?php echo $this->basePath() . $item["target"]; ?>">
                            <i class="fa <?php echo $item["icon_class"]; ?>"></i><span><?php echo $item["title"]; ?></span>
                        </a>
                    </li>
                    <?php break;
                case \Common\Helper\LayoutHelper::MENU_LIST: ?>
                    <li class="treeview <?php echo $active; ?>">
                        <a href="">
                            <i class="fa <?php echo $item["icon_class"]; ?>"></i><span><?php echo $item["title"]; ?></span><i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <?php for($j=0; $j<count($item["target"]); $j++) {
                                $target = $item["target"][$j];

                                $activeList = '';
                                if($target["active"] != null && $target["active"]) $activeList = 'active';

                                switch($target["type"]) {
                                    case \Common\Helper\LayoutHelper::MENU_ITEM: ?>
                                        <li class="<?php echo $activeList; ?>">
                                            <a href="<?php echo $this->basePath() . $target["target"]; ?>">
                                                <i class="fa <?php echo $target["icon_class"]; ?>"></i><span style="white-space: initial;"><?php echo $target["title"]; ?></span>
                                            </a>
                                        </li>
                                        <?php break;
                                    case \Common\Helper\LayoutHelper::MENU_LIST:
                                        break;
                                }
                            } ?>
                        </ul>
                    </li>
                    <?php break;
            }
        } ?>
    </ul>
    <?php if(!$enabled) { ?> <div class="sidebar-menu-off"></div> <?php } ?>
</div>
<!-- END Sidebar Menu -->
