<!-- Sidebar user panel (optional) -->
<div class="user-panel">
    <div class="pull-left image">

        <?php
            $path = null;

            if($this->user_data->imagePath) {
                $path = $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getUserAvatarThumb($this->user_data->id) . $this->user_data->imagePath;
            } else {
                $path = $this->basePath() . "/img/placeholder/user-avatar.png"; //avatar placeholder
            }
        ?>
        <a href="<?php echo $this->basePath(); ?>/admin/profile"><img src="<?php echo $path; ?>" class="img-circle" alt="User Image" width="50" /></a>
    </div>
    <div class="pull-left info">
        <p style="white-space: normal;">
            <a href="<?php echo $this->basePath(); ?>/admin/profile">
            <?php
                if($this->user_data->firstname || $this->user_data->lastname) {
                    echo ucfirst(strtolower($this->user_data->firstname)) . " " . ucfirst(strtolower($this->user_data->lastname));
                } else {
                    echo "Unknow name";
                }
            ?>
            </a>
        </p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a> | <a href="<?php echo $this->basePath(); ?>/logout">&nbsp;<i class="fa fa-times text-danger"></i>LOG OUT</a>
    </div>
</div>
<!-- END Sidebar user panel (optional) -->