<?php
$logo = $this->cdnBaseUrl . \Common\Helper\ImageHelper::getAppLogoUrl() . $this->appLogo;
?>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle($this->translate('HUB+'))->setSeparator(' | ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $logo)); ?>

    <style type="text/css">
        body {
            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            background-color: #d2d6de;
            margin: 0;
            padding: 0;
        }

        .outer {
            display: table;
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .middle {
            display: table-cell;
            vertical-align: middle;
        }

        .inner {
            margin-left: auto;
            margin-right: auto;
            width: 160px;
        }

        .outer .middle. .inner img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<!-- Your Page Content Here -->
<div class="outer">
    <div class="middle">
        <div class="inner">
            <img src="<?php echo $logo; ?>" height="160" width="160"/>
        </div>
        <div style="height: 40px"></div>
        <div style="text-align: center;">
            <?php if ($this->operatingSystem !== \Rest\Controller\RestPageController::ANDROID_OS): ?>
                <a href="<?php echo $this->appStoreUrl; ?>">
                    <img src="/img/logos/App_Store_Badge.svg" alt="HUB+ iOS app link" height="40" width="135">
                </a>
            <?php endif; ?>

            <?php if ($this->operatingSystem !== \Rest\Controller\RestPageController::IOS_OS): ?>
                <a href="<?php echo $this->googlePlayUrl; ?>">
                    <img src="/img/logos/google-play-badge.png" alt="HUB+ Android app link" height="40" width="135">
                </a>
            <?php endif; ?>
        </div>
        <p style="text-align: center;">Questo link può essere aperto solo dall'App HUB+. Se non l'hai ancora scaricata,
            usa uno dei link qui sopra.</p>
    </div>
</div>

</body>
</html>
