<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <style type="text/css">
        body {
            background-color: black;
            color: white;
            margin: 0;
        }

        .outer {
            display: table;
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .middle {
            display: table-cell;
            vertical-align: middle;
        }

        .inner {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height:calc(100vw / 1.75); /* 16:9 Aspect Ratio */
        }
    </style>
</head>
<body>
<div class="outer">
    <div class="middle">
        <div class="inner">
            <?php
            echo $this->snippet;
            ?>
        </div>
    </div>
</div>
</body>
</html>
