<div id="backend-users-list-body" class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="box">
            <?php echo $this->partial($this->form->getView(), array(
                'error_msg' => $this->error_msg,
                'form' => $this->form,
                'app_id' => $this->app_id,
                'contents_number' => $this->contents_number,
            ));
            ?>
        </div><!-- /.box -->
    </div>
    <div class="custom-right-lg-reduce col-lg-2 hidden-md hidden-sm hidden-xs"></div>
</div>
