<?php
$cdnBaseUrl = $this->layout()->cdnBaseurl;

echo $this->partial('/modal/dlg-superadmin-add-backend-user.phtml', array('registrationForm' => $this->registrationForm, 'error_msg' => $this->error_msg));
echo $this->partial('/modal/dlg-superadmin-backend-user-promote-or-demote.phtml');
?>

<style type="text/css">
    #backend-users-list-body {
        padding-left: 20px;
        padding-right: 20px;
    }

    #backend-users-list td {
        vertical-align: middle;
    }

    .modal.loading .modal-content:before {
        content: attr(data-content);
        text-align: center;
        line-height: 155px;
        font-size: 20px;
        background: rgba(0, 0, 0, .8);
        position: absolute;
        top: 55px;
        bottom: 0;
        left: 0;
        right: 0;
        color: #EEE;
        z-index: 1000;
    }
</style>

<div id="backend-users-list-body" class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<b>BACKEND USERS LIST</b></h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->

                    <div class="btn-group">
                        <button type="button" name="add-backend-user" id="add-backend-user"
                                style="width: 120px;height: 32px;margin-top: -1px;"
                                class="btn btn-success btn-xs btn-block btn-flat" data-width="auto" value="ADD USER">
                        <span class="btn-label-left" style="float: left;left: -5px;">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </span>
                            <div class="hidden-xs" style="margin-top: 5px;">ADD USER</div>
                        </button>
                    </div>

                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <table id="backend-users-list" class="table table-striped table-bordered" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th><!-- Customer Id --></th>
                                <th class="text-center">Avatar</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Firstname</th>
                                <th class="text-center">Lastname</th>
                                <th class="text-center" style="white-space: nowrap;">Last Login</th>
                                <th class="text-center" style="white-space: nowrap;">Privacy at</th>
                                <th class="text-center" style="white-space: nowrap;">Terms at</th>
                                <th><!-- Actions --></th>
                            </tr>
                            </thead>
                            <tfoot class="hidden-xs">
                            <tr>
                                <th><!-- Customer Id --></th>
                                <th class="text-center">Avatar</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Firstname</th>
                                <th class="text-center">Lastname</th>
                                <th class="text-center" style="white-space: nowrap;">Last Login</th>
                                <th class="text-center" style="white-space: nowrap;">Privacy at</th>
                                <th class="text-center" style="white-space: nowrap;">Terms at</th>
                                <th><!-- Actions --></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

<div class="modal fade" id="confirm-backend-user-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">DELETE BACKEND USER</h4>
            </div>
            <div class="modal-body">
                <div id="error-msg" class="alert alert-danger" role="alert" style="display: none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span class="error-msg-text"></span>
                </div>
                <p>Are you sure you want to remove this user?</p>
                <p class="backend-user-email"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-bottom: 0;">DISMISS</button>
                <button type="button" class="btn btn-danger btn-ok">DELETE USER</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-backend-user-lock-unlock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><span class="backend-user-lock-type" style="text-transform: uppercase;"></span> BACKEND USER</h4>
            </div>
            <div class="modal-body">
                <div id="error-msg" class="alert alert-danger" role="alert" style="display: none">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span class="error-msg-text"></span>
                </div>
                <p>Are you sure you want to <span class="backend-user-lock-type"></span> this user?</p>
                <p class="backend-user-email"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-bottom: 0;">DISMISS</button>
                <button type="button" class="btn btn-ok"><span class="backend-user-lock-type" style="text-transform: uppercase;"></span> USER</button>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    $(document).ready(function () {
        /* GENERATION OF DATATABLE */
        var customersDataTable = $('#backend-users-list').DataTable({
            stateSave: true,
            stateDuration: 60 * 5,
            serverSide: true,
            "scrollX": true,
            ajax: '<?php echo $this->basePath(); ?>/superadmin/backend-users/list/',
            columns: [
                {"name": "id", "width": "1%", "sortable": false, "visible": false},
                {"name": "imagePath", "width": "1%", "sortable": false, "class": "clickable"},
                {"name": "role_id", "width": "1%", "sortable": true},
                {"name": "email", "width": "34%", "sortable": true, "class": "clickable"},
                {"name": "firstname", "width": "30%", "sortable": true, "class": "clickable text-center"},
                {"name": "lastname", "width": "30%", "sortable": true, "class": "clickable text-center"},
                {"name": "last_login", "width": "1%", "sortable": true, "class": "clickable text-center"},
                {"name": "privacy_at", "width": "1%", "sortable": true, "class": "clickable text-center"},
                {"name": "terms_at", "width": "1%", "sortable": true, "class": "clickable text-center"},
                {"name": "actions", "width": "1%", "sortable": false}
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        var uri = "<?php echo $this->basePath(); ?>/img/placeholder/user-avatar.png";
                        if (data !== null) uri = "<?php echo $cdnBaseUrl; ?>" + data;

                        return '<div style="height: 43px;background: url(' + uri + ') no-repeat center center;background-size: 43px, 43px, auto"></div>';
                    },
                    "targets": 1
                },
                {
                    "render": function (data, type, row) {
                        var customer_id = row[0];
                        var render = "", status = "", alter_status = "", btn_style = "",
                            alter_data = <?php echo \Application\Model\BackendUsersModel::SUPER_ADMIN_ROLE_ID; ?>,
                            action = "";

                        if (data === <?php echo \Application\Model\BackendUsersModel::SUPER_ADMIN_ROLE_ID; ?>) {
                            status = "SA";
                            alter_status = "Customer";
                            btn_style = "btn-danger";
                            alter_data = <?php echo \Application\Model\BackendUsersModel::SUPER_ADMIN_ROLE_ID; ?>;
                            action = "Demote";
                        } else {
                            status = "CU";
                            alter_status = "Superadmin";
                            btn_style = "btn-success";
                            alter_data = <?php echo \Application\Model\BackendUsersModel::ADMIN_ROLE_ID; ?>;
                            action = "Promote";
                        }

                        render += '<div class="customer-role btn-group btn-group-xs" style="display: block">';
                        render += '<button id="customer_' + customer_id + '" type="button" class="customer_' + customer_id + ' btn ' + btn_style + ' btn-xs" style="top: 5px; width: 30px">' + status + '</button>';
                        render += '<button type="button" class="customer_' + customer_id + ' btn ' + btn_style + ' dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="top: 5px;">';
                        render += '<span class="caret"></span>';
                        render += '</button>';
                        render += '<ul class="dropdown-menu">';
                        render += '<li><a href="#" data-id="' + customer_id + '" data-value="' + alter_data + '">' + action + ' to <b>' + alter_status + '</b></a></li>';
                        render += '</ul>';
                        render += '</div>';

                        return render;
                    },
                    "targets": 2
                }
            ],
            "fnDrawCallback": function () {
                initBackendUsersListActions();
            }
        });
        /* .../GENERATION OF DATATABLE */

        /* DELETE USER */
        var $confirmBackendUserDelete = $('#confirm-backend-user-delete');
        var $userDeleteErrorMsg = $confirmBackendUserDelete.find('#error-msg');

        $confirmBackendUserDelete.on('show.bs.modal', function(e) {
            var data = $(e.relatedTarget).data();
            $('.backend-user-email', this).text(data.backendUserEmail);
            $('.btn-ok', this).data('href', data.href);

            $userDeleteErrorMsg.hide();
        });

        $confirmBackendUserDelete.on('click', '.btn-ok', function(e) {
            var $modalDiv = $(e.delegateTarget);
            var url = $(this).data('href');

            $modalDiv.addClass('loading');
            var $css = $modalDiv.find('.modal-content');
            $css.attr('data-content','Deleting...');

            $.ajax({
                url: url,
                type: 'DELETE',
                success: function (result) {
                    // Do something with the result
                    $modalDiv.removeClass('loading');
                    if (result.success === true) {
                        customersDataTable.ajax.reload();
                        $modalDiv.modal('hide');
                    } else {
                        $userDeleteErrorMsg.find('.error-msg-text').text(result.message);
                        $userDeleteErrorMsg.show();
                    }
                }
            });
        });
        /* ...DELETE USER */

        /* LOCK UNLOCK USER */
        var $confirmBackendUserLockUnlock = $('#confirm-backend-user-lock-unlock');
        var $userLockUnlockErrorMsg = $confirmBackendUserLockUnlock.find('#error-msg');

        $confirmBackendUserLockUnlock.on('show.bs.modal', function(e) {
            var data = $(e.relatedTarget).data();
            var $btnOk = $('.btn-ok', this);
            var lockType = "unlock";
            var btnClass = "btn-success";
            $btnOk.removeClass("btn-success");
            $btnOk.removeClass("btn-danger");

            if (data.backendUserLockValue === 0) {
                lockType = "lock";
                btnClass = "btn-danger";
            }

            $('.backend-user-lock-type', this).text(lockType);
            $('.backend-user-email', this).text(data.backendUserEmail);
            $btnOk.data('href', data.href);
            $btnOk.addClass(btnClass);

            $userLockUnlockErrorMsg.hide();
        });

        $confirmBackendUserLockUnlock.on('click', '.btn-ok', function(e) {
            var $modalDiv = $(e.delegateTarget);
            var url = $(this).data('href');

            $modalDiv.addClass('loading');

            $.ajax({
                url: url,
                type: 'PUT',
                success: function (result) {
                    // Do something with the result
                    $modalDiv.removeClass('loading');
                    if (result.success === true) {
                        customersDataTable.ajax.reload();
                        $modalDiv.modal('hide');
                    } else {
                        $userLockUnlockErrorMsg.find('.error-msg-text').text(result.message);
                        $userLockUnlockErrorMsg.show();
                    }
                }
            });
        });
        /* ...LOCK UNLOCK USER */

        /* INIT LOGIN AS/CHANGE ROLE CUSTOMER */
        function initBackendUsersListActions() {
            /* DELETE USER */
            $('button.delete-backend-user').on('click', function () {
                var $this = $(this);
                var backendUserId = $this.data('backendUserId');

                $this.data('href', '<?php echo $this->basePath(); ?>/superadmin/backend-user/' + backendUserId + '/delete');
            });
            /* DELETE USER */

            /* LOCK UNLOCK USER */
            $('button.lock-unlock-backend-user').on('click', function () {
                var $this = $(this);
                var backendUserId = $this.data('backendUserId');
                var lockValue = $this.data('backendUserLockValue');
                var $css = $('#confirm-backend-user-lock-unlock').find('.modal-content');

                if (lockValue === 1) {
                    lockValue = 0;
                    $css.attr('data-content','Unlocking...');
                } else {
                    lockValue = 1;
                    $css.attr('data-content','Locking...');
                }

                $this.data('href', '<?php echo $this->basePath(); ?>/superadmin/backend-user/' + backendUserId + '/lock-unlock/' + lockValue);
            });
            /* LOCK UNLOCK USER */

            /* CHANGE ROLE */
            $('.customer-role li a').click(function () {
                var $this = $(this);
                var $backendUserPromoteOrDemoteModal = $('#backendUserPromoteOrDemoteModal');
                var customer_id = $this.attr("data-id");
                var status = $this.attr("data-value");

                var new_status = '<?php echo \Application\Model\BackendUsersModel::SUPER_ADMIN_ROLE_ID; ?>';
                var modal_title = 'PROMOTE CUSTOMER';
                var modal_text = '<p class="text-box">Do you really want to promote this customer to <b>SUPERADMIN</b>?</p>';
                var modal_action_btn = '<button type="button" class="modal-confirm-btn btn btn-success btn-labeled" style="margin-bottom: 0;">PROMOTE<span class="btn-label-right"><i class="fa fa-level-up" aria-hidden="true"></i></span></button>';

                if (status === "<?php echo \Application\Model\BackendUsersModel::SUPER_ADMIN_ROLE_ID; ?>") {
                    new_status = '<?php echo \Application\Model\BackendUsersModel::ADMIN_ROLE_ID; ?>';
                    modal_title = 'DEMOTE SUPERADMIN';
                    modal_text = '<p class="text-box">Do you really want to demote this superadmin to <b>CUSTOMER</b>?</p>';
                    modal_action_btn = '<button type="button" class="modal-confirm-btn btn btn-danger btn-labeled" style="margin-bottom: 0;">DEMOTE<span class="btn-label-right"><i class="fa fa-level-down" aria-hidden="true"></i></span></button>';
                }

                $backendUserPromoteOrDemoteModal.find('.modal-title').html(modal_title);
                $backendUserPromoteOrDemoteModal.find('.text-box').html(modal_text);
                $backendUserPromoteOrDemoteModal.find('.modal-customer-action-btn').html(modal_action_btn);
                $backendUserPromoteOrDemoteModal.find('.modal-confirm-btn').data('backendUserId', customer_id);
                $backendUserPromoteOrDemoteModal.find('.modal-confirm-btn').attr('new-status', new_status);

                $backendUserPromoteOrDemoteModal.modal();
            });
            /* .../CHANGE ROLE */

        }

        /* .../INIT LOGIN/PROMOTE CUSTOMER */

    });
</script>