<?php
$section_types = $this->section_types;
$section_params = $this->section_params;

if ($section_params['section_type'] === \Form\Section\SectionForm::CUSTOM_FORM) {
    echo $this->partial('/modal/dlg-section-custom_form-field-action.phtml', array(
        'aclHelper' => $this->aclHelper,
        'form_field' => $this->form_field,
        )
    );
}
?>

<style>
    #section .nav-tabs > li.active > a {
        color: #3c8dbc;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-lg-1 col-md-0 col-xs-0"></div>
    <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<b>SECTION TYPE</b></h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <?php
                        foreach ($section_types as $type => $s) {
                            if (APPLICATION_ENV === "production" && $s["only_dev"] === true) {
                                continue;
                            }
                            if ($s["enabled"]) {
                                $cls = $s["active"] ? "active" : "deactive";
                                $url = (!$s["active"]) ? $this->basePath() . $s["url"] : "#title";
                                ?>
                                <div class="section-list-item">
                                    <a href="<?php echo $url ?>/create"
                                       class="btn-top-bar <?php echo $s["class"]; ?> <?php echo $cls; ?>">
                                <span class="info-box-icon">
                                    <i class="fa <?php echo $s["icon"]; ?>"></i>
                                </span>
                                        <span class="info-box-label"><?php echo $s["label"]; ?></span>
                                    </a>
                                </div>
                            <?php }
                        } ?>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <em>Click one of the SECTION Type icon to add it in your application</em>
            </div><!-- box-footer -->
        </div><!-- /.box -->
    </div>
    <div class="col-lg-2 col-md-0 col-xs-0"></div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-0 col-xs-0"></div>
    <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<i
                            class="fa <?php echo $section_params["icon"]; ?>"></i>&nbsp;&nbsp;<b><?php echo $section_params["label"]; ?></b>
                </h3>
                <div class="box-tools pull-right">
                    <?php echo $this->partial('flag-dropdown.phtml', array('form' => $this->form, 'currentLang' => $this->currentLang, 'userLanguages' => $this->userLanguages, 'disabled' => true)); ?>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <?php
            echo $this->partial($this->form->getView(),
                array(
                    'maxFileSize' => $this->maxFileSize,
                    'error_msg' => $this->error_msg,
                    'form' => $this->form,
                    'custom_theme' => $this->custom_theme,
                    'aclHelper' => $this->aclHelper,
                    'mapList' => $this->mapList,
                ));
            ?>

        </div><!-- /.box -->
    </div>
    <div class="col-lg-2 col-md-0 col-xs-0"></div>
</div>
<script type="application/javascript">
    $(document).ready(function () {

    });
</script>