<?php
$activate = "class='active'";
$active = "active";

$activeHeader = "";
$activeHeaderTab = "";

$activeBody = "";
$activeBodyTab = "";

$activeMenu = "";
$activeMenuTab = "";

$activeDrawer = "";
$activeDrawerTab = "";

$activeHidden = "";
$activeHiddenTab = "";

switch ($this->area) {
    case \Form\Section\SectionForm::AREA_HEADER:
        $activeHeader = $activate;
        $activeHeaderTab = $active;
        break;
    case \Form\Section\SectionForm::AREA_BODY:
        $activeBody = $activate;
        $activeBodyTab = $active;
        break;
    case \Form\Section\SectionForm::AREA_MENU:
        $activeDrawer = $activate;
        $activeDrawerTab = $active;
        break;
    case \Form\Section\SectionForm::AREA_FOOTER:
        $activeMenu = $activate;
        $activeMenuTab = $active;
        break;
    case \Form\Section\SectionForm::AREA_HIDDEN:
        $activeHidden = $activate;
        $activeHiddenTab = $active;
        break;
    default:
        $activeHeader = $activate;
        $activeHeaderTab = $active;
}
?>

<style type="text/css">
    #section-list-navs.nav-tabs > li > a {
        text-align: center;
        min-width: 100px;
    }

    #section-list-navs.nav-tabs > li.active > a {
        color: #3c8dbc;
        font-weight: bold;
    }

    #header-sections .drag_icon,
    #body-sections .drag_icon,
    #menu-sections .drag_icon,
    #drawer-sections .drag_icon,
    #hidden-sections .drag_icon {
        width: 24px;
        height: 24px;
        background: url('<?php echo $this->basePath(); ?>/img/icon/drag.png');
        background-size: 24px 24px;
        background-repeat: no-repeat;
        cursor: move;
    }

    #header-sections .delete_icon,
    #body-sections .delete_icon,
    #menu-sections .delete_icon,
    #drawer-sections .delete_icon {
        margin-bottom: 0;
    }
</style>

<div class="row">
    <div class="col-lg-1 col-md-0 col-xs-0"></div>
    <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<b>SECTION TYPE</b></h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <?php
                        foreach ($this->section_types as $s) {
                            if (APPLICATION_ENV === "production" && $s["only_dev"] === true) {
                                continue;
                            }
                            if ($s["enabled"]) { ?>
                                <div class="section-list-item">
                                    <a href="<?php echo $this->basePath() . $s["url"]; ?>/create"
                                       class="btn-top-bar <?php echo $s["class"]; ?>">
                                <span class="info-box-icon">
                                    <i class="fa <?php echo $s["icon"]; ?>"></i>
                                </span>
                                        <span class="info-box-label"><?php echo $s["label"]; ?></span>
                                    </a>
                                </div>
                            <?php }
                        } ?>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <em>Click one of the SECTION Type icon to add it in your application</em>
            </div><!-- box-footer -->
        </div><!-- /.box -->
    </div>
    <div class="col-lg-1 col-md-0 col-xs-0"></div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-0 col-xs-0"></div>
    <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<b>YOUR SECTIONS</b></h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div id="section-list-tabs" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul id="section-list-navs" class="nav nav-tabs">
                            <li <?php echo $activeHeader; ?>><a href="#header-section-tab-list"
                                                                data-toggle="tab"><?php echo \Form\Section\SectionForm::AREA_HEADER_LABEL; ?></a>
                            </li>
                            <li <?php echo $activeBody; ?>><a href="#body-section-tab-list"
                                                              data-toggle="tab"><?php echo \Form\Section\SectionForm::AREA_BODY_LABEL; ?></a>
                            </li>
                            <li <?php echo $activeDrawer; ?>><a href="#left_menu-section-tab-list"
                                                                data-toggle="tab"><?php echo \Form\Section\SectionForm::AREA_MENU_LABEL; ?></a>
                            </li>
                            <li <?php echo $activeMenu; ?>><a href="#menu-section-tab-list"
                                                              data-toggle="tab"><?php echo \Form\Section\SectionForm::AREA_FOOTER_LABEL; ?></a>
                            </li>
                            <li <?php echo $activeHidden; ?>><a href="#hidden-section-tab-list"
                                                                data-toggle="tab"><?php echo \Form\Section\SectionForm::AREA_HIDDEN_LABEL; ?></a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div class="tab-pane <?php echo $activeHeaderTab; ?>" id="header-section-tab-list">
                                <?php
                                echo $this->partial('section-lists/section-list-header.phtml', array(
                                    'header_sections' => $this->header_sections,
                                    'user' => $this->user,
                                    'cdnBaseurl' => $this->layout()->cdnBaseurl,
                                    'mediaModel' => $this->mediaModel,
                                )); ?>
                            </div>

                            <div class="tab-pane <?php echo $activeBodyTab; ?>" id="body-section-tab-list">
                                <?php echo $this->partial('section-lists/section-list-body.phtml', array(
                                    'body_sections' => $this->body_sections,
                                    'user' => $this->user,
                                    'cdnBaseurl' => $this->layout()->cdnBaseurl,
                                    'mediaModel' => $this->mediaModel,
                                )); ?>
                            </div>

                            <div class="tab-pane <?php echo $activeDrawerTab; ?>" id="left_menu-section-tab-list">
                                <?php echo $this->partial('section-lists/section-list-drawer.phtml', array(
                                    'drawer_sections' => $this->drawer_sections,
                                    'user' => $this->user,
                                    'cdnBaseurl' => $this->layout()->cdnBaseurl,
                                    'mediaModel' => $this->mediaModel,
                                )); ?>
                            </div>

                            <div class="tab-pane <?php echo $activeMenuTab; ?>" id="menu-section-tab-list">
                                <?php echo $this->partial('section-lists/section-list-menu.phtml', array(
                                    'menu_sections' => $this->menu_sections,
                                    'user' => $this->user,
                                    'cdnBaseurl' => $this->layout()->cdnBaseurl,
                                    'mediaModel' => $this->mediaModel,
                                )); ?>
                            </div>

                            <div class="tab-pane <?php echo $activeHiddenTab; ?>" id="hidden-section-tab-list">
                                <?php echo $this->partial('section-lists/section-list-hidden.phtml', array(
                                    'hidden_sections' => $this->hidden_sections,
                                    'user' => $this->user,
                                    'cdnBaseurl' => $this->layout()->cdnBaseurl,
                                    'mediaModel' => $this->mediaModel,
                                )); ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <em>Drag & Drop Sections to set their order or click to edit em</em>
            </div><!-- box-footer -->
        </div><!-- /.box -->
    </div>
    <div class="col-lg-1 col-md-0 col-xs-0"></div>
</div>
<script type="application/javascript">
    $(document).ready(function () {

        /* TO ADJUST DT HEADER ROW WIDTH */
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $(window).resize();
        });
        /* .../TO ADJUST DT HEADER ROW WIDTH */


        /* UPDATE */
        $('tr td.clickable').click(function () {
            var sectionId = $(this).closest('tr').attr('data-section-id');
            var sectionType = $(this).closest('tr').attr('data-section-type').toLowerCase();

            window.location.href = "<?php echo $this->basePath(); ?>/admin/section/" + sectionType + "/" + sectionId + "/update";
        });
        /* .../UPDATE */


        /* CHANGE STATUS */
        $('.section-status li a').click(function () {
            var sectionId = $(this).attr("data-id");
            var status = $(this).attr("data-value");

            $.post("<?php echo $this->basePath(); ?>/ajax/section/" + sectionId + "/status/", {
                "override": 0,
                "status": status,
                "oldRegistrationId": null
            }, function (response) {
                if (response.success) {
                    if (status == 0) {
                        changeStatusToPublic(sectionId);
                    } else {
                        changeStatusToDraft(sectionId);
                    }
                } else {
                    $('#setRegistrationSectionModal .modal-title').html('REGISTRATION SECTION WARNING');
                    $('#setRegistrationSectionModal .modal-confirm-btn').attr('section-id', sectionId);
                    $('#setRegistrationSectionModal .modal-confirm-btn').attr('old-registration-id', response.message);

                    $('#setRegistrationSectionModal').modal();
                }
            }, "json");

        });
        /* .../CHANGE STATUS */


        /* DELETE SECTION */
        $('#header-sections .delete_icon, #body-sections .delete_icon, #drawer-sections .delete_icon, #menu-sections .delete_icon, #hidden-sections .delete_icon').click(function () {
            var title = $(this).attr("section-title");
            var section_id = $(this).attr("section-id");
            var type = $(this).closest('tr').attr("data-section-type");

            $('#deleteSectionModal .modal-title').html(title.toUpperCase());
            $('#deleteSectionModal .modal-confirm-btn').attr('section-id', section_id);
            $('#deleteSectionModal .modal-confirm-btn').attr('type', type);

            $('#deleteSectionModal').modal();
        });
        /* .../DELETE SECTION */

    });
</script>