<style type="text/css">
    .hp_error_tooltip_title {
        top: -18px;
        position: relative;
    }

    .hp_error_tooltip_datapicker {
        top: -18px;
        position: relative;
    }

    .hp_error_tooltip_booking {
        top: -18px;
        position: relative;
    }
</style>

<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
    </div>
<?php } ?>
<?php
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}
?>
<div class="box-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <!-- Create the tabs -->
            <ul id="tabs" class="nav nav-tabs">
                <li class="active"><a id="content-main-tab-link" href="#content-main-tab" data-toggle="tab">MAIN
                        DATA</a></li>
                <li><a id="content-gallery-tab-link" href="#content-gallery-tab" data-toggle="tab">GALLERY</a></li>
                <li><a id="content-layout-tab-link" href="#content-layout-tab" data-toggle="tab">LAYOUT</a></li>
                <li><a id="content-look-tab-link" href="#content-look-tab" data-toggle="tab">LOOK AND FEEL</a></li>
                <li><a id="content-option-tab-link" href="#content-option-tab" data-toggle="tab">SETTINGS</a></li>
                <?php if ($this->appUrl !== null) {
                    ?>
                    <li><a id="content-qrcode-tab-link" href="#content-qrcode-tab" data-toggle="tab">ID / QR CODE</a></li>
                    <?php
                } ?>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="content-main-tab">
                    <br/>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <?php echo $this->formLabel($form->get("title")); ?>
                                    <div class="form-group has-feedback _input-error">
                                        <?php
                                        echo $this->formElement($form->get('title'));
                                        echo $this->hpFormElementErrors($form->get('title'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                        ?>
                                        <span class="glyphicon glyphicon-header form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($form->get("event_date_picker")); ?>
                                    <div class="form-group has-feedback event_date_picker-box">
                                        <?php
                                        echo $this->formElement($form->get("event_date_picker"));
                                        echo $this->hpFormElementErrors($form->get("event_date_picker"), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                        ?>
                                        <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($form->get('content_push_notification_enable')); ?>
                                    <div class="form-group has-feedback">
                                        <?php
                                        echo $this->formElement($form->get('content_push_notification_enable'));
                                        echo $this->hpFormElementErrors($form->get('content_push_notification_enable'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                        ?>
                                    </div>
                                </div>
                            </div>

                            <?php $pushNotificationEnabled = $form->get('content_push_notification_enable')->getValue(); ?>
                            <div id="content_push_notification_params" class="row"
                                 style="display: <?php echo (!isset($pushNotificationEnabled) || $pushNotificationEnabled === "0") ? "none" : "block"; ?>">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <?php echo $this->formLabel($form->get('content_push_notification_send_date')); ?>
                                    <div class="form-group has-feedback content_push_notification_send_date-box">
                                        <?php
                                        echo $this->formElement($form->get('content_push_notification_send_date'));
                                        echo $this->hpFormElementErrors($form->get('content_push_notification_send_date'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                        ?>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group has-feedback">
                                        <?php
                                        echo $this->formLabel($form->get('content_push_notification_send_time'));
                                        echo $this->formElement($form->get('content_push_notification_send_time'));
                                        echo $this->hpFormElementErrors($form->get('content_push_notification_send_time'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                        ?>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback">
                                        <?php
                                        echo $this->formLabel($form->get('description'));
                                        echo $this->formElement($form->get('description'));
                                        echo $this->hpFormElementErrors($form->get('description'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                        ?>
                                        <span class="fa fa-info form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback">
                                        <?php
                                        echo $this->formLabel($form->get("tags"));
                                        echo $this->formElement($form->get("tags"));
                                        echo $this->hpFormElementErrors($form->get("tags"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                        ?>
                                        <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback input-error">
                                        <?php
                                        echo $this->formLabel($this->form->get('user_tags'));
                                        echo $this->formElement($this->form->get('user_tags'));
                                        echo $this->hpFormElementErrors($this->form->get('user_tags'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                        ?>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-8 col-xs-12">
                            <div class="form-group has-feedback">
                                <?php
                                echo $this->formLabel($form->get('body'));
                                echo $this->formElement($form->get('body'));
                                echo $this->hpFormElementErrors($form->get('body'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <?php echo $this->partial('content-tab.phtml', array(
                    'initialPreview' => $this->initialPreview,
                    'initialPreviewConfig' => $this->initialPreviewConfig,
                    'initialPreviewThumbTags' => $this->initialPreviewThumbTags,
                    'maxFileSize' => $this->maxFileSize,
                    'content_actions' => $this->content_actions,
                    'custom_theme' => $this->custom_theme,
                    'form' => $form,
                    'addRemoteMediaForm' => $this->addRemoteMediaForm,
                    'appUrl' => $this->appUrl,
                    'hashId' => $this->hashId,
                )); ?>

            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
        </div>
    </div>
</div><!-- /.box-body -->

<div class="box-footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-xs-8">
            <?php
            echo $this->formElement($form->get('save'));
            ?>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
    </div>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">
    var $datePicker = $('#event_date_picker');
    var $pushNotificationCheckbox = $("#content_push_notification_enable");
    var $pushNotificationParamsDiv = $("#content_push_notification_params");
    var $sendDate = $("#content_push_notification_send_date");
    var $sendTime = $('#content_push_notification_send_time');
    var sendDateValue = $sendDate.val() + " " + $sendTime.val();

    function disablePushNotificationCheckbox() {
        $pushNotificationCheckbox.bootstrapSwitch('disabled', true);
        $pushNotificationParamsDiv.slideUp();
    }

    function disablePushNotificationParams() {
        $pushNotificationCheckbox.bootstrapSwitch('disabled', true);
        $sendDate.prop('disabled', true);
        $sendTime.prop('disabled', true);
    }

    function initPushNotificationElements() {
        if (sendDateValue.trim() !== "") {
            var sendDatePush = moment(sendDateValue).unix();
            var sendDateNow = moment().unix();
            if (sendDateNow >= sendDatePush) {
                disablePushNotificationParams();
            }
        } else {
            var pushNotificationCheckboxState = $pushNotificationCheckbox.bootstrapSwitch('state');

            if (pushNotificationCheckboxState === true) {
                $pushNotificationParamsDiv.show();
            } else {
                $pushNotificationParamsDiv.hide();
            }

            if ($datePicker.val().length === 0) {
                disablePushNotificationCheckbox();
            } else {
                $pushNotificationCheckbox.bootstrapSwitch('disabled', false);
                if (pushNotificationCheckboxState === true) {
                    $pushNotificationParamsDiv.show();
                }
            }

            $datePicker.on('change', function () {
                if ($(this).val().length === 0) {
                    disablePushNotificationCheckbox();
                } else {
                    $pushNotificationCheckbox.bootstrapSwitch('disabled', false);
                    if (pushNotificationCheckboxState === true) {
                        $pushNotificationParamsDiv.slideDown();
                    }
                }
            });
        }

        $pushNotificationCheckbox.on('switchChange.bootstrapSwitch', function (event, state) {
            var $pushNotificationCheckboxHidden = $("#content_push_notification_enable_hidden");
            if (state === true) {
                $pushNotificationParamsDiv.slideDown();
                $pushNotificationCheckboxHidden.val(1);

                // Set default send data
                var startEventDate = $("#start-date").val();
                var defaultSendDateValue = getDefaultSendDateValue(startEventDate);

                //Splitting date and time
                var defaultSendDateArray = defaultSendDateValue.split(" ");
                $sendDate.data('daterangepicker').setStartDate(defaultSendDateArray[0]);
                $sendTime.val(defaultSendDateArray[1]);
            } else {
                $pushNotificationParamsDiv.slideUp();
                $pushNotificationCheckboxHidden.val(0);
            }
        });
    }

    function getDefaultSendDateValue(date) {
        var sendDateValueMoment = moment(date).subtract('hours', 1); // Default send date 1 hour before event;
        var sendDateValueYear = sendDateValueMoment.year();
        var sendDateValueMonth = (parseInt(sendDateValueMoment.month()) + 1) < 10 ? "0" + (parseInt(sendDateValueMoment.month()) + 1) : (parseInt(sendDateValueMoment.month()) + 1);
        var sendDateValueDay = sendDateValueMoment.date() < 10 ? "0" + sendDateValueMoment.date() : sendDateValueMoment.date();
        var sendDateValueHour = sendDateValueMoment.hour() < 10 ? "0" + sendDateValueMoment.hour() : sendDateValueMoment.hour();
        var sendDateValueMinute = sendDateValueMoment.minute() < 10 ? "0" + sendDateValueMoment.minute() : sendDateValueMoment.minute();

        return sendDateValueYear + "-" + sendDateValueMonth + "-" + sendDateValueDay + " " + sendDateValueHour + ":" + sendDateValueMinute;
    }

    $(document).ready(function () {

        $('#save').on('click', function (event) {
            event.preventDefault();
            var $form = $('#content');
            var $save_button = $form.find('#save');

            $save_button.find("#save_button_icon")
                .removeClass('glyphicon')
                .removeClass('glyphicon-ok')
                .addClass('fa fa-spinner fa-spin');
            $save_button.prop('disabled', true);

            $form.find("#reload").val(0);
            $form.submit();
        });

        initFormTab();
        initFormValidator("#content-main-tab");
        initPushNotificationElements();

        var $dataToggleTab = $('a[data-toggle="tab"]');
        var $error = $('.error');

        $dataToggleTab.on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href"); // activated tab
            initFormValidator(target);
        });

        if ($error.length > 0) {
            var tabId = $error.first().closest('.tab-pane').attr('id');
            $('#' + tabId + '-link').tab('show');
        }

        $dataToggleTab.on('show.bs.tab', function (e) {
            var previewsTabId = e.relatedTarget.hash; // previous active tab
            $(previewsTabId + ' [data-toggle="tooltip"]').tooltip('hide');
        }).on('shown.bs.tab', function (e) {
            var targetTabId = e.target.hash; // newly activated tab
            $(targetTabId + ' [data-toggle="tooltip"]').tooltip('show');
        });

        tinymce.init({
            selector: '#body',
            height: 165,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen textcolor table',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor | table',
            content_css: '//www.tinymce.com/css/codepen.min.css',
            setup: function (ed) {
                ed.on('init', function () {
                    ed.execCommand("fontName", false, "sans-serif");
                });
            },
            table_default_styles: {
                width: '100%'
            },
            extended_valid_elements: 'script[type]'
        });

        /* INIT DATE-PICKER */
        var $startDate = $("#start-date");
        var startDateValue = "<?php echo date('Y-m-d H:00:00'); ?>";
        var $endDate = $("#end-date");
        var endDateValue = "<?php echo date('Y-m-d H:00:00', strtotime('+1 month')); ?>";
        var datePickerDisabled = true;

        if ($startDate.val() !== "") {
            startDateValue = $startDate.val();
            datePickerDisabled = false;
        }

        if ($endDate.val() !== "") {
            endDateValue = $endDate.val();
            datePickerDisabled = false;
        }

        if (sendDateValue.trim() === "") {
            sendDateValue = getDefaultSendDateValue(startDateValue);
        }

        $datePicker.on('keyup', function () {
            if ($(this).val().length === 0) {
                disablePushNotificationCheckbox();

                var instance = $datePicker.data('daterangepicker');
                var container = instance.container;
                container.remove();

                $datePicker.on('blur', function () {
                    $datePicker.val(null);
                });

                $datePicker.one('click', function () {
                    initDateRangePicker(true, 'event_date_picker', 'event_date_picker-box', 'start-date', 'end-date', startDateValue, endDateValue);
                });

                $startDate.val(null);
                $endDate.val(null);
            }
        });

        if (datePickerDisabled) {
            $datePicker.one('click', function () {
                initDateRangePicker(true, 'event_date_picker', 'event_date_picker-box', 'start-date', 'end-date', startDateValue, endDateValue);
            });
        } else {
            initDateRangePicker(false, 'event_date_picker', 'event_date_picker-box', 'start-date', 'end-date', startDateValue, endDateValue);
        }

        initDatePicker($sendDate, 'content_push_notification_send_date-box', sendDateValue, false, 'down', false);

        var sendDate = moment(sendDateValue);
        var hour = sendDate.hour() < 10 ? "0" + sendDate.hour() : sendDate.hour();
        var minute = sendDate.minute() < 10 ? "0" + sendDate.minute() : sendDate.minute();

        $sendTime.val(hour + ":" + minute);
        $sendTime.clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            default: 'now'
        });
        /* .../INIT DATE-PICKER */


        /* INIT TAGS */
        $('#tags').tokenfield({
            autocomplete: {
                source: "<?php echo $this->basePath(); ?>/ajax/tags/content/" + $('#type').val(),
                minLength: 2,
                delay: 100
            }
        }).on('tokenfield:createtoken', function (e) {
            createToken(e, $('#tags'), $('.tag_error'));
        });
        /* .../INIT TAGS */

    });

</script>
