<style type="text/css">
    .geodata {
        width: 100%;
        height: 210px;
        background: #efefef;
        border: 1px solid #d0d0d0;
    }

    .geodata h3 {
        padding-top: 45px;
    }

    .geodata button {
        width: 100px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    .geodata .separator {
        content: '';
        display: inline-block;
        background: #dddddd;
        margin-left: 9px;
        margin-right: 8px;
        height: 18px;
        width: 1px;
        vertical-align: top;
    }

    .box-beacon,
    .box-circular {
        display: none;
    }

    .beacondata {
        width: 100%;
        padding: 7px;
        height: 149px;
        background: white;
        border: 1px solid white;
    }

    #beaconrange .active {
        color: white;
        background-color: #3c8dbc;
        border-color: #367fa9
    }

    #beaconrange .beaconrange_label {
        font-weight: bold;
        display: inline;
        bottom: 3px;
        position: relative;
    }

    .circulardata #map-container {
        width: 100%;
        height: 272px;
    }

    .circulardata .map-fields {
        position: absolute;
        width: 100%;
        z-index: 100;
        left: 15px;
        top: 56px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .hp_error_tooltip_title {
        top: -18px;
        position: relative;
    }

    .hp_error_tooltip_region {
        top: -70px;
        position: relative;
    }

    .hp_error_tooltip_beacon_uuid_validator {
        top: -18px;
        position: relative;
    }

    #content .upload-pin-map .file-input {
        height: 110px !important;
        width: 110px !important;
        margin: 0;
    }

    #content .upload-pin-map .file-drop-zone-title,
    #content .upload-pin-map .file-preview-frame img {
        color: #aaa;
        height: 50px !important;
        width: 50px !important;
    }

    #content .upload-pin-map .file-drop-zone {
        color: #aaa;
        height: 71px !important;
        width: 71px !important;
    }

    #content .upload-pin-map .file-drop-zone-title {
        padding: 5px 0 0 0;
        font-size: 30px;
    }

    #content .upload-pin-map .file-default-preview {
        height: 59px;
    }

    #content .upload-pin-map .file-preview {
        height: 110px;
    }

    #content .upload-pin-map .file-default-preview i {
        margin-top: 9px !important;
    }

    #content .upload-pin-map .file-preview-frame img {
        color: #aaa;
        height: 59px !important;
        width: 59px !important;
    }
</style>

<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
    </div>
<?php } ?>
<?php
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}
?>
<div class="box-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <!-- Create the tabs -->
            <ul id="tabs" class="nav nav-tabs">
                <li class="active"><a id="content-main-tab-link" href="#content-main-tab" data-toggle="tab">MAIN
                        DATA</a></li>
                <li><a id="content-gallery-tab-link" href="#content-gallery-tab" data-toggle="tab">GALLERY</a></li>
                <li><a id="content-layout-tab-link" href="#content-layout-tab" data-toggle="tab">LAYOUT</a></li>
                <li><a id="content-look-tab-link" href="#content-look-tab" data-toggle="tab">LOOK AND FEEL</a></li>
                <li><a id="content-option-tab-link" href="#content-option-tab" data-toggle="tab">SETTINGS</a></li>
                <?php if ($this->appUrl !== null) {
                    ?>
                    <li><a id="content-qrcode-tab-link" href="#content-qrcode-tab" data-toggle="tab">ID / QR CODE</a></li>
                    <?php
                } ?>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="content-main-tab">
                    <br/>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-xs-12">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($form->get('upload_pin_map')); ?>
                                    <div class="form-group has-feedback uploader upload-pin-map">
                                        <?php
                                        echo $this->formElement($form->get('upload_pin_map'));
                                        echo $this->hpFormElementErrors($form->get('upload_pin_map'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                        ?>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback input-error">
                                                <?php
                                                echo $this->formLabel($form->get('title'));
                                                echo $this->formElement($form->get('title'));
                                                echo $this->hpFormElementErrors($form->get('title'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                ?>
                                                <span class="glyphicon glyphicon-header form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group has-feedback input-error">
                                                <span style="margin-right: 10px;"><?php echo $this->formLabel($form->get('poi_notification')); ?></span>
                                                <?php
                                                echo $this->formElement($form->get('poi_notification'));
                                                echo $this->hpFormElementErrors($form->get('poi_notification'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                ?>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="geodata text-center">
                                        <h3>GEO DATA<br/>
                                            <small>Choose your location type</small>
                                        </h3>
                                        <p>
                                            <button id="btn-indoor" type="button" class="btn btn-primary btn-xs"><i
                                                        class="fa fa-bluetooth-b" aria-hidden="true"></i><i
                                                        class="separator"></i>&nbsp;&nbsp;&nbsp;&nbsp;Indoor
                                            </button>
                                            <button id="btn-outdoor" type="button" class="btn btn-primary btn-xs"><i
                                                        class="fa fa-street-view" aria-hidden="true"></i><i
                                                        class="separator"></i>&nbsp;Outdoor
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="box box-default box-beacon">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Indoor area (iBeacon)</h3>
                                            <div class="box-tools pull-right">
                                                <button id="beacon-hide-btn" class="btn btn-box-tool"
                                                        data-widget="remove"><i
                                                            class="fa fa-times"></i></button>
                                            </div><!-- /.box-tools -->
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="beacondata">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><?php echo $form->get('subtitle')->getOption('label'); ?></div>
                                                                <?php echo $this->formElement($form->get('subtitle')); ?>
                                                            </div>
                                                            <?php echo $this->hpFormElementErrors($form->get('subtitle'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><?php echo $form->get('uuid')->getOption('label'); ?>
                                                                    &nbsp;
                                                                </div>
                                                                <?php echo $this->formElement($form->get('uuid')); ?>
                                                            </div>
                                                            <?php echo $this->hpFormElementErrors($form->get('uuid'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?>
                                                            <?php echo $this->hpFormElementErrors($form->get('beacon_uuid_validator'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><?php echo $form->get('major')->getOption('label'); ?></div>
                                                                <?php echo $this->formElement($form->get('major')); ?>
                                                            </div>
                                                            <?php echo $this->hpFormElementErrors($form->get('major'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon"><?php echo $form->get('minor')->getOption('label'); ?></div>
                                                                <?php echo $this->formElement($form->get('minor')); ?>
                                                            </div>
                                                            <?php echo $this->hpFormElementErrors($form->get('minor'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div id="beaconrange" class="">
                                                    <span class="beaconrange_label"><?php echo $form->get('beacon_range')->getOption('label'); ?>
                                                        &nbsp;</span>
                                                            <div class="btn-group" data-toggle="buttons">
                                                                <?php echo $this->formRadio($form->get('beacon_range')) ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.box-body -->
                                    </div><!-- /.box -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="box box-default box-circular">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Outdoor area (GPS)</h3>
                                            <div class="box-tools pull-right">
                                                <button id="circular-hide-btn" class="btn btn-box-tool"
                                                        data-widget="remove"><i
                                                            class="fa fa-times"></i></button>
                                            </div><!-- /.box-tools -->
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="circulardata">
                                                <div class="row map-fields">
                                                    <div class="col-lg-9 col-md-8 col-sm-9 col-xs-9"
                                                         style="width: 70%; padding: 0;">
                                                        <div class="input-error">
                                                            <?php
                                                            echo $this->formElement($form->get('address'));
                                                            echo $this->hpFormElementErrors($form->get('address'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                            ?>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3"
                                                         style="width: 30%;  padding: 0 0 0 5px;">
                                                        <div class="selectpicker-error">
                                                            <?php
                                                            echo $this->formElement($form->get('radius'));
                                                            echo $this->hpFormElementErrors($form->get('radius'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                            ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div id="map-container"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.box-body -->
                                    </div><!-- /.box -->
                                    <?php echo $this->hpFormElementErrors($form->get('region'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback" style="margin-top: 15px;">
                                        <?php
                                        echo $this->formLabel($form->get('description'));
                                        echo $this->formElement($form->get('description'));
                                        echo $this->hpFormElementErrors($form->get('description'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                        ?>
                                        <span class="fa fa-info form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback">
                                        <?php
                                        echo $this->formLabel($form->get("tags"));
                                        echo $this->formElement($form->get("tags"));
                                        echo $this->hpFormElementErrors($form->get("tags"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                        ?>
                                        <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback input-error">
                                        <?php
                                        echo $this->formLabel($this->form->get('user_tags'));
                                        echo $this->formElement($this->form->get('user_tags'));
                                        echo $this->hpFormElementErrors($this->form->get('user_tags'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                        ?>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-7 col-xs-12">
                            <div class="form-group has-feedback">
                                <?php
                                echo $this->formLabel($form->get('body'));
                                echo $this->formElement($form->get('body'));
                                echo $this->hpFormElementErrors($form->get('body'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <?php echo $this->partial('content-tab.phtml', array(
                    'initialPreview' => $this->initialPreview,
                    'initialPreviewConfig' => $this->initialPreviewConfig,
                    'initialPreviewThumbTags' => $this->initialPreviewThumbTags,
                    'maxFileSize' => $this->maxFileSize,
                    'content_actions' => $this->content_actions,
                    'custom_theme' => $this->custom_theme,
                    'form' => $form,
                    'addRemoteMediaForm' => $this->addRemoteMediaForm,
                    'appUrl' => $this->appUrl,
                    'hashId' => $this->hashId,
                )); ?>

            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
        </div>
    </div>
</div><!-- /.box-body -->

<div class="box-footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-xs-8">
            <?php
            echo $this->formElement($form->get('save'));
            ?>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
    </div>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

    initFormTab();
    initFormValidator("#content-main-tab");

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href"); // activated tab
        initFormValidator(target);
    });

    if ($('.error').length > 0) {
        var tabId = $('.error').first().closest('.tab-pane').attr('id');
        $('#' + tabId + '-link').tab('show');
    }

    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        var previewsTabId = e.relatedTarget.hash; // previous active tab
        $(previewsTabId + ' [data-toggle="tooltip"]').tooltip('hide');
    }).on('shown.bs.tab', function (e) {
        var targetTabId = e.target.hash; // newly activated tab
        $(targetTabId + ' [data-toggle="tooltip"]').tooltip('show');
    });

    var dropTextPinMap = "+";//"Drag & drop your PIN map...";
    var baseUrlPinMap = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getPoiPin(); ?>";
    var uploadUrlPinMap = "<?php echo $this->basePath(); ?>/media/map/pin";
    var uploadPinMapSuccess = true;

    initAsyncUploaderId("#upload_pin_map", "#pin_map_id", "#pin_map", dropTextPinMap, baseUrlPinMap, uploadUrlPinMap, '#save',
        function () {
            uploadPinMapSuccess = true;
            trySubmitAfterUpload();
        }, function () {
            uploadPinMapSuccess = false;
        }, <?php echo $this->maxFileSize; ?>);

    /* CHECK IMAGE UPLOADED  */
    function trySubmitAfterUpload() {
        if (uploadPinMapSuccess) {
            var $form = $('#content');
            var $save_button = $form.find('#save');

            $save_button.find("#save_button_icon")
                .removeClass('glyphicon')
                .removeClass('glyphicon-ok')
                .addClass('fa fa-spinner fa-spin');
            $save_button.prop('disabled', true);

            $form.find("#reload").val(0);
            $form.submit();
        }
    }

    tinymce.init({
        selector: '#body',
        height: 316,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen textcolor table',
            'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor | table',
        content_css: '//www.tinymce.com/css/codepen.min.css',
        setup: function (ed) {
            ed.on('init', function () {
                ed.execCommand("fontName", false, "sans-serif");
            });
        },
        table_default_styles: {
            width: '100%'
        },
        extended_valid_elements: 'script[type]'
    });

    $('#tags').tokenfield({
        autocomplete: {
            source: "<?php echo $this->basePath(); ?>/ajax/tags/content/" + $('#type').val(),
            minLength: 2,
            delay: 100
        }
    }).on('tokenfield:createtoken', function (e) {
        createToken(e, $('#tags'), $('.tag_error'));
    });

//    $('#user_tags').tokenfield({
//        autocomplete: {
//            source: "<?php //echo $this->basePath(); ?>///ajax/tags/content/<?php //echo \Form\LayoutForm::CUSTOM_FORM . \Application\Model\SectionModel::CUSTOM_FORM_TYPE_SUFFIX; ?>//",
//            minLength: 2,
//            delay: 100
//        }
//    }).on('tokenfield:createtoken', function (e) {
//        createToken(e, $('#user_tags'), $('.user_tag_error'));
//    });

    $(document).on("keypress", "form", function (event) {
        return event.keyCode != 13;
    });

    $(document).ready(function () {

        $('#uuid').inputmask({mask: "********-****-****-****-************"});

        var region = $('#region').val();
        if (region != "" && region == "beacon_region") {
            $('.geodata').hide();
            $('.box-beacon').show();
        } else if (region != "" && region == "circular_region") {
            $('.geodata').hide();
            $('.box-circular').show();
            initLocationPiker();
        }

        if (region != "") {
            initFormValidator("#content-main-tab");
        }

        setBeaconUuidValidatorValue();

        $("#btn-indoor").on('click', function () {
            $('#region').val('beacon_region');
            setBeaconUuidValidatorValue();
            $('.geodata').hide();
            $('.box-beacon').show();
        });

        $("#btn-outdoor").on('click', function () {
            $('#region').val('circular_region');
            setBeaconUuidValidatorValue();
            $('.geodata').hide();
            $('.box-circular').show();
            initLocationPiker();
        });

        $('#uuid').on('change', function () {
            setBeaconUuidValidatorValue();
        });

        $("#beacon-hide-btn").on('click', function () {
            $('#region').val('');
            setBeaconUuidValidatorValue();
            $('.geodata').show();
            $('.box-beacon').hide();
        });

        $("#circular-hide-btn").on('click', function () {
            $('#region').val('');
            setBeaconUuidValidatorValue();
            $('.geodata').show();
            $('.box-circular').hide();
        });

        function setBeaconUuidValidatorValue() {
            var region_validate = $('#region').val();
            var uuid_validate = $('#uuid').val();

            var beacon_uuid_validate = JSON.stringify({region: region_validate, uuid: uuid_validate});

            $('#beacon_uuid_validator').val(beacon_uuid_validate);
        }

        $("#beaconrange .btn input[name=beacon_range]:checked")
            .prop('checked', true)
            .closest('label')
            .removeClass('active')
            .removeClass('btn-default')
            .addClass('btn-primary');

        $("#beaconrange .btn input[name=beacon_range]").on('change', function () {
            $("#beaconrange .btn input[name=beacon_range]")
                .closest('label')
                .removeClass('active')
                .removeClass('btn-primary')
                .addClass('btn-default');

            $("#beaconrange .btn input[name=beacon_range]:checked")
                .prop('checked', true)
                .closest('label')
                .removeClass('active')
                .removeClass('btn-default')
                .addClass('btn-primary');
        });

    });

    function initLocationPiker() {
        var lat = 40.91692610;
        var lng = 17.02109310;

        if ($('#latitude').val() && $('#longitude').val()) {
            lat = $('#latitude').val();
            lng = $('#longitude').val();
        }

        $('#map-container').locationpicker({
            location: {latitude: lat, longitude: lng},
            radius: $('#radius').val(),
            zoom: 16,
            inputBinding: {
                latitudeInput: $('#latitude'),
                longitudeInput: $('#longitude'),
                radiusInput: $('#radius'),
                locationNameInput: $('#address')
            },
            enableAutocomplete: true,
            enableAutocompleteBlur: true //,
        });
    }
</script>
