<style>
    .ace-resize {
        height: 263px;
    }

    .hp_error_tooltip_title {
        top: -18px;
        position: relative;
    }

    .hp_error_tooltip_link {
        top: -18px;
        position: relative;
    }
</style>

<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
    </div>
<?php } ?>
<?php
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}
?>
<div class="box-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <!-- Create the tabs -->
            <ul id="tabs" class="nav nav-tabs">
                <li class="active"><a id="content-main-tab-link" href="#content-main-tab" data-toggle="tab">MAIN
                        DATA</a></li>
                <li><a id="content-gallery-tab-link" href="#content-gallery-tab" data-toggle="tab">GALLERY</a></li>
                <li><a id="content-layout-tab-link" href="#content-layout-tab" data-toggle="tab">LAYOUT</a></li>
                <li><a id="content-look-tab-link" href="#content-look-tab" data-toggle="tab">LOOK AND FEEL</a></li>
                <li><a id="content-option-tab-link" href="#content-option-tab" data-toggle="tab">SETTINGS</a></li>
                <?php if ($this->appUrl !== null) {
                    ?>
                    <li><a id="content-qrcode-tab-link" href="#content-qrcode-tab" data-toggle="tab">ID / QR CODE</a></li>
                    <?php
                } ?>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="content-main-tab">
                    <br/>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12">

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback input-error">
                                        <?php
                                        echo $this->formLabel($form->get('title'));
                                        echo $this->formElement($form->get('title'));
                                        echo $this->hpFormElementErrors($form->get('title'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                        ?>
                                        <span class="glyphicon glyphicon-header form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback input-error">
                                        <?php
                                        echo $this->formLabel($form->get('subtitle'));
                                        echo $this->formElement($form->get('subtitle'));
                                        echo $this->hpFormElementErrors($form->get('subtitle'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                        ?>
                                        <span class="glyphicon glyphicon-header form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback input-error">
                                        <?php
                                        echo $this->formLabel($form->get('body'));
                                        echo $this->formElement($form->get('body'));
                                        echo $this->hpFormElementErrors($form->get('body'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                        ?>
                                        <span class="glyphicon glyphicon-link form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback">
                                        <?php
                                        echo $this->formLabel($form->get('description'));
                                        echo $this->formElement($form->get('description'));
                                        echo $this->hpFormElementErrors($form->get('description'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                        ?>
                                        <span class="fa fa-info form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback">
                                        <?php
                                        echo $this->formLabel($form->get("tags"));
                                        echo $this->formElement($form->get("tags"));
                                        echo $this->hpFormElementErrors($form->get("tags"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                        ?>
                                        <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback input-error">
                                        <?php
                                        echo $this->formLabel($this->form->get('user_tags'));
                                        echo $this->formElement($this->form->get('user_tags'));
                                        echo $this->hpFormElementErrors($this->form->get('user_tags'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                        ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-xs-12">
                            <ul id="tabs" class="nav nav-tabs" style="margin-top: 25px;">
                                <li class="active"><a id="custom_css-tab-link" href="#custom_css-tab"
                                                      data-toggle="tab"><?php echo $this->formLabel($form->get('custom_css')); ?></a>
                                </li>
                                <li><a id="custom_js-tab-link" href="#custom_js-tab"
                                       data-toggle="tab"><?php echo $this->formLabel($form->get('custom_js')); ?></a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="custom_css-tab" class="tab-pane active">
                                    <div class="row">
                                        <div class="form-group has-feedback input-error" style="margin-bottom: 0">
                                            <?php
                                            echo $this->formElement($form->get('custom_css'));
                                            echo $this->hpFormElementErrors($form->get('custom_css'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                            ?>
                                            <div id="custom_css_ace_div" class="ace-resize"></div>
                                        </div>
                                    </div>
                                </div>

                                <div id="custom_js-tab" class="tab-pane">
                                    <div class="row">
                                        <div class="form-group has-feedback input-error" style="margin-bottom: 0">
                                            <?php
                                            echo $this->formElement($form->get('custom_js'));
                                            echo $this->hpFormElementErrors($form->get('custom_js'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                            ?>
                                            <div id="custom_js_ace_div" class="ace-resize"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <?php echo $this->partial('content-tab.phtml', array(
                    'initialPreview' => $this->initialPreview,
                    'initialPreviewConfig' => $this->initialPreviewConfig,
                    'initialPreviewThumbTags' => $this->initialPreviewThumbTags,
                    'maxFileSize' => $this->maxFileSize,
                    'content_actions' => $this->content_actions,
                    'custom_theme' => $this->custom_theme,
                    'form' => $form,
                    'addRemoteMediaForm' => $this->addRemoteMediaForm,
                    'appUrl' => $this->appUrl,
                    'hashId' => $this->hashId,
                )); ?>

            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
        </div>
    </div>
</div><!-- /.box-body -->

<div class="box-footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-xs-8">
            <?php
            echo $this->formElement($form->get('save'));
            ?>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
    </div>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

    var $dataToggleTab = $('a[data-toggle="tab"]');
    var $error = $('.error');

    initFormTab();
    initFormValidator("#content-main-tab");

    if ($error.length > 0) {
        var tabId = $error.first().closest('.tab-pane').attr('id');
        $('#' + tabId + '-link').tab('show');
    }

    $dataToggleTab
        .on('show.bs.tab', function (e) {
            var previewsTabId = e.relatedTarget.hash; // previous active tab
            $(previewsTabId + ' [data-toggle="tooltip"]').tooltip('hide');
        }).on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href"); // activated tab
            initFormValidator(target);

            var targetTabId = e.target.hash; // newly activated tab
            $(targetTabId + ' [data-toggle="tooltip"]').tooltip('show');
        }
    );

    $('#tags').tokenfield({
        autocomplete: {
            source: "<?php echo $this->basePath(); ?>/ajax/tags/content/" + $('#type').val(),
            minLength: 2,
            delay: 100
        }
    }).on('tokenfield:createtoken', function (e) {
        createToken(e, $('#tags'), $('.tag_error'));
    });

    $(document).ready(function () {
        /* INIT CODE EDITOR MODE */
        var $custom_css_input = $('#custom_css');
        var custom_css_ace_div = ace.edit("custom_css_ace_div");
        custom_css_ace_div.getSession().setValue($custom_css_input.val());
        custom_css_ace_div.setTheme("ace/theme/twilight");
        custom_css_ace_div.getSession().setMode("ace/mode/css");

        var $custom_js_input = $('#custom_js');
        var custom_js_ace_div = ace.edit("custom_js_ace_div");
        custom_js_ace_div.getSession().setValue($custom_js_input.val());
        custom_js_ace_div.setTheme("ace/theme/twilight");
        custom_js_ace_div.getSession().setMode("ace/mode/javascript");
        /* .../INIT CODE EDITOR MODE */

        $('#save').on('click', function (event) {
            event.preventDefault();
            var $form = $('#content');
            var $save_button = $form.find('#save');

            $save_button.find("#save_button_icon")
                .removeClass('glyphicon')
                .removeClass('glyphicon-ok')
                .addClass('fa fa-spinner fa-spin');
            $save_button.prop('disabled', true);

            $custom_css_input.val(custom_css_ace_div.getSession().getValue());
            $custom_js_input.val(custom_js_ace_div.getSession().getValue());

            $form.find("#reload").val(0);
            $form.submit();
        });
    });
</script>
