<style>

    #action .upload-action-icon .file-input {
        height: 100px !important;
        width: 100px !important;
        margin: 0;
    }

    #action .upload-action-icon .file-drop-zone-title,
    #action .upload-action-icon .file-preview-frame img {
        color: #aaa;
        height: 50px !important;
        width: 50px !important;
    }

    #action .upload-action-icon .file-drop-zone-title {
        padding: 5px 0 0 0;
        font-size: 30px;
    }

    #action .upload-action-icon .file-default-preview {
        height: 50px;
    }

    #action .form-group {
        margin-bottom: 5px;
    }
</style>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <?php echo $this->formLabel($this->actionForm->get('action_upload_icon')); ?>
        <div class="form-group has-feedback uploader upload-action-icon">
            <?php
            echo $this->formElement($this->actionForm->get('action_upload_icon'));
            echo $this->hpFormElementErrors($this->actionForm->get('action_upload_icon'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
            ?>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <?php echo $this->formLabel($this->actionForm->get('action_label')); ?>
                <span id="action_label-error-message" class="label label-danger action-form-error-label"
                      style="margin-left: 20px;"></span>
                <div class="form-group has-feedback">
                    <?php
                    echo $this->formElement($this->actionForm->get('action_label'));
                    echo $this->hpFormElementErrors($this->actionForm->get('action_label'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <?php echo $this->formLabel($this->actionForm->get('action_area')); ?>
                <div class="form-group has-feedback login_radio">
                    <?php
                    echo $this->formElement($this->actionForm->get('action_area'));
                    echo $this->hpFormElementErrors($this->actionForm->get('action_area'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var actionType = "<?php echo $this->actionForm->getType(); ?>";
    var uploadActionIconSuccess = true;
    var uploadAttachmentFile = true;
    var actionSubmitBtn = "#action-submit-btn";
    var $actionSubmitBtn = $(actionSubmitBtn);

    /* CHECK IMAGE UPLOADED  */
    function tryActionSubmitAfterUpload() {
        if (uploadActionIconSuccess && uploadAttachmentFile) {
            $('.action-form-error-label').html('');
            var DT_row_id = $actionSubmitBtn.data('rowId');
            var action_id = $actionSubmitBtn.data('actionId');
            var action_active = $actionSubmitBtn.data('actionActive');
            var $actionIcon = $("#action_icon");
            var $actionIconId = $("#action_icon_id");
            var action_icon_url = $actionIcon.val();
            var action_icon_id = $actionIconId.val();

            var action_label = $('#action_label').val();
            var action_area = $('#action_area').val();

            var params = "";

            switch (actionType) {
                case "<?php echo \Form\Action\ActionForm::ATTACHMENT_ACTION ?>":
                    var $actionAttachmentMediaId = $('#action_attachment_media_id').val();
                    var $actionAttachmentMediaUrl = $('#action_attachment_media_url').val();
                    var $actionAttachmentMediaMimeType = $('#action_attachment_media_mime_type').val();

                    params = JSON.stringify({
                        media_id: $actionAttachmentMediaId,
                        url: $actionAttachmentMediaUrl,
                        mime_type: $actionAttachmentMediaMimeType
                    });

                    $.post("<?php echo $this->basePath() ?>/action/attachment/validator/", {
                        action_label: action_label,
                        action_area: action_area,
                        action_attachment_media_id: $actionAttachmentMediaId
                    }, function (res) {
                        if (res.success) {
                            createActionDTRow(DT_row_id, action_id, action_label, action_area, action_icon_id, action_icon_url, action_active, actionType, params);
                        } else {
                            $.each(res.message, function (id, error) {
                                $.each(error, function (k, v) {
                                    $('#' + id + '-error-message').html(v);
                                });
                            });
                        }
                    });
                    break;
                case "<?php echo \Form\Action\ActionForm::CALENDAR_ACTION ?>":
                    var action_date_picker = $('#action_date_picker').val();
                    var start_date = $("#action_start_date").val();
                    var end_date = $("#action_end_date").val();

                    params = JSON.stringify({
                        from: start_date,
                        to: end_date
                    });

                    $.post("<?php echo $this->basePath() ?>/action/calendar/validator/", {
                        action_label: action_label,
                        action_area: action_area,
                        action_date_picker: action_date_picker
                    }, function (res) {
                        if (res.success) {
                            createActionDTRow(DT_row_id, action_id, action_label, action_area, action_icon_id, action_icon_url, action_active, actionType, params);
                        } else {
                            $.each(res.message, function (id, error) {
                                $.each(error, function (k, v) {
                                    $('#' + id + '-error-message').html(v);
                                });
                            });
                        }
                    });
                    break;
                case "<?php echo \Form\Action\ActionForm::CONTENT_ACTION ?>":
                    var content_val = $("#action_content_list").selectpicker('val');

                    params = JSON.stringify({
                        content: parseInt(content_val)
                    });

                    $.post("<?php echo $this->basePath() ?>/action/content/validator/", {
                        action_label: action_label,
                        action_area: action_area
                    }, function (res) {
                        if (res.success) {
                            createActionDTRow(DT_row_id, action_id, action_label, action_area, action_icon_id, action_icon_url, action_active, actionType, params);
                        } else {
                            $.each(res.message, function (id, error) {
                                $.each(error, function (k, v) {
                                    $('#' + id + '-error-message').html(v);
                                });
                            });
                        }
                    });
                    break;
                case "<?php echo \Form\Action\ActionForm::EMAIL_ACTION ?>":
                    var action_email = $('#action_email').val();
                    var action_email_subject = $('#action_email_subject').val();
                    var email_placeholder = $('#action_email_placeholder').val();

                    params = JSON.stringify({
                        address: action_email,
                        subject: action_email_subject,
                        placeholder: email_placeholder
                    });

                    $.post("<?php echo $this->basePath() ?>/action/email/validator/", {
                        action_label: action_label,
                        action_area: action_area,
                        action_email: action_email
                    }, function (res) {
                        if (res.success) {
                            createActionDTRow(DT_row_id, action_id, action_label, action_area, action_icon_id, action_icon_url, action_active, actionType, params);
                        } else {
                            $.each(res.message, function (id, error) {
                                $.each(error, function (k, v) {
                                    $('#' + id + '-error-message').html(v);
                                });
                            });
                        }
                    });
                    break;
                case "<?php echo \Form\Action\ActionForm::LINK_ACTION ?>":
                    populateCustomCssAndJS();

                    var action_url = $("#action_url").val();
                    var open_in_app = $("#action_open_in_app").bootstrapSwitch('state');
                    var custom_css = $("#action_custom_css").val();
                    var custom_js = $("#action_custom_js").val();

                    params = JSON.stringify({
                        url: action_url,
                        open_in_app: open_in_app,
                        custom_css: custom_css,
                        custom_js: custom_js
                    });

                    $.post("<?php echo $this->basePath() ?>/action/link/validator/", {
                        action_label: action_label,
                        action_area: action_area,
                        action_url: action_url
                    }, function (res) {
                        if (res.success) {
                            createActionDTRow(DT_row_id, action_id, action_label, action_area, action_icon_id, action_icon_url, action_active, actionType, params);
                        } else {
                            $.each(res.message, function (id, error) {
                                $.each(error, function (k, v) {
                                    $('#' + id + '-error-message').html(v);
                                });
                            });
                        }
                    });
                    break;
                case "<?php echo \Form\Action\ActionForm::MAP_ACTION ?>":
                    var action_address = $('#action_address').val();

                    params = JSON.stringify({
                        address: action_address,
                        street: $("#action_street").val(),
                        city: $("#action_city").val(),
                        state: $("#action_state").val(),
                        zipcode: $("#action_zip").val(),
                        country: $("#action_country").val(),
                        latitude: parseFloat($("#action_latitude").val()),
                        longitude: parseFloat($("#action_longitude").val())
                    });

                    $.post("<?php echo $this->basePath() ?>/action/map/validator/", {
                        action_label: action_label,
                        action_area: action_area,
                        action_address: action_address
                    }, function (res) {
                        if (res.success) {
                            createActionDTRow(DT_row_id, action_id, action_label, action_area, action_icon_id, action_icon_url, action_active, actionType, params);
                        } else {
                            $.each(res.message, function (id, error) {
                                $.each(error, function (k, v) {
                                    $('#' + id + '-error-message').html(v);
                                });
                            });
                        }
                    });
                    break;
                case "<?php echo \Form\Action\ActionForm::PHONE_ACTION ?>":
                    var action_number = $('#action_number').val();
                    var prefix = $("#action_prefix").selectpicker('val');
                    var operation = $("#action_operation").selectpicker('val');
                    var phone_placeholder = $("#action_phone_placeholder").val();

                    params = JSON.stringify({
                        prefix: prefix,
                        number: action_number,
                        mode: operation,
                        placeholder: phone_placeholder
                    });

                    $.post("<?php echo $this->basePath() ?>/action/phone/validator/", {
                        action_label: action_label,
                        action_area: action_area,
                        action_number: action_number
                    }, function (res) {
                        if (res.success) {
                            createActionDTRow(DT_row_id, action_id, action_label, action_area, action_icon_id, action_icon_url, action_active, actionType, params);
                        } else {
                            $.each(res.message, function (id, error) {
                                $.each(error, function (k, v) {
                                    $('#' + id + '-error-message').html(v);
                                });
                            });
                        }
                    });
                    break;
                case "<?php echo \Form\Action\ActionForm::SECTION_ACTION ?>":
                    var section = $("#action_section_list").selectpicker('val');

                    params = JSON.stringify({
                        section: parseInt(section)
                    });

                    $.post("<?php echo $this->basePath() ?>/action/section/validator/", {
                        action_label: action_label,
                        action_area: action_area
                    }, function (res) {
                        if (res.success) {
                            createActionDTRow(DT_row_id, action_id, action_label, action_area, action_icon_id, action_icon_url, action_active, actionType, params);
                        } else {
                            $.each(res.message, function (id, error) {
                                $.each(error, function (k, v) {
                                    $('#' + id + '-error-message').html(v);
                                });
                            });
                        }
                    });
                    break;
            }
        }
    }

    function createActionDTRow(row_id, action_id, label, area, icon_id, icon, active, type, params) {
        var action = {
            id: action_id,
            icon: icon,
            icon_id: icon_id,
            active: active,
            type: type,
            label: label,
            area: area,
            params: params
        };

        if (row_id !== "") deleteAction('#delete_action_' + row_id);
        addContentActionToDT(action);

        getActionsForSubmit();

        $('#remoteWithDataDialogBox').modal("hide");
    }

    $(document).ready(function () {
        /* INIT SELECT PICKER */
        $('#action_area').selectpicker();

        /* INIT ICON UPLOAD */
        var dropTextActionIcon = "+";
        var baseUrlActionIcon = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getActionIconThumbUrl(); ?>";
        var uploadUrlActionIcon = "<?php echo $this->basePath(); ?>/media/action/icon";

        initAsyncUploaderId("#action_upload_icon", "#action_icon_id", "#action_icon", dropTextActionIcon, baseUrlActionIcon, uploadUrlActionIcon, actionSubmitBtn, function () {
            uploadActionIconSuccess = true;
//            console.log("tryActionSubmitAfterUpload from initAsyncUploaderId");
            tryActionSubmitAfterUpload();
        }, function () {
            uploadActionIconSuccess = false;
        }, <?php echo $this->maxFileSize; ?>);
    });
</script>