<style>
    #content-actions td {
        vertical-align: middle;
    }

    #content-actions .drag_icon {
        width: 20px;
        height: 20px;
        background: url('<?php echo $this->basePath(); ?>/img/icon/drag.png');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        cursor: move;
    }

    #content-actions .delete_icon {
        margin-bottom: 0;
    }

    #content-actions .rewidth {
        width: 1px;
    }
</style>

<div class="box">
    <div class="box-header text-center">
        <h4 class="box-title"><b>ACTIONS</b></h4>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div>
            <?php
            $actions = \Form\Action\ActionForm::getActions();
            foreach ($actions as $action => $params) {
                ?>
                <button type="button" id="create-<?php echo strtolower($action); ?>-action"
                        class="btn btn-primary btn-labeled create-action-btn"
                        data-action-type="<?php echo $action; ?>">
                    <span class="btn-label-left">
                        <i class="<?php echo $params['icon_class']; ?>"></i>
                    </span><?php echo $params['label']; ?>
                </button>
                <?php
            }
            ?>
        </div>

        <table id="content-actions" class="table table-striped table-bordered" cellspacing="0" style="width: 100%;">
            <thead>
            <tr>
                <th><!-- Action Counter --></th>
                <th><!-- Action Id --></th>
                <th><!-- Active --></th>
                <th><!-- Reorder --></th>
                <th><!-- Icon --></th>
                <th><!-- Icon ID --></th>
                <th><!-- Action Type --></th>
                <th><!-- Action Json --></th>
                <th class="text-center">Label</th>
                <th>Type</th>
                <th class="text-center">Area</th>
                <th><!-- Actions --></th>
                <th><!-- Icon URI --></th>
            </tr>
            </thead>
            <tbody>
            <?php
            $i = 0;
            if ($this->content_actions != null) {
                foreach ($this->content_actions as $action) {
                    $i++;

                    $disabled = "";
                    if (!$action->active) $disabled = 'style="background-color: #cecece;"';

                    $iconPath = $this->basePath() . "/img/placeholder/app-icon.png";
                    if ($action->icon != null && $action->icon != "") {
                        $iconPath = $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getActionIconThumbUrl() . $action->icon;
                    }

                    $params = $actions[$action->type];
                    $spanLabel = '<span class="label label-warning"><i class="' . $params['icon_class'] . '" style="margin-right: 5px;"></i>' . $params['label'] . '</span>';

                    ?>
                    <tr <?php echo $disabled; ?>>
                        <td><?php echo $i; ?></td>
                        <td><?php echo $action->id; ?></td>
                        <td><?php echo $action->active; ?></td>
                        <td>
                            <div class="drag_icon"></div>
                        </td>
                        <td>
                            <div style="width: 35px; height: 35px; background: url('<?php echo $iconPath; ?>') center center no-repeat, url(/img/placeholder/square-pattern.jpg) left top repeat; background-size: cover, 8px;"></div>
                        </td>
                        <td><?php echo $action->cover_id; ?></td>
                        <td><?php echo $action->type; ?></td>
                        <td><?php echo $action->params; ?></td>
                        <td><?php echo $action->label; ?></td>
                        <td><?php echo $spanLabel; ?></td>
                        <td><?php echo $action->area; ?></td>
                        <td>
                            <button type="button" id="delete_action_<?php echo $i; ?>"
                                    class="delete_icon btn btn-default" data-action-id="<?php echo $action->id; ?>"><i
                                        class="fa fa-trash-o" aria-hidden="true" style="font-size: 1.4em;"></i></button>
                        </td>
                        <td><?php echo $action->icon; ?></td>
                    </tr>
                <?php }
            } ?>
            </tbody>
        </table>
    </div>
</div>

<script type="application/javascript">

    var action_counter = <?php echo $i; ?>;

    var $actionsTable = $('#content-actions').DataTable({
        "filter": false,
        "paging": false,
        "ordering": true,
        "info": false,
        "columns": [
            {"width": "1%", "sortable": false, "visible": false},
            {"width": "1%", "sortable": false, "visible": false},
            {"width": "1%", "sortable": false, "visible": false},
            {"width": "1%", "sortable": false, "class": "text-center rewidth"},
            {"width": "1%", "sortable": false, "class": "text-center rewidth clickable"},
            {"width": "1%", "sortable": false, "visible": false},
            {"width": "1%", "sortable": false, "visible": false},
            {"width": "1%", "sortable": false, "visible": false},
            {"width": "90%", "sortable": false, "class": "clickable"},
            {"width": "1%", "sortable": false, "class": "text-center rewidth clickable"},
            {"width": "1%", "sortable": false, "class": "clickable"},
            {"width": "1%", "sortable": false, "class": "text-center rewidth"},
            {"width": "1%", "sortable": false, "visible": false},
        ],
        "rowReorder": {
            selector: '.drag_icon'
        },
        "initComplete": function () {
            initContentAction();
        }
    }).on('row-reorder', function (e, diff, edit) {
        var reorderedBodyRow = [];
        for (var i = 0, ien = diff.length; i < ien; i++) {
            var actionId = $actionsTable.row(diff[i].node).data()[1];
            var newWeight = diff[i].newData * 10;

            reorderedBodyRow.push({actionId: actionId, newWeight: newWeight});
        }

        $.post("<?php echo $this->basePath(); ?>/ajax/action/reorder", {
            data: reorderedBodyRow
        }).done(function (data) {
//            $actionsTable.ajax.reload();
        });
    });


    /* ADD ROW TO DT */
    function addContentActionToDT(action) {
        action_counter++;

        $actionsTable.row.add([
            action_counter,
            action.id,
            action.active,
            '<div class="drag_icon"></div>',
            actionIcon(action),
            action.icon_id,
            action.type,
            action.params,
            action.label,
            actionTypeSpan(action.type),
            action.area,
            '<button type="button" id="delete_action_' + action_counter + '" class="delete_icon btn btn-default" data-action-id="' + action.id + '"><i class="fa fa-trash-o" aria-hidden="true" style="font-size: 1.4em;"></i></button>',
            action.icon

        ]).draw(false);

        if (!action.active) $('td').css('background-color', '#cecece');

        initContentAction();
    }

    function actionIcon(action) {
        var uri = "<?php echo $this->basePath(); ?>/img/placeholder/app-icon.png";

        if (action.icon !== "" && action.icon !== null) {
            uri = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getActionIconThumbUrl(); ?>" + action.icon;
        }

        return '<div style="width: 35px; height: 35px; background: url(' + uri + ') center center no-repeat, url(/img/placeholder/square-pattern.jpg) left top repeat; background-size: cover, 8px;"></div>';
    }

    function actionTypeSpan(type) {
        var actions = <?php echo json_encode(\Form\Action\ActionForm::getActions()); ?>;
        var params = actions[type];

        return '<span class="label label-warning"><i class="' + params['icon_class'] + '" style="margin-right: 5px;"></i>' + params['label'] + '</span>';
    }

    /* .../ADD ROW TO DT */


    /* CREATE ACTION */
    $('.create-action-btn').on('click', function () {
        var action_type = $(this).data('actionType');

        var title = 'CREATE ' + action_type + ' ACTION';
        var footer = '<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="margin-bottom: 0;">DISMISS</button>' +
            '<button type="button" id="action-submit-btn" class="modal-confirm-btn btn btn-success btn-labeled" style="margin-bottom: 0;" data-row-id="" data-action-id="" data-action-active="true">' +
            'CREATE ' + action_type + ' ACTION<span class="btn-label-right"><i class="glyphicon glyphicon-ok"></i></span></button>';
        var url = "<?php echo $this->basePath() ?>/action/" + action_type.toLowerCase() + "/modal/";

        showRemoteWithDataModal(title, footer, url, "",
            function () {
            },
            function () {
            });
    });

    /* .../CREATE ACTION */

    function initContentAction() {

        /* UPDATE CORRESPONDING ACTION */
        var $dataTableRow = $('#content-actions .clickable');
        $dataTableRow.unbind("click");
        $dataTableRow.bind("click", function () {
            var actionsTable = $('#content-actions').DataTable();
            var row_id = actionsTable.row($(this).closest('tr')).data()[0];
            var action_id = actionsTable.row($(this).closest('tr')).data()[1];
            var active = actionsTable.row($(this).closest('tr')).data()[2];
            var action_type = actionsTable.row($(this).closest('tr')).data()[6];

            var json_data = {
                "label": actionsTable.row($(this).closest('tr')).data()[8],
                "area": actionsTable.row($(this).closest('tr')).data()[10],
                "icon_id": actionsTable.row($(this).closest('tr')).data()[5],
                "icon_uri": actionsTable.row($(this).closest('tr')).data()[12],
                "params": actionsTable.row($(this).closest('tr')).data()[7]
            };

            var title = 'UPDATE ' + action_type + ' ACTION';
            var footer = '<button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="margin-bottom: 0;">DISMISS</button>' +
                '<button type="button" id="action-submit-btn" class="modal-confirm-btn btn btn-success btn-labeled" style="margin-bottom: 0;" data-row-id="' + row_id + '" data-action-id="' + action_id + '" data-action-active="' + active + '">' +
                'UPDATE ' + action_type + ' ACTION<span class="btn-label-right"><i class="glyphicon glyphicon-ok"></i></span></button>';
            var url = "<?php echo $this->basePath() ?>/action/" + action_type.toLowerCase() + "/modal/";

            showRemoteWithDataModal(title, footer, url, json_data, function () {
            }, function () {
            });
        });
        /* .../UPDATE CORRESPONDING ACTION */


        /* DELETE ACTION ROW */
        var $actionDelete = $('#content-actions .delete_icon');
        $actionDelete.unbind("click");
        $actionDelete.on('click', function () {
            var action_id = $(this).data('actionId');
            deleteAction(this, action_id);
        });
        /* .../DELETE ACTION ROW */

    }

    function deleteAction($id, action_id) {
        if (action_id !== "" && action_id !== null) {
            var $deletedActions = $('#deleted_actions');
            var delete_val = $deletedActions.val();
            $deletedActions.val(delete_val + "," + action_id);
        }
        $actionsTable.row($($id).parents('tr')).remove().draw();
    }

</script>