<?php $disabledFields = $form->getDisabledTabFields(); ?>

<script type="application/javascript">
    var _colorpickerSettings = {
        format: 'hex'
    };
</script>

<div class="tab-pane" id="content-gallery-tab">
    <?php echo $this->partial('gallery.phtml', array(
        'initialPreview' => $this->initialPreview,
        'initialPreviewConfig' => $this->initialPreviewConfig,
        'initialPreviewThumbTags' => $this->initialPreviewThumbTags,
        'maxFileSize' => $this->maxFileSize,
        'form' => $form,
        'addRemoteMediaForm' => $this->addRemoteMediaForm,
    )); ?>
</div>

<div class="tab-pane" id="content-layout-tab">
    <br/>
    <div class="row">
        <?php if (!in_array('page_size', $disabledFields)) { ?>
            <div class="col-lg-8 col-md-8 col-xs-8 selectpicker-error">
                <div class="form-group has-feedback">
                    <?php
                    echo $this->formLabel($form->get('page_size'));
                    echo $this->formElement($form->get('page_size'));
                    echo $this->hpFormElementErrors($form->get('page_size'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                </div>
            </div>
            <script type="application/javascript">
                $("#page_size").bootstrapSlider({
                    ticks: [0, 10, 20, 30, 40, 50],
                    ticks_snap_bounds: 20,
                    tooltip: 'always',
                    value: <?php echo $form->get('page_size')->getValue(); ?>
                });
            </script>
        <?php } ?>

        <?php if (!in_array('cell-type', $disabledFields)) {
            echo $this->partial('layout-tab.phtml', array('form' => $form));
        } ?>
    </div>
</div>

<div class="tab-pane fade" id="content-look-tab">
    <br/>
    <?php if (!in_array('look-tab', $disabledFields)) {
        echo $this->partial('look-tab.phtml', array('form' => $form, 'custom_theme' => $this->custom_theme));
    } ?>
</div>

<div class="tab-pane fade" id="content-option-tab">
    <br/>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <?php echo $this->partial('option-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields)); ?>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <?php echo $this->partial('content-actions.phtml', array('content_actions' => $this->content_actions)); ?>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header text-center">
                    <h4 class="box-title"><b>EXTRA PARAMS</b></h4>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row param-input-div">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-right-pad">
                            <div class="form-group has-feedback">
                                <?php
                                echo $this->formElement($form->get('param-key'));
                                echo $this->hpFormElementErrors($form->get('param-key'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 no-lateral-pad">
                            <div class="form-group has-feedback">
                                <?php
                                echo $this->formElement($form->get('param-value'));
                                echo $this->hpFormElementErrors($form->get('param-value'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                ?>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-left-pad">
                            <?php
                            echo $this->formElement($form->get('add-param'));
                            echo $this->hpFormElementErrors($form->get('add-param'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                    <div id="params-panel"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php
if ($this->appUrl !== null) {
    ?>
    <div class="tab-pane fade" id="content-qrcode-tab">
        <br/>
        <?php echo $this->partial('qrcode-tab.phtml', array('form' => $form, 'appUrl' => $this->appUrl, 'hashId' => $this->hashId)); ?>
        <div class="clearfix"></div>
    </div>
    <?php
} ?>

<script type="application/javascript">
    $(document).ready(function () {

        $(".switch-btn").bootstrapSwitch();

        var content_extra_param_counter = 1;

        /* CREATE OPTIONS > PARAM ROWS ON DETAILS */
        var ext_par_val = $('#extra-params').val();
        if (ext_par_val !== "") {
            var extra_params = JSON.parse(ext_par_val);
            if (extra_params.length > 0) {
                for (var i = 0; i < extra_params.length; i++) {
                    var html = createExtraParamRow(content_extra_param_counter, extra_params[i].key, extra_params[i].value);

                    $('#params-panel').prepend(html);
                    initParamInputOptions('#content', '#extra-params', content_extra_param_counter);
                    content_extra_param_counter++;
                }
            }
        }

        $('#add-param').on('click', function () {
            var param_key = $('#param-key');
            var param_value = $('#param-value');
            var param_key_val = param_key.val();
            var param_value_val = param_value.val();
            var content_id = '#content';
            var extra_params_hidden_id = '#extra-params';

            if ($.trim(param_key_val) !== "" && $.trim(param_value_val) !== "") {

                var html = createExtraParamRow(content_extra_param_counter, param_key_val, param_value_val);
                $('#params-panel').prepend(html);

                extraParamsAssign(content_id, extra_params_hidden_id);
                initParamInputOptions(content_id, extra_params_hidden_id, content_extra_param_counter);

                param_key.val('');
                param_value.val('');

                content_extra_param_counter++;
            }
        });

    });
</script>