<?php
/**
 * Created by PhpStorm.
 * User: mirco
 * Date: 08/07/16
 * Time: 11:23
 */

?>
    <style>
        #content #content-gallery-tab .fileinput-remove {
            display: none;
        }

        #content #content-gallery-tab .file-preview {
            border: none;
            padding: 0;
        }

        #content #content-gallery-tab .post-cover {
            padding: 7px;
            background: white;
            position: absolute;
            right: 0;
            top: 0;
        }

        #archive {
            position: relative;
            top: -60px;
            right: -21px;
        }
    </style>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 text-right" style="height: 0px;">
            <button name="archive" id="archive" class="btn btn-primary btn-flat" type="button">
                &nbsp;<i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;
                Add media...&nbsp;
            </button>
        </div>
    </div>
    <div class="row media-row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <input id="post-media" name="post-media" type="file" multiple class="file-loading" style="display: none;">
        </div>
    </div>

    <script>
        $(document).on('ready', function () {
            var _initialPreview = JSON.parse('<?php echo $this->initialPreview; ?>');
            var _initialPreviewConfig = JSON.parse('<?php echo $this->initialPreviewConfig; ?>');
            var _initialPreviewThumbTags = JSON.parse('<?php echo $this->initialPreviewThumbTags; ?>');
            var $input_post_file = $("#post-media");

            initGallery();

            $('#archive').click(function () {
                var title = "&nbsp;&nbsp;<span class='glyphicon glyphicon-folder-open'></span>&nbsp;&nbsp;APPLICATION ARCHIVE";
                var url = "<?php echo $this->basePath() ?>/media/archive/modal/?ids=" + $('#gallery_ids').val();
                showRemoteModal(title, "", url,
                    {
                        "onAddCallback": onAdd,
                    },
                    function () {
                    },
                    function () {
                        $input_post_file.fileinput('destroy');
                        initGallery();
                    }
                );
            });

            function onDelete(mediaId) {
                console.log("REMOVE: " + mediaId);
                console.log(_initialPreview, _initialPreviewConfig);
                var ids = "";
                var newPreview = [];
                var newConfig = [];

                for (var i = 0; i < _initialPreviewConfig.length; i++) {

                    var config = _initialPreviewConfig[i];
                    if (config.key != mediaId) {
                        newConfig.push(config);
                        newPreview.push(config.previewUrl);
                        if (ids == "") {
                            ids += config.key;
                        }
                        else {
                            ids += "," + config.key;
                        }
                    }
                }

                $('#gallery_ids').val(ids);

                _initialPreview = newPreview;
                _initialPreviewConfig = newConfig;
//            console.log(_initialPreview);
            }

            function onAdd(mediaId, previewUrl, previewTitle, previewSize, mediaType) {
                _initialPreview.push(previewUrl);
                _initialPreviewConfig.push({
                    caption: previewTitle, previewUrl: previewUrl,
                    size: previewSize, width: "120px", showZoom: false, key: mediaId,
                    frameAttr: {"mediaId": mediaId, "media_type": mediaType}
                });

                var $galleryId = $('#gallery_ids');
                var ids = $galleryId.val();

                if (ids == "") {
                    $galleryId.val(mediaId);
                } else {
                    $galleryId.val(ids + "," + mediaId);
                }
                $('.media-row .no-image').hide();

            }

            //initGallery();

            function initGallery() {
                var layout = '{preview} <div class="no-image">No image selected..</div> {remove}';
                if (_initialPreview.length !== 0) {
                    layout = '{preview} {remove} '
                }

                $input_post_file.fileinput({
                    layoutTemplates: {
                        main2: layout
                    },
                    maxFileSize: <?php echo $this->maxFileSize ?>,
                    previewTemplates: {
                        image: '<div class="krajee-default file-preview-frame file-preview-initial" id="{previewId}" data-fileindex="{fileindex}" data-template="{template}" style="min-height: 260px;">\n' +
                        '   <div class="post-cover">' +
                        '       <span id="cover_label_{fileindex}" class="cover_label label label-default" style="display: none; margin-right: 5px;">COVER&nbsp;</span>' +
                        '       <input type="radio" name="cover" id="is_cover_{fileindex}" class="cover_input" data-fileindex="{fileindex}" />' +
                        '   </div>' +
                        '   <div class="kv-file-content">' +
                        '       <img src="{data}" class="kv-preview-data file-preview-image" title="{caption}" alt="{caption}" style="width:{width};height:{height};" >\n' +
                        '   </div>\n' +
                        '   {footer}\n' +
                        '</div>\n'
                    },
                    showUpload: false, // hide upload button
                    showRemove: false, // hide remove button
                    showCaption: false,
                    initialPreview: _initialPreview,
                    initialPreviewConfig: _initialPreviewConfig,
                    initialPreviewAsData: true,
                    overwriteInitial: false,
                    allowedFileExtensions: ["jpg", "jpeg", "png"]
                });

                $input_post_file.on('filesorted', function (event, params) {
                    var newPreview = [];
                    var newConfig = [];
                    var ids = "";

                    for (var i = 0; i < params.stack.length; i++) {
                        if (ids === "") {
                            ids += params.stack[i].key;
                        } else {
                            ids += "," + params.stack[i].key;
                        }
                        newPreview.push(params.stack[i].previewUrl);
                        newConfig.push(params.stack[i]);
                    }

                    _initialPreview = newPreview;
                    _initialPreviewConfig = newConfig;

//                    console.log(ids, newPreview, newConfig);
                    $('#gallery_ids').val(ids);
                });

                $('.media-row .kv-file-remove').unbind('click').click(function () {
                    $(this).closest('.file-preview-frame').fadeOut();
                    onDelete($(this).attr('data-key'));
                });

                $('.post-cover input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                }).on('ifChecked', function (event) {
                    var id = $(this).attr('data-fileindex');
                    var mediaId = $(this).closest('.file-preview-frame').attr('mediaId');

                    $('.cover_label').hide();
                    $('#cover_label_' + id).show();
                    $('#cover_id').val(mediaId);
                });

                var coverId = $('#cover_id').val();
                if (coverId != "") {
                    $('.cover_label').hide();
                    $('#cover_label_' + coverId).show();
                    $('div.file-preview-frame[mediaId=' + coverId + '] .cover_input').iCheck('check');
                }

                // Hide post-cover radio button if remote content
                for (var k in _initialPreviewConfig) {
                    if (_initialPreviewConfig.hasOwnProperty(k)) {
                        if (_initialPreviewConfig[k].frameAttr.media_type !== undefined) {
                            var remoteMedia =<?php echo json_encode(\Application\Model\MediaModel::$remoteMedia);?>;
                            var foundRemote = $.inArray(_initialPreviewConfig[k].frameAttr.media_type.toUpperCase(), remoteMedia) > -1;
                            if (foundRemote) {
                                var $postCover = $("div.file-preview-frame[mediaid='" + _initialPreviewConfig[k].frameAttr.mediaId + "'] .post-cover");
                                $postCover.css("z-index", -1);
                            }
                        }

                    }
                }
            }
        });
    </script>

<?php
echo $this->partial('/modal/dlg-remote-media.phtml', array('addRemoteMediaForm' => $this->addRemoteMediaForm));
?>