
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group has-feedback selectgrid-error col-lg-12 col-md-12 col-xs-12">
            <?php
            echo $this->formElement($form->get('cell-type'));
            echo $this->hpFormElementErrors($form->get('cell-type'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
            ?>
        </div>
    </div>
</div>



<script>
$(document).ready(function() {

    $('#cell-type').selectGrid();

    $('#app-look-tab-link, #content-look-tab-link, #section-look-tab-link, #next').on('click', function() {   //////////////////////////////   /* da fare con ajax quando avremo gli HTML */
        var layout = $('#data-grid-1 .selected').attr('src');
        var layout_name = $('#data-grid-1 .selected').attr('data-grid-val');

        if (layout !== "") {
            $("#chosen-layout-container").show();
        } else {
            $("#chosen-layout-container").hide();
        }

        $('#chosen-layout').attr('src', layout);
        $('#layout').attr('value', layout_name);
    });
});
</script>