<style>
    td.clickable {
        cursor: pointer;
    }

    .recol-layout {
        margin-bottom: 10px;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #ffffff;
    }

    .adv-layout-title {
        border-bottom: 1px solid #f4f4f4;
        margin-bottom: 10px;
    }

    .dataTables_wrapper {
        top: -10px;
    }

    .color-resize .input-group-addon:last-child {
        border-left: 1px solid #ccc;
        padding: 0 0;
        display: inherit;
    }

    #to-base-layout,
    #to-advanced-layout {
        margin-bottom: 15px;
    }

    #app-look-tab .color-resize i,
    #content-look-tab .color-resize i,
    #section-look-tab .color-resize i {
        height: 35px;
        width: 35px;
    }

    table.dataTable.no-footer {
        border-bottom: 1px solid #f4f4f4;
    }

    .fa-check-circle {
        margin-top: 20px;
    }

    .heightResize {
        height: 518px;
    }

</style>

<div class="row">
    <div id="chosen-layout-container" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display: none;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-body"
                     style="height: 518px; max-width: 300px; margin-left: auto; margin-right: auto;">
                    <img id="chosen-layout" src="#" style="width: 100%; height: 100%;">
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="box">
            <div id="look-feel" class="box-header with-border no-bottom-pad">
                <div class="advanced-layout adv-layout-title col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden no-right-pad">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                        <h4><b>ADVANCED LAYOUT</b></h4>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right no-right-pad">
                        <span id="to-base-layout" class="btn btn-default"><i class="fa fa-caret-up"
                                                                             aria-hidden="true"></i></span>
                    </div>
                </div>

                <div class="recol-layout-expand col-lg-10 col-md-10 col-sm-10 col-xs-10 no-lateral-pad">
                    <div style="display: none">
                        <div class="advanced-layout col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden"
                             style="margin-top: 20px;">
                            <?php
                            echo $this->formLabel($form->get('primary_font'));
                            echo $this->formElement($form->get('primary_font'));
                            echo $this->hpFormElementErrors($form->get('primary_font'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                        </div>
                        <div class="advanced-layout col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden"
                             style="margin-top: 20px;">
                            <?php
                            echo $this->formLabel($form->get('secondary_font'));
                            echo $this->formElement($form->get('secondary_font'));
                            echo $this->hpFormElementErrors($form->get('secondary_font'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                        </div>

                        <div class="advanced-layout col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden"
                             style="margin-bottom: 30px;">
                            <?php
                            echo $this->formLabel($form->get('primary_font_size'));
                            echo $this->formElement($form->get('primary_font_size'));
                            echo $this->hpFormElementErrors($form->get('primary_font_size'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                        </div>

                        <div class="advanced-layout col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden"
                             style="margin-bottom: 30px;">
                            <?php
                            echo $this->formLabel($form->get('secondary_font_size'));
                            echo $this->formElement($form->get('secondary_font_size'));
                            echo $this->hpFormElementErrors($form->get('secondary_font_size'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                        </div>
                    </div>

                    <div class="recol-layout col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="advanced-layout hidden"><?php echo $this->formLabel($form->get('global_bg')); ?></div>
                        <div id="cp-global_bg" class="input-group colorpicker-component color-resize">
                            <?php
                            echo $this->formElement($form->get('global_bg'));
                            echo $this->hpFormElementErrors($form->get('global_bg'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                    <div class="recol-layout col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="advanced-layout hidden"><?php echo $this->formLabel($form->get('accent_bg')); ?></div>
                        <div id="cp-accent_bg" class="input-group colorpicker-component color-resize">
                            <?php
                            echo $this->formElement($form->get('accent_bg'));
                            echo $this->hpFormElementErrors($form->get('accent_bg'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                    <div class="recol-layout col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="advanced-layout hidden"><?php echo $this->formLabel($form->get('primary_bg')); ?></div>
                        <div id="cp-primary_bg" class="input-group colorpicker-component color-resize">
                            <?php
                            echo $this->formElement($form->get('primary_bg'));
                            echo $this->hpFormElementErrors($form->get('primary_bg'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                    <div class="recol-layout col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="advanced-layout hidden"><?php echo $this->formLabel($form->get('secondary_bg')); ?></div>
                        <div id="cp-secondary_bg" class="input-group colorpicker-component color-resize">
                            <?php
                            echo $this->formElement($form->get('secondary_bg'));
                            echo $this->hpFormElementErrors($form->get('secondary_bg'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                    <div class="recol-layout col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="advanced-layout hidden"><?php echo $this->formLabel($form->get('light_txt')); ?></div>
                        <div id="cp-light_txt" class="input-group colorpicker-component color-resize">
                            <?php
                            echo $this->formElement($form->get('light_txt'));
                            echo $this->hpFormElementErrors($form->get('light_txt'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                    <div class="recol-layout col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="advanced-layout hidden"><?php echo $this->formLabel($form->get('dark_txt')); ?></div>
                        <div id="cp-dark_txt" class="input-group colorpicker-component color-resize">
                            <?php
                            echo $this->formElement($form->get('dark_txt'));
                            echo $this->hpFormElementErrors($form->get('dark_txt'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                </div>

                <div class="base-layout col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right no-lateral-pad">
                    <span id="to-advanced-layout" class="btn btn-default"><i class="fa fa-caret-down"
                                                                             aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="box-body palette-body">
                <table id="paletteDataTable" class="table table-striped table-bordered" cellspacing="0"
                       width="100%">
                    <thead class="hidden">
                    <tr>
                        <th><!--Palette 1--></th>
                        <th><!--Palette 2--></th>
                        <th><!--Palette 3--></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        var $paletteTable = $('#paletteDataTable');
        $paletteTable.DataTable({
            "processing": true,
            "serverSide": true,
            "searching": false,
            "language": {
                "emptyTable": "",
                "info": "",
                "lengthMenu": "",
                "infoEmpty": "",
                "infoFiltered": "",
                "search": '',
                "zeroRecords": "",
                "loadingRecords": "Loading...",
                "processing": "Processing...",
                "paginate": {
                    "first": "<<",
                    "last": ">>",
                    "next": ">",
                    "previous": "<"
                }
            },
            "lengthMenu": [9], //3*shownCol
            "ajax": '<?php echo $this->basePath(); ?>/ajax/palette/list/',
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "width": "33%",
                    "class": "clickable",
                    "render": function (data, type, row) {
                        return createPaletteView(data);
                    }
                },
                {
                    "targets": 1,
                    "searchable": false,
                    "orderable": false,
                    "width": "33%",
                    "class": "clickable",
                    "render": function (data, type, row) {
                        return createPaletteView(data);
                    }
                },
                {
                    "targets": 2,
                    "searchable": false,
                    "orderable": false,
                    "width": "33%",
                    "class": "clickable",
                    "render": function (data, type, row) {
                        return createPaletteView(data);
                    }
                }
            ]
        });

        function createPaletteView(data) {
            var res = '<div class="text-center" data-id="' + data.id + '" style="margin: auto; width: 100px; height: 100px; background: url(\'<?php echo $this->basePath(); ?>/img/template/' + data.title + '.jpg\'); background-size: 100px 100px; background-repeat: no-repeat;"></div>';
            if (data.icon !== "" && data.icon !== null) {
                res = '<div class="text-center" data-id="' + data.id + '" style="margin: auto; width: 100px; height: 100px; background: url(\'<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getTemplateIconUrl(); ?>' + data.icon + '\'); background-size: 100px 100px; background-repeat: no-repeat;"></div>';
            } else if (data === "") {
                res = "";
            }

            return res;
        }

        var _colorpickerSettings = {format: 'hex'};
        $('#cp-global_bg').colorpicker(_colorpickerSettings);
        $('#cp-accent_bg').colorpicker(_colorpickerSettings);
        $('#cp-primary_bg').colorpicker(_colorpickerSettings);
        $('#cp-secondary_bg').colorpicker(_colorpickerSettings);
        $('#cp-light_txt').colorpicker(_colorpickerSettings);
        $('#cp-dark_txt').colorpicker(_colorpickerSettings);

        $paletteTable.DataTable().on('click', 'td.clickable', function () {
            $('td.clickable').find('.fa-check-circle').remove('i');
            $(this).find('div').append('<i class="fa fa-check-circle fa-4x text-success" aria-hidden="true"></i>');
            var id = $(this).find('div').attr('data-id');
            $('#template_id').attr('value', id);

            getThemePalette(id);
        });

        var layoutFormFirstDraw = true;
        var enabledChangeColor = false;
        $paletteTable.DataTable().on('draw', function () {
            var template_id = $('#template_id').attr('value');
            if (template_id == false) {
                template_id = 1;
            }

            $('td.clickable').find("[data-id='" + template_id + "']").append('<i class="fa fa-check-circle fa-4x text-success" aria-hidden="true""></i>');

            if (layoutFormFirstDraw) {
                getThemePalette(template_id);
                layoutFormFirstDraw = false;
            }
        });

        var custom_theme = '<?php echo $this->custom_theme; ?>';
        var custom = JSON.parse(custom_theme);

        function getThemePalette(id) {
            if (id != 1) {
                $.get("<?php echo $this->basePath(); ?>/ajax/palette/" + id + "/theme/", function (data) {
                    initColorPickerDefault(data);
                });
            } else {
                initColorPickerDefault(custom);
            }
        }

        $('#global_bg, #accent_bg, #primary_bg, #secondary_bg, #light_txt, #dark_txt, #primary_font, #secondary_font').on('change', function () {
            $('#template_id').attr('value', 1);
            var page = $paletteTable.DataTable().page();
            if (page != 0) {
                $paletteTable.DataTable().page(0).draw(true);
            }
            $('td.clickable').find('.fa-check-circle').remove('i');
            $('td.clickable').find("[data-id=1]").append('<i class="fa fa-check-circle fa-4x text-success" aria-hidden="true""></i>');
            setCustomTheme(custom);
        });
        var $cp = $('#cp-global_bg, #cp-accent_bg, #cp-primary_bg, #cp-secondary_bg, #cp-light_txt, #cp-dark_txt');

        $cp.on('showPicker', function () {
            enabledChangeColor = true;
        });

        $cp.on('changeColor', function () {
            if (enabledChangeColor) {
                $('#template_id').attr('value', 1);
                var page = $paletteTable.DataTable().page();
                if (page != 0) {
                    $paletteTable.DataTable().page(0).draw(true);
                }
                $('td.clickable').find('.fa-check-circle').remove('i');
                $('td.clickable').find("[data-id=1]").append('<i class="fa fa-check-circle fa-4x text-success" aria-hidden="true""></i>');
                setCustomTheme(custom);
            }
        });

        $cp.on('hidePicker', function () {
            enabledChangeColor = false;
        });

        $('#to-advanced-layout').on('click', function () {
            var $lookFeel = $('#look-feel');

            $lookFeel.find('.recol-layout').removeClass('col-lg-2 col-md-2 col-sm-2 col-xs-4').addClass('col-lg-6 col-md-6 col-sm-6 col-xs-6');
            $lookFeel.find('.recol-layout-expand').removeClass('col-lg-10 col-md-10 col-sm-10 col-xs-10').addClass('col-lg-12 col-md-12 col-sm-12 col-xs-12');
            $lookFeel.find('.colorpicker-component').removeClass('color-resize');
            $lookFeel.siblings('.palette-body').addClass('hidden');
            $lookFeel.find('.base-layout').addClass('hidden');
            $lookFeel.find('.advanced-layout').removeClass('hidden');
            $lookFeel.addClass('heightResize');
        });

        $('#to-base-layout').on('click', function () {
            var $lookFeel = $('#look-feel');

            $lookFeel.find('.recol-layout').removeClass('col-lg-6 col-md-6 col-sm-6 col-xs-6').addClass('col-lg-2 col-md-2 col-sm-2 col-xs-4');
            $lookFeel.find('.recol-layout-expand').removeClass('col-lg-12 col-md-12 col-sm-12 col-xs-12').addClass('col-lg-10 col-md-10 col-sm-10 col-xs-10');
            $lookFeel.find('.colorpicker-component').addClass('color-resize');
            $lookFeel.siblings('.palette-body').removeClass('hidden');
            $lookFeel.find('.advanced-layout').addClass('hidden');
            $lookFeel.find('.base-layout').removeClass('hidden');
            $lookFeel.removeClass('heightResize');
        });


    });
</script>