<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group has-feedback col-lg-12 col-md-12 col-sm-12 col-xs-12 input-error">
            <?php
            echo $this->formElement($this->form->get('title'));
            echo $this->hpFormElementErrors($this->form->get('title'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
            ?>
            <span class="glyphicon glyphicon-header form-control-feedback" style="right: 15px"></span>
        </div>

        <div class="form-group has-feedback col-lg-12 col-md-12 col-sm-12 col-xs-12 selectpicker-error">
            <?php
            echo $this->formElement($this->form->get('category'));
            echo $this->hpFormElementErrors($this->form->get('category'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
            ?>
        </div>

        <div class="form-group has-feedback col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-error">
            <div class="input-group-addon"><code><?php echo $this->bundle_root; ?></code></div>
            <?php
            echo $this->formElement($this->form->get('bundle'));
            echo $this->hpFormElementErrors($this->form->get('bundle'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
            ?>
            <span class="glyphicon glyphicon-registration-mark form-control-feedback" style="right: 15px"></span>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group has-feedback col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <?php
            echo $this->formElement($this->form->get('description'));
            echo $this->hpFormElementErrors($this->form->get('description'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
            ?>
        </div>
    </div>
</div>