<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="min-width: 325px">
        <div class="box">
            <div class="box-header text-center">
                <h4><?php echo strtoupper($this->formLabel($this->form->get('upload-icon'))); ?></h4>
            </div>
            <div class="box-body">
                <div class="form-group has-feedback uploader upload-icon">
                    <?php
                    echo $this->formFile($this->form->get('upload-icon'));
                    echo $this->hpFormElementErrors($this->form->get('upload-icon'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                    ?>
                </div>
            </div>
        </div><!-- .box -->

        <div class="box">
            <div class="box-header text-center">
                <h4><?php echo strtoupper($this->formLabel($this->form->get('upload-app-logo'))); ?></h4>
                <p>This image is used to generate the splash screen automatically and inside header application if configured in settings.</p>
            </div>
            <div class="box-body">
                <div class="form-group has-feedback uploader upload-app-logo" style="min-height: 240px">
                    <?php
                    echo $this->formFile($this->form->get('upload-app-logo'));
                    echo $this->hpFormElementErrors($this->form->get('upload-app-logo'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                    ?>
                </div>
            </div>
        </div><!-- .box -->
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="box">
            <div class="box-header text-center">
                <h4><?php echo strtoupper($this->formLabel($this->form->get('upload-splash'))); ?></h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="recol-layout col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="advanced-layout"><?php echo $this->formLabel($form->get('splash-bg')); ?></div>
                        <div id="cp-splash_bg" class="input-group colorpicker-component colorpicker-element"
                             style="margin: 0 auto;width: 270px;">
                            <?php
                            echo $this->formElement($form->get('splash-bg'));
                            echo $this->hpFormElementErrors($form->get('splash-bg'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="advanced-layout"><?php echo $this->formLabel($form->get('upload-splash')); ?></div>
                        <div class="form-group has-feedback uploader upload-splash">
                            <?php
                            echo $this->formFile($this->form->get('upload-splash'));
                            echo $this->hpFormElementErrors($this->form->get('upload-splash'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                </div>
            </div>
            <?php
            echo $this->formElement($this->form->get('get-splash-screen-image'));
            echo $this->hpFormElementErrors($this->form->get('get-splash-screen-image'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
            ?>
        </div><!-- .box -->
    </div>
</div>

<script>
    var extraIconsNameArray = {};
</script>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header text-center">
                <h4><b>GENERAL ICONS</b></h4>
            </div>
            <div class="box-body">
                <?php foreach ($this->extraAppIcons as $icon) {
                    if ($icon['type'] === "GENERAL") {
                        ?>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div style="margin-left: 5px; text-align: center;"><?php echo $this->formLabel($this->form->get('upload-' . $icon['value'])); ?></div>
                            <div class="form-group has-feedback extra_uploader extra_icon_uploader">
                                <?php
                                echo $this->formElement($this->form->get('upload-' . $icon['value']));
                                echo $this->hpFormElementErrors($this->form->get('upload-' . $icon['value']), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                        </div>

                        <script>
                            var extraIconName = "<?php echo $icon['value']; ?>";
                            extraIconsNameArray[extraIconName] = true;
                        </script>
                    <?php }
                }
                ?>
            </div>
        </div><!-- .box -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header text-center">
                <h4><b>REMOTE MEDIA ICONS</b></h4>
            </div>
            <div class="box-body">
                <?php foreach ($this->extraAppIcons as $icon) {
                    if ($icon['type'] === "REMOTE") {
                        ?>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div style="margin-left: 5px; text-align: center;"><?php echo $this->formLabel($this->form->get('upload-' . $icon['value'])); ?></div>
                            <div class="form-group has-feedback extra_uploader extra_icon_uploader">
                                <?php
                                echo $this->formElement($this->form->get('upload-' . $icon['value']));
                                echo $this->hpFormElementErrors($this->form->get('upload-' . $icon['value']), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                        </div>

                        <script>
                            var extraIconName = "<?php echo $icon['value']; ?>";
                            extraIconsNameArray[extraIconName] = true;
                        </script>
                    <?php }
                }
                ?>
            </div>
        </div><!-- .box -->
    </div>
</div>

<script>
    $(document).ready(function () {
        // INIT Color picker
        var $cpSplashBG = $('#cp-splash_bg');
        var _colorpickerSettings = {format: 'hex'};

        $cpSplashBG.colorpicker(_colorpickerSettings);
        $cpSplashBG.on('showPicker', function () {
            enabledChangeColor = true;
        });

        // INIT Drag & Drop elements
        var dropTextIcon = "Drag & drop your icon here...";
        var dropTextAppLogo = "Drag & drop your logo here...";
        var dropTextSplash = "Drag & drop your splash screen here...";
        var dropTextExtraIcon = '<i class="fa fa-plus fa-3x" aria-hidden="true" style="margin-top: 5px; color: #aaa;"></i>';

        var baseUrlIcon = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getAppIconUrl(); ?>";
        var baseUrlSplash = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getAppSplashUrl(); ?>";
        var baseUrlAppLogo = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getAppLogoUrl(); ?>";

        var uploadUrlIcon = "<?php echo $this->basePath(); ?>/media/app/icon";
        var uploadUrlSplash = "<?php echo $this->basePath(); ?>/media/app/splash";
        var uploadUrlAppLogo = "<?php echo $this->basePath(); ?>/media/app/logo";
        var baseUrlExtraIcon = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getAppSystemIconUrl(); ?>";

        var uploadIconSuccess = true;
        var uploadSplashSuccess = true;
        var uploadLogoSuccess = true;

        initAsyncUploader("#upload-icon", "#icon", dropTextIcon, baseUrlIcon, uploadUrlIcon, '#save', function () {
            uploadIconSuccess = true;
            trySubmitAfterUpload();
        }, function () {
            uploadIconSuccess = false;
        }, <?php echo $this->maxFileSize; ?>);

        initAsyncUploader("#upload-app-logo", "#app-logo", dropTextAppLogo, baseUrlAppLogo, uploadUrlAppLogo, '#save', function () {
            uploadLogoSuccess = true;
            trySubmitAfterUpload();
        }, function () {
            uploadLogoSuccess = false;
        }, <?php echo $this->maxFileSize; ?>);

        initAsyncUploader("#upload-splash", "#splash", dropTextSplash, baseUrlSplash, uploadUrlSplash, '#save', function () {
            uploadSplashSuccess = true;
            trySubmitAfterUpload();
        }, function () {
            uploadSplashSuccess = false;
        }, <?php echo $this->maxFileSize; ?>);

        $.each(extraIconsNameArray, function (index, value) {
            var uploadUrlExtraIcon = "<?php echo $this->basePath(); ?>/media/app/system/icon/" + index;
            initAppExtraIconsUploader("#upload-" + index, index, dropTextExtraIcon, baseUrlExtraIcon, uploadUrlExtraIcon, '#save',
                function (idx) {
                    extraIconsNameArray[idx] = true;
                    trySubmitAfterUpload(extraIconsNameArray);
                },
                function (idx) {
                    extraIconsNameArray[idx] = false;
                });
        });

        /* CHECK IMAGE UPLOADED AND CASCADE CHANGE COLORS */
        function trySubmitAfterUpload(extraIconsArray) {
            var checkIcons = checkEachSystemIcon(extraIconsArray);
            if (uploadIconSuccess && uploadSplashSuccess && uploadLogoSuccess && checkIcons) {
                checkLayout();
            }
        }

        function checkEachSystemIcon(extraIconsArray) {
            for (var ien in extraIconsArray) {
                if (extraIconsArray[ien] === false) {
                    return false;
                }
            }

            return true;
        }

        function checkLayout() {          ////////////////////////////////////////////////////////////////////// TO FIX CASCADE CHANGE COLORS
//        var app_id = '<?php //if ($this->app_id) { echo $this->app_id; } else { echo '0'; } ?>//';
//        var template_id = $('#template_id').attr('value');
//        var old_layout  = $('#old_layout').attr('value');
//        var new_layout  = $('#new_layout').attr('value');
//        if (app_id != 0 && new_layout != "" && old_layout != new_layout) {
//            $('#updateSectionLayoutsOverall .modal-confirm-btn').attr('template_id', template_id);
//            $('#updateContentLayoutsOverall .modal-confirm-btn').attr('template_id', template_id);
//            $('#updateSectionLayoutsOverall .modal-confirm-btn').attr('old_layout', old_layout);
//            $('#updateContentLayoutsOverall .modal-confirm-btn').attr('old_layout', old_layout);
//            $('#updateSectionLayoutsOverall .modal-confirm-btn').attr('new_layout', new_layout);
//            $('#updateContentLayoutsOverall .modal-confirm-btn').attr('new_layout', new_layout);
//            $('#updateSectionLayoutsOverall').modal();
//        } else {
            $('#app').submit();
//        }
        }

        $('#get-splash-screen-image').click(function () {
            var $this = $(this);
            var $appForm = $("form#app");

            var splashNameFile = $appForm.find("#splash").val();
            var logoNameFile = $appForm.find("#app-logo").val();

            if (splashNameFile !== "" && logoNameFile !== "") {
                var bg_color = $appForm.find("#splash-bg").val();
                var img_resources = [
                    baseUrlSplash + splashNameFile,
                    baseUrlAppLogo + logoNameFile
                ];
                var img_size = {
                    "width": <?php echo \Common\Helper\ImageHelper::SPLASH_WIDTH_SIZE; ?>,
                    "height": <?php echo \Common\Helper\ImageHelper::SPLASH_HEIGHT_SIZE; ?>
                };

                $this.html($this.html() + '&nbsp;&nbsp;<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>');

                $.ajax({
                    url: "<?php echo $this->basePath(); ?>/ajax/image/get-composite-image/",
                    type: 'post',
                    data: {"resources": img_resources, "bg_color": bg_color, "img_size": img_size},
                    dataType: "native",
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (blob) {
                        $this.html('<?php echo $this->form->get('get-splash-screen-image')->getOption('label'); ?>');
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = "splash_screen.jpg";
                        link.click();
                    }
                });
            } else {
                alert("Add Splash screen and Logo.");
            }
        });
    });
</script>