<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group has-feedback input-error">
            <span style="margin-right: 10px;"><?php echo $this->formLabel($this->form->get('main-language')); ?></span>
            <?php
            echo $this->formElement($this->form->get('main-language'));
            echo $this->hpFormElementErrors($this->form->get('main-language'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
            ?>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group has-feedback input-error">
            <span style="margin-right: 10px;"><?php echo $this->formLabel($this->form->get('other-language')); ?></span>
            <?php
            echo $this->formElement($this->form->get('other-language'));
            echo $this->hpFormElementErrors($this->form->get('other-language'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
            ?>
        </div>
    </div>
</div>