<style>
    label[for=filter],
    label[for=share],
    label[for=like] {
        display: inline-block;
        width: 110px;
    }

    #connector-choice {
        margin-bottom: 20px;
    }

    #connector-choice .active {
        color: white;
        background-color: #3c8dbc;
        border-color: #367fa9
    }

    .select_disabled {
        background-color: #d7d7d7;
        border: 1px solid #c5c5c5;
    }

    .hp_error_tooltip_connector_validator {
        top: -100px;
        /*left: -16px;*/
        float: right;
        position: relative;
    }
</style>

<div class="row">
    <?php if (!in_array('auth', $this->disabledFields)) { ?>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header text-center">
                    <h4><b><?php echo $this->formLabel($form->get('auth')); ?></b></h4>
                </div>
                <div class="box-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group has-feedback login_radio">
                            <?php
                            echo $this->formElement($form->get('auth'));
                            echo $this->hpFormElementErrors($form->get('auth'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                        </div>
                        <div class="well">
                            <dl>
                                <dt>OPTIONAL</dt>
                                <dd>Authentication not required.</dd>
                                <br/>
                                <dt>POPUP</dt>
                                <dd>Authentication automatically shown, but optional.</dd>
                                <br/>
                                <dt>MANDATORY</dt>
                                <dd>Authentication automatically shown and required.</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div><!-- .box -->
        </div>
    <?php }

    if (!in_array('connector', $this->disabledFields)) { ?>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header text-center">
                    <h4><b>CONNECTOR</b></h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group has-feedback">
                            <div id="connector-choice" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="btn-group" data-toggle="buttons">
                                    <?php
                                    echo $this->formElement($form->get('connector'));
                                    echo $this->hpFormElementErrors($form->get('connector'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group has-feedback">
                                    <?php
                                    echo $this->formElement($form->get('provider'));
                                    echo $this->hpFormElementErrors($form->get('provider'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group has-feedback">
                                <?php
                                echo $this->formElement($form->get('connector_base_url'));
                                echo $this->hpFormElementErrors($form->get('connector_base_url'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                ?>
                            </div>
                        </div>
                    </div>
                    <?php
                    echo $this->formElement($form->get('connector_validator'));
                    echo $this->hpFormElementErrors($form->get('connector_validator'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                </div>
            </div>
        </div>
    <?php } ?>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header text-center">
                <h4><b>OPTIONS</b></h4>
            </div>
            <div class="box-body">
                <div class="row text-left">

                    <?php if (!in_array('share', $this->disabledFields)) { ?>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formLabel($form->get('share')); ?>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formElement($form->get('share')); ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <?php echo $this->hpFormElementErrors($form->get('share'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>

                    <?php if (!in_array('like', $this->disabledFields)) { ?>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formLabel($form->get('like')); ?>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formElement($form->get('like')); ?>
                                    </div>
                                </div>
                                <?php
                                if (get_class($form) === \Form\Section\Favourite\FavouriteSectionForm::class) {
                                    ?>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <small><?php echo "With remote connector this button will be ignored"; ?></small>
                                        </div>
                                    </div>
                                    <?php
                                }
                                ?>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <?php echo $this->hpFormElementErrors($form->get('like'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>

                    <?php if (!in_array('paged', $this->disabledFields)) { ?>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formLabel($form->get('paged')); ?>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formElement($form->get('paged')); ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <?php echo $this->hpFormElementErrors($form->get('paged'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>

                    <?php if (!in_array('open_in_app', $this->disabledFields)) { ?>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formLabel($form->get('open_in_app')); ?>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formElement($form->get('open_in_app')); ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <?php echo $this->hpFormElementErrors($form->get('open_in_app'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>

                    <?php if (!in_array('autoplay', $this->disabledFields)) { ?>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formLabel($form->get('autoplay')); ?>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formElement($form->get('autoplay')); ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <?php echo $this->hpFormElementErrors($form->get('autoplay'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>

                    <?php if (!in_array('streaming', $this->disabledFields)) { ?>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formLabel($form->get('streaming')); ?>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formElement($form->get('streaming')); ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <?php echo $this->hpFormElementErrors($form->get('streaming'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>

                    <?php if (!in_array('filter', $this->disabledFields)) { ?>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group has-feedback">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formLabel($form->get('filter')); ?>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <?php echo $this->formElement($form->get('filter')); ?>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <?php echo $this->hpFormElementErrors($form->get('filter'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var con_selected = $("#connector-choice .btn input[name=connector]:checked").val();
        initConnectorInputs(con_selected);

        $("#connector-choice .btn input[name=connector]:checked")
            .prop('checked', true)
            .closest('label')
            .removeClass('active')
            .removeClass('btn-default')
            .addClass('btn-primary');

        $("#connector-choice .btn input[name=connector]").on('change', function () {
            var con_selected = $(this).val();
            initConnectorInputs(con_selected);

            $("#connector-choice .btn input[name=connector]")
                .closest('label')
                .removeClass('active')
                .removeClass('btn-primary')
                .addClass('btn-default');

            $("#connector-choice .btn input[name=connector]:checked")
                .prop('checked', true)
                .closest('label')
                .removeClass('active')
                .removeClass('btn-default')
                .addClass('btn-primary');
        });

        function initConnectorInputs(con_selected) {
            switch (con_selected) {
                case "HUB":
                    $('#provider').prop("disabled", true).selectpicker('refresh').selectpicker('setStyle', 'select_disabled').selectpicker('deselectAll');
                    $('#connector_base_url').prop("disabled", true).val('');
                    setConnectorValidatorValue();
                    break;
                case "REMOTE":
                    $('#provider').prop("disabled", false).selectpicker('refresh').selectpicker('setStyle', 'select_disabled', 'remove');
                    $('#connector_base_url').prop("disabled", false);
                    setConnectorValidatorValue();
                    break;
            }
        }

        $('#provider').on('changed.bs.select', function () {
            setConnectorValidatorValue();
        });

        $('#connector_base_url').on('change', function () {
            setConnectorValidatorValue();
        });

        function setConnectorValidatorValue() {
            var choice_validate = $("#connector-choice .btn input[name=connector]:checked").val();
            var provider_validate = $('#provider').val();
            var baseurl_validate = $('#connector_base_url').val();

            var connector_validate = JSON.stringify({
                choice: choice_validate,
                provider: provider_validate,
                baseurl: baseurl_validate
            });

            $('#connector_validator').val(connector_validate);
        }

    });
</script>
