<style>
    .dl-horizontal dd {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #dedede;
    }
</style>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        <dl class="dl-horizontal">
            <dt>Hash ID</dt>
            <dd><?php echo $this->hashId; ?></dd>
            <dt>Valida APP Url</dt>
            <dd><a href="<?php echo $this->appUrl; ?>"><?php echo $this->appUrl; ?></a></dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3" style="text-align: center;">
        <img height="400" width="400"
             src="https://chart.googleapis.com/chart?chs=400x400&amp;cht=qr&amp;chl=<?php echo $this->appUrl; ?>&amp;choe=UTF-8">
        <div class="caption"></div>
    </div>
</div>