<div style="text-align: center;">
    <div class="form-group has-feedback uploader upload-icon" style="display: inline-block;">
        <?php
        echo $this->formElement($this->form->get('upload-icon'));
        echo $this->hpFormElementErrors($this->form->get('upload-icon'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
        ?>
    </div>
</div>
<div class="form-group has-feedback input-error">
    <?php
    echo $this->formElement($this->form->get('title'));
//    echo $this->formElementErrors($this->form->get('title'));
    echo $this->hpFormElementErrors($this->form->get('title'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
    ?>
    <span class="glyphicon glyphicon-header form-control-feedback"></span>
</div>

<div class="form-group has-feedback selectpicker-error">
    <?php
    echo $this->formElement($this->form->get('area'));
    echo $this->hpFormElementErrors($this->form->get('area'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
    ?>
</div>

<div class="form-group has-feedback input-error">
    <?php
    echo $this->formTextarea($this->form->get('description'));
    echo $this->hpFormElementErrors($this->form->get('description'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
    ?>
</div>

<div class="form-group has-feedback selectpicker-error">
    <?php
    echo $this->formElement($this->form->get('user_tags'));
    echo $this->hpFormElementErrors($this->form->get('user_tags'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
    ?>
</div>

<script type="text/javascript">
    var saveButtonId = "#save";
    var uploadSectionIconSuccess = true;
    var uploadAddIconSuccess = true;
    var uploadEditIconSuccess = true;

    $(document).ready(function () {
        /* SYNC IMAGE UPLOAD */
        var baseUrl = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getCoverIconThumbUrl(); ?>";
        var dropText = "Drag & drop icon here...";
        var uploadUrl = "<?php echo $this->basePath(); ?>/media/section/icon";

        initAsyncUploaderId("#upload-icon", "#section_icon_id", "#section_icon_name", dropText, baseUrl, uploadUrl, saveButtonId, function () {
            <?php
            switch ($this->form->getType()) {
            case "CUSTOM_FORM":
            ?>
            var $formType = $('#form_type');
            populateHiddenCustomFormsDetailsJson();
            setLinksValidatorValue($formType.selectpicker('val'));
            <?php
            break;
            case "INFO":
            ?>
            $('.address-field').prop('disabled', false);
            <?php
            break;
            case "RSS";
            ?>
            populateCustomCssAndJS();
            <?php
            break;
            }
            ?>
            uploadSectionIconSuccess = true;
            trySubmitAfterIconsSectionUpload();
        }, function () {
            uploadSectionIconSuccess = false;
        }, <?php echo $this->maxFileSize; ?>);
        /* .../SYNC IMAGE UPLOAD */
    });

    /* CHECK IMAGE UPLOADED  */
    function trySubmitAfterIconsSectionUpload() {
        if (uploadSectionIconSuccess && uploadAddIconSuccess && uploadEditIconSuccess) {
            var $section = $('#section');
            $section.find("#reload").val(0);

            var $save_button = $(saveButtonId);
            $save_button.find("#save_button_icon")
                .removeClass('glyphicon')
                .removeClass('glyphicon-ok')
                .addClass('fa fa-spinner fa-spin');
            $save_button.prop('disabled', true);
            $section.submit();
        }
    }
</script>