<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
        <div class="box">
            <div class="box-header text-center">
                <h4><b><?php echo $this->formLabel($this->form->get('auth')); ?></b></h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group has-feedback login_radio">
                            <?php
                            echo $this->formElement($this->form->get('auth'));
                            echo $this->hpFormElementErrors($this->form->get('auth'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                        </div>
                        <div class="well">
                            <dl>
                                <dt>OPTIONAL</dt>
                                <dd>Authentication not required.</dd>
                                <dt>POPUP</dt>
                                <dd>Authentication automatically shown, but optional.</dd>
                                <dt>MANDATORY</dt>
                                <dd>Authentication automatically shown and required.</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .box -->
    </div><!-- .col -->

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box">
            <div class="box-header text-center"><h4><b>OPTIONS</b></h4></div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="text-left"><?php echo $this->form->get('app-published')->getOption('label'); ?></span>
                        <div class="form-group has-feedback" style="float: right">
                            <?php
                            echo $this->formElement($this->form->get('app-published'));
                            echo $this->hpFormElementErrors($this->form->get('app-published'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="text-left"><?php echo $this->form->get('filter')->getOption('label'); ?></span>
                        <div class="form-group has-feedback" style="float: right">
                            <?php
                            echo $this->formElement($this->form->get('filter'));
                            echo $this->hpFormElementErrors($this->form->get('filter'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="text-left"><?php echo $this->form->get('share')->getOption('label'); ?></span>
                        <div class="form-group has-feedback" style="float: right">
                            <?php
                            echo $this->formElement($this->form->get('share'));
                            echo $this->hpFormElementErrors($this->form->get('share'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="text-left"><?php echo $this->form->get('like')->getOption('label'); ?></span>
                        <div class="form-group has-feedback" style="float: right">
                            <?php
                            echo $this->formElement($this->form->get('like'));
                            echo $this->hpFormElementErrors($this->form->get('like'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="text-left"><?php echo $this->form->get('toolbar')->getOption('label'); ?></span>
                        <div class="form-group has-feedback" style="float: right">
                            <?php
                            echo $this->formElement($this->form->get('toolbar'));
                            echo $this->hpFormElementErrors($this->form->get('toolbar'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .box -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="box-header text-center"><h4><b>PUSH NOTIFICATION SETTINGS</b></h4></div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($this->form->get('upload-apple-certificate')); ?>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                            <?php
                                            echo $this->formFile($this->form->get('upload-apple-certificate'));
                                            ?>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                            <?php
                                            if (is_string($form->get('upload-apple-certificate')->getValue()) && strlen($form->get('upload-apple-certificate')->getValue()) > 0) {
                                                echo '<i class="fa fa-check" aria-hidden="true"></i> Certificate is present';
                                            } else {
                                                echo '<i class="fa fa-exclamation" aria-hidden="true"></i> No certificate is present';
                                            }
                                            ?>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <?php
                                            echo $this->hpFormElementErrors($this->form->get('upload-apple-certificate'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                            ?>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($this->form->get('pass-phrase-apple-certificate')); ?>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <?php
                                    echo $this->formInput($this->form->get('pass-phrase-apple-certificate'));
                                    echo $this->hpFormElementErrors($this->form->get('pass-phrase-apple-certificate'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($this->form->get('upload-google-notification-json')); ?>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                            <?php
                                            echo $this->formFile($this->form->get('upload-google-notification-json'));
                                            ?>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                            <?php
                                            if (is_string($form->get('upload-google-notification-json')->getValue()) && strlen($form->get('upload-google-notification-json')->getValue()) > 0) {
                                                echo $this->formButton($this->form->get('download-google-notification-json'));
                                            } else {
                                                echo '<i class="fa fa-exclamation" aria-hidden="true"></i> No JSON file is present';
                                            }
                                            ?>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <?php
                                            echo $this->hpFormElementErrors($this->form->get('upload-google-notification-json'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                            ?>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($this->form->get('google-api-key')); ?>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <?php
                                    echo $this->formTextarea($this->form->get('google-api-key'));
                                    echo $this->hpFormElementErrors($this->form->get('google-api-key'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .box -->
    </div><!-- .col -->
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="box-header text-center"><h4><b>STORE SETTINGS</b></h4></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="well">
                            <div class="row">
                                <div class="text-center" style="margin-bottom: 20px;"><b>APPLE STORE</b><br></div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($this->form->get('store-apple-username')); ?>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <?php
                                    echo $this->formInput($this->form->get('store-apple-username'));
                                    echo $this->hpFormElementErrors($this->form->get('store-apple-username'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($this->form->get('store-apple-password')); ?>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <?php
                                    echo $this->formInput($this->form->get('store-apple-password'));
                                    echo $this->hpFormElementErrors($this->form->get('store-apple-password'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($this->form->get('store-apple-app-url')); ?>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <?php
                                    echo $this->formInput($this->form->get('store-apple-app-url'));
                                    echo $this->hpFormElementErrors($this->form->get('store-apple-app-url'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="well">
                            <div class="row">
                                <div class="text-center" style="margin-bottom: 20px;"><b>PLAY STORE</b><br></div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($this->form->get('store-google-username')); ?>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <?php
                                    echo $this->formInput($this->form->get('store-google-username'));
                                    echo $this->hpFormElementErrors($this->form->get('store-google-username'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($this->form->get('store-google-password')); ?>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <?php
                                    echo $this->formInput($this->form->get('store-google-password'));
                                    echo $this->hpFormElementErrors($this->form->get('store-google-password'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <?php echo $this->formLabel($this->form->get('store-google-app-url')); ?>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <?php
                                    echo $this->formInput($this->form->get('store-google-app-url'));
                                    echo $this->hpFormElementErrors($this->form->get('store-google-app-url'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .box -->
    </div><!-- .col -->
</div>

<?php
if ($this->controllerUriFields !== null) {
    ?>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="box-header text-center"><h4><b>CONTROLLER URI SETTINGS</b></h4></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="well">
                                <div class="text-center" style="margin-bottom: 20px;"><b>iOS</b><br></div>
                                <?php foreach ($this->controllerUriFields['ios'] as $fieldId => $fields) {
                                    ?>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <?php echo $this->formLabel($this->form->get($fieldId)); ?>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                            <?php
                                            echo $this->formInput($this->form->get($fieldId));
                                            echo $this->hpFormElementErrors($this->form->get($fieldId), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                            ?>
                                        </div>
                                    </div>
                                    <?php
                                } ?>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="well">
                                <div class="text-center" style="margin-bottom: 20px;"><b>Android</b><br></div>
                                <?php foreach ($this->controllerUriFields['android'] as $fieldId => $fields) {
                                    ?>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <?php echo $this->formLabel($this->form->get($fieldId)); ?>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                            <?php
                                            echo $this->formInput($this->form->get($fieldId));
                                            echo $this->hpFormElementErrors($this->form->get($fieldId), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                            ?>
                                        </div>
                                    </div>
                                    <?php
                                } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .box -->
        </div><!-- .col -->
    </div>
    <?php
}
?>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="box-header text-center"><h4><b>FACEBOOK SETTINGS</b></h4></div>
                <div class="well">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <?php echo $this->formLabel($this->form->get('facebook-token')); ?>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <?php
                            echo $this->formInput($this->form->get('facebook-token'));
                            echo $this->hpFormElementErrors($this->form->get('facebook-token'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="box-header text-center"><h4><b>GOOGLE SETTINGS</b></h4></div>
                <div class="well">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <?php echo $this->formLabel($this->form->get('google-analytics-ua')); ?>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <?php
                            echo $this->formInput($this->form->get('google-analytics-ua'));
                            echo $this->hpFormElementErrors($this->form->get('google-analytics-ua'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        <?php
        if (is_string($form->get('upload-google-notification-json')->getValue()) && strlen($form->get('upload-google-notification-json')->getValue()) > 0) {
        ?>
        $("#download-google-notification-json").on('click', function () {
            var $this = $(this);

            $this.html($this.html() + '&nbsp;&nbsp;<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>');

            $.ajax({
                url: "<?php echo $this->basePath(); ?>/ajax/file/download/",
                type: 'post',
                data: {"path": "<?php echo $form->get('upload-google-notification-json')->getValue(); ?>"},
                dataType: "native",
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (blob) {
                    $this.html('<?php echo $this->form->get('download-google-notification-json')->getOption('label'); ?>');
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "googleJson.json";
                    link.click();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $this.html('<?php echo $this->form->get('download-google-notification-json')->getOption('label'); ?>');
                    alert(textStatus + ": " + errorThrown);
                }
            });
        });
        <?php
        }
        ?>
    });
</script>