<style>
	.text-danger {
		list-style-type: none;
		display: inline;
	}
</style>
<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<br/>
		<br/>
		<br/>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Effettua il login</h3>
			</div>
			<div class="panel-body">
				<p>
					<small>Inserisci username e password per accedere al pannello di controllo dell'app <strong>Carnevale di Putignano 2015</strong></small>
				</p>
				
				<br/>
				<?php if($this->error_msg != null) {?>
					<div class="alert alert-danger" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span>
						<?php echo $this->error_msg; ?>
					</div>
				<?php } ?>
				<?php
					$form = $this->form;	
					$form->prepare();
									
					echo $this->form()->openTag($form); 
					
				?>		
					<div class="form-group">
					    <?php echo $this->formLabel($form->get('username')); ?>
					    <?php 
							echo $this->formElement($form->get('username'),		 array('class' => "form-control", 'placeholder'=>"Email addres")); 
							echo $this->formElementErrors($form->get('username'),array('class' => "text-danger"));
						?>
					</div>
					<div class="form-group">
					  	<?php echo $this->formLabel($form->get('password')); ?>
					    <?php 
							echo $this->formElement($form->get('password'),		 array('class' => "form-control", 'placeholder'=>"Password")); 
							echo $this->formElementErrors($form->get('password'),array('class' => "text-danger"));
						?>
					</div>
					<?php echo $this->formElement($form->get('submit')); ?>
				<?php echo $this->form()->closeTag(); ?>
			</div>
		</div>
		<br/>
		<br/>
	</div>
	<div class="col-md-4">
	</div>
</div>
