<style>
    #app .disable a {
        color: #D2D2D2;
        cursor: default;
        pointer-events: none;
    }

    #app #save {
        margin-top: 0;
    }

    #app #save,
    #app #back,
    #app #next {
        margin-bottom: -15px;
    }

    #app .login_radio label {
        display: block;
        font-weight: 500;
    }

    #app .icheckbox_square-blue {
        margin-left: 10px;
        margin-right: 10px;
    }

    #app .well dl {
        margin: 0;
    }

    #app .nav-tabs > li.active > a {
        color: #3c8dbc;
        font-weight: bold;
    }

    .hp_error_tooltip_title {
        top: -28px;
        position: relative;
    }

    .hp_error_tooltip_category {
        top: 16px;
        left: 16px;
        position: relative;
    }

    .hp_error_tooltip_bundle {
        top: 60px;
        left: -96px;
        position: relative;
    }

    #app .a_uploader {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    #app .extra_uploader .file-drop-zone {
        background: #EEEEEE;
    }

    #app .extra_uploader .file-thumb-progress {
        top: 0;
    }

    #app .extra_uploader .file-thumbnail-footer {
        height: 10px;
    }

    #app .extra_uploader .file-preview-frame {
        width: 100% !important;
        height: 50px !important;
    }

    #app .extra_uploader .file-preview-frame,
    #app .extra_uploader .file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none !important;
        text-align: center;
    }

    #app .extra_icon_uploader .file-input {
        height: 100px !important;
        width: 100px !important;
        margin: 0 auto;
    }

    #app .extra_icon_uploader .file-drop-zone-title,
    #app .extra_icon_uploader .file-preview-frame img {
        color: #aaa;
        height: 50px !important;
        width: 50px !important;
    }

    #app .extra_icon_uploader .file-drop-zone-title {
        padding: 5px 0 0 0;
        font-size: 30px;
    }

    #app .extra_icon_uploader .file-default-preview {
        height: 50px;
    }
</style>

<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
    </div>
<?php } ?>

<?php
($this->action == Form\App\AppForm::CREATE_APP) ? $disable = "class='disable'" : $disable = "";

/** @var \Form\App\AppForm $form */
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}
?>

<div class="box-header with-border">
    <h3 class="box-title">&nbsp;<b><?php echo $this->box_title; ?></b></h3><em id="info" class="text-right"></em>
</div><!-- /.box-header -->

<div class="box-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul id="tabs" class="nav nav-tabs">
                <li id="1" class="active"><a id="app-main-tab-link" href="#app-main-tab" data-toggle="tab">MAIN DATA</a>
                </li>
                <li id="2" <?php echo $disable; ?>><a id="app-layout-tab-link" href="#app-layout-tab" data-toggle="tab">LAYOUT</a>
                </li>
                <li id="3" <?php echo $disable; ?>><a id="app-look-tab-link" href="#app-look-tab" data-toggle="tab">LOOK
                        AND FEEL</a></li>
                <li id="4" <?php echo $disable; ?>><a id="app-media-tab-link" href="#app-media-tab" data-toggle="tab">MEDIA</a>
                </li>
                <li id="5" <?php echo $disable; ?>><a id="app-settings-tab-link" href="#app-settings-tab"
                                                      data-toggle="tab">SETTINGS</a></li>
                <li id="6" <?php echo $disable; ?>><a id="app-multi-language-tab-link" href="#app-multi-language-tab"
                                                      data-toggle="tab">MULTI LANGUAGE</a></li>
            </ul>

            <div class="tab-content">
                <div id="app-main-tab" class="tab-pane active">
                    <br/>
                    <?php echo $this->partial('main-tab.phtml', array('form' => $form, 'bundle_root' => $this->bundle_root)); ?>
                    <div class="clearfix"></div>
                </div>

                <div id="app-layout-tab" class="tab-pane">
                    <br/>
                    <?php echo $this->partial('layout-tab.phtml', array('form' => $form)); ?>
                    <div class="clearfix"></div>
                </div>

                <div id="app-look-tab" class="tab-pane">
                    <br/>
                    <?php echo $this->partial('look-tab.phtml', array('form' => $form, 'custom_theme' => $this->custom_theme)); ?>
                    <div class="clearfix"></div>
                </div>

                <div id="app-media-tab" class="tab-pane">
                    <br/>
                    <?php echo $this->partial('media-tab.phtml', array('form' => $form, 'extraAppIcons' => $this->extraAppIcons, 'maxFileSize' => $this->maxFileSize,)); ?>
                    <div class="clearfix"></div>
                </div>

                <div id="app-settings-tab" class="tab-pane">
                    <br/>
                    <?php echo $this->partial('settings-tab.phtml', array('form' => $form, 'controllerUriFields' => $this->controllerUriFields)); ?>
                    <div class="clearfix"></div>
                </div>

                <div id="app-multi-language-tab" class="tab-pane">
                    <br/>
                    <?php echo $this->partial('multi-language-tab.phtml', array('form' => $form, 'controllerUriFields' => $this->controllerUriFields)); ?>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div><!-- /.box-body -->

<div class="box-footer">
    <?php if ($this->action == Form\App\AppForm::CREATE_APP) { ?>
        <div class="form-group has-feedback col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <?php echo $this->formElement($form->get('back')); ?>
        </div>
        <div class="form-group has-feedback col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <?php echo $this->formElement($form->get('next')); ?>
            <?php echo $this->formElement($form->get('save')); ?>
        </div>
    <?php } else { ?>
        <div class="form-group has-feedback col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
        <div class="form-group has-feedback col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <?php echo $this->formElement($form->get('save')); ?>
        </div>
    <?php } ?>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>


<script>

    initFormTab();
    initFormValidator("#app-main-tab");

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href"); // activated tab
        initFormValidator(target);
    });

    $(document).ready(function () {

        /* INIT SETTINGS */
        $(".switch-btn").bootstrapSwitch();

        $('.icheck').iCheck({
            radioClass: 'icheckbox_square-blue',
            increaseArea: '20%' // optional
        });


        /* BUTTONS NEXT/BACK/SAVE */
        var next = $('#next');
        var back = $('#back');
        var save = $('#save');

        next.on('click', function () {
            var current_tab = $('#tabs .active');
            var tab_number = current_tab.attr('id');
            var old_href = $("a", current_tab).attr('href');
            var new_tab_number = ++tab_number;
            var new_tab = $("#tabs li[id=" + new_tab_number + "]");
            var new_href = $("a", new_tab).attr('href');
            current_tab.removeClass('active').addClass('disable');
            new_tab.removeClass('disable').addClass('active');
            $(old_href).hide();
            $(new_href).show();
            back.removeClass('hidden');
            if (new_tab_number == 6) {
                next.addClass('hidden');
                save.removeClass('hidden');
            }
        });

        back.on('click', function () {
            var current_tab = $('#tabs .active');
            var tab_number = current_tab.attr('id');
            var old_href = $("a", current_tab).attr('href');
            var new_tab_number = --tab_number;
            var new_tab = $("#tabs li[id=" + new_tab_number + "]");
            var new_href = $("a", new_tab).attr('href');
            current_tab.removeClass('active').addClass('disable');
            new_tab.removeClass('disable').addClass('active');
            $(old_href).hide();
            $(new_href).show();
            if (new_tab_number == 1) {
                back.addClass('hidden');
            }
            if (new_tab_number != 6) {
                save.addClass('hidden');
                next.removeClass('hidden');
            }
        });
        /* .../BUTTONS NEXT/BACK/SAVE */


        /* POPULATE LAYOUT JSON */
        $('#global_bg, #accent_bg, #primary_bg, #secondary_bg, #light_txt, #dark_txt, #primary_font, #secondary_font').on('change', function () {
            setNewLayoutValue();
        });

        $('#cp-global_bg, #cp-accent_bg, #cp-primary_bg, #cp-secondary_bg, #cp-light_txt, #cp-dark_txt').on('hidePicker', function () {
            setNewLayoutValue();
        });

        function setNewLayoutValue() {
            var global_bg_temp = $('#global_bg').val();
            var accent_bg_temp = $('#accent_bg').val();
            var primary_bg_temp = $('#primary_bg').val();
            var secondary_bg_temp = $('#secondary_bg').val();
            var light_txt_temp = $('#light_txt').val();
            var dark_txt_temp = $('#dark_txt').val();
            var primary_font_temp = $('#primary_font').val();
            var secondary_font_temp = $('#secondary_font').val();

            var color_temp = {
                global_bg: global_bg_temp,
                accent_bg: accent_bg_temp,
                primary_bg: primary_bg_temp,
                secondary_bg: secondary_bg_temp,
                light_txt: light_txt_temp,
                dark_txt: dark_txt_temp
            };
            var font_temp = {primary: primary_font_temp, secondary: secondary_font_temp};

            var new_layout_temp = {color: color_temp, font: font_temp};

            $('#new_layout').attr('value', JSON.stringify(new_layout_temp));
        }

        /* .../POPULATE LAYOUT JSON */

    });
</script>
