<style>
    #custom_form {
        padding: 10px;
    }

    #custom_form .checkbox,
    #custom_form .radio {
        border: 1px solid #dedede;
        padding: 8px;
        margin-top: 0px;
    }

    #custom_form .checkbox label,
    #custom_form .radio label {
        padding-right: 10px;
    }
</style>



<?php
    /** @var \Form\CustomForm\CustomForm $form */
    $form = $this->form;

    $form->prepare();
    echo $this->form()->openTag($form);
?>

<div class="box-body">
    <?php
    if ($this->error_msg != null) { ?>
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"></span>
            <?php echo "ERROR: ".$this->error_msg; ?>
        </div>
    <?php } ?>

    <?php if ($this->success_msg != null) { ?>
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"></span>
            <?php echo "SUCCESS: ".$this->success_msg; ?>
        </div>
    <?php } ?>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
        <?php

        /*foreach ($form as $element) {
            echo $this->formLabel($element);
            echo $this->formElement($element);       // <-- Magic!
            echo $this->formElementErrors($element);
        }*/

            foreach ($form->getFormHiddenElement() as $field) {
                echo $this->formElement($form->get($field));
            }

            foreach ($form->getCustomFieldsets() as $fieldset) {
                ?>
                    <h2><?php echo strtoupper($fieldset->name); ?></h2>
                <?php

                $fieldNumber = 0;
                foreach ($fieldset->fields as $field) {
                    $fieldNumber++;
                    $fieldName = base64_encode($field->name);
                        //var_dump($form->get($fieldName)); die();
                    switch ($field->type) {
                        case Application\Model\SectionModel::HPFORM_INPUT_TEXT:
                        case Application\Model\SectionModel::HPFORM_TEXTAREA:
                        case Application\Model\SectionModel::HPFORM_TAG_GROUP:
                            ?>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback input-error">
                                        <?php
                                        echo $this->formLabel($form->get($fieldName));
                                        echo $this->formElement($form->get($fieldName));
                                        echo $this->hpFormElementErrors($form->get($fieldName), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                        ?>
                                    </div>
                                </div>
                            </div>
                            <?php
                            if($field->type == Application\Model\SectionModel::HPFORM_TAG_GROUP) {
                                ?>
                                <script type="application/javascript">
                                    var existData<?php echo $fieldNumber; ?> = false;
                                    var fieldName = CSS.escape("<?php echo $fieldName; ?>");
                                    var singleMode<?php echo $fieldNumber; ?> = <?php echo $form->get($fieldName)->getAttribute('single'); ?>;
                                    var source<?php echo $fieldNumber; ?> = <?php echo json_encode($form->get($fieldName)->getAttribute('source')); ?>;

                                    $('#'+fieldName).tokenfield({
                                        autocomplete: {
                                            source: source<?php echo $fieldNumber; ?>,
                                            minLength: 2,
                                            delay: 100
                                        }
                                    }).on('tokenfield:createtoken', function (event) {
                                        var enabled = false;

                                        $.each(source<?php echo $fieldNumber; ?>, function(index, value) {
                                            //console.log(event.attrs.value +" === "+ value);
                                            if (event.attrs.value === value) {
                                                enabled = true;
                                            }
                                        });
                                        if(enabled) {
                                            var tokens = $(this).tokenfield('getTokens');
                                            $.each(tokens, function(index, data) {
                                                if(event.attrs.value === data.value) {
                                                    enabled = false;
                                                }
                                            });
                                        }
                                        if(!enabled || (singleMode<?php echo $fieldNumber; ?> && existData<?php echo $fieldNumber; ?>)) {
                                            event.preventDefault(); //prevents creation of token
                                        } else {
                                            existData<?php echo $fieldNumber; ?> = true;
                                        }
                                    }).on('tokenfield:removedtoken', function () {
                                        if(singleMode<?php echo $fieldNumber; ?>) {
                                            existData<?php echo $fieldNumber; ?> = false;
                                        }
                                    });
                                </script>
                                <?php
                            }
                            break;
                        case Application\Model\SectionModel::HPFORM_CHECKBOX:
                            ?>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback input-error">
                                        <?php echo $this->formLabel($form->get($fieldName)); ?>
                                        <div class="checkbox">
                                            <?php echo $this->formElement($form->get($fieldName)); ?>
                                        </div>
                                        <?php echo $this->hpFormElementErrors($form->get($fieldName), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                    </div>
                                </div>
                                <div class="checkbox-error"><?php echo $this->hpFormElementErrors($form->get($fieldName), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?></div>
                            </div>
                            <?php
                            break;
                        case Application\Model\SectionModel::HPFORM_RADIOBOX:
                            ?>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group has-feedback input-error">
                                        <?php echo $this->formLabel($form->get($fieldName)); ?>
                                        <div class="radio">
                                            <?php echo $this->formElement($form->get($fieldName)); ?>
                                        </div>
                                        <?php echo $this->hpFormElementErrors($form->get($fieldName), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                    </div>
                                </div>
                                <div class="checkbox-error"><?php echo $this->hpFormElementErrors($form->get($fieldName), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?></div>
                            </div>
                            <?php
                            break;
                        case Application\Model\SectionModel::HPFORM_SELECT:
                            ?>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group has-feedback selectpicker-error">
                                        <?php
                                        echo $this->formLabel($form->get($fieldName));
                                        echo $this->formElement($this->form->get($fieldName));
                                        echo $this->hpFormElementErrors($this->form->get($fieldName), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                        ?>
                                    </div>
                                </div>
                            </div>
                            <?php
                            break;
                    }
                }
            }
        ?>

        </div>
    </div>
</div><!-- /.box-body -->

<div class="box-footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-xs-8">
            <?php
            echo $this->formElement($form->get('save'));
            ?>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
    </div>
</div><!-- box-footer -->

<?php
    echo $this->form()->closeTag();
?>
<script type="text/javascript">

    initFormValidator("#custom_form");

</script>