<style>
	.hp_error_tooltip_email {
		top: -36px;
		position: relative;
	}

	.hp_error_tooltip_password {
		top: -36px;
		position: relative;
	}
</style>

<?php if($this->error_msg != null) {?>
	<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		<?php echo $this->error_msg; ?>
	</div>
<?php } ?>
<?php
	$form = $this->form;
	$form->prepare();

	echo $this->form()->openTag($form);
?>
	<div class="form-group has-feedback input-error">
		<?php
			echo $this->formElement($form->get('email'));
			echo $this->hpFormElementErrors($form->get('email'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
		?>
		<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	</div>
	<div class="form-group has-feedback input-error">
		<?php
			echo $this->formElement($form->get('password'));
			echo $this->hpFormElementErrors($form->get('password'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
		?>
		<span class="glyphicon glyphicon-lock form-control-feedback"></span>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<div class="checkbox icheck">
				<label>
				<?php echo $this->formElement($form->get('remember-me')); ?>
				</label>
				<?php echo $this->formLabel($form->get('remember-me')); ?>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-xs-4">
		<?php
			echo $this->formElement($form->get('sign-in'));
		?>
		</div>
		<!-- /.col -->
	</div>
<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

	initFormValidator("body");

	$(document).ready(function() {
		$('form#login:first *:input[type!=hidden]:first').focus();
	});
</script>
