<style type="text/css">
    #notification .tab-pane {
        min-height: 228px;
    }

    #notification #message {
        min-height: 120px;
    }

    #notification #actionbox .btn-group {
        top: 5px;
    }

    #notification #actionbox .active {
        color: white;
        background-color: #3c8dbc;
        border-color: #367fa9
    }

    #notification #notification-settings-tab .content_list,
    #notification #notification-settings-tab .section_list {
        display: none;
    }

    #notification #notification-settings-tab .content_list .bootstrap-select,
    #notification #notification-settings-tab .section_list .bootstrap-select {
        height: 30px;
    }

    #notification .action_label {
        font-weight: bold;
        display: inline;
        top: 1px;
        position: relative;
    }

    .ui-autocomplete {
        position: absolute;
        overflow-y: scroll;
        max-height: 100px;
        font-size: 12px;
        padding-left: 12px;
        marging-right: 500px;
    }

    ul#push-notification-flag-dropdown {
        height: 42px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 8px;
        border-bottom: 1px solid #ddd;
    }

    ul#push-notification-flag-dropdown li {
        list-style-type: none;
    }

    ul#push-notification-flag-dropdown .unstyled-button {
        border: none;
        padding: 0;
        background: none;
    }

    ul#push-notification-flag-dropdown .flag-icon {
        font-size: 18px;
    }

    ul#push-notification-flag-dropdown span.caret {
        margin-top: -6px;
    }
</style>

<?php
/**
 * Created by PhpStorm.
 * User: mirco
 * Date: 17/11/16
 * Time: 11:33
 */

/** @var \Form\Notification\NotificationForm $form */
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}
?>

<div id="push-notification-error-box" class="alert alert-danger" role="alert"
     style="display: <?php echo $this->error_msg != null ? "block" : "none"; ?>">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <span id="push-notification-error-message"><?php echo $this->error_msg; ?></span>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="row">
            <!-- Create the tabs -->
            <div class="col-lg-10 col-md-10 col-xs-10 no-right-pad">
                <ul id="tabs" class="nav nav-tabs">
                    <li class="active"><a id="content-main-tab-link" href="#notification-main-tab" data-toggle="tab">MAIN
                            DATA</a></li>
                    <li><a id="content-option-tab-link" href="#notification-settings-tab" data-toggle="tab">SETTINGS</a>
                    </li>
                </ul>
            </div>

            <?php
            if (is_array($this->userLanguages) && count($this->userLanguages) > 0) {
                $currentLang = $form->get('notification_lang')->getValue();
                $count = count($this->userLanguages) - 1;
                ?>
                <div class="col-lg-2 col-md-2 col-xs-2 no-left-pad">
                    <ul id="push-notification-flag-dropdown">
                        <li class="dropdown">
                            <button id="lang_dropdown"
                                    class="dropdown-toggle unstyled-button"
                                    data-toggle="dropdown">
                                <span id="lang_dropdown_flag"
                                      class="<?php echo $this->userLanguages[$currentLang]['icon']; ?>"></span>
                                <?php if ($count > 0) {
                                    ?>
                                    <span class="caret"></span>
                                    <?php
                                } ?>
                            </button>
                            <ul id="lang_list" aria-labelledby="lang_dropdown" class="dropdown-menu" role="menu">
                                <?php
                                $idx = 0;
                                foreach ($this->userLanguages as $key => $lang) {
                                    ?>
                                    <li class="push_notification_lang_btn">
                                        <a> <span class="<?php echo $lang['icon'] ?>"
                                                  data-value="<?php echo $key; ?>"
                                                  style="margin-right: 5px;"></span><?php echo $lang['label']; ?>
                                        </a>
                                    </li>
                                    <?php
                                    if ($idx < $count) {
                                        ?>
                                        <li class="divider"></li>
                                        <?php
                                    }
                                    $idx++;
                                }
                                ?>
                            </ul>
                        </li>
                    </ul>
                </div>
                <?php
            }
            ?>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="notification-main-tab">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="input-error has-feedback">
                            <?php
                            echo $this->formLabel($form->get('title'));
                            echo $this->formElement($form->get('title'));
                            echo $this->hpFormElementErrors($form->get('title'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="glyphicon glyphicon-header form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="input-error has-feedback">
                            <?php
                            echo $this->formLabel($form->get('message'));
                            echo $this->formElement($form->get('message'));
                            echo $this->hpFormElementErrors($form->get('message'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="fa fa-align-justify form-control-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="notification-settings-tab">
                <div class="row" style="min-height: 70px;">
                    <div id="actionbox" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <span class="action_label"><?php echo $form->get('action')->getOption('label'); ?>&nbsp;</span>
                        <br/>
                        <div class="btn-group" data-toggle="buttons">
                            <?php echo $this->formRadio($form->get('action')) ?>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 content_list">
                        <div class="form-group has-feedback selectpicker-error">
                            <?php
                            echo $this->formLabel($form->get('content'));
                            echo $this->formElement($form->get('content'));
                            echo $this->hpFormElementErrors($form->get('content'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 section_list">
                        <div class="form-group has-feedback selectpicker-error">
                            <?php
                            echo $this->formLabel($form->get('section'));
                            echo $this->formElement($form->get('section'));
                            echo $this->hpFormElementErrors($form->get('section'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="input-error has-feedback">
                            <?php
                            echo $this->formLabel($form->get('send_date'));
                            echo $this->formElement($form->get('send_date'));
                            echo $this->hpFormElementErrors($form->get('send_date'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="fa fa-calendar form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="input-error has-feedback">
                            <?php
                            echo $this->formLabel($form->get('send_time'));
                            echo $this->formElement($form->get('send_time'));
                            echo $this->hpFormElementErrors($form->get('send_time'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="fa fa-clock-o form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="input-error has-feedback">
                            <?php
                            echo $this->formLabel($form->get('to'));
                            echo $this->formElement($form->get('to'));
                            echo $this->hpFormElementErrors($form->get('to'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="fa fa-at form-control-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">
    $(document).ready(function () {
        var $send = $('#send');

        $('#notification #notification-settings-tab #content').selectpicker();
        $('#notification #notification-settings-tab #section').selectpicker();

        $('#message').on("change keyup paste", function () {
            console.log("message len:", $(this).val().length);
            if ($(this).val().length > 0) {
                $send.attr("disabled", false);
            } else {
                $send.attr("disabled", true);
            }
        });

        $('#notification #send_date').daterangepicker({
            "singleDatePicker": true,
//            "timePicker": true,
            "timePicker24Hour": true,
            "timePickerSeconds": true,
            "locale": {
                format: 'DD-MM-YYYY'
            },
            "autoApply": true
//            "endDate": nextMonth
        }, function (start, end, label) {
            $("#scheduled_at").val(unixTimestampToString("" + start.unix()));
        });

        var now = new Date();
        var $sendTime = $('#send_time');
        $sendTime.val(now.getHours() + ":" + now.getMinutes());
        $sendTime.clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            default: 'now'
        });

        $("#actionbox .btn input[name=action]:checked")
            .prop('checked', true)
            .closest('label')
            .removeClass('active')
            .removeClass('btn-default')
            .addClass('btn-primary');

        $("#actionbox .btn input[name=action]").on('change', function () {
            console.log("ACTION: ", $(this).val());
            $("#actionbox .btn input[name=action]")
                .closest('label')
                .removeClass('active')
                .removeClass('btn-primary')
                .addClass('btn-default');

            $("#actionbox .btn input[name=action]:checked")
                .prop('checked', true)
                .closest('label')
                .removeClass('active')
                .removeClass('btn-default')
                .addClass('btn-primary');

            switch ($(this).val()) {
                case "<?php echo \Form\Notification\NotificationForm::OPEN_MAIN; ?>":
                    console.log("MAIN");
                    $('#notification-settings-tab .section_list').hide();
                    $('#notification-settings-tab .content_list').hide();
                    break;
                case "<?php echo \Form\Notification\NotificationForm::OPEN_CONTENT ?>":
                    console.log("CONTENT");
                    $('#notification-settings-tab .section_list').hide();
                    $('#notification-settings-tab .content_list').show();
                    break;
                case "<?php echo \Form\Notification\NotificationForm::OPEN_SECTION; ?>":
                    console.log("SECTION");
                    $('#notification-settings-tab .content_list').hide();
                    $('#notification-settings-tab .section_list').show();
                    break;
            }
        });

        $('#to').tokenfield({
            autocomplete: {
                source: "<?php echo $this->basePath(); ?>/ajax/tags/user/",
                minLength: 2,
                delay: 100
            }
        }).on('tokenfield:createtoken', function (e) {

            var enabled = true;
            var tokens = $('#to').tokenfield('getTokens');

            if (e.attrs.value.length >= 4) {
                for (var i = 0; i < tokens.length; i++) {
                    if (tokens[i].value == e.attrs.value) {
                        enabled = false;
                    }
                }
            } else {
                $('.tag_error').html("Tag must be at leas 4 chars");
                enabled = false;
            }

            if (enabled) {
                $('.tag_error').html("");

                if (e.attrs.id == null) {
                    var tag = formatTwitterHashtag(e.attrs.value);
                    if (tag != e.attrs.value) {
                        e.preventDefault();
                        $(this).tokenfield('createToken', tag);
                    }
                }
            } else {
                e.preventDefault();
            }

        });

        <?php
        if (is_array($this->userLanguages)) {
        ?>
        $('.push_notification_lang_btn').on('click', function () {
            var userLanguages = '<?php echo json_encode($this->userLanguages); ?>';
            userLanguages = JSON.parse(userLanguages);
            var $langDropDownFlag = $("#lang_dropdown_flag");

            var $notificationLang = $("#notification_lang");
            var selectedLang = $(this).children().children('.flag-icon').data('value');

            $langDropDownFlag.removeClass();
            $langDropDownFlag.addClass(userLanguages[selectedLang].icon);
            $notificationLang.val(selectedLang);
        });
        <?php
        }
        ?>

    });
</script>
