<style>
	.hp_error_tooltip_email {
		top: -28px;
		position: relative;
	}
</style>

<?php if($this->error_msg != null) {?>
	<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		<?php echo $this->error_msg; ?>
	</div>
<?php } ?>
<?php
	$form = $this->form;
	$form->prepare();

	echo $this->form()->openTag($form);
?>
	<div class="form-group has-feedback input-error">
		<?php
			echo $this->formElement($form->get('email'));
			echo $this->hpFormElementErrors($form->get('email'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
		?>
		<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	</div>
	<div class="form-group has-feedback">
		<?php
			echo $this->formElement($form->get('continue'));
		?>
	</div>
<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

	initFormValidator("body");

</script>
