<style>
	.hp_error_tooltip_email {
		top: 216px;
		position: relative;
	}

	.hp_error_tooltip_password {
		top: 216px;
		position: relative;
	}

	.hp_error_tooltip_confirm-password {
		top: 216px;
		position: relative;
	}
</style>

<?php if($this->error_msg != null) {?>
	<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		<?php echo $this->error_msg; ?>
	</div>
<?php } ?>

<?php
	$form = $this->form;
    $form->setAttributes(array('autocomplete'=>'off'));
	$form->prepare();

	echo $this->form()->openTag($form);
?>

    <div class="row form-group has-feedback uploader">
        <?php
            echo $this->formElement($form->get('avatar'));
            echo $this->hpFormElementErrors($form->get('avatar'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);

            echo $this->formElement($form->get('upload-avatar'));
            echo $this->hpFormElementErrors($form->get('upload-avatar'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
        ?>
    </div>

	<div class="row form-group has-feedback input-error">
		<div class="col-xs-6">
			<?php
			echo $this->formElement($form->get('first-name'));
			echo $this->hpFormElementErrors($form->get('first-name'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
			?>
		</div>

		<div class="col-xs-6">
			<?php
				echo $this->formElement($form->get('last-name'));
				echo $this->hpFormElementErrors($form->get('last-name'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
			?>
		</div>
	</div>

	<div class="form-group has-feedback input-error">
		<?php
			echo $this->formElement($form->get('email'));
			echo $this->hpFormElementErrors($form->get('email'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
		?>
		<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	</div>

	<div class="form-group has-feedback input-error">
		<?php
			echo $this->formElement($form->get('password'));
			echo $this->hpFormElementErrors($form->get('password'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
		?>
		<span class="glyphicon glyphicon-lock form-control-feedback"></span>
	</div>

	<div class="form-group has-feedback input-error">
		<?php
			echo $this->formElement($form->get('confirm-password'));
			echo $this->hpFormElementErrors($form->get('confirm-password'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
		?>
		<span class="glyphicon glyphicon-lock form-control-feedback"></span>
	</div>

	<div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
	<br/>


	<div class="form-group has-feedback">
		<?php
			echo $this->formElement($form->get('update'));
		?>
	</div>

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

	initFormValidator("body");

    var baseurl = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getUserAvatarHigh($this->layout()->user_data->id); ?>";
    var dropText = "Drag & drop your avatar here...";
	var uploadUrl = "<?php echo $this->basePath(); ?>/media/avatar";

	initAvatarUploader("#profile", "#upload-avatar", "#avatar", "#update", dropText, baseurl, uploadUrl);
</script>