<style>
    .hp_error_tooltip_name {
        top: -18px;
        position: relative;
    }

    .hp_error_tooltip_site {
        top: -18px;
        float: right;
        position: relative;
    }

    .hp_error_tooltip_email {
        top: -18px;
        position: relative;
    }
</style>



<?php
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}
?>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title retitle">&nbsp;<b>CREATE PROVIDER</b></h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group has-feedback input-error">
                    <?php
                    echo $this->formElement($form->get('name'));
                    echo $this->hpFormElementErrors($form->get('name'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                    ?>
                    <span class="glyphicon glyphicon-header form-control-feedback"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group has-feedback input-error">
                    <?php
                    echo $this->formElement($form->get('site'));
                    echo $this->hpFormElementErrors($form->get('site'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                    <span class="glyphicon glyphicon-link form-control-feedback"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group has-feedback input-error">
                    <?php
                    echo $this->formElement($form->get('email'));
                    echo $this->hpFormElementErrors($form->get('email'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                    ?>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <?php echo $this->formElement($form->get('save')); ?>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                <?php echo $this->formElement($form->get('reset')); ?>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
                <?php echo $this->formElement($form->get('update')); ?>
            </div>
        </div>
    </div><!-- /.box-body -->
</div><!-- /.box -->

<?php echo $this->form()->closeTag(); ?>



<script type="text/javascript">

    initFormValidator("body");

    $('#name, #site, #email').on('change keyup', function() {
        $('#save').prop('disabled', false);
        $('#update').prop('disabled', false);
    });

    $('#save').on('click', function() {
        var name = $('#name').val();
        var site = $('#site').val();
        var email = $('#email').val();
        $.get("<?php echo $this->basePath(); ?>/ajax/provider/create", { name: name, site: site, email: email }, function(data) {
            $('#providersDataTable').DataTable().ajax.reload();
        });
        resetProviderFormStatus();
    });

    $('#reset').on('click', function() {
        resetProviderFormStatus();
    });

    $('#update').on('click', function() {
//        $('#provider').submit();
        var provider_id = $('#provider_id').val();
        var name = $('#name').val();
        var site = $('#site').val();
        var email = $('#email').val();
        $.get("<?php echo $this->basePath(); ?>/ajax/provider/update/"+provider_id, { name: name, site: site, email: email }, function(data) {
            $('#providersDataTable').DataTable().ajax.reload();
        });
        resetProviderFormStatus();
    });

    function resetProviderFormStatus() {
        $('#provider :input').val('');
        $('.retitle').html('&nbsp;<b>CREATE PROVIDER</b>');
        $('#save').removeClass('hidden').prop('disabled', true);
        $('#reset').addClass('hidden');
        $('#update').addClass('hidden').prop('disabled', true);
    }
</script>