<style>
    .hp_error_tooltip_email {
        top: -18px;
        position: relative;
    }

    .hp_error_tooltip_password {
        top: -18px;
        position: relative;
    }
</style>

<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
    </div>
<?php } ?>
<?php
$form = $this->form;
$form->setAttributes(array('autocomplete' => 'off'));
$form->prepare();

echo $this->form()->openTag($form);
?>

<div class="row form-group has-feedback input-error">
    <div class="col-xs-6">
        <?php
        echo $this->formElement($form->get('first-name'));
        echo $this->hpFormElementErrors($form->get('first-name'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
        ?>
    </div>

    <div class="col-xs-6">
        <?php
        echo $this->formElement($form->get('last-name'));
        echo $this->hpFormElementErrors($form->get('last-name'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
        ?>
    </div>
</div>

<div class="form-group has-feedback input-error">
    <?php
    echo $this->formElement($form->get('email'));
    echo $this->hpFormElementErrors($form->get('email'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
    ?>
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
</div>

<div class="form-group has-feedback input-error">
    <?php
    echo $this->formElement($form->get('password'));
    echo $this->hpFormElementErrors($form->get('password'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
    ?>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
</div>

<div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
<br/>

<div class="row">
    <div class="checkbox icheck">
        <div class="col-xs-1">
            <?php
            echo $this->formElement($form->get('privacy'));
            ?>
        </div>
        <div class="col-xs-11">
            <?php echo $form->get('privacy')->getOption("label"); ?>
        </div>
    </div>
</div>
<div class="checkbox-error"><?php echo $this->hpFormElementErrors($form->get('privacy'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?></div>
<br/>

<div class="form-group has-feedback">
    <?php
    echo $this->formElement($form->get('register'));
    ?>
</div>

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

    initFormValidator("body");

    $(document).ready(function () {
        $('form#registration:first *:input[type!=hidden]:first').focus();
    });
</script>
