<?php
/** @var \Form\SuperAdminSettings\SettingsForm $form */
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}
?>

<div class="box-header with-border">
    <h3 class="box-title">&nbsp;<b>APPLICATION SETTINGS</b></h3>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="box-header text-center"><h4><b>PUSH NOTIFICATION SETTINGS</b></h4></div>
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <?php echo $this->formLabel($this->form->get('max-push-notification')); ?>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <?php
                                echo $this->formInput($this->form->get('max-push-notification'));
                                echo $this->hpFormElementErrors($this->form->get('max-push-notification'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <?php echo $this->formLabel($this->form->get('sent-push-notification')); ?>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <?php
                                echo $this->formInput($this->form->get('sent-push-notification'));
                                echo $this->hpFormElementErrors($this->form->get('sent-push-notification'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="box-header text-center"><h4><b>ADVICE SETTINGS</b></h4></div>
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <?php echo $this->formLabel($this->form->get('max-advice-hours')); ?>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <?php
                                echo $this->formInput($this->form->get('max-advice-hours'));
                                echo $this->hpFormElementErrors($this->form->get('max-advice-hours'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <?php echo $this->formLabel($this->form->get('advice-hours-done')); ?>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <?php
                                echo $this->formInput($this->form->get('advice-hours-done'));
                                echo $this->hpFormElementErrors($this->form->get('advice-hours-done'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <?php echo $this->formLabel($this->form->get('max-insert-contents')); ?>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <?php
                                echo $this->formInput($this->form->get('max-insert-contents'));
                                echo $this->hpFormElementErrors($this->form->get('max-insert-contents'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <label for="inserted-contents">Contents insert by SuperAdmin</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <input name="inserted-contents" type="text" id="inserted-contents" class="form-control" style="margin-bottom: 10px;" value="<?php echo $this->contents_number; ?>" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-footer">
    <div class="form-group has-feedback col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
    <div class="form-group has-feedback col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <?php echo $this->formElement($this->form->get('save')); ?>
    </div>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>

<script>
    $('#save').on('click', function() {
        $('#super-admin-settings').submit();
    });
</script>
