<style>
    #template .uploader {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    #template .uploader .file-drop-zone {
        background: #EEEEEE;
    }

    #template .uploader .file-thumb-progress {
        top: 0;
    }

    #template .uploader .file-thumbnail-footer {
        height: 10px;
    }

    #template .uploader .file-preview-frame {
        width: 100% !important;
    }

    #template .uploader .file-preview-frame,
    #template .uploader .file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none !important;
        text-align: center;
    }

    #template .icon_uploader .file-input {
        height: 230px !important;
        width: 200px !important;
    }

    #template .icon_uploader .file-drop-zone-title,
    #template .icon_uploader .file-preview-frame img {
        color: #aaa;
        height: 150px !important;
        width: 150px !important;
    }

    #template .icon_uploader .file-drop-zone-title {
        padding: 30px 0 0 0;
        font-size: 26px;
    }
</style>

<?php
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}
?>
<div class="modal-body">
    <?php
    if ($this->error_msg !== null) { ?>
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <?php echo $this->error_msg; ?>
        </div>
    <?php }
    ?>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group has-feedback uploader icon_uploader">
                <?php
                echo $this->formElement($form->get('upload-icon'));
                echo $this->hpFormElementErrors($form->get('upload-icon'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                ?>
            </div>

            <div class="form-group has-feedback col-lg-12 col-md-12 col-sm-12 col-xs-12 input-error">
                <?php
                echo $this->formElement($form->get('title'));
                echo $this->hpFormElementErrors($form->get('title'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                ?>
                <span class="glyphicon glyphicon-header form-control-feedback" style="left: 175px;"></span>
            </div>

            <div class="form-group has-feedback col-lg-12 col-md-12 col-sm-12 col-xs-12 input-error">
                <?php
                echo $this->formElement($form->get('mode'));
                echo $this->hpFormElementErrors($form->get('mode'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                ?>
            </div>
            <?php
            echo $this->formElement($form->get('login'));
            echo $this->hpFormElementErrors($form->get('login'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
            ?>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-lateral-pad">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectpicker-error text-center" style="margin-bottom: 8px;">
                    <div class="form-group has-feedback">
                        <?php echo $this->formLabel($form->get('page_size')); ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <?php
                        echo $this->formElement($form->get('page_size'));
                        echo $this->hpFormElementErrors($form->get('page_size'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                        ?>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                    <?php
                    echo $this->formLabel($form->get('primary_font'));
                    echo $this->formElement($form->get('primary_font'));
                    echo $this->hpFormElementErrors($form->get('primary_font'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                    ?>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 30px;">
                    <?php
                    echo $this->formLabel($form->get('secondary_font'));
                    echo $this->formElement($form->get('secondary_font'));
                    echo $this->hpFormElementErrors($form->get('secondary_font'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
                    <div><?php echo $this->formLabel($form->get('global_bg')); ?></div>
                    <div id="cp-global_bg" class="input-group colorpicker-component">
                        <?php
                        echo $this->formElement($form->get('global_bg'));
                        echo $this->hpFormElementErrors($form->get('global_bg'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                        ?>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
                    <div><?php echo $this->formLabel($form->get('accent_bg')); ?></div>
                    <div id="cp-accent_bg" class="input-group colorpicker-component">
                        <?php
                        echo $this->formElement($form->get('accent_bg'));
                        echo $this->hpFormElementErrors($form->get('accent_bg'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                        ?>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
                    <div><?php echo $this->formLabel($form->get('primary_bg')); ?></div>
                    <div id="cp-primary_bg" class="input-group colorpicker-component">
                        <?php
                        echo $this->formElement($form->get('primary_bg'));
                        echo $this->hpFormElementErrors($form->get('primary_bg'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                        ?>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
                    <div><?php echo $this->formLabel($form->get('secondary_bg')); ?></div>
                    <div id="cp-secondary_bg" class="input-group colorpicker-component">
                        <?php
                        echo $this->formElement($form->get('secondary_bg'));
                        echo $this->hpFormElementErrors($form->get('secondary_bg'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                        ?>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
                    <div><?php echo $this->formLabel($form->get('light_txt')); ?></div>
                    <div id="cp-light_txt" class="input-group colorpicker-component">
                        <?php
                        echo $this->formElement($form->get('light_txt'));
                        echo $this->hpFormElementErrors($form->get('light_txt'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                        ?>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
                    <div><?php echo $this->formLabel($form->get('dark_txt')); ?></div>
                    <div id="cp-dark_txt" class="input-group colorpicker-component">
                        <?php
                        echo $this->formElement($form->get('dark_txt'));
                        echo $this->hpFormElementErrors($form->get('dark_txt'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                        ?>
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group has-feedback">
                    <?php echo $this->formLabel($form->get('filter')); ?>&nbsp;&nbsp;
                    <?php
                    echo $this->formElement($form->get('filter'));
                    echo $this->hpFormElementErrors($form->get('filter'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group has-feedback">
                    <?php echo $this->formLabel($form->get('share')); ?>&nbsp;&nbsp;
                    <?php
                    echo $this->formElement($form->get('share'));
                    echo $this->hpFormElementErrors($form->get('share'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group has-feedback">
                    <?php echo $this->formLabel($form->get('like')); ?>&nbsp;&nbsp;
                    <?php
                    echo $this->formElement($form->get('like'));
                    echo $this->hpFormElementErrors($form->get('like'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                </div>
            </div>
            <?php
            echo $this->formElement($form->get('sort'));
            echo $this->hpFormElementErrors($form->get('sort'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
            ?>
        </div>
    </div>

    <div class="error-box alert alert-warning" role="alert" style="display: none;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span class="error-msg">Undefined</span>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="margin-bottom: 0;">
        DISMISS
    </button>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
        <?php echo $this->formElement($form->get('save')); ?>
    </div>
</div>

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

    $(".switch-btn").bootstrapSwitch();


    /* LAYOUT PAGE SIZE */
    $("#page_size").bootstrapSlider({
        ticks: [0, 10, 20, 30, 40, 50],
        ticks_snap_bounds: 10,
        tooltip: 'always',
        value: 10
    });
    /* .../LAYOUT PAGE SIZE */


    var _colorpickerSettings = { format: 'hex' };
    $('#cp-global_bg').colorpicker(_colorpickerSettings);
    $('#cp-accent_bg').colorpicker(_colorpickerSettings);
    $('#cp-primary_bg').colorpicker(_colorpickerSettings);
    $('#cp-secondary_bg').colorpicker(_colorpickerSettings);
    $('#cp-light_txt').colorpicker(_colorpickerSettings);
    $('#cp-dark_txt').colorpicker(_colorpickerSettings);


    /* INIT INPUTS ON UPDATE */
    function initTemplateModalOnUpdate(data) {
        $('#template-id').val(data.id);
        $('#icon').val(data.icon);
        $('#title').val(data.title);
        var template_layout = JSON.parse(data.layout);
        $("#page_size").bootstrapSlider('setValue', template_layout.page_size);
        $('#mode').selectpicker('val', template_layout.auth.mode);
        $('#primary_font').selectpicker('val', template_layout.theme.font.primary);
        $('#secondary_font').selectpicker('val', template_layout.theme.font.secondary);
        $('#cp-global_bg').colorpicker('setValue', template_layout.theme.color.global_bg);
        $('#cp-accent_bg').colorpicker('setValue', template_layout.theme.color.accent_bg);
        $('#cp-primary_bg').colorpicker('setValue', template_layout.theme.color.primary_bg);
        $('#cp-secondary_bg').colorpicker('setValue', template_layout.theme.color.secondary_bg);
        $('#cp-light_txt').colorpicker('setValue', template_layout.theme.color.light_txt);
        $('#cp-dark_txt').colorpicker('setValue', template_layout.theme.color.dark_txt);
        $('#filter').bootstrapSwitch('state', template_layout.filter);
        $('#share').bootstrapSwitch('state', template_layout.share);
        $('#like').bootstrapSwitch('state', template_layout.like);
    }
    /* .../INIT INPUTS ON UPDATE */


    function emptyTemplateModalToDefault() {
        $('#template-id').val('');
        $('#icon').val('');
        $('#upload-icon').fileinput('destroy');
        $('#title').val('');
        $("#page_size").bootstrapSlider('setValue', 10);
        $('#mode').selectpicker('val', 'POPUP');
        $('#primary_font').selectpicker('val', '').selectpicker('refresh');
        $('#secondary_font').selectpicker('val', '').selectpicker('refresh');
        $('#cp-global_bg').colorpicker('setValue', '#ffffff');
        $('#cp-accent_bg').colorpicker('setValue', '#ffffff');
        $('#cp-primary_bg').colorpicker('setValue', '#ffffff');
        $('#cp-secondary_bg').colorpicker('setValue', '#ffffff');
        $('#cp-light_txt').colorpicker('setValue', '#ffffff');
        $('#cp-dark_txt').colorpicker('setValue', '#000000');
        $('#filter').bootstrapSwitch('state', false);
        $('#share').bootstrapSwitch('state', false);
        $('#like').bootstrapSwitch('state', false);
    }

</script>
