.nowrap {
    white-space: nowrap;
}

.ui-autocomplete {
    z-index: 9999 !important;
}

.top-buffer {
    margin-top: 20px;
}

.mce-tinymce.mce-container.mce-panel {
    /* FIX TO TINYMCE DISAPPEARING RIGHT SIDE */
    overflow: auto;
}

.uuid {
    width: 100%;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
}

.no-left-pad {
    padding-left: 0;
}

.no-right-pad {
    padding-right: 0;
}

.no-top-pad {
    padding-top: 0;
}

.no-bottom-pad {
    padding-bottom: 0;
}

.no-lateral-pad {
    padding-left: 0;
    padding-right: 0;
}

.no-vertical-pad {
    padding-top: 0;
    padding-bottom: 0;
}

.no-pad {
    padding: 0;
}

.users-list > li {
    margin-top: 25px;
    margin-bottom: 10px;
}

.btn-label-left {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-label-right {
    position: relative;
    right: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}

.btn.white-space {
    white-space: normal;
}

.user-panel > .image > a > img {
    width: 100%;
    max-width: 45px;
    height: auto;
}

/* VERTICAL ALIGN */
html, body {
    height: 100%;
    margin: 0;
    padding: 0
}

header .app-icon {
    position: absolute;
    top: 10px;
    max-width: 30px !important;
    max-height: 30px;
}

header .app-title {
    padding-left: 35px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

aside .selected-app h3 {
    padding: 0;
    margin: 0;
    color: #fff;
}

aside .app-icon {
    max-width: 50px !important;
    max-height: 50px;
    display: inline;
    float: left;
    margin-right: 10px;
}

aside .app-splash {
    width: 100%;
}

aside .app-bundle {
    width: 200px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    background-color: #2e3d44;
    padding: 2px 5px 2px 5px;
    margin-bottom: 6px;
}

aside .clean_col {
    padding: 0;
    margin: 0;
}

aside .section_title h3 {
    color: #4b646f;
    background: #1a2226;
    padding: 10px 10px 10px 15px;
    font-size: 16px;
    margin-bottom: 0;
}

aside .app_list li {
    border-bottom: 1px solid #1B4356;
    position: relative;
}

aside .app_list {
    padding: 0;
}

aside .app_list .app-icon {
    max-width: 45px !important;
    max-height: 45px;
    float: right;
    margin-right: 5px;
}

aside .app_list .app-bundle {
    width: 150px;
    padding: 2px 15px 2px 5px;
}

aside .app_list span {
    width: 150px;
    color: #b8c7ce;
    padding-left: 5px;
}

aside .app_list .close {
    position: absolute;
    top: 8px;
    right: 4px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

aside .app_list a.close:hover {
    background-color: transparent;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modal .modal-title {
    font-weight: bold;
}

.h-scroll {
    height: 90vh; /* %-height of the viewport */
    position: relative;
    overflow-y: auto;
}

.h-scroll::-webkit-scrollbar {
    width: 8px;
}

.h-scroll::-webkit-scrollbar-track {
    background-color: #000000ff;
    border-left: none;
}

.h-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #40535c;
}

.h-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #455a64;
}

.login-box, .registration-box {
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    min-width: 300px;
    max-width: 480px;
}

.wrapper .registration-box {
    margin: 0 auto;
    position: relative;
    top: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    min-width: 300px;
    max-width: 480px;
}

/* Template FIXED-CUSTOMIZED */
.sidebar-menu-box {
    position: relative;
}

.sidebar-menu-off {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.sidebar-menu .treeview-menu > li {
    margin: 0;
    padding-left: 20px;
}

.sidebar-menu > li > .treeview-menu {
    padding-bottom: 5px;
}

.sidebar-menu.off li, .sidebar-menu.off a {
    color: #555555 !important;
}

.btn-default {
    background-color: white;
}

.logo-box {
    width: 100%;
    text-align: center;
}

/* FORM ERROR (temporary easy CSS) */

.form_errors {
    padding: 0;
    margin: 0;
}

.form_errors li {
    color: #D62626;
    list-style-type: none;
}

/* Error tooltip */

ul.error-tooltip-left, ul.error-tooltip-left li,
ul.error-tooltip-right, ul.error-tooltip-right li {
    margin: 0;
    padding: 0;
    /*display: none;*/
}

.tooltip.left .tooltip-inner {
    background-color: #D62626;
    text-align: left;
    max-width: 250px;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #D62626;
}

.tooltip.right .tooltip-inner {
    background-color: #D62626;
    text-align: left;
    max-width: 250px;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #D62626;
}

.tooltip.top .tooltip-inner {
    background-color: #D62626;
    text-align: left;
    max-width: 250px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #D62626;
}

.tooltip.bottom .tooltip-inner {
    background-color: #D62626;
    text-align: left;
    max-width: 250px;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #D62626;
}

.input-error .error-tt-tag.left {
    position: relative;
    top: -18px;
}

.input-error .error-tt-tag.right {
    position: relative;
    top: -18px;
    right: 0px;
    float: right;
}

.input-group-error .error-tt-tag.right {
    position: relative;
    top: 18px;
    right: 0px;
    float: right;
}

.selectgrid-error .error-tt-tag.left {
    position: relative;
    top: 10px;
}

.selectpicker-error .error-tt-tag.left {
    position: relative;
    top: -45px;
}

.selectpicker-error .error-tt-tag.right {
    position: relative;
    top: 16px;
    right: 0px;
    float: right;
}

.checkbox-error .error-tt-tag.left {
    position: relative;
    top: -27px;
    left: 0px;
    float: left;
}

/* Backend CSS */

.text-area-no-resize {
    resize: none;
}

.new-application {
    background-color: indianred;
}

a.new-application:hover {
    background-color: darkred !important;
}

.new-application span, .new-application i {
    color: white;
}

.new-notification {
    background-color: #0e76bd;
}

a.new-notification:hover {
    background-color: #0e4d93 !important;
}

.new-notification span, .new-notification i {
    color: white;
}

.notification-btn button {
    min-width: 200px;
}

.uploader {
    padding-bottom: 15px;
}

.uploader .file-drop-zone {
    background: #EEEEEE;
}

.uploader .file-thumb-progress {
    top: 0;
}

.uploader .file-thumbnail-footer {
    height: 10px;
}

.uploader .file-preview-frame, .uploader .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none !important;
    text-align: center;
    width: 100%;
    height: auto;
}

#app .input-group {
    padding-left: 15px;
    padding-right: 15px;
}

#app .input-group .input-group-addon {
    background-color: #eee;
}

#app .colorpicker-element {
    padding: 0;
}

#app code {
    background-color: #eee;
    color: #aaaaaa;
}

#app .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #ffffff;
    color: #aaaaaa;
}

#app .upload-icon .file-input,
#app .upload-app-logo .file-input {
    height: 230px;
    width: 200px;
    margin: 0 auto;
}

#app .upload-splash .file-input {
    height: 480px;
    width: 270px;
    margin: 0 auto;
}

#app .upload-app-logo .file-input {
    height: 170px;
    width: 305px;
    margin: 0 auto;
}

#app .upload-icon .file-preview-frame,
#app .upload-app-logo .file-preview-frame {
    color: #aaa;
    height: 150px;
    width: 150px;
}

#app .upload-splash .file-preview-frame {
    color: #aaa;
    height: 390px;
    width: 220px;
}

#app .upload-app-logo .file-preview-frame {
    color: #aaa;
    height: 143px;
    width: 254px;
}

#app .upload-icon .file-drop-zone-title,
#app .upload-app-logo .file-drop-zone-title {
    padding: 30px 0 0 0;
    font-size: 26px;
}

#apiKeyAppModal .fixed_size {
    width: 420px;
}

/** TOP BUTTON BAR **/
a.btn-top-bar {
    display: table-cell;
    padding-bottom: 15px;
    padding-left: 5px;
}

a.btn-top-bar.deactive {
    filter: alpha(opacity=10);
    opacity: 0.1;
}

a.btn-top-bar.deactive:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

a.btn-top-bar .info-box-label {
    display: block;
    width: 90px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 24px;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.section-list-item {
    width: 100px;
    float: left;
    position: relative;
    min-height: 1px;
}

a.btn-top-bar .info-box-icon .fa {
    bottom: 6px;
    position: relative;
}

.section-list-item .info-box-label {
    line-height: 12px
}

.btn-rss-section .info-box-icon {
    background-color: #ff851b !important;
    color: white;
}

.btn-rss-section .info-box-icon:hover {
    background-color: rgb(231, 119, 25) !important;
    color: white;
}

.btn-podcast-section .info-box-icon {
    background-color: #d03535 !important;
    color: white;
}

.btn-podcast-section .info-box-icon:hover {
    background-color: rgb(167, 33, 33) !important;
    color: white;
}

.btn-twitter-section .info-box-icon {
    background-color: #00b6f1 !important;
    color: white;
}

.btn-twitter-section .info-box-icon:hover {
    background-color: rgb(0, 164, 222) !important;
    color: white;
}

.btn-info-section .info-box-icon {
    background-color: #b3b3b3 !important;
    color: white;
}

.btn-info-section .info-box-icon:hover {
    background-color: #aaaaaa !important;
    color: white;
}

.btn-favourite-section .info-box-icon {
    background-color: #e1d419 !important;
    color: white;
}

.btn-favourite-section .info-box-icon:hover {
    background-color: #d5c819 !important;
    color: white;
}

.btn-event-section .info-box-icon {
    background-color: #FF4FE7 !important;
    color: white;
}

.btn-event-section .info-box-icon:hover {
    background-color: rgb(225, 76, 201) !important;
    color: white;
}

.btn-person-section .info-box-icon {
    background-color: #3BDC44 !important;
    color: white;
}

.btn-person-section .info-box-icon:hover {
    background-color: rgb(53, 198, 61) !important;
    color: white;
}

.btn-poi-section .info-box-icon {
    background-color: #dca315 !important;
    color: white;
}

.btn-poi-section .info-box-icon:hover {
    background-color: #cd9615 !important;
    color: white;
}

.btn-generic-section .info-box-icon {
    background-color: #777777 !important;
    color: white;
    font-size: 2.7em;
}

.btn-generic-section .info-box-icon:hover {
    background-color: #666666 !important;
    color: white;
}

.btn-custom_form-section .info-box-icon {
    background-color: #67bbc6 !important;
    color: white;
}

.btn-custom_form-section .info-box-icon:hover {
    background-color: #5fabb6 !important;
    color: white;
}

.btn-web-section .info-box-icon {
    background-color: #00008b !important;
    color: white;
}

.btn-web-section .info-box-icon:hover {
    background-color: #00005c !important;
    color: white;
}

.btn-section-section .info-box-icon {
    background-color: #000000 !important;
    color: white;
}

.btn-section-section .info-box-icon:hover {
    background-color: rgba(23, 23, 23, 1) !important;
    color: white;
}

.btn-section-dev .info-box-icon {
    background-color: #4782ff !important;
    color: white;
}

.btn-section-dev .info-box-icon:hover {
    background-color: #4178eb !important;
    color: white;
}

.btn-section-qr-code .info-box-icon {
    background-color: #ab6bff !important;
    color: white;
}

.btn-section-qr-code .info-box-icon:hover {
    background-color: #9d6ae3 !important;
    color: white;
}

.btn-section-user .info-box-icon {
    background-color: #03a76a !important;
    color: white;
}

.btn-section-user .info-box-icon:hover {
    background-color: #039a62 !important;
    color: white;
}

.btn-register-section .info-box-icon {
    background-color: #777777 !important;
    color: white;
}

.btn-register-section .info-box-icon:hover {
    background-color: #666666 !important;
    color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 2px 2px 2px 3px;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #e5e5e5;
    border: none;
}

#sections td,
#contents td {
    vertical-align: middle;
}

#templates-list td.clickable,
#providersDataTable td.clickable,
#header-sections td.clickable,
#body-sections td.clickable,
#drawer-sections td.clickable,
#hidden-sections td.clickable,
#menu-sections td.clickable,
#contents td.clickable,
#forms-list-body td.clickable {
    cursor: pointer;
}

#section .upload-icon .file-drop-zone-title,
#section .upload-icon .file-preview-frame img {
    color: #aaa;
    height: 150px !important;
    width: 150px !important;
}

#section .uploader {
    padding: 0;
}

#section .upload-icon .file-input {
    width: 210px;
}

#section .upload-icon .file-drop-zone-title {
    padding: 40px 0 0 0;
    font-size: 26px;
}

#section .settings .panel {
    min-height: 473px;
}

#section code {
    background-color: #eee;
    color: #aaaaaa;
}

#section .switch-btn label {
    padding-top: 10px;
    padding-right: 5px;
}

#section .input-group .input-group-addon {
    background-color: #eee;
}

#section .data-grid-row .thumbnail {
    border: none;
}

#section .tokenfield {
    margin-bottom: 10px;
}

#section .has-error .form-control {
    background-color: rgba(208, 72, 66, 0.25);
    border: 1px solid;
}

#app .tab-content,
#notification .tab-content,
#section .tab-content,
#content .tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}

#section .slider.slider-horizontal {
    margin-left: 20px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc {
    background-image: none;
}

#content .tag_error,
#content .user_tag_error {
    position: absolute;
    font-weight: normal;
    right: 0;
    top: 0;
}

#section .tag_error {
    position: absolute;
    font-weight: normal;
    right: 16px;
    top: 0;
}

#registration .tag_error {
    float: right;
    position: relative;
    font-weight: normal;
    right: 2px;
    top: 15px;
}

@media (max-width: 991px) {
    .new-application {
        background-color: indianred !important;
    }

    .new-application i {
        margin-right: 0 !important;
    }

    .new-notification {
        background-color: #0e76bd !important;
    }

    .new-notification i {
        margin-right: 0 !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 1600px) {
    .custom-left-lg-reduce {
        width: 1% !important;
    }

    .custom-lg-enlarge {
        width: 98% !important;
    }

    .custom-right-lg-reduce {
        width: 1% !important;
    }
}

.file-preview-image {
    background: url(/img/placeholder/square-pattern.jpg) left top repeat;
    background-size: 8px;
}