


<!--<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
    <div class="box">
        <div class="box-header with-border">
            <h4 style="float: left;"><b>DEVICE DATA</b>&nbsp;&nbsp;&nbsp;(Previous 30 days)</h4>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
<!--            <a id="device-data-details" class="btn btn-default" href="--><?php //echo $this->basePath(); ?><!--/admin/analytics/device/data/details" style="float: right;">MORE INFO</a>-->
        </div>
        <div id="device-data-box" class="box-body chart_box_body_adapt no-pad text-center">
<!--            <div id="chart_device-data"><i class="fa fa-spinner fa-spin"></i></div>-->
        </div>
    </div>
<!--</div>-->



<script>
$(document).ready(function() {

    var deviceDataChartDiv = 'chart_device-data';

    var os   = JSON.stringify({ android: 1, ios: 1 });
    var type = JSON.stringify({ tablet: 1, smartphone: 1 });

    var fullDate = new Date();
    var twoDigitDate = fullDate.getDate()+""; if(twoDigitDate.length==1) twoDigitDate="0" +twoDigitDate;
    var twoDigitMonth = fullDate.getMonth() +1 +""; if(twoDigitMonth.length==1) twoDigitMonth="0" +twoDigitMonth;
    var twoDigitPastMonth = fullDate.getMonth() +""; if(twoDigitPastMonth.length==1) twoDigitPastMonth="0" +twoDigitPastMonth;

    var fromDate    = fullDate.getFullYear() + "-" + twoDigitPastMonth + "-" + twoDigitDate;
    var currentDate = fullDate.getFullYear() + "-" + twoDigitMonth + "-" + twoDigitDate;

    google.charts.load('current', {'packages':['corechart'], 'callback': drawDeviceDataChart});

    function drawDeviceDataChart() {
        $.ajax({
            url: "<?php echo $this->basePath(); ?>/ajax/analytics/device/data",
            data: { os: os, type: type, from: fromDate, to: currentDate },
            dataType: "json"
        }).done(function(jsonData) {
            if (jsonData.length == 0) {
                $('#device-data-box').append('<div id="chart_device-data"><p>No available data</p></div>');
            } else {
                $('#device-data-box').append('<div id="chart_device-data"><i class="fa fa-spinner fa-spin"></i></div>');
                var data = new google.visualization.DataTable(jsonData);

                var options = { 'height': 300 };
                var chart = new google.visualization.PieChart(document.getElementById(deviceDataChartDiv));

                chart.draw(data, options);
            }
        }).fail(function() {
            google.visualization.errors.addError(deviceDataChartDiv, "Failed to load data for the chart.");
        });
    }

});
</script>