


<!--<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
    <div class="box">
        <div class="box-header with-border">
            <h4 style="float: left;"><b>CONTENT DATA</b>&nbsp;&nbsp;&nbsp;(Previous 30 days)</h4>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
<!--            <a id="posts-data-details" class="btn btn-default" href="--><?php //echo $this->basePath(); ?><!--/admin/analytics/posts/data/details" style="float: right;">MORE INFO</a>-->
        </div>
        <div id="posts-data-box" class="box-body chart_box_body_adapt no-pad text-center">
<!--            <div id="chart_posts-data"><i class="fa fa-spinner fa-spin"></i></div>-->
        </div>
    </div>
<!--</div>-->



<script>
$(document).ready(function() {

    var postsDataChartDiv = 'chart_posts-data';

    var posts = JSON.stringify({ "VIEW": 1, "SHARE": 1, "LIKE": 1, "UNLIKE": 1 });

    var fullDate = new Date();
    var twoDigitDate = fullDate.getDate()+""; if(twoDigitDate.length==1) twoDigitDate="0" +twoDigitDate;
    var twoDigitMonth = fullDate.getMonth() +1 +""; if(twoDigitMonth.length==1) twoDigitMonth="0" +twoDigitMonth;
    var twoDigitPastMonth = fullDate.getMonth() +""; if(twoDigitPastMonth.length==1) twoDigitPastMonth="0" +twoDigitPastMonth;

    var fromDate    = fullDate.getFullYear() + "-" + twoDigitPastMonth + "-" + twoDigitDate;
    var currentDate = fullDate.getFullYear() + "-" + twoDigitMonth + "-" + twoDigitDate;

    google.charts.load('current', {'packages':['corechart'], 'callback': drawPostsDataChart});

    function drawPostsDataChart() {
        $.ajax({
            url: "<?php echo $this->basePath(); ?>/ajax/analytics/posts/data",
            data: { posts: posts, from: fromDate, to: currentDate },
            dataType: "json"
        }).done(function(jsonData) {
            if (jsonData.length == 0) {
                $('#posts-data-box').append('<div id="chart_posts-data"><p>No available data</p></div>');
            } else {
                $('#posts-data-box').append('<div id="chart_posts-data"><i class="fa fa-spinner fa-spin"></i></div>');
                var data = new google.visualization.DataTable(jsonData);

                var options = {'height': 300, curveType: 'function', legend: {position: 'top'}};
                var chart = new google.visualization.LineChart(document.getElementById(postsDataChartDiv));

                chart.draw(data, options);
            }
        }).fail(function() {
            google.visualization.errors.addError(postsDataChartDiv, "Failed to load data for the chart.");
        });
    }

});
</script>