
<div class="col-xs-9" id="tplCarousel-box">
    <div id="tplCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <!-- div class="item active"><img src="/img/template/modern/pages/view001.png" alt="001"></div>
            <div class="item"><img src="/img/template/modern/pages/view002.png" alt="002"></div>
            <div class="item"><img src="/img/template/modern/pages/view003.png" alt="003"></div>
            <div class="item"><img src="/img/template/modern/pages/view004.png" alt="004"></div -->

            <?php
                $first = true;
                foreach( $this->views as $view) {
                    if($first) {
                        ?> <div class="item active"><img src="<?php echo $this->basePath() . $this->root . $view; ?>" alt="001"></div> <?php
                        $first = false;
                    } else {
                        ?> <div class="item"><img src="<?php echo $this->basePath() . $this->root . $view; ?>" alt="001"></div> <?php
                    }
                }

            ?>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
</div>