<?php
/** @var \Form\Registration\RegistrationForm $form */
$form = $this->registrationForm;
$form->setAttributes(array('autocomplete' => 'off'));
$form->prepare();
?>

<div class="modal fade" id="addBackendUserModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <?php echo $this->form()->openTag($form); ?>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">ADD BACKEND USER</h4>
            </div>
            <div class="modal-body">
                <?php
                if ($this->error_msg !== null) { ?>
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <?php echo $this->error_msg; ?>
                    </div>
                <?php }
                ?>

                <div class="row form-group has-feedback input-error">
                    <div class="col-xs-6">
                        <?php
                        echo $this->formElement($form->get('first-name'));
//                        echo $this->formElementErrors($form->get('first-name'), array('class' => "error-tooltip-left"));
                        ?>
                    </div>

                    <div class="col-xs-6">
                        <?php
                        echo $this->formElement($form->get('last-name'));
//                        echo $this->formElementErrors($form->get('last-name'), array('class' => "error-tooltip-left"));
                        ?>
                    </div>
                </div>

                <div class="form-group has-feedback input-error">
                    <?php
                    echo $this->formElement($form->get('email'));
//                    echo $this->formElementErrors($form->get('email'), array('class' => "error-tooltip-left"));
                    ?>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback input-error">
                    <?php
                    echo $this->formElement($form->get('password'));
//                    echo $this->formElementErrors($form->get('password'), array('class' => "error-tooltip-left"));
                    ?>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="margin-bottom: 0;">
                    DISMISS
                </button>
                <button type="button" class="modal-confirm-btn btn btn-success btn-labeled" style="margin-bottom: 0;">
                    ADD USER
                    <span class="btn-label-right"><i class="glyphicon glyphicon-ok"></i></span>
                </button>
            </div>
            <?php echo $this->form()->closeTag(); ?>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    $(document).ready(function () {
        var $addBackendUserModal = $('#addBackendUserModal');

        $('#add-backend-user').on('click', function () {
            $addBackendUserModal.modal();
        });

        $addBackendUserModal.on('show.bs.modal', function (event) {
            $addBackendUserModal.find('.modal-body .text-box').show();
            $addBackendUserModal.find('.modal-body .error-box').hide();
            $addBackendUserModal.find('.modal-confirm-btn').unbind("click");
            $addBackendUserModal.find('.modal-confirm-btn').bind("click", function () {
                $addBackendUserModal.find('form#registration').submit();
            });
        });

        <?php
        if ($this->error_msg !== null) {
        ?>
        $addBackendUserModal.modal();
        <?php
        }
        ?>
    });

</script>