<style>
    #setRegistrationSectionModal .btn {
        margin-bottom: 0;
    }

    #setRegistrationSectionModal .modal-body {
        min-height: 100px;
    }
</style>

<div class="modal fade" id="setRegistrationSectionModal" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Danger Modal</h4>
            </div>
            <div class="modal-body">
                <p class="text-box">
                    Another registration section is active.<br />
                    Do you really want to set this section as the main registration?
                </p>
                <div class="error-box alert alert-warning" role="alert" style="display: none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span class="error-msg">Undefined</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    DISMISS
                </button>
                <button type="button" id="set-registration-section-confirm" class="modal-confirm-btn btn btn-success btn-labeled">
                    CONFIRM
                    <span class="btn-label-right"><i class="glyphicon glyphicon-ok"></i></span>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">

    /* SWITCH NEW REGISTRATION TO PUBLIC & OLD TO DRAFT */
    $('#setRegistrationSectionModal').on('show.bs.modal', function (event) {
        $('#setRegistrationSectionModal .modal-body .text-box').show();
        $('#setRegistrationSectionModal .modal-body .error-box').hide();
        $('#setRegistrationSectionModal .modal-confirm-btn').unbind("click");
        $('#setRegistrationSectionModal .modal-confirm-btn').bind("click", function() {
            var sectionId = $(this).attr("section-id");
            var oldRegistrationId = $(this).attr("old-registration-id");

            $.post("<?php echo $this->basePath(); ?>/ajax/section/"+sectionId+"/status/", { "override": 1, "status": null, "oldRegistrationId": oldRegistrationId }, function( response ) {
                if (response.success) {
                    changeStatusToPublic(sectionId);
                    changeStatusToDraft(oldRegistrationId);

                    $('#setRegistrationSectionModal').modal('hide');
                } else {
                    $('#setRegistrationSectionModal .modal-body .error-msg').html("ERROR: you can't override the registration!");
                    $('#setRegistrationSectionModal .modal-body .text-box').hide();
                    $('#setRegistrationSectionModal .modal-body .error-box').show();
                }
            });
        });
    });
    /* .../SWITCH NEW REGISTRATION TO PUBLIC & OLD TO DRAFT */

</script>