<div class="modal fade" id="sectionCustomFormGroupCreateModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">CREATE NEW GROUP</h4>
            </div>
            <div class="modal-body">

                <input name="custom_form-group-create" type="text" id="custom_form-group-create" class="form-control"
                       placeholder="" data-width="100%" value="" maxlength="20">
                <span id="group-uniqueness-error-message" class="label label-danger" style="margin-left: 5px;"></span>
                <input type="hidden" name="custom_form_group_label_modified" id="custom_form_group_label_modified"
                       value="">

                <div class="error-box alert alert-warning" role="alert" style="display: none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span class="error-msg">Undefined</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="margin-bottom: 0;">
                    DISMISS
                </button>
                <div class="modal-custom_form-group-action-btn"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    $('#sectionCustomFormGroupCreateModal').on('show.bs.modal', function (event) {

        $('#sectionCustomFormGroupCreateModal .modal-body .text-box').show();
        $('#sectionCustomFormGroupCreateModal .modal-body .error-box').hide();
        $('#sectionCustomFormGroupCreateModal .modal-confirm-btn').unbind("click");
        isGroupCreateOrUpdate();


    }).on('shown.bs.modal', function () {
        $('#sectionCustomFormGroupCreateModal #custom_form-group-create').focus();
    }).on('hidden.bs.modal', function () {

        if (!$('#custom_form_group_label_modified').val()) {
            var node_data = JSON.parse($('#sectionCustomFormGroupCreateModal .modal-confirm-btn').attr('node-data'));
            if (node_data.type == "group") {
                populateNameArray(node_data.type, node_data.li_attr.text);
            }
        }
        $('#sectionCustomFormGroupCreateModal #custom_form-group-create').val('');
        $('#sectionCustomFormGroupCreateModal #custom_form_group_label_modified').val('');
        $('#group-uniqueness-error-message').html('');
    });

    function isGroupCreateOrUpdate() {
        if ($('#sectionCustomFormGroupCreateModal .modal-confirm-btn').attr('id') == 'update-custom-form-group-btn') {
            var node_data = JSON.parse($('#sectionCustomFormGroupCreateModal .modal-confirm-btn').attr('node-data'));
            removeLabelFromArray(node_data);
            $('#sectionCustomFormGroupCreateModal #custom_form-group-create').val(node_data.text);
            $('#sectionCustomFormGroupCreateModal .modal-confirm-btn').bind("click", function () {
                var new_group_label = $('#sectionCustomFormGroupCreateModal #custom_form-group-create').val();
                custom_form_jstree.jstree().rename_node(node_data, new_group_label);
                var $anchor = $('#' + node_data.id + '_anchor');
                var $fieldSetIcon = $anchor.find('i.jstree-icon');
                $anchor.html($fieldSetIcon.prop('outerHTML') + new_group_label);

                var currentLang = '<?php echo $this->aclHelper->session->currentLang; ?>';
                var userLanguages = <?php echo $this->aclHelper->getUserLanguages(); ?>;
                var $fieldSetNode = $('#' + node_data.id);
                var labelsObj = null;
                try {
                    labelsObj = JSON.parse($fieldSetNode.attr('value'));
                    if (typeof(labelsObj) === "object") {
                        labelsObj[currentLang] = new_group_label;
                    } else {
                        labelsObj = setMultiLanguageObject(currentLang, new_group_label, new_group_label, userLanguages);
                    }
                } catch (e) {
                    labelsObj = setMultiLanguageObject(currentLang, new_group_label, new_group_label, userLanguages);
                }

                $fieldSetNode.attr('value', JSON.stringify(labelsObj));

                group_names.push(new_group_label);

                $('#custom_form_group_label_modified').val(true);
                $('#sectionCustomFormGroupCreateModal').modal('hide');
            });
        } else {
            $('#sectionCustomFormGroupCreateModal .modal-confirm-btn').prop('disabled', true);
            $('#sectionCustomFormGroupCreateModal .modal-confirm-btn').bind("click", function () {
                var lang = '<?php echo $this->aclHelper->getApp()->main_contents_language; ?>';
                var userLanguages = <?php echo $this->aclHelper->getUserLanguages(); ?>;
                var name = $('#sectionCustomFormGroupCreateModal #custom_form-group-create').val();
                var label = setMultiLanguageObject(lang, name, name, userLanguages);
                var group_name = {
                    "name": name,
                    "label": label
                };
                var group_details = getJstreeDetails('group', group_name);
                var newly_created_group = jstreeGroupsAndFields('group', group_details, false);
                addNewlyCreatedJstreeObj('root', newly_created_group);

                $('#custom_form_group_label_modified').val(true);
                $('#sectionCustomFormGroupCreateModal').modal('hide');
            });
        }
    }

    $('#sectionCustomFormGroupCreateModal #custom_form-group-create').on('keyup', function (event) {
        if (reenableCreateGroupBtnCheck($(this).val())) {
            $('#sectionCustomFormGroupCreateModal .modal-confirm-btn').prop('disabled', false);
            if (event.which == 13) $('#sectionCustomFormGroupCreateModal .modal-confirm-btn').click();
        } else {
            $('#sectionCustomFormGroupCreateModal .modal-confirm-btn').prop('disabled', true);
        }
    });

    function reenableCreateGroupBtnCheck(value) {
        var reenable_create_btn = false;
        $('#group-uniqueness-error-message').html('');

        if ($.trim(value) != "") {
            reenable_create_btn = true;
            if ($('#sectionCustomFormGroupCreateModal .modal-confirm-btn').attr('id') === 'create-custom-form-group-btn') {
                $.each(group_names, function (k, v) {
                    if (value == v) {
                        $('#group-uniqueness-error-message').html("This group label already exists!");
                        reenable_create_btn = false;
                    }
                });
            }
        }

        return reenable_create_btn;
    }
</script>