<style>
.content_checkbox_discern .boxColorPreview {
    height: 22px;
    width: 22px;
    border: solid 1px #dddddd;
    margin-right: 2px;
    display: inline-block;
}

.content_checkbox_discern {
    border-bottom: solid 1px #dddddd;
    margin-bottom: 5px;
}

.content_checkbox_discern .icheckbox_square-blue {
    top: 15px;
    left: 5px;
}

#updateContentLayoutsOverall .titleColorPreview {
    height: 30px;
    width: 30px;
    border: solid 1px #dddddd;
    margin-right: 2px;
}
</style>



<div class="modal fade" id="updateContentLayoutsOverall" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">UPDATE CONTENTS COLOR LAYOUT</h4>
            </div>
            <div class="modal-body">
                <p class="text-box">Do you want to update the layout color of the following Contents with:</p>
                <span id="title_content_colors"></span>
                <div class="box">
                    <div class="box-body">
                        <div id="appDifferentContentLayout"></div>
                    </div>
                </div>
                <div class="error-box alert alert-warning" role="alert" style="display: none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span class="error-msg">Undefined</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    IGNORE
                </button>
                <button type="button" id="updateContentLayoutsBtn" class="modal-confirm-btn btn btn-danger btn-labeled">
                    <span class="btn-label-left"><i class="glyphicon glyphicon-trash"></i></span>
                    UPDATE
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<script type="application/javascript">
    $('#updateContentLayoutsOverall').on('show.bs.modal', function (event) {

        var template_id = $('#updateContentLayoutsBtn').attr("template_id");
        var old_layout  = $('#updateContentLayoutsBtn').attr("old_layout");
        var new_layout  = $('#updateContentLayoutsBtn').attr("new_layout");

        var new_lay_color = JSON.parse(new_layout).color;
        var suggested_new_layout =
            '<div style="display: inline-flex; margin-bottom: 15px;">' +
                '<div class="titleColorPreview" style="background-color: '+new_lay_color.global_bg+';"></div>' +
                '<div class="titleColorPreview" style="background-color: '+new_lay_color.accent_bg+';"></div>' +
                '<div class="titleColorPreview" style="background-color: '+new_lay_color.primary_bg+';"></div>' +
                '<div class="titleColorPreview" style="background-color: '+new_lay_color.secondary_bg+';"></div>' +
                '<div class="titleColorPreview" style="background-color: '+new_lay_color.light_txt+';"></div>' +
                '<div class="titleColorPreview" style="background-color: '+new_lay_color.dark_txt+';"></div>' +
            '</div>';

        $('#title_content_colors').append(suggested_new_layout);

        $.get("<?php echo $this->basePath(); ?>/ajax/app/get/content/layouts/", { old_layout: old_layout, new_layout: new_layout, template_id: template_id }, function(data) {
            var diff_cont = JSON.parse(data);

            for(var i = 0; i < diff_cont.length; i++) {
                var color = JSON.parse(diff_cont[i].layout).theme.color;

                var html =
                    '<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">' +
                        '<div class="icheckbox content_checkbox_discern">' +
                            '<label>' +
                                '<input class="cont_check" type="checkbox" data-id="'+diff_cont[i].id+'">' +
                                '<a href="<?php echo $this->basePath(); ?>/admin/content/'+diff_cont[i].type+'/'+diff_cont[i].id+'" target="_blank" style="margin-left: 20px;">'+diff_cont[i].title+'</a>' +
                                '<div style="margin-left: 42px;">' +
                                    '<div class="boxColorPreview" style="background-color: '+color.global_bg+';"></div>' +
                                    '<div class="boxColorPreview" style="background-color: '+color.accent_bg+';"></div>' +
                                    '<div class="boxColorPreview" style="background-color: '+color.primary_bg+';"></div>' +
                                    '<div class="boxColorPreview" style="background-color: '+color.secondary_bg+';"></div>' +
                                    '<div class="boxColorPreview" style="background-color: '+color.light_txt+';"></div>' +
                                    '<div class="boxColorPreview" style="background-color: '+color.dark_txt+';"></div>' +
                                '</div>' +
                            '</label>' +
                        '</div>' +
                    '</div>';

                $('#appDifferentContentLayout').append(html);
                icheckInit();
            }
        });

        $('#updateContentLayoutsOverall .modal-body .text-box').show();
        $('#updateContentLayoutsOverall .modal-body .error-box').hide();
        $('#updateContentLayoutsOverall .modal-confirm-btn').unbind("click");
        $('#updateContentLayoutsOverall .modal-confirm-btn').bind("click", function() {
            var changed_contents_ids = [];
            $("input[type=checkbox]:checked.cont_check").each(function(){
                changed_contents_ids.push($(this).attr("data-id"));
            });

            if (changed_contents_ids.length === 0) {
                appSubmit();
            } else {
                updateContentLayouts(template_id, new_layout, changed_contents_ids);
            }
        });
    });

    $('#updateContentLayoutsOverall').on('hidden.bs.modal', function () {
        appSubmit();
    });

    function updateContentLayouts(template_id, new_layout, changed_contents_ids) {
        $.get("<?php echo $this->basePath(); ?>/ajax/app/set/content/layouts/", { new_layout: new_layout, contents_id: changed_contents_ids, template_id: template_id }, function(data) {
            if(data.success) {
                appSubmit();
            } else {
                $('#updateContentLayoutsOverall .modal-body .error-msg').html("ERROR: impossible to change the contents layouts!");
                $('#updateContentLayoutsOverall .modal-body .text-box').hide();
                $('#updateContentLayoutsOverall .modal-body .error-box').show();
            }
        });
    }

    function icheckInit() {
        $('.icheckbox').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    }
</script>