<style>
#copyToClipboardModal .btn {
    margin-bottom: 0;
    padding: 0;
}
</style>

<div class="modal fade" id="copyToClipboardModal" role="dialog" tabindex="-1" >
    <div class="modal-dialog fixed_size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">TITLE</h4>
            </div>
            <div class="modal-body">
                <p class="text-box">VALUE</p>
            </div>
            <div class="modal-footer">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-4"><span id="copied_message"></span></div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-8">
                    <button type="button" class="copy_clipboard btn btn-primary btn-block">
                        <span class="btn-label-left" style="left: -22px;"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
                        COPY TO CLIPBOARD
                    </button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
$(document).ready(function() {
    /* COPY UUID TO CLIPBOARD */
    var clipboard = new Clipboard('#copyToClipboardModal .copy_clipboard');

    clipboard.on('success', function(e) {
//        console.info('Text:', e.text);

        var copied = "<span>Copied!</span>";
        $('#copied_message').html('').removeAttr('style').html(copied).fadeOut(1000, function() {
            $('#copyToClipboardModal').modal('hide');
        });
    });
});

function openCopyToClipboardModal($modalApiKeyBtn) {
    var title = "YOUR API KEY";
    var appKey = $modalApiKeyBtn.data('appKey');
    var appVersion = $modalApiKeyBtn.data('appVersion');
    var apiUrl = $modalApiKeyBtn.data('apiUrl');

    var QRCodeData = {
        app_key: appKey,
        app_version: appVersion,
        api_url: apiUrl
    };

    var content =   '<div class="row">' +
                        '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">' +
                            '<kbd class="uuid">' + appKey + '</kbd>' +
                        '</div>' +
                    '</div>' +
                    '<div class="row">' +
                        '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">' +
                            '<div class="thumbnail">' +
                                '<img height="400" width="400" src="https://chart.googleapis.com/chart?chs=400x400&cht=qr&chl=' + encodeURI("hp://" + JSON.stringify(QRCodeData)) + '&choe=UTF-8" />' +
                                '<div class="caption"></div>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div class="row" style="text-align: center;">' +
                        '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">' +
                            '<span>Download HUB+ from iOS/Android store and test your application</span>' +
                        '</div>' +
                    '</div>' +
                    '<div style="height: 10px"></div>' +
                    '<div class="row" style="text-align: center;">' +
                        '<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">' +
                            '<a href="<?php echo $this->appStoreLink; ?>">' +
                                '<img src="/img/logos/App_Store_Badge.svg" alt="HUB+ iOS app link" height="40" width="135">' +
                            '</a>' +
                        '</div>' +
                        '<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">' +
                            '<a href="<?php echo $this->playStoreLink; ?>">' +
                                '<img src="/img/logos/google-play-badge.png" alt="HUB+ Android app link" height="40" width="135">' +
                            '</a>' +
                        '</div>' +
                    '</div>';

    $('#copyToClipboardModal .modal-title').html(title.toUpperCase());
    $('#copyToClipboardModal .modal-body').html(content);
    $('#copyToClipboardModal .copy_clipboard').attr('data-clipboard-text', appKey);

    $('#copyToClipboardModal').modal();
}

</script>