<style>
    #CUSTOM_FIELD .uploader {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    #CUSTOM_FIELD .uploader .file-drop-zone {
        background: #EEEEEE;
    }

    #CUSTOM_FIELD .uploader .file-thumb-progress {
        top: 0;
    }

    #CUSTOM_FIELD .uploader .file-thumbnail-footer {
        height: 10px;
    }

    #CUSTOM_FIELD .uploader .file-preview-frame {
        width: 100% !important;
    }

    #CUSTOM_FIELD .uploader .file-preview-frame,
    #CUSTOM_FIELD .uploader .file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none !important;
        text-align: center;
    }

    #CUSTOM_FIELD .icon_uploader .file-input {
        height: 230px !important;
        width: 220px !important;
        /*width: 200px !important;*/
    }

    #CUSTOM_FIELD .icon_uploader .file-drop-zone-title,
    #CUSTOM_FIELD .icon_uploader .file-preview-frame img {
        color: #aaa;
        height: 150px !important;
        width: 169px !important;
        /*width: 150px !important;*/
    }

    #CUSTOM_FIELD .icon_uploader .file-drop-zone-title {
        padding: 30px 0 0 0;
        font-size: 26px;
    }

    .hidden_field {
        color: #bbbbbb;
    }
</style>

<div class="modal fade" id="sectionCustomFormFieldActionModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">TITLE</h4>
            </div>
            <div class="modal-body">
                <?php
                /** @var \Form\Section\CustomForm\CustomFieldForm $formField */
                $formField = $this->form_field;
                $formField->prepare();

                echo $this->form()->openTag($formField);

                foreach ($formField->getFormHiddenElement() as $field) {
                    echo $this->formElement($formField->get($field));
                }
                ?>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <?php echo $this->formLabel($formField->get('custom_form_field_label')); ?>
                                <span id="uniqueness-label-error-message" class="label label-danger"
                                      style="margin-left: 20px;"></span>
                                <div class="form-group has-feedback input-error">
                                    <?php
                                    echo $this->formElement($formField->get('custom_form_field_label'));
                                    echo $this->hpFormElementErrors($formField->get('custom_form_field_label'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    echo $this->formElement($formField->get('custom_form_old_field_label'));
                                    echo $this->formElement($formField->get('custom_form_field_label_modified'));
                                    ?>
                                </div>
                            </div>
                            <div id="custom_form_hidden_div" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                                <?php echo $this->formLabel($formField->get('custom_form_field_hidden')); ?>
                                <div class="form-group has-feedback selectpicker-error">
                                    <?php
                                    echo $this->formElement($formField->get('custom_form_field_hidden'));
                                    echo $this->hpFormElementErrors($formField->get('custom_form_field_hidden'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                            <div id="custom_form_required_div" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                                <?php echo $this->formLabel($formField->get('custom_form_field_required')); ?>
                                <div class="form-group has-feedback selectpicker-error">
                                    <?php
                                    echo $this->formElement($formField->get('custom_form_field_required'));
                                    echo $this->hpFormElementErrors($formField->get('custom_form_field_required'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <?php echo $this->formLabel($formField->get('custom_form_field_type')); ?>
                                <div class="form-group has-feedback selectpicker-error">
                                    <?php
                                    echo $this->formElement($formField->get('custom_form_field_type'));
                                    echo $this->hpFormElementErrors($formField->get('custom_form_field_type'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>

                            <div id="custom_form_type_validator_div"
                                 class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                <?php echo $this->formLabel($formField->get('custom_form_field_type_validator')); ?>
                                <div class="form-group has-feedback selectpicker-error">
                                    <?php
                                    echo $this->formElement($formField->get('custom_form_field_type_validator'));
                                    echo $this->hpFormElementErrors($formField->get('custom_form_field_type_validator'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div id="custom_form_field_select_type_div" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <?php echo $this->formLabel($formField->get('custom_form_field_select_type')); ?>
                                <div class="form-group has-feedback selectpicker-error">
                                    <?php
                                    echo $this->formElement($formField->get('custom_form_field_select_type'));
                                    echo $this->hpFormElementErrors($formField->get('custom_form_field_select_type'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>

                            <div id="custom_form_field_select_related_div"
                                 class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                <?php echo $this->formLabel($formField->get('custom_form_field_select_related')); ?>
                                <div class="form-group has-feedback selectpicker-error">
                                    <?php
                                    echo $this->formElement($formField->get('custom_form_field_select_related'));
                                    echo $this->hpFormElementErrors($formField->get('custom_form_field_select_related'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="custom_form_default_value_div" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <?php echo $this->formLabel($formField->get('custom_form_field_default_value')); ?>
                        <div class="form-group has-feedback input-error">
                            <?php
                            echo $this->formElement($formField->get('custom_form_field_default_value'));
                            echo $this->hpFormElementErrors($formField->get('custom_form_field_default_value'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                        </div>
                    </div>

                    <div id="custom_form_tag_values_div" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <?php echo $this->formLabel($formField->get('custom_form_field_tag_values')); ?>
                        <div class="form-group has-feedback input-error">
                            <?php
                            echo $this->formElement($formField->get('custom_form_field_tag_values'));
                            echo $this->hpFormElementErrors($formField->get('custom_form_field_tag_values'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                            <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                            <span class="tag_error text-danger"></span>
                        </div>
                    </div>

                    <div id="custom_form_upload_icon_div" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-left-pad">
                        <div id="custom_form_field_is_avatar_div" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <?php echo $this->formLabel($formField->get('custom_form_field_is_avatar')); ?>
                            <div class="form-group has-feedback selectpicker-error">
                                <?php
                                echo $this->formElement($formField->get('custom_form_field_is_avatar'));
                                echo $this->hpFormElementErrors($formField->get('custom_form_field_is_avatar'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-left-pad">
                            <div class="form-group has-feedback uploader icon_uploader">
                                <?php
                                echo $this->formElement($formField->get('custom_form_field_upload-icon'));
                                echo $this->hpFormElementErrors($formField->get('custom_form_field_upload-icon'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                            </div>
                        </div>
                    </div>

                    <div id="custom_form_description_div" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <?php echo $this->formLabel($formField->get('custom_form_field_description')); ?>
                        <div class="form-group has-feedback input-error">
                            <?php
                            echo $this->formElement($formField->get('custom_form_field_description'));
                            echo $this->hpFormElementErrors($formField->get('custom_form_field_description'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                        </div>
                    </div>

                    <div id="custom_form_facebook_div" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                        <?php echo $this->formLabel($formField->get('custom_form_field_facebook_type')); ?>
                        <div class="form-group has-feedback selectpicker-error">
                            <?php
                            echo $this->formElement($formField->get('custom_form_field_facebook_type'));
                            echo $this->hpFormElementErrors($formField->get('custom_form_field_facebook_type'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                            ?>
                        </div>
                    </div>

                    <div id="custom_form_boxes_div">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <?php echo $this->formLabel($formField->get('custom_form_field_boxes_value')); ?>
                            <span id="option-value-error-message" class="label label-danger"
                                  style="margin-left: 20px;"></span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="input-group has-feedback">
                                <?php
                                echo $this->formElement($formField->get('custom_form_field_boxes_value'));
                                echo $this->hpFormElementErrors($formField->get('custom_form_field_boxes_value'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                ?>
                                <div class="input-group-btn">
                                    <button id="custom_form_related_boxes_dropdown" type="button"
                                            class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            data-related-key="#" data-key="#">
                                        <span id="custom_form_related_boxes_dropdown_text"><?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_RELATED_DROP_DOWN_NULL_LABEL; ?></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="custom_form_related_list_value" class="dropdown-menu dropdown-menu-right">
                                    </ul>
                                    <button type="button" name="custom_form_field_add_boxes_value"
                                            id="custom_form_field_add_boxes_value"
                                            class="btn btn-primary btn-flat" value="">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="custom_form_field_boxes_total_values"></div>
                            <?php echo $this->formElement($formField->get('custom_form_field_boxes_values_json')); ?>
                        </div>
                    </div>
                </div>

                <?php echo $this->form()->closeTag(); ?>

                <div class="error-box alert alert-warning" role="alert" style="display: none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span class="error-msg">Undefined</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="margin-bottom: 0;">
                    DISMISS
                </button>
                <div class="modal-custom_form-field-action-btn"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">

    var fieldDropText = "Drag & drop icon here...";
    var fieldBaseurl = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getCustomFormIconUrl(); ?>";
    var fieldUploadUrl = "<?php echo $this->basePath(); ?>/media/custom_form/icon";
    var currentLang = '<?php echo $this->aclHelper->session->currentLang; ?>';

    var $sectionCustomFormFieldActionModal = $('#sectionCustomFormFieldActionModal');
    var boxOptionValuesCounter = 0;
    var $custom_form_field_boxes_value = $('#custom_form_field_boxes_value');
    var $custom_form_field_add_boxes_value = $('#custom_form_field_add_boxes_value');

    tinymce.init({
        selector: '#custom_form_field_description',
        setup: function (ed) {
            ed.on('init', function () {
                ed.execCommand("fontName", false, "sans-serif");
            });
            ed.on('keyup', function () {
                modalBtnReenableCheck();
            });
        },
        table_default_styles: {
            width: '100%'
        }
    });

    $sectionCustomFormFieldActionModal.on('show.bs.modal', function (event) {
        $sectionCustomFormFieldActionModal.find('.modal-body .text-box').show();
        $sectionCustomFormFieldActionModal.find('.modal-body .error-box').hide();
        disableAllCustomFormInputs();
        $sectionCustomFormFieldActionModal.find('.modal-confirm-btn').unbind("click");
        isFieldCreateOrUpdate();
        $sectionCustomFormFieldActionModal.find('#custom_form_field_is_avatar_div').hide();
    }).on('shown.bs.modal', function () {

    }).on('hidden.bs.modal', function () {
        if (!$('#custom_form_field_label_modified').val()) {
            var node_data = JSON.parse($sectionCustomFormFieldActionModal.find('.modal-confirm-btn').attr('node-data'));
            if (node_data.type === "field") {
                populateNameArray(node_data.type, node_data.li_attr.text);
            }
        }
        emptyFieldModalToDefault();
    });

    function isFieldCreateOrUpdate() {
        var node_data = JSON.parse($sectionCustomFormFieldActionModal.find('.modal-confirm-btn').attr('node-data'));

        if ($sectionCustomFormFieldActionModal.find('.modal-confirm-btn').attr('id') === 'update-custom-form-field-btn') {
            $sectionCustomFormFieldActionModal.find('#custom_form_field_type').prop('disabled', true).selectpicker('refresh');
            $sectionCustomFormFieldActionModal.find('#custom_form_field_type_validator').prop('disabled', true).selectpicker('refresh');
            initFieldModalOnUpdate(node_data);
            removeLabelFromArray(node_data);
            initAsyncUploader("#custom_form_field_upload-icon", "#custom_form_field_icon", fieldDropText, fieldBaseurl, fieldUploadUrl, '#sectionCustomFormFieldActionModal #update-custom-form-field-btn.modal-confirm-btn', function () {
                var currentLang = '<?php echo $this->aclHelper->session->currentLang; ?>';
                var field_values_json = getFieldValues(node_data, node_data.li_attr.reloaded);
                var new_field_label = getLocaleText(currentLang, field_values_json.label, field_values_json.label);
                field_names.push(node_data.li_attr.text);

                var $anchor = $('#' + node_data.id + '_anchor');
                var $fieldSetIcon = $anchor.find('i.jstree-icon');
                $anchor.html($fieldSetIcon.prop('outerHTML') + new_field_label);

                custom_form_jstree.jstree().rename_node(node_data, new_field_label);

                var $fieldNode = $('#' + node_data.id);
                var userLanguages = <?php echo $this->aclHelper->getUserLanguages(); ?>;
                var labelsObj = null;

                try {
                    labelsObj = JSON.parse($fieldNode.attr('value')).label;
                    if (typeof(labelsObj) === "object") {
                        labelsObj[currentLang] = new_field_label;
                    } else {
                        labelsObj = setMultiLanguageObject(currentLang, new_field_label, new_field_label, userLanguages);
                    }
                } catch (e) {
                    labelsObj = setMultiLanguageObject(currentLang, new_field_label, new_field_label, userLanguages);
                }

                field_values_json.label = labelsObj;
                $fieldNode.attr('value', JSON.stringify(field_values_json));

                populateHiddenCustomFormsDetailsJson();
                custom_form_jstree.jstree(true).settings.core.data = getCustomFormJstreeData();
                custom_form_jstree.jstree(true).refresh();

                node_data = "";
                $('#custom_form_field_label_modified').val(true);
                $sectionCustomFormFieldActionModal.modal('hide');
            }, null,);
        } else {
            $sectionCustomFormFieldActionModal.find('.modal-confirm-btn').prop('disabled', true);
            initCustomFormInputsShown($sectionCustomFormFieldActionModal.find('#custom_form_field_type').selectpicker('val'));
            $sectionCustomFormFieldActionModal.find('#custom_form_field_type_validator').on('change', function () {
                var $this = $(this);
                if ($this.val() === "GALLERY") {
                    $sectionCustomFormFieldActionModal.find('#custom_form_field_is_avatar_div').hide();
                    $sectionCustomFormFieldActionModal.find('#custom_form_field_is_avatar').bootstrapSwitch('state', false, false);
                } else {
                    $sectionCustomFormFieldActionModal.find('#custom_form_field_is_avatar_div').show();
                }
            });
            initAsyncUploader("#custom_form_field_upload-icon", "#custom_form_field_icon", fieldDropText, fieldBaseurl, fieldUploadUrl, '#sectionCustomFormFieldActionModal #create-custom-form-field-btn.modal-confirm-btn', function () {
                var field_parent = node_data.id;
                fieldSubmitAction(field_parent);

                node_data = "";
                $sectionCustomFormFieldActionModal.modal('hide');
            });
        }
    }

    function disableAllCustomFormInputs() {
        $('#custom_form_field_select_related').selectpicker('deselectAll');
        hideRelatedDropDown();
        $sectionCustomFormFieldActionModal.find('#custom_form_required_div').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_hidden_div').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_type_validator_div').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_facebook_div').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_default_value_div').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_upload_icon_div').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_tag_values_div').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_description_div').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_boxes_div').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_related_boxes_dropdown').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_select_type_div').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_select_related_div').addClass('hidden');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_add_boxes_value').prop('disabled', true);
    }


    /* ON SUBMIT CREATE FIELD VALUE JSON */
    function fieldSubmitAction(field_parent) {
        field_counter++;
        var field_details = createFieldValuesObj(field_counter, field_parent);
        var newly_created_field = jstreeGroupsAndFields('field', field_details, false);
        addNewlyCreatedJstreeObj(field_parent, newly_created_field);
    }

    function createFieldValuesObj(this_field_counter, field_parent) {
        var field_values_obj = {};
        var field_values = getFieldValues(false, false);

        field_values_obj['counter'] = this_field_counter;
        if ($('#custom_form_field_required').is(':checked')) {
            field_values_obj['label'] = field_values.label[currentLang] + ' <i class="fa fa-asterisk" aria-hidden="true"></i>';
        } else {
            field_values_obj['label'] = field_values.label[currentLang];
        }
        if ($('#custom_form_field_hidden').is(':checked')) {
            field_values_obj['label'] = "<span class='hidden_field'>"+field_values_obj['label']+"</span>"
        }

        field_values_obj['parent'] = field_parent;
        field_values_obj['icon'] = getJstreeFieldIcon(field_values);
        field_values_obj['class'] = "custom_form_field";
        field_values_obj['name'] = field_values.name;
        field_values_obj['value'] = JSON.stringify(field_values);

        return field_values_obj;
    }

    function getFieldValues(node, reloaded) {
        var field_values = {};
        var $custom_form_field_type_validator = $('#custom_form_field_type_validator');
        var $custom_form_field_default_value = $('#custom_form_field_default_value');
        var $custom_form_field_facebook_type = $('#custom_form_field_facebook_type');
        var $custom_form_field_boxes_values_json = $('#custom_form_field_boxes_values_json');
        var $customFormFieldSelectRelated = $('#custom_form_field_select_related');
        var custom_form_field_label_val = $('#custom_form_field_label').val();
        var custom_form_old_field_label_val = $('#custom_form_old_field_label').val();
        var userLanguages = <?php echo $this->aclHelper->getUserLanguages(); ?>;

        var fieldLabelObj = "";
        var fieldOldLabelObj = "";
        var value = "undefined";
        var tag_value = {};
        if (node !== false) {
            var node_value = JSON.parse(node.li_attr.value);
            if (node_value.value !== "") {
                value = JSON.stringify(node_value.value);
            }
            console.log('val1', value);
            if (typeof(node_value.label) === "object") {
                fieldLabelObj = node_value.label;
                fieldLabelObj[currentLang] = custom_form_field_label_val;
            } else {
                fieldLabelObj = setMultiLanguageObject(currentLang, node_value.label, custom_form_field_label_val, userLanguages);
            }

            if (typeof(node_value.old_label) === "object") {
                fieldOldLabelObj = node_value.old_label;
                fieldOldLabelObj[currentLang] = custom_form_old_field_label_val;
            } else {
                fieldOldLabelObj = setMultiLanguageObject(currentLang, node_value.old_label, custom_form_old_field_label_val, userLanguages);
            }
            field_values['name'] = node.li_attr.text;
        } else {
            fieldLabelObj = setMultiLanguageObject(currentLang, custom_form_field_label_val, custom_form_field_label_val, userLanguages);
            fieldOldLabelObj = setMultiLanguageObject(currentLang, custom_form_old_field_label_val, custom_form_old_field_label_val, userLanguages);
            field_values['name'] = custom_form_field_label_val;
        }

        field_values['label'] = fieldLabelObj;
        field_values['old_label'] = "";
        if (reloaded) {
            field_values['old_label'] = fieldOldLabelObj;
        }
        field_values['required'] = $('#custom_form_field_required').is(':checked');
        field_values['hidden'] = $('#custom_form_field_hidden').is(':checked');
        field_values['type'] = $sectionCustomFormFieldActionModal.find('#custom_form_field_type').selectpicker('val');
        field_values['validator'] = null;
        field_values['value'] = null;
        field_values['fb_type'] = null;
        field_values['is_avatar'] = false;

        switch (field_values.type) {
            case '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_TEXT; ?>':
                field_values['validator'] = $custom_form_field_type_validator.selectpicker('val');
                field_values['value'] = setMultiLanguageObject(currentLang, value, $custom_form_field_default_value.val(), userLanguages);
                field_values['fb_type'] = $custom_form_field_facebook_type.selectpicker('val') !== "-" ? $custom_form_field_facebook_type.selectpicker('val') : null;
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_TEXTAREA; ?>':
                field_values['value'] = setMultiLanguageObject(currentLang, value, $custom_form_field_default_value.val(), userLanguages);
                field_values['fb_type'] = $custom_form_field_facebook_type.selectpicker('val') !== "-" ? $custom_form_field_facebook_type.selectpicker('val') : null;
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_DESCR; ?>':
                field_values['value'] = setMultiLanguageObject(currentLang, value, tinyMCE.get('custom_form_field_description').getContent(), userLanguages);
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_ADDRESS; ?>':
                field_values['value'] = setMultiLanguageObject(currentLang, value, $custom_form_field_default_value.val(), userLanguages);
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_IMAGE; ?>':
                field_values['validator'] = $custom_form_field_type_validator.selectpicker('val');
                field_values['value'] = $('#custom_form_field_icon').val();
                field_values['fb_type'] = $custom_form_field_facebook_type.selectpicker('val') !== "-" ? $custom_form_field_facebook_type.selectpicker('val') : null;
                field_values['is_avatar'] = $('#custom_form_field_is_avatar').is(':checked');

                if (field_values['is_avatar'] === true) {
                    // If is_avatar is true, set is_avatar false into other fields
                    $('.custom_form_group').each(function () {
                        var $this = $(this);

                        $('#' + $this.attr('id') + ' .custom_form_field').each(function () {
                            var $customFormField = $(this);
                            var field = JSON.parse($customFormField.attr('value'));

                            if (field.type === "<?php echo \Application\Model\SectionModel::HPFORM_IMAGE; ?>" && field.label !== field_values['label']) {
                                field.is_avatar = false;
                                $customFormField.attr('value', JSON.stringify(field));
                            }
                        });
                    });
                }
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>':
                var $customFormFieldSelectType = $('#custom_form_field_select_type');
                tag_value = {};
                try {
                    var selectOptionValues = $custom_form_field_boxes_values_json.val().split(',');
                    var formDefaultValue = $custom_form_field_default_value.val() === "" ? "<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_DEFAULT_EMPTY_OPTION; ?>" : $custom_form_field_default_value.val();

                    tag_value = JSON.parse(value);
                    var placeholder = tag_value['placeholder'] === undefined ? formDefaultValue : JSON.stringify(tag_value['placeholder']);

                    tag_value['origin_data'] = $customFormFieldSelectType.val();
                    tag_value['related_to'] = $customFormFieldSelectRelated.val();
                    tag_value['placeholder'] = setMultiLanguageObject(currentLang, placeholder, formDefaultValue, userLanguages);

                    idx = 0;
                    for (var tagKey in tag_value['option_values']) {
                        if (!tag_value['option_values'].hasOwnProperty(tagKey)) continue;

                        var optionVal = selectOptionValues[idx].split("|");
                        var label = optionVal[0];
                        var filter = optionVal[1];
                        var labelJSON = JSON.stringify(tag_value['option_values'][tagKey]['label']);

                        tag_value['option_values'][tagKey] = {
                            label: setMultiLanguageObject(currentLang, labelJSON, label, userLanguages),
                            filter: filter
                        };
                        idx++;
                    }

                    for (idx; idx < selectOptionValues.length; idx++) {
                        if (selectOptionValues[idx] === "") continue;

                        var newOptionVal = selectOptionValues[idx].split("|");
                        var newLabel = newOptionVal[0];
                        var newFilter = newOptionVal[1];

                        tag_value['option_values'][newLabel] = {
                            label: setMultiLanguageObject(currentLang, newLabel, newLabel, userLanguages),
                            filter: newFilter
                        };
                    }
                } catch (err) {
                    tag_value['origin_data'] = $customFormFieldSelectType.val();
                    tag_value['related_to'] = $customFormFieldSelectRelated.val();
                    tag_value['option_values'] = {};

                    switch (tag_value.origin_data) {
                        case '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_LOCALE ?>':
                            $custom_form_field_boxes_values_json.val().split(',').forEach(function (tag) {
                                var tagArray = tag.split('|');
                                tag_value['option_values'][tagArray[0]] = {
                                    label: setMultiLanguageObject(currentLang, value, tagArray[0], userLanguages),
                                    filter: tagArray[1]
                                };
                            });
                            break;
                        default:
                            break;
                    }
                }

                field_values['value'] = tag_value;
                field_values['validator'] = $custom_form_field_type_validator.selectpicker('val');
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_CHECKBOX; ?>':
            case '<?php echo \Application\Model\SectionModel::HPFORM_RADIOBOX; ?>':
            case '<?php echo \Application\Model\SectionModel::HPFORM_TAG_GROUP; ?>':
                tag_value = {};

                try {
                    var updatedTags = $custom_form_field_boxes_values_json.val().split(',');
                    var idx = 0;
                    console.log('val2', value, updatedTags);
                    tag_value = JSON.parse(value);//var node_value = JSON.parse(node.li_attr.value);
                    console.log('val3', tag_value, updatedTags);
                    if (typeof(tag_value) === "object") {

                        idx = 0;
                        for (var key in tag_value) {
                            //if (!tag_value.hasOwnProperty(key)) continue;
                            //tag_value[key][currentLang] = updatedTags[idx];
                            //idx++;
                            console.log(key, currentLang, updatedTags[idx]);
                            if(!updatedTags.includes(key)) {
                                delete tag_value[key];
                            }
                        }
                        console.log('val4', tag_value, updatedTags);
                        for (idx; idx < updatedTags.length; idx++) {
                            tag_value[updatedTags[idx]] = setMultiLanguageObject(currentLang, updatedTags[idx], updatedTags[idx], userLanguages);
                        }
                        console.log('val4', tag_value, updatedTags);
                    } else {
                        var tags = tag_value;
                        tag_value = {};

                        idx = 0;
                        tags.split(',').forEach(function (tag) {
                            tag_value[tag] = setMultiLanguageObject(currentLang, tag, updatedTags[idx], userLanguages);
                            idx++;
                        });
                    }
                } catch (e) {
                    $custom_form_field_boxes_values_json.val().split(',').forEach(function (tag) {
                        tag_value[tag] = setMultiLanguageObject(currentLang, value, tag, userLanguages);
                    });
                }

                field_values['validator'] = $custom_form_field_type_validator.selectpicker('val');
                field_values['value'] = tag_value;
                break;
        }

        console.log("UPDATE", field_values);
        return field_values;
    }

    /* .../ON SUBMIT CREATE FIELD VALUE JSON */


    /* HIDE/SHOW REQUIRED INPUTS FOR DEFINED TYPES */
    $sectionCustomFormFieldActionModal.find('#custom_form_field_type').on('changed.bs.select', function () {
        initCustomFormInputsShown($(this).selectpicker('val'));
    });

    $sectionCustomFormFieldActionModal.find('#custom_form_field_select_type').on('changed.bs.select', function () {
        initCustomFormInputsShown('<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>');
        modalBtnReenableCheck();
    });

    $sectionCustomFormFieldActionModal.find('#custom_form_field_select_related').on('changed.bs.select', function () {
        var $custom_form_related_list_value = $('#custom_form_related_list_value');
        var $custom_form_field_select_type = $('#custom_form_field_select_type');
        var $relatedSelect = $(this);
        if ($relatedSelect.val() !== selectRelatedNullOption && $custom_form_field_select_type.val() === '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_LOCALE; ?>') {
            var $customFormRelatedBoxesDropdownText = $('#custom_form_related_boxes_dropdown_text');
            $custom_form_related_list_value.html('');
            $customFormRelatedBoxesDropdownText.text("<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_RELATED_DROP_DOWN_NULL_LABEL; ?>");
            $sectionCustomFormFieldActionModal.find('#custom_form_boxes_div').removeClass('hidden');
            $sectionCustomFormFieldActionModal.find('#custom_form_related_boxes_dropdown').removeClass('hidden');

            $.each(custom_form_related_field_values, function (idx, relatedObj) {
                if (idx === $relatedSelect.val()) {
                    $.each(relatedObj, function (idx, obj) {
                        $custom_form_related_list_value.append('<li class="related-value"><a data-related-key="' + $relatedSelect.val() + '" data-key="' + obj.key + '">' + obj.value + '</a></li>');
                    });
                }
            });

            initRelatedValueDropdownList();
        } else {
            $sectionCustomFormFieldActionModal.find('#custom_form_related_boxes_dropdown').addClass('hidden');
            $sectionCustomFormFieldActionModal.find('#custom_form_boxes_div').addClass('hidden');
        }

    });

    function initCustomFormInputsShown(custom_form_type, selected = null) {
        disableAllCustomFormInputs();
        $sectionCustomFormFieldActionModal.find('#custom_form_field_type_validator').val('').selectpicker('refresh');
        switch (custom_form_type) {
            case '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_TEXT; ?>':
                setCustomFormValidationSelectOptions(custom_form_type, selected);
                $sectionCustomFormFieldActionModal.find('#custom_form_required_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_hidden_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_type_validator_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_default_value_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_facebook_div').removeClass('hidden');
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_TEXTAREA; ?>':
                $sectionCustomFormFieldActionModal.find('#custom_form_required_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_hidden_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_default_value_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_facebook_div').removeClass('hidden');
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_DESCR; ?>':
                $sectionCustomFormFieldActionModal.find('#custom_form_description_div').removeClass('hidden');
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_IMAGE; ?>':
                setCustomFormValidationSelectOptions(custom_form_type, selected);
                $sectionCustomFormFieldActionModal.find('#custom_form_required_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_type_validator_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_upload_icon_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_facebook_div').removeClass('hidden');
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>':
                var $customFormFieldSelectRelated = $('#custom_form_field_select_related');
                $sectionCustomFormFieldActionModal.find('#custom_form_required_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_hidden_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_field_select_type_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_field_select_related_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_default_value_div').removeClass('hidden');
                if ($('#custom_form_field_select_type').find("option:selected").val() === '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_LOCALE ?>') {
                    $sectionCustomFormFieldActionModal.find('#custom_form_boxes_div').removeClass('hidden');
                    $customFormFieldSelectRelated.find('option').each(function (idx, elem) {
                        var $this = $(this);
                        if (idx !== 0) {
                            if ($this.data('origin') !== '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_LOCALE ?>') {
                                $this.prop('disabled', true);
                            }
                        }
                    });
                    $customFormFieldSelectRelated.prop('disabled', false);
                    $customFormFieldSelectRelated.selectpicker('refresh');
                    showRelatedDropDown();
                } else if ($('#custom_form_field_select_type').find("option:selected").val() === '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_REMOTE ?>') {
                    $customFormFieldSelectRelated.find('option').each(function (idx, elem) {
                        var $this = $(this);
                        $this.prop('disabled', false);
                    });
                    $customFormFieldSelectRelated.prop('disabled', false);
                    $customFormFieldSelectRelated.selectpicker('refresh');
                }
                removeOptionValueRows();
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_TAG_GROUP; ?>':
                setCustomFormValidationSelectOptions(custom_form_type, selected);
                $sectionCustomFormFieldActionModal.find('#custom_form_required_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_hidden_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_type_validator_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_boxes_div').removeClass('hidden');

                var $customFormFieldBoxesValue = $('#custom_form_field_boxes_value');
                $customFormFieldBoxesValue.autocomplete({
                    source: "<?php echo $this->basePath(); ?>/ajax/tags/content/<?php echo \Form\Section\SectionForm::CUSTOM_FORM; ?>",
                    select: function (event, ui) {
                        $(this).val(ui.item.label);
                        console.log("TEST", ui.item.label);
                    }
                });
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_CHECKBOX; ?>':
            case '<?php echo \Application\Model\SectionModel::HPFORM_RADIOBOX; ?>':
                $sectionCustomFormFieldActionModal.find('#custom_form_required_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_hidden_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_boxes_div').removeClass('hidden');
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_ADDRESS; ?>':
                $sectionCustomFormFieldActionModal.find('#custom_form_required_div').removeClass('hidden');
                $sectionCustomFormFieldActionModal.find('#custom_form_default_value_div').removeClass('hidden');
                break;
        }
    }

    /* .../HIDE/SHOW REQUIRED INPUTS FOR DEFINED TYPES */


    /* INIT ON UPDATE */
    function initFieldModalOnUpdate(node_data) {
        var node_data_value = JSON.parse($('#' + node_data.id).attr('value'));
        var userLanguages = <?php echo $this->aclHelper->getUserLanguages(); ?>;

        if (typeof(node_data_value.label) !== "object") {
            node_data_value.name = node_data_value.label;
            node_data.li_attr.text = node_data_value.label;
            node_data_value.label = setMultiLanguageObject(currentLang, node_data_value.label, node_data_value.label, userLanguages);
            node_data_value.old_label = setMultiLanguageObject(currentLang, node_data_value.old_label, node_data_value.old_label, userLanguages);
        }

        $sectionCustomFormFieldActionModal.find('.modal-confirm-btn').attr('node-data', JSON.stringify(node_data_value));

        $('#custom_form_old_field_label').val(getLocaleText(currentLang, node_data_value.label, node_data_value.label));
        initCustomFormInputsShown(node_data_value.type, node_data_value.validator);
        populateFieldModalInputs(node_data_value);
    }

    /*TODO: gestire facebook_type al reload */
    function populateFieldModalInputs(node_data_value) {
        console.log("POPULATE", node_data_value);

        $sectionCustomFormFieldActionModal.find('#custom_form_field_label').val(getLocaleText(currentLang, node_data_value.label, node_data_value.label));
        $sectionCustomFormFieldActionModal.find('#custom_form_field_required').bootstrapSwitch('state', node_data_value.required, node_data_value.required);
        $sectionCustomFormFieldActionModal.find('#custom_form_field_hidden').bootstrapSwitch('state', node_data_value.hidden, node_data_value.hidden);
        $sectionCustomFormFieldActionModal.find('#custom_form_field_type').selectpicker('val', node_data_value.type);

        switch (node_data_value.type) {
            case '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_TEXT; ?>':
                $sectionCustomFormFieldActionModal.find('#custom_form_field_default_value').val(getLocaleText(currentLang, node_data_value.value, node_data_value.value));
                $sectionCustomFormFieldActionModal.find('#custom_form_field_facebook_type').selectpicker('val', node_data_value.fb_type);
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_TEXTAREA; ?>':
                $sectionCustomFormFieldActionModal.find('#custom_form_field_default_value').val(getLocaleText(currentLang, node_data_value.value, node_data_value.value));
                $sectionCustomFormFieldActionModal.find('#custom_form_field_facebook_type').selectpicker('val', node_data_value.fb_type);
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_IMAGE; ?>':
                $sectionCustomFormFieldActionModal.find('#custom_form_field_icon').val(getLocaleText(currentLang, node_data_value.value, node_data_value.value));
                $sectionCustomFormFieldActionModal.find('#custom_form_field_facebook_type').selectpicker('val', node_data_value.fb_type);
                $sectionCustomFormFieldActionModal.find('#custom_form_field_is_avatar').bootstrapSwitch('state', node_data_value.is_avatar, node_data_value.is_avatar);
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_DESCR; ?>':
                tinyMCE.get('custom_form_field_description').setContent(getLocaleText(currentLang, node_data_value.value, node_data_value.value));
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_ADDRESS; ?>':
                $sectionCustomFormFieldActionModal.find('#custom_form_field_default_value').val(getLocaleText(currentLang, node_data_value.value, node_data_value.value));
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_CHECKBOX; ?>':
            case '<?php echo \Application\Model\SectionModel::HPFORM_RADIOBOX; ?>':
            case '<?php echo \Application\Model\SectionModel::HPFORM_TAG_GROUP; ?>':
                var tag_value = node_data_value.value;
                if (typeof(tag_value) === "object") {
                    for (var key in tag_value) {
                        if (!tag_value.hasOwnProperty(key)) continue;

                        createValueRow(getLocaleText(currentLang, tag_value[key], tag_value[key]), node_data_value.type);
                    }
                } else {
                    tag_value.split(',').forEach(function (value) {
                        createValueRow(value, node_data_value.type);
                    });
                }
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>':
                var select_values = node_data_value.value;
                var origin_data = select_values.origin_data;
                var related_to = select_values.related_to !== undefined ? select_values.related_to : null;
                var $customFormFieldSelectRelated = $('#custom_form_field_select_related');

                $sectionCustomFormFieldActionModal.find('#custom_form_field_default_value').val(getLocaleText(currentLang, select_values.placeholder, select_values.placeholder));

                $('#custom_form_field_select_type').val(origin_data).selectpicker('refresh');
                $customFormFieldSelectRelated.val(related_to).selectpicker('refresh');

                switch (origin_data) {
                    case '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_LOCALE; ?>':
                        var option_values = select_values.option_values;

                        $customFormFieldSelectRelated.unbind("selectRelatedDone");
                        $customFormFieldSelectRelated.on("selectRelatedDone", function () {
                            var $this = $(this);
                            var $custom_form_related_list_value = $('#custom_form_related_list_value');

                            $this.selectpicker('val', related_to).selectpicker('refresh');
                            $custom_form_related_list_value.html('');

                            $.each(custom_form_related_field_values, function (idx, relatedObj) {
                                if (idx === $customFormFieldSelectRelated.val()) {
                                    $.each(relatedObj, function (idx, obj) {
                                        $custom_form_related_list_value.append('<li class="related-value"><a data-related-key="' + $customFormFieldSelectRelated.val() + '" data-key="' + obj.key + '">' + obj.value + '</a></li>');
                                    });
                                }
                            });

                            initRelatedValueDropdownList();

                            for (var opt_key in option_values) {
                                if (!option_values.hasOwnProperty(opt_key)) continue;
                                createSelectValueRow(option_values[opt_key], related_to, node_data_value.type);
                            }

                            showRelatedDropDown();
                        });

                        $sectionCustomFormFieldActionModal.find('#custom_form_boxes_div').removeClass('hidden');
                        $sectionCustomFormFieldActionModal.find('#custom_form_related_boxes_dropdown').removeClass('hidden');
                        break;
                    case '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_REMOTE; ?>':
                        $customFormFieldSelectRelated.unbind("selectRelatedDone");
                        $customFormFieldSelectRelated.on("selectRelatedDone", function () {
                            var $this = $(this);
                            $this.selectpicker('val', related_to).selectpicker('refresh');
                        });
                        $sectionCustomFormFieldActionModal.find('#custom_form_boxes_div').addClass('hidden');
                        $sectionCustomFormFieldActionModal.find('#custom_form_related_boxes_dropdown').addClass('hidden');
                        break;
                }

                break;
        }
    }

    /* .../INIT ON UPDATE */

    function initRelatedValueDropdownList() {
        var $customFormRelatedBoxesDropdownText = $('#custom_form_related_boxes_dropdown_text');
        var $relatedValue = $('#custom_form_related_list_value .related-value');

        $relatedValue.unbind('click');
        $relatedValue.on('click', function () {
            var $selectedObj = $(this).children();
            var relatedKey = $selectedObj.data('relatedKey');
            var key = $selectedObj.data('key');
            var label = $selectedObj.text();
            var $customFormFieldBoxesValue = $customFormRelatedBoxesDropdownText.closest('.dropdown-toggle');

            $customFormRelatedBoxesDropdownText.text(label);
            $customFormFieldBoxesValue.data('key', key);
            $customFormFieldBoxesValue.data('relatedKey', relatedKey);

            if ($custom_form_field_boxes_value.val() !== "") {
                $custom_form_field_add_boxes_value.prop('disabled', false);
            }
        });
    }


    /* POPULATE VALIDATORS */
    function setCustomFormValidationSelectOptions(custom_form_type, selected) {
        $.get("<?php echo $this->basePath(); ?>/ajax/sections/custom/form/validators/" + custom_form_type, function (data) {
            $sectionCustomFormFieldActionModal.find('#custom_form_field_type_validator').empty();
            $.each(data.success, function (key, value) {
                if (selected === null && value.selected) selected = value.value;
                $sectionCustomFormFieldActionModal.find('#custom_form_field_type_validator').append('<option value="' + value.value + '">' + value.label + '</option>');
            });

            var formType = $formType.selectpicker('val');

            if (formType !== "<?php echo \Form\Section\CustomForm\CustomFormSectionForm::REGISTRATION_FORM; ?>") {
                $sectionCustomFormFieldActionModal.find('#custom_form_field_is_avatar_div').hide();
            } else {
                if (selected === "SINGLE") {
                    $sectionCustomFormFieldActionModal.find('#custom_form_field_is_avatar_div').show();
                } else {
                    $sectionCustomFormFieldActionModal.find('#custom_form_field_is_avatar_div').hide();
                }
            }

            $sectionCustomFormFieldActionModal.find('#custom_form_field_type_validator').selectpicker('refresh').selectpicker('val', selected);
        });
    }

    /* .../POPULATE VALIDATORS */


    /* CUSTOM FORM TAG VALUES INPUT */
    $sectionCustomFormFieldActionModal.find('#custom_form_field_tag_values').tokenfield({
        autocomplete: {
            source: "<?php echo $this->basePath(); ?>/ajax/tags/content/CUSTOM_FORM",
            minLength: 2,
            delay: 100
        },
        showAutocompleteOnFocus: true
    }).on('tokenfield:createtoken', function (e) {
        if (e.attrs.value.length >= 4) {
            $('.tag_error').html("");
            var tag = formatTwitterHashtag(e.attrs.value);
            if (tag != e.attrs.value) {
                e.preventDefault();
                $(this).tokenfield('createToken', tag);
            }
        } else {
            $('.tag_error').html("Tag must be at least of 4 characters");
            e.preventDefault();
        }
    }).on('tokenfield:createdtoken', function (e) {
        modalBtnReenableCheck();
    }).on('tokenfield:removedtoken', function (e) {
        modalBtnReenableCheck();
    });
    /* .../CUSTOM FORM TAG VALUES INPUT */


    /* GENERATION OF CUSTOM FORM BOXES OPTION VALUES */
    $custom_form_field_boxes_value.on('keyup', function () {
        var alphanumers = /^\s*[a-zA-Z0-9,\s]+\s*$/; //validator for inputs
        var field_type = $('#custom_form_field_type').val();
        var related_value = $('#custom_form_related_boxes_dropdown_text').text();
        var select_type_check = true;
        if (field_type === '<?php echo \Application\Model\SectionModel::HPFORM_TAG_GROUP; ?>') {
            alphanumers = /^\s*[a-zA-Z0-9,#\s]+\s*$/;
        }
        if (field_type === '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>') {
            var $custom_form_field_select_related = $('#custom_form_field_select_related');
            if ($custom_form_field_select_related.val() !== selectRelatedNullOption) {
                select_type_check = false;
                if (related_value !== "<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_RELATED_DROP_DOWN_NULL_LABEL; ?>") {
                    select_type_check = true;
                }
            }
        }
        $custom_form_field_add_boxes_value.prop('disabled', true);
        $('#option-value-error-message').html('');
        if ($.trim($(this).val()) !== "" && select_type_check) {
            if (alphanumers.test($(this).val())) {
                $custom_form_field_add_boxes_value.prop('disabled', false);
            } else {
                $('#option-value-error-message').html("This option can't contain those characters!");
            }
        }
    });

    $('#custom_form_field_add_boxes_value').on('click', function () {
        var $customFormFieldBoxesValue = $('#custom_form_field_boxes_value');
        var field_type = $('#custom_form_field_type').val();
        var value = $customFormFieldBoxesValue.val();
        console.log("BTN", value);

        /*if (field_type === '<?php echo \Application\Model\SectionModel::HPFORM_TAG_GROUP; ?>') {
            value = formatTwitterHashtag(value);
        }
        createValueRow(value, field_type);*/

        splittedValues = value.split(',');
        console.log("BTN", splittedValues, splittedValues.length);

        for(var i=0; i<splittedValues.length; i++) {
            var v = null;

            if (field_type === '<?php echo \Application\Model\SectionModel::HPFORM_TAG_GROUP; ?>') {
                v = formatTwitterHashtag(splittedValues[i]);
            } else {
                v = splittedValues[i];
            }

            createValueRow(v, field_type);
        }

        $('#custom_form_field_add_boxes_value').prop('disabled', true);
    });

    function createSelectValueRow(box_option_value, related_to, type) {
        createValueRow(getLocaleText(currentLang, box_option_value.label, box_option_value.label), type);

        var filter = box_option_value.filter;
        var $relatedBoxesDropDownText = $('#custom_form_related_boxes_dropdown_text_' + boxOptionValuesCounter);
        var $relatedBoxesDropDown = $relatedBoxesDropDownText.closest('.dropdown-toggle');

        $relatedBoxesDropDown.data('relatedKey', related_to);
        $relatedBoxesDropDown.data('key', filter);

        $.each(custom_form_related_field_values, function (idx, relatedObj) {
            if (idx === related_to) {
                $.each(relatedObj, function (idx, obj) {
                    if (obj.key === filter) {
                        $relatedBoxesDropDownText.text(obj.value);
                    }
                });
            }
        });

        initRelatedValueDropdownListOption(boxOptionValuesCounter);
        boxOptionValuesAssign();
    }

    function createValueRow(box_option_value, type) {
        boxOptionValuesCounter++;
        var html = createBoxOptionValueRow(boxOptionValuesCounter, box_option_value, type);
        $('#custom_form_field_boxes_total_values').append(html);

        boxOptionValuesAssign();
        initBoxesInputOptions(boxOptionValuesCounter);

        $('#custom_form_field_boxes_value').val('');
        if (type === '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>') {
            $('#custom_form_related_boxes_dropdown_text').text("<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_RELATED_DROP_DOWN_NULL_LABEL; ?>")
            if (boxOptionValuesCounter > 0) {
                var $customFormFieldSelectRelated = $('#custom_form_field_select_related');
                $customFormFieldSelectRelated.prop('disabled', true);
                $customFormFieldSelectRelated.selectpicker('refresh');
            }
        }

        if (type === '<?php echo \Application\Model\SectionModel::HPFORM_TAG_GROUP; ?>') {
            $("#box_option_value_" + boxOptionValuesCounter)
                .on({
                    keydown: function (e) {
                        if (e.which === 32)
                            return false;
                    },
                    change: function () {
                        this.value = formatTwitterHashtag(this.value);
                    }
                })
                .autocomplete({
                    source: "<?php echo $this->basePath(); ?>/ajax/tags/content/<?php echo \Form\Section\SectionForm::CUSTOM_FORM; ?>",
                    select: function (event, ui) {
                        $(this).val(ui.item.label);
                        boxOptionValuesAssign();
                    }
                });
        }
    }

    function createBoxOptionValueRow(counter, value, type) {
        var related_button = '';
        if (type === '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>') {
            var $custom_form_field_select_related = $('#custom_form_field_select_related');
            var $custom_form_field_select_type = $('#custom_form_field_select_type');

            if ($custom_form_field_select_related.val() !== selectRelatedNullOption &&
                $custom_form_field_select_type.val() === '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_LOCALE; ?>') {
                var $customFormRelatedBoxesDropdownText = $('#custom_form_related_boxes_dropdown_text');
                var custom_form_related_boxes_dropdown_text = $customFormRelatedBoxesDropdownText.text();
                var $customFormFieldBoxesValue = $customFormRelatedBoxesDropdownText.closest('.dropdown-toggle');
                var optionsList = $('#custom_form_related_list_value').html();

                related_button = '<button id="custom_form_related_boxes_value_' + counter + '" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-related-key="' + $customFormFieldBoxesValue.data('relatedKey') + '" data-key="' + $customFormFieldBoxesValue.data('key') + '">' +
                    '<span id="custom_form_related_boxes_dropdown_text_' + counter + '" class="custom_form_related_text">' + custom_form_related_boxes_dropdown_text + '</span>' +
                    '&nbsp;<span class="caret"></span></button>' +
                    '<ul id="custom_form_related_list_value_' + counter + '" class="dropdown-menu dropdown-menu-right">' + optionsList +
                    '</ul>';
            }
        }

        return '<div class="row box_option_value_row">' +
            '<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">' +
            '<div class="input-group has-feedback">' +
            '<input type="text" id="box_option_value_' + counter + '" class="form-control box_option_value" value="' + value + '" placeholder="' + value + '">' +
            '<div class="input-group-btn">' + related_button +
            '<button type="button" name="custom_form_remove_boxes_value" id="custom_form_remove_boxes_value_' + counter + '" class="btn btn-danger btn-flat remove_box_value_btn">' +
            '<i class="fa fa-minus" aria-hidden="true"></i>' +
            '</button>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';
    }

    function hideRelatedDropDown() {
        $('button[id^="custom_form_related_boxes_value_"]').each(function (idx, elem) {
            $(elem).hide();
        });
    }

    function showRelatedDropDown() {
        $('button[id^="custom_form_related_boxes_value_"]').each(function (idx, elem) {
            $(elem).show();
        });
    }

    function removeOptionValueRows() {
        $('input[id^="box_option_value_"]').each(function (idx, elem) {
            $(elem).closest('.box_option_value_row').remove();
        });
        $('#custom_form_field_boxes_values_json').val('');
        boxOptionValuesCounter = 0;
    }

    function boxOptionValuesAssign() {
        var box_option_values = [];
        $('.box_option_value_row').each(function () {
            var fieldType = $('#custom_form_field_type').val();
            var val = $(this).find('.box_option_value').val();

            var $relatedButton = $(this).find('button[id^="custom_form_related_boxes_value_"]');
            var key = $relatedButton.data('key');
            console.log('TEST', key, val);

            if (fieldType === '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>') {
                var $relatedButton = $(this).find('button[id^="custom_form_related_boxes_value_"]');
                var key = $relatedButton.data('key');
                val = val + "|" + key;
            }

            box_option_values.push(val);
        });

        console.log(box_option_values);
        //$   custom_form_field_boxes_values_json
        $('#custom_form_field_boxes_values_json').val(box_option_values);
    }

    function initBoxesInputOptions(counter) {
        $('#custom_form_remove_boxes_value_' + counter).on('click', function () {
            console.log($('#custom_form_field_boxes_values_json').val());
            console.log('CLICK initBoxesInputOptions', counter);
            $(this).closest('.box_option_value_row').remove();
            boxOptionValuesAssign();
            modalBtnReenableCheck();

            boxOptionValuesCounter--;

            if (boxOptionValuesCounter === 0) {
                var $customFormFieldSelectRelated = $('#custom_form_field_select_related');
                $customFormFieldSelectRelated.prop('disabled', false);
                $customFormFieldSelectRelated.selectpicker('refresh');
            }
        });

        $('#box_option_value_' + counter).keyup(function () {
            boxOptionValuesAssign();
        });

        initRelatedValueDropdownListOption(counter);
    }

    function initRelatedValueDropdownListOption(idx) {
        var $relatedValue = $('#custom_form_related_list_value_' + idx + ' .related-value');

        $relatedValue.unbind('click');
        $relatedValue.on('click', function () {
            var $selectedObj = $(this).children();
            var relatedKey = $selectedObj.data('relatedKey');
            var key = $selectedObj.data('key');
            var label = $selectedObj.text();
            var $customFormRelatedBoxesDropdownText = $('#custom_form_related_boxes_dropdown_text_' + idx);
            var $customFormFieldBoxesValue = $customFormRelatedBoxesDropdownText.closest('.dropdown-toggle');

            $customFormRelatedBoxesDropdownText.text(label);
            $customFormFieldBoxesValue.data('key', key);
            $customFormFieldBoxesValue.data('relatedKey', relatedKey);

            boxOptionValuesAssign();
        });
    }

    /* .../GENERATION OF CUSTOM FORM BOXES OPTION VALUES */


    /* RE-ENABLE CREATE/UPDATE BTN */
    $sectionCustomFormFieldActionModal.find('#custom_form_field_label').on('keyup', function () {
        modalBtnReenableCheck();
    });

    $sectionCustomFormFieldActionModal.find('#custom_form_field_add_boxes_value').on('click', function () {
        modalBtnReenableCheck();
    });

    $sectionCustomFormFieldActionModal.find('#custom_form_field_type').on('change', function () {
        modalBtnReenableCheck();
    });

    function modalBtnReenableCheck() {
        $('#uniqueness-label-error-message').html('');
        $sectionCustomFormFieldActionModal.find('.modal-confirm-btn').prop('disabled', true);
        var custom_form_field_label = $('#custom_form_field_label').val();
        var old_field_label = $('#custom_form_old_field_label').val();
        var field_type = $('#custom_form_field_type').val();

        if ($.trim(custom_form_field_label) !== "") {
            if (custom_form_field_label === old_field_label) {
                checkRequiredEmptyness(field_type);
            } else {
                if (customFormLabelUniqueness(custom_form_field_label)) {
                    checkRequiredEmptyness(field_type);
                } else {
                    $('#uniqueness-label-error-message').html("This label already exists!");
                }
            }
        }
    }

    function checkRequiredEmptyness(field_type) {
        switch (field_type) {
            case '<?php echo \Application\Model\SectionModel::HPFORM_CHECKBOX; ?>':
            case '<?php echo \Application\Model\SectionModel::HPFORM_RADIOBOX; ?>':
            case '<?php echo \Application\Model\SectionModel::HPFORM_TAG_GROUP; ?>':
                if (!$('#custom_form_field_boxes_total_values').is(':empty')) {
                    $sectionCustomFormFieldActionModal.find('.modal-confirm-btn').prop('disabled', false);
                }
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>':
                var $customFormFieldSelectType = $('#custom_form_field_select_type');
                var is_locale = true;

                if ($customFormFieldSelectType.val() === '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_REMOTE; ?>') {
                    is_locale = false;
                }
                if (!is_locale) {
                    $sectionCustomFormFieldActionModal.find('.modal-confirm-btn').prop('disabled', false);
                } else if (!$('#custom_form_field_boxes_total_values').is(':empty') && is_locale) {
                    $sectionCustomFormFieldActionModal.find('.modal-confirm-btn').prop('disabled', false);
                }
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_DESCR; ?>':
                if ($.trim(tinyMCE.get('custom_form_field_description').getContent({format: 'text'})) !== "") {
                    $sectionCustomFormFieldActionModal.find('.modal-confirm-btn').prop('disabled', false);
                }
                break;
            default:
                $sectionCustomFormFieldActionModal.find('.modal-confirm-btn').prop('disabled', false);
                break;
        }
    }

    /* .../RE-ENABLE CREATE/UPDATE BTN */


    /* CHECK IF FIELD LABEL ALREADY EXISTS */
    function customFormLabelUniqueness(custom_form_field_label) {
        var custom_form_label_uniqueness_check = true;

        $.each(field_names, function (i, val) {
            if (custom_form_field_label === val) {
                custom_form_label_uniqueness_check = false;
            }
        });

        return custom_form_label_uniqueness_check;
    }

    /* .../CHECK IF FIELD LABEL EXISTS */


    /* RESTORE MODAL TO DEFAULT */
    function emptyFieldModalToDefault() {
        $sectionCustomFormFieldActionModal.find('#custom_form_field_label').val('');
        $sectionCustomFormFieldActionModal.find('#custom_form_old_field_label').val('');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_label_modified').val('');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_required').bootstrapSwitch('state', false, false);
        $sectionCustomFormFieldActionModal.find('#custom_form_field_hidden').bootstrapSwitch('state', false, false);
        $sectionCustomFormFieldActionModal.find('#custom_form_field_is_avatar').bootstrapSwitch('state', false, false);
        $sectionCustomFormFieldActionModal.find('#custom_form_field_facebook_type').prop('disabled', false).val('').selectpicker('refresh');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_type').prop('disabled', false).val('').selectpicker('refresh');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_type_validator').prop('disabled', false).val('').selectpicker('refresh');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_default_value').val('');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_icon').val('');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_upload-icon').fileinput('destroy');
        tinyMCE.get('custom_form_field_description').setContent('');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_tag_values').tokenfield('setTokens', []);
        $sectionCustomFormFieldActionModal.find('#custom_form_field_boxes_total_values').empty();
        $sectionCustomFormFieldActionModal.find('#custom_form_field_add_boxes_value').prop('disabled', true);
        $sectionCustomFormFieldActionModal.find('#custom_form_field_boxes_values_json').val('');
        $sectionCustomFormFieldActionModal.find('#custom_form_field_select_type').val('<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_LOCALE; ?>').selectpicker('refresh');
        $sectionCustomFormFieldActionModal.find('#custom_form_boxes_div').addClass('hidden');
        $('#uniqueness-label-error-message').html('');
    }

    /* .../RESTORE MODAL TO DEFAULT */
</script>