<div class="modal fade" id="deleteAppModal" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">DELETE APPLICATION</h4>
            </div>
            <div class="modal-body">
                <p class="text-box">Do you really want to delete the selected application?</p>
                <div class="error-box alert alert-warning" role="alert" style="display: none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span class="error-msg">Undefined</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    DISMISS
                </button>
                <button type="button" class="modal-confirm-btn btn btn-danger btn-labeled">
                    <span class="btn-label-left"><i class="glyphicon glyphicon-trash"></i></span>
                    DELETE
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    $('#deleteAppModal').on('show.bs.modal', function (event) {
        $('#deleteAppModal .modal-body .text-box').show();
        $('#deleteAppModal .modal-body .error-box').hide();
        $('#deleteAppModal .modal-confirm-btn').unbind("click");
        $('#deleteAppModal .modal-confirm-btn').bind("click", function() {
            var appId = $(this).attr("app-id");
            $.get("<?php echo $this->basePath(); ?>/ajax/app/"+appId+"/delete", function(data) {
                if(data.success) {
                    $('#app-item-'+appId).remove();
                    $('#deleteAppModal').modal('hide');
                } else {
                    $('#deleteAppModal .modal-body .error-msg').html("ERROR: you can't delete working app!");
                    $('#deleteAppModal .modal-body .text-box').hide();
                    $('#deleteAppModal .modal-body .error-box').show();
                }
            })
        });
    });
</script>