<div class="modal fade" id="deleteSectionOldFieldWithContentModal" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">DELETE FIELD</h4>
            </div>
            <div class="modal-body">
                <p class="text-box">
                    The selected field has users stored data.</br>
                    By confirming, all the data will be lost.</br>
                    Do you really want to delete this field?
                </p>
                <div class="error-box alert alert-warning" role="alert" style="display: none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span class="error-msg">Undefined</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    DISMISS
                </button>
                <button type="button" class="modal-confirm-btn btn btn-danger btn-labeled">
                    <span class="btn-label-left"><i class="glyphicon glyphicon-trash"></i></span>
                    DELETE
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    $('#deleteSectionOldFieldWithContentModal').on('show.bs.modal', function (event) {
        $('#deleteSectionOldFieldWithContentModal .modal-body .text-box').show();
        $('#deleteSectionOldFieldWithContentModal .modal-body .error-box').hide();
        $('#deleteSectionOldFieldWithContentModal .modal-confirm-btn').unbind("click");
        $('#deleteSectionOldFieldWithContentModal .modal-confirm-btn').bind("click", function() {
            var node = JSON.parse($(this).attr("node-data"));

            deleteSelectedNode(node);
            populateOldFieldsDeleted(node.li_attr.text);

            $('#deleteSectionOldFieldWithContentModal').modal('hide');
        });
    });
</script>