<?php
/** @var \Form\Media\AddRemoteMediaForm $addRemoteMediaForm */
$addRemoteMediaForm = $this->addRemoteMediaForm;
$addRemoteMediaForm->prepare();

$placeholderIcon = "/img/placeholder/app-icon.png";

?>
<style>
    .remote-supported-logo {
        height: 30px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
</style>
<div class="modal fade" id="archiveRemoteMediaModal" role="dialog" tabindex="-1" style="z-index: 1100;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <?php // echo $this->form()->openTag($addRemoteMediaForm);
            foreach ($addRemoteMediaForm->getFormHiddenElement() as $field) {
                echo $this->formElement($addRemoteMediaForm->get($field));
            } ?>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Remote Media</h4>
            </div>
            <div class="modal-body">
                <div class="remote_media_error alert alert-danger" role="alert" style="display: none;">
                </div>
                <div class="remote_media_success alert alert-success" role="alert" style="display: none;">
                    <span class="fa fa-refresh fa-spin" aria-hidden="true"></span>
                    Checking remote media …
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4 col-lg-4">
                        <label>Thumb</label>
                        <img id="remote_media_thumb"
                             src="<?php echo $placeholderIcon; ?>"
                             style="width:174px;height:174px;object-fit: contain;background: url(<?php echo $placeholderIcon; ?>) center center no-repeat, url(/img/placeholder/square-pattern.jpg) left top repeat;background-size: contain, 8px;">
                    </div>
                    <div class="col-xs-8 col-md-8 col-lg-8">
                        <div class="form-group has-feedback input-error text-left">
                            <?php echo $this->formLabel($addRemoteMediaForm->get('remote_media_link'));
                            echo $this->formElement($addRemoteMediaForm->get('remote_media_link'));
                            echo $this->hpFormElementErrors($addRemoteMediaForm->get('remote_media_link'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <label>Supported media</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <img class="remote-supported-logo" src="/img/logos/facebook.png">
                        <img class="remote-supported-logo" src="/img/logos/issuu.png">
                        <img class="remote-supported-logo" src="/img/logos/vimeo.png">
                        <img class="remote-supported-logo" src="/img/logos/slideshare.png">
                        <img class="remote-supported-logo" src="/img/logos/youtube.png">
                        <img class="remote-supported-logo" src="/img/logos/matterport.png">
                        <img class="remote-supported-logo" src="/img/logos/dailymotion.png">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-dismiss-btn btn btn-default pull-left">
                    DISMISS
                </button>
                <button type="button" class="modal-confirm-btn btn btn-danger btn-labeled">
                    <span class="btn-label-left"><i class="fa fa-film"></i></span>
                    Add remote media
                </button>
            </div>
            <?php // echo $this->form()->closeTag(); ?>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    var $archiveRemoteMediaModal = $('#archiveRemoteMediaModal');
    var tempRemoteMediaData = null;

    $archiveRemoteMediaModal.on('show.bs.modal', function (event) {
        var $remoteMediaLink = $('#remote_media_link');
        var $remoteMediaError = $('.remote_media_error');
        var $remoteMediaSuccess = $('.remote_media_success');
        var $remoteMediaThumb = $('#remote_media_thumb');
        var item_image_url_row = "url(<?php echo $placeholderIcon; ?>) center center no-repeat, url(/img/placeholder/square-pattern.jpg) left top repeat";

        $remoteMediaError.hide();
        $remoteMediaSuccess.hide();
        $remoteMediaLink.val("");
        $remoteMediaThumb.attr("src", "<?php echo $placeholderIcon; ?>");
        $remoteMediaThumb.css("background", item_image_url_row);
        $remoteMediaThumb.css("background-size", "contain, 8px");
        tempRemoteMediaData = null;

        var $dismissButton = $('#archiveRemoteMediaModal .modal-dismiss-btn');

        $dismissButton.unbind("click");
        $dismissButton.bind("click", function () {
            $('#remote_media_link').val("");
            $('#archiveRemoteMediaModal').modal('hide');
        });

        var $confirmButton = $('#archiveRemoteMediaModal .modal-confirm-btn');
        $confirmButton.prop("disabled", true);

        $remoteMediaLink.unbind("input");
        $remoteMediaLink.bind("input", function () {
            var url = $remoteMediaLink.val();
            var checkUrl = "<?php echo $this->basePath() ?>/media/remote/check/";

            $confirmButton.prop("disabled", true);
            $remoteMediaError.hide();
            $remoteMediaSuccess.show();
            $remoteMediaThumb.attr("src", "<?php echo $placeholderIcon; ?>");
            $remoteMediaThumb.css("background", item_image_url_row);
            $remoteMediaThumb.css("background-size", "contain, 8px");

            $.post(checkUrl, {remote_media_link: url})
                .done(function (data) {
                    if (data.success) {
                        var remoteMedia = JSON.parse(data.message);
                        tempRemoteMediaData = remoteMedia;
                        // console.log(remoteMedia.remoteMediaThumb);
                        if (remoteMedia.remoteMediaThumb !== "") {
                            $remoteMediaThumb.attr("src", remoteMedia.remoteMediaThumb);
                            $remoteMediaThumb.css("background", "url(" + remoteMedia.remoteMediaThumb + ") center center no-repeat, url(/img/placeholder/square-pattern.jpg) left top repeat");
                            $remoteMediaThumb.css("background-size", "contain, 8px");
                        }
                        $confirmButton.prop("disabled", false);
                    } else {
                        $remoteMediaError.html(data.message);
                        $remoteMediaError.show();
                    }
                })
                .fail(function () {
                    $remoteMediaError.show();
                })
                .always(function () {
                    $remoteMediaSuccess.hide();
                });
        });

        $confirmButton.unbind("click");
        $confirmButton.bind("click", function () {
            var addUrl = "<?php echo $this->basePath() ?>/media/remote/add/";

            $confirmButton.prop("disabled", true);
            $remoteMediaError.hide();
            $remoteMediaSuccess.show();

            $.post(addUrl, tempRemoteMediaData)
                .done(function (data) {
                    tempRemoteMediaData = null;
                    if (data.success) {
                        tempRemoteMediaData = data.message;
                        $('#archiveRemoteMediaModal').modal('hide');
                    } else {
                        $remoteMediaError.html(data.message);
                        $remoteMediaError.show();
                    }
                })
                .fail(function () {
                    $remoteMediaError.show();
                })
                .always(function () {
                    $remoteMediaSuccess.hide();
                    $confirmButton.prop("disabled", false);
                });
        });
    });

    function getRemoteMediaData() {
        return tempRemoteMediaData;
    }

</script>