<div class="modal fade" id="deleteContentModal" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">DELETE CONTENT</h4>
            </div>
            <div class="modal-body">
                <p class="text-box">Do you really want to delete the selected post?</p>
                <div class="error-box alert alert-warning" role="alert" style="display: none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span class="error-msg">Undefined</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    DISMISS
                </button>
                <button type="button" class="modal-confirm-btn btn btn-danger btn-labeled">
                    <span class="btn-label-left"><i class="glyphicon glyphicon-trash"></i></span>
                    DELETE
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    $('#deleteContentModal').on('show.bs.modal', function (event) {
        $('#deleteContentModal .modal-body .text-box').show();
        $('#deleteContentModal .modal-body .error-box').hide();
        $('#deleteContentModal .modal-confirm-btn').unbind("click");
        $('#deleteContentModal .modal-confirm-btn').bind("click", function() {
            var contentId = $(this).attr("content-id");
            var contentType = $(this).attr("content-type");
            $.get("<?php echo $this->basePath(); ?>/ajax/content/"+contentType+"/"+contentId+"/delete", function(data) {
                console.log(data.success);

                if(data.success) {
                    $('#contents').DataTable().ajax.reload(function() {
                        $('#deleteContentModal').modal('hide');
                    }, false);
                } else {
                    $('#deleteContentModal .modal-body .error-msg').html("ERROR: you can't delete this post!");
                    $('#deleteContentModal .modal-body .text-box').hide();
                    $('#deleteContentModal .modal-body .error-box').show();
                }
            })
        });
    });
</script>