<div class="modal fade" id="remoteDialogBox" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 90%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">REMOTE MODAL</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">

    function getModalExtras() {
        return $('#remoteDialogBox').data('extras');
    }

    function showRemoteModal(title, footer, url, json_extra, onShow, onHide, style) {
        $('#remoteDialogBox .modal-dialog').attr('style', style);
        $('#remoteDialogBox').unbind('shown.bs.modal');

        $('#remoteDialogBox').data('extras', json_extra);
        $('#remoteDialogBox .modal-title').html("");
        $('#remoteDialogBox .modal-body').html("");
        $('#remoteDialogBox .modal-footer').html("");


        $('#remoteDialogBox').modal({
            show: true,
            keyboard: false
        });

        $('#remoteDialogBox').on('hide.bs.modal', function (event) {
            if (onHide) onHide();
        });

        $('#remoteDialogBox').on('shown.bs.modal', function (event) {
            $('#remoteDialogBox .modal-title').html(title);
            if (footer == "") {
                $('#remoteDialogBox .modal-footer').hide();
            } else {
                $('#remoteDialogBox .modal-footer').html(footer).show();
            }

            $.get(url, function (data) {
//                console.log(data);
                $('#remoteDialogBox .modal-body').html(data);
                if (onShow) onShow();
            });
        });
    }
</script>