<style>
    #formUsersAddressGoogleMapsModal #map-container {
        width: 100%;
        height: 372px;
    }
</style>

<div class="modal fade" id="formUsersAddressGoogleMapsModal" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -12px;">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="map-container"></div>
                        <input name="usersAddress" type="hidden" id="usersAddress" value="">
                    </div>
                </div>
            </div>

            <div class="modal-footer"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    $('#formUsersAddressGoogleMapsModal').on('show.bs.modal', function (event) {

    }).on('shown.bs.modal', function () {
        initUserAddressMap($('#usersAddress').attr('val'));
    }).on('hidden.bs.modal', function () {
        $('#usersAddress').val('');
    });

    function initUserAddressMap(address_picker) {
        $("#map-container").googleMap({ zoom: 12 });
        $("#map-container").addMarker({ address: address_picker });
    }
</script>