<div class="modal fade" id="remoteWithDataDialogBox" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">REMOTE MODAL</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">

    function getModalWithDataExtras() {
        return $('#remoteWithDataDialogBox').data('extras');
    }

    function showRemoteWithDataModal(title, footer, url, json_extra, onShow, onHide, style) {
        $('#remoteWithDataDialogBox .modal-dialog').attr('style', style);
        $('#remoteWithDataDialogBox').unbind('shown.bs.modal');

        $('#remoteWithDataDialogBox').data('extras', json_extra);
        $('#remoteWithDataDialogBox .modal-title').html("");
        $('#remoteWithDataDialogBox .modal-body').html("");
        $('#remoteWithDataDialogBox .modal-footer').html("");


        $('#remoteWithDataDialogBox').modal({
            show: true,
            keyboard: false
        });

        $('#remoteWithDataDialogBox').on('shown.bs.modal', function (event) {
            $('#remoteWithDataDialogBox .modal-title').html(title);
            if (footer == "") {
                $('#remoteWithDataDialogBox .modal-footer').hide();
            } else {
                $('#remoteWithDataDialogBox .modal-footer').html(footer).show();
            }

            $.post(url, {jsonExtra: json_extra}, function (data) {
                $('#remoteWithDataDialogBox .modal-body').html(data);
                if (onShow) {
                    onShow();
                    $('.selectpicker').selectpicker('refresh');
                }
            });
        }).on('hide.bs.modal', function (event) {
            if (onHide) onHide();
        });
    }
</script>