<div class="modal fade" id="deleteTemplateModal" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">DELETE TEMPLATE</h4>
            </div>
            <div class="modal-body">
                <p class="text-box">Do you really want to delete this template?</p>
                <div class="error-box alert alert-warning" role="alert" style="display: none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span class="error-msg">Undefined</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="margin-bottom: 0;">
                    DISMISS
                </button>
                <button type="button" class="modal-confirm-btn btn btn-danger btn-labeled" style="margin-bottom: 0;">
                    <span class="btn-label-left"><i class="glyphicon glyphicon-trash"></i></span>
                    DELETE
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    $('#deleteTemplateModal').on('show.bs.modal', function (event) {
        $('#deleteTemplateModal .modal-body .text-box').show();
        $('#deleteTemplateModal .modal-body .error-box').hide();
        $('#deleteTemplateModal .modal-confirm-btn').unbind("click");
        $('#deleteTemplateModal .modal-confirm-btn').bind("click", function() {
            var template_id = $(this).attr("template-id");

            $.get("<?php echo $this->basePath(); ?>/superadmin/template/delete/", { templateId: template_id }, function(data) {
                if(data.success) {
                    $('#templates-list').DataTable().draw();
                    $('#deleteTemplateModal').modal('hide');
                } else {
                    $('#deleteTemplateModal .modal-body .error-msg').html("ERROR: you can't delete this template!");
                    $('#deleteTemplateModal .modal-body .text-box').hide();
                    $('#deleteTemplateModal .modal-body .error-box').show();
                }
            })
        });
    });
</script>