<div class="modal fade" id="templateActionModal" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">TITLE</h4>
            </div>
            <?php echo $this->partial($this->form->getView(), array('form' => $this->form, 'error_msg' => $this->error_msg)); ?>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    var $templateActionModal = $('#templateActionModal');
    $templateActionModal.on('show.bs.modal', function (event) {
        $templateActionModal.find('.modal-body .text-box').show();
        $templateActionModal.find('.modal-body .error-box').hide();

        /* SYNC IMAGE UPLOAD */
        var baseUrlIcon   = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getTemplateIconUrl(); ?>";
        var dropTextIcon  = "Drag & drop your icon here...";
        var uploadUrlIcon = "<?php echo $this->basePath(); ?>/media/template/icon";

        initAsyncUploader("#upload-icon", "#icon", dropTextIcon, baseUrlIcon, uploadUrlIcon, '#save', function() {
            $('#template').submit();
        });
        /* .../SYNC IMAGE UPLOAD */

    }).on('shown.bs.modal', function() {

    }).on('hidden.bs.modal', function() {
        emptyTemplateModalToDefault();
    });

    <?php
    if ($this->error_msg !== null) {
    ?>
    $templateActionModal.modal();
    <?php
    }
    ?>
</script>