<style>
    #errorAlertModal .btn {
        margin-bottom: 0;
    }

    #errorAlertModal .modal-body {
        min-height: 100px;
    }

    #errorAlertModal .text_box_redone {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        min-height: 50px;
    }
</style>

<div class="modal modal-danger fade" id="errorAlertModal" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Danger Modal</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                    <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
                </div>
                <div class="text_box_redone bg-red color-palette col-lg-10 col-md-10 col-sm-10 col-xs-8">
                    <strong>Danger!</strong>
                    <p class="text-box">ALERT TEXT</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-right" data-dismiss="modal">
                    DISMISS
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    $('#errorAlertModal').on('show.bs.modal', function (event) {
        $('#errorAlertModal .modal-body .text-box').show();
        $('#errorAlertModal .modal-body .error-box').hide();
    });
</script>