<div class="modal fade" id="backendUserPromoteOrDemoteModal" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">TITLE</h4>
            </div>
            <div class="modal-body">
                <p class="text-box">TEXT</p>
                <div class="error-box alert alert-warning" role="alert" style="display: none;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span class="error-msg">Undefined</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" style="margin-bottom: 0;">
                    DISMISS
                </button>
                <div class="modal-customer-action-btn"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    var $backendUserPromoteOrDemoteModal = $('#backendUserPromoteOrDemoteModal');
    $backendUserPromoteOrDemoteModal.on('show.bs.modal', function (event) {
        $backendUserPromoteOrDemoteModal.find('.modal-body .text-box').show();
        $backendUserPromoteOrDemoteModal.find('.modal-body .error-box').hide();
        $backendUserPromoteOrDemoteModal.find('.modal-confirm-btn').unbind("click");
        $backendUserPromoteOrDemoteModal.find('.modal-confirm-btn').bind("click", function() {
            var customer_id  = $(this).data("backendUserId");
            var new_status = $(this).attr("new-status");

            $.get("<?php echo $this->basePath(); ?>/superadmin/backend-user/change/role", { customerId: customer_id, newRole: new_status }, function(data) {
                if(data.success) {
                    $('#backend-users-list').DataTable().draw();

                    $backendUserPromoteOrDemoteModal.modal('hide');
                } else {
                    $backendUserPromoteOrDemoteModal.find('.modal-body .error-msg').html("ERROR: you can't change this customer's role!");
                    $backendUserPromoteOrDemoteModal.find('.modal-body .text-box').hide();
                    $backendUserPromoteOrDemoteModal.find('.modal-body .error-box').show();
                }
            })
        });
    });
</script>