<style>
    #formUsersImageCarouselModal img {
        display: inline;
        /*max-width: 900px;*/
        width: 700px;
    }

    #formUsersImageCarouselModal .modal-body {
        background-color: #4a4a4a;
    }
</style>

<div class="modal fade" id="formUsersImageCarouselModal" role="dialog" tabindex="-1" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -12px;">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body no-pad text-center">
                <!-- Populated with single image or carousel of gallery -->
            </div>

            <div class="modal-footer"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="application/javascript">
    $('#formUsersImageCarouselModal').on('show.bs.modal', function (event) {

    }).on('hidden.bs.modal', function () {
        $('#formUsersImageCarouselModal .modal-body .row').html('');
    });
</script>