<style>
    .modal-body {
        padding-left: 30px;
        padding-right: 30px;
    }

    #archive-box .fileinput-remove {
        display: none;
    }

    #archive-box .file-drop-zone {
        min-height: 290px;
    }

    #archive-box .file-drop-zone-title {
        background: #eee;
        padding: 123px 10px 123px;
    }

    #archive-box .kv-upload-progress {
        display: none;
    }

    #archive-box #media-list {
        padding: 0;
    }

    #archive-box #media-info {
        position: relative;
        padding: 10px;
        background: #eee;
        border: 1px solid #dedede;
    }

    #archive-box .file-drop-zone .file-preview-thumbnails {
        cursor: default;
        /*max-height: 360px;*/
        overflow: auto;
    }

    #archive-box #media-description {
        min-height: 95px;
    }

    #archive-box #loader {
        display: none;
        position: absolute;
        left: 46%;
        z-index: 10000;
        bottom: 46%;
    }

    #archive-box #media-button {
        position: absolute;
        bottom: 1%;
        width: 100%;
    }

    #archive-box #media-link {
        width:100%;
        word-wrap:break-word;
        display:inline-block;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    #archive-box #media-link.disabled {
        visibility: hidden;
    }

    #archive-box .file-preview-frame {
        min-height: 260px;
    }

</style>

<div id="archive-box" class="row body">
    <div class="col-lg-9 col-md-9 col-xs-12" id="media-list">
        <input id="upload-archive" name="upload-archive" type="file" multiple class="file-loading"/>
    </div>

    <div class="col-lg-3 col-md-3 col-xs-12" id="media-info">
        <div id="loader">
            <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h3>MEDIA INFO</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="form-group has-feedback input-error">
                    <label for="media-title">Media title</label>
                    <input name="media-title" type="text" id="media-title" class="form-control"
                           placeholder="Your media title..." disabled/>
                    <span class="glyphicon glyphicon-header form-control-feedback"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="form-group has-feedback">
                    <label for="media-description">Media description</label>
                    <textarea name="media-description" id="media-description" class="form-control"
                              placeholder="Your media description text..." disabled></textarea>
                    <span class="fa fa-info form-control-feedback"></span>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 disabled" id="media-link">
                    <a href="" target="_blank"></a>
                </div>
            </div>
        </div>
        <div id="media-button" class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-6">
                <input type="button" name="media-reset" id="media-reset" class="btn btn-default btn-block btn-flat"
                       value="DISMISS" disabled/>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                <input type="hidden" name="media-id" id="media-id"/>
                <input type="button" name="media-save" id="media-save" class="btn btn-primary btn-block btn-flat"
                       value="SAVE INFO" disabled/>
            </div>
        </div>
    </div>
</div>

<script>
    var extras = getModalExtras();

    var uploadUrl = "<?php echo $this->basePath() ?>/media/archive/add/";
    var updateInfoUrl = "<?php echo $this->basePath() ?>/media/archive/info/";

    var initialPreview = JSON.parse('<?php echo $this->initialPreview; ?>');
    var initialPreviewConfig = JSON.parse('<?php echo $this->initialPreviewConfig; ?>');
    var initialPreviewThumbTags = JSON.parse('<?php echo $this->initialPreviewThumbTags; ?>');

    $(document).ready(function () {
        initArchive();
    });

    function initArchive() {
        var $input_file = $("#upload-archive");

        $input_file.fileinput('destroy');

        $input_file.fileinput({
            uploadUrl: uploadUrl, // server upload action
            uploadAsync: true,
            showUpload: false,
            showProgress: false,
            initialPreviewAsData: true,
            maxFileSize: <?php echo $this->maxFileSize ?>,

            initialPreview: initialPreview,
            initialPreviewConfig: initialPreviewConfig,
            initialPreviewThumbTags: initialPreviewThumbTags,

            // change thumbnail footer template
            layoutTemplates: {
                main1: '{preview}\n' +
                '<div class="input-group {class}">\n' +
                '   {caption}\n' +
                '   <div class="input-group-btn">\n' +
                '       {browse}\n' +
                '       <button id="remote_media" type="button" class="btn btn-danger"><i class="fa fa-film"></i>  <span class="hidden-xs">Add remote media …</span></button>\n' +
                '       {upload}\n' +
                '       {remove}\n' +
                '   </div>\n' +
                '</div>',
                actions: '<div class="file-actions">\n' +
                '    <div class="file-footer-buttons">\n' +
                '        {upload} {edit} {delete} {zoom} {other}' +
                '    </div>\n' +
                '    {add} {drag}\n' +
                '    <div class="file-upload-indicator" title="{indicatorTitle}">{indicator}</div>\n' +
                '    <div class="clearfix"></div>\n' +
                '</div>',
                preview: '<div class="file-preview {class}">\n' +
                '    {close}\n' +
                '    <div class="close fileinput-remove">×</div>\n' +
                '    <div class="{dropClass}">\n' +
                '    <div class="file-preview-thumbnails">\n' +
                '    </div>\n' +
                '    <div class="clearfix"></div>' +
                '    <div class="file-preview-status text-center text-success"></div>\n' +
                '    <div class="kv-fileinput-error"></div>\n' +
                '    </div>\n' +
                '</div>'
            },

            overwriteInitial: false,
            allowedFileExtensions: ["jpg", "jpeg", "png"],
            initialCaption: initialPreview.length + " files in archive"
        });

        $input_file.on("filebatchselected", function (event, files) {
            $input_file.fileinput("upload");
            var mydiv = $("#archive-box .file-drop-zone .file-preview-thumbnails");
            mydiv.scrollTop(mydiv.prop("scrollHeight"));
        });

        $input_file.on('filedeleted', function(event, key, jqXHR, data) {
            var idx = 0;
            $.each(initialPreviewConfig, function (i, item) {
                if (item.frameAttr.media_type === "image" && key === item.key) {
                    idx = i;
                }
            });

            if (idx > 0) {
                initialPreview.splice(idx, 1);
                initialPreviewConfig.splice(idx, 1);
                initialPreviewThumbTags.splice(idx, 1);
            }
        });

        var $remoteMediaButton = $('#archive-box #remote_media');

        $remoteMediaButton.unbind('click');
        $remoteMediaButton.click(function () {
            var $archiveRemoteMediaModal = $('#archiveRemoteMediaModal');
            $archiveRemoteMediaModal.modal();
            $archiveRemoteMediaModal.unbind('hidden.bs.modal');
            $archiveRemoteMediaModal.on('hidden.bs.modal', function (event) {
                var data = getRemoteMediaData();

                if (data !== null) {
                    initialPreview.push(data.initialPreview[0]);
                    initialPreviewConfig.push(data.initialPreviewConfig[0]);
                    initialPreviewThumbTags.push(data.initialPreviewThumbTags[0]);

                    var $filePreviewThumbnails = $('#remoteDialogBox .file-preview-thumbnails');
                    var height = $filePreviewThumbnails.height();

                    initArchive();

                    var $myDiv = $('#archive-box .file-drop-zone .file-preview-thumbnails');
                    $myDiv.css('max-height', height);
                    $myDiv.scrollTop($myDiv.prop("scrollHeight"));
                } else {
//                    alert("Add remote media error");
                }
            });
        });
    }

    function addMedia(id) {
        var $edit_media = $('#edit_media_' + id);

        var url = $edit_media.attr("data-url");
        var title = $edit_media.attr("data-title");
        var size = $edit_media.attr("data-size");
        var media_type = $edit_media.attr("data-type");

        extras.onAddCallback(id, url, title, size, media_type);

        $edit_media.closest('.file-preview-frame').fadeOut();
    }

    function editMedia(id) {
        var title = $('#edit_media_' + id).attr("data-title");
        var description = $('#edit_media_' + id).attr("data-description");
        var type = $('#edit_media_'+id).attr("data-type");
        var highUrl = $('#edit_media_'+id).attr("data-highurl");

        $('#archive-box #media-reset').removeAttr('disabled');
        $('#archive-box #media-save').removeAttr('disabled');

        $('#archive-box #media-id').removeAttr('disabled').val(id);
        $('#archive-box #media-title').removeAttr('disabled').val(title);
        $('#archive-box #media-description').removeAttr('disabled').val(description);

        if(type == "image") {
            $('#archive-box #media-link').removeClass('disabled');
            $('#archive-box #media-link a').attr('href', highUrl);
            $('#archive-box #media-link a').html(highUrl);
        } else {
            $('#archive-box #media-link').addClass('disabled');
            $('#archive-box #media-link a').attr('href', "");
            $('#archive-box #media-link a').html("");
        }

        $('#archive-box #media-reset').unbind('click');
        $('#archive-box #media-reset').click(function () {
            resetMedia(id);
        });

        $('#archive-box #media-save').unbind('click');
        $('#archive-box #media-save').click(function () {
            updateMediaInfo(id);
        });
    }

    function resetMedia(id) {
        $('#archive-box #media-id').val(null);
        $('#archive-box #media-title').val(null).attr('disabled', true);
        $('#archive-box #media-description').val(null).attr('disabled', true);

        $('#archive-box #media-link').addClass('disabled');
        $('#archive-box #media-link a').attr('href', "");
        $('#archive-box #media-link a').html("");


        $('#archive-box #media-reset').attr('disabled', true);
        $('#archive-box #media-save').attr('disabled', true);
        $('#archive-box #media-save').unbind('click');
        $('#archive-box #media-reset').unbind('click');
    }

    function updateMediaInfo(id) {
        var title = $('#archive-box #media-title').val();
        var description = $('#archive-box #media-description').val();

        $('#archive-box #media-title').attr('disabled', true);
        $('#archive-box #media-description').attr('disabled', true);
        $('#archive-box #media-reset').attr('disabled', true);
        $('#archive-box #media-save').attr('disabled', true);

        $('#archive-box #loader').show();

        $.post(updateInfoUrl, {id: id, title: title, description: description}, function (response) {
            if (response.success) {
                $('#edit_media_' + id).attr("data-title", title);
                $('#edit_media_' + id).attr("data-description", description);
            } else {
                alert(response.message)
            }

            $('#archive-box #loader').hide();

            $('#archive-box #media-title').removeAttr('disabled');
            $('#archive-box #media-description').removeAttr('disabled');
            $('#archive-box #media-reset').removeAttr('disabled');
            $('#archive-box #media-save').removeAttr('disabled');

            var size = $('div.file-preview-frame[mediaId=' + id + '] .file-footer-caption samp').html();
            $('div.file-preview-frame[mediaId=' + id + '] .file-footer-caption').html(title + '<br/><samp>' + size + '</samp>');

            resetMedia(id);
        });
    }


    $(document).ready(function () {
        var wH = $(window).height() - 240;
        $('#archive-box .file-drop-zone .file-preview-thumbnails').attr('style', 'max-height: ' + wH + 'px;');

        var h = $('#media-list').height();
        $('#media-info').height(h - 72);
        $('#media-description').height(h - 350);
    });
    ///admin.hub.plus/public/media/user/5/section/icon/1466683928.jpg
</script>
