<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
    <tbody>
        <tr>
            <td align="center">

                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                    <tbody>
                        <tr>
                            <td valign="middle">
                                <table width="100%" cellpadding="0" border="0" cellspacing="0" align="left">
                                    <tbody>
                                        <tr>
                                            <td align="center" height="50">
                                                <a href="<?php echo $this->basePath(); ?>" target="_blank"><img src="<?php echo $this->basePath(); ?>/img/app-logo.png" alt="undefined" width="200" height="200" style="display:block" border="0" class="CToWUd"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td bgcolor="#f6f6f6" align="center">
                                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <u></u>
                                                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td height="30"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:'Raleway',Arial,Helvetica,sans-serif;color:#575757;font-size:15px;line-height:26px;text-align:center">
                                                                <div>
                                                                    <p>This is your new password&nbsp;</p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="5"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <table cellpadding="0" border="0" cellspacing="0" align="center">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td height="48" align="center" style="padding:0 40px;font-size:15px;border:2px solid #0e76bd;color:#0e76bd;font-family:'Raleway',Arial,Helvetica,sans-serif;font-weight:bold;letter-spacing:1px">
                                                                                <a href="<?php echo $this->basePath() ."/login/" . $this->token; ?>" style="color:#0e76bd;text-decoration:none;font-size: 32px" target="_blank">
                                                                                    <?php echo $this->password; ?>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="30"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <u></u>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                    <tbody>
                        <tr>
                            <td align="center">
                                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="font-family:'Droid Serif',Georgia,'Times New Roman',serif;color:#0e76bd;font-size:28px;line-height:38px;font-weight:normal">
                                                What to do
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                    <tbody>
                        <tr>
                            <td align="center">
                                <u></u>
                                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                    <tbody><tr>
                                        <td align="" style="font-family:'Raleway',Arial,Helvetica,sans-serif;color:#666666;font-size:15px;line-height:24px;text-align:center">
                                            <div>
                                                <p style="margin-top:0px;margin-bottom:10px">
                                                    Click the blue box with new password and login to <b><?php echo strtoupper($this->backend_name); ?></b></br>
                                                    or type <a href="<?php echo $this->basePath(); ?>" target="_blank"><?php echo $this->basePath(); ?></a>
                                                    in your browser, insert your <b>email and / password</b> and login to <b><?php echo strtoupper($this->backend_name); ?></b>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <u></u>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <table width="660" cellpadding="0" border="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td height="30"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                    <tbody>
                                    <tr>
                                        <td align="center">
                                            <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                                <tbody><tr>
                                                    <td height="30" style="border-top:1px dashed #0E76BD"></td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <u></u>
                                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                    <tbody><tr>
                                        <td align="" style="font-family:'Raleway',Arial,Helvetica,sans-serif;color:#666666;font-size:15px;line-height:24px;text-align:center">
                                            <div>
                                                <p style="margin-top:0px;margin-bottom:10px">
                                                    <b>IMPORTANT: </b>Remember to change your password once logged.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <u></u>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </tbody>
                </table>

                <table width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#2c2c2c">
                    <tbody><tr>
                        <td align="center" style="padding:30px 0 10px">
                            <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                <tbody>
                                    <tr>
                                        <td align="center" style="min-width:660px;width:660px">
                                            <table width="100%" cellpadding="0" border="0" cellspacing="0" align="center">
                                                <tbody><tr>
                                                    <td align="center">
                                                        <table cellpadding="0" border="0" cellspacing="0" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding-bottom:20px" valign="top" align="center" width="50">
                                                                        <a href="https://www.facebook.com/rhubbit/" target="_blank"><img src="<?php echo $this->basePath(); ?>/img/icon/facebook.png" width="36" height="36" border="0" style="display:block" class="CToWUd"></a>
                                                                    </td>
                                                                    <td style="padding-bottom:20px" valign="top" align="center" width="50">
                                                                        <a href="https://www.twitter.com/rhubbit/" target="_blank"><img src="<?php echo $this->basePath(); ?>/img/icon/twitter.png" width="36" height="36" border="0" style="display:block" class="CToWUd"></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table width="100%" cellpadding="0" border="0" cellspacing="0" align="left">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" width="50%" style="font-family:'Raleway',Arial,Helvetica,sans-serif;color:#ffffff;font-size:12px;line-height:18px">
                                                            <div>
                                                                <p style="margin-top:0px;margin-bottom:10px">Rhubbit S.r.l.<br>P.IVA: 07616040726</p>
                                                            </div>
                                                        </td>
                                                        <td align="right" width="50%" style="font-family:'Raleway',Arial,Helvetica,sans-serif;color:#ffffff;font-size:12px;line-height:18px">
                                                            <div>
                                                                <p style="margin-top:0px;margin-bottom:10px; text-align: right;">Via Giuseppe Orlandi, 58<br>70010 Turi (BA)</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody></table>
                    <span style="white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
            </td>
        </tr>
    </tbody>
</table>