<style type="text/css">
    .fieldsets_drag_icon {
        width: 20px;
        height: 20px;
        background: url('<?php echo $this->basePath(); ?>/img/icon/drag.png');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        cursor: move;
        float: left;
    }

    .field_drag_icon {
        width: 15px;
        height: 15px;
        background: url('<?php echo $this->basePath(); ?>/img/icon/drag.png');
        background-size: 15px 15px;
        background-repeat: no-repeat;
        cursor: move;
        float: left;
        margin-top: 3px;
    }

    .sortable_fields_ul li,
    #sortable_fieldsets_boxes li {
        list-style: none;
    }

    .sortable_fields_ul,
    #sortable_fieldsets_boxes {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .hp_error_tooltip_title {
        top: 194px;
        position: relative;
    }

    .hp_error_tooltip_area {
        top: 228px;
        position: relative;
    }

    .hp_error_tooltip_privacy_link {
        top: -18px;
        float: right;
        position: relative;
    }

    .hp_error_tooltip_terms_link {
        top: -18px;
        float: right;
        position: relative;
    }

    .hp_error_tooltip_links_validator {
        top: -18px;
        float: right;
        position: relative;
    }
</style>

<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
    </div>
<?php } ?>
<?php
/** @var \Form\Section\CustomForm\CustomFormSectionForm $form */
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}

$disabledFields = $form->getDisabledTabFields();

?>

<div class="box-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 settings">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">

                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#section-main-tab" data-toggle="tab">MAIN DATA</a></li>
                        <li><a href="#section-layout-tab" data-toggle="tab">LAYOUT</a></li>
                        <li><a id="section-look-tab-link" href="#section-look-tab" data-toggle="tab">LOOK AND FEEL</a>
                        </li>
                        <li><a href="#section-option-tab" data-toggle="tab">SETTINGS</a></li>
                        <?php if ($this->appUrl !== null) {
                            ?>
                            <li><a href="#section-qrcode-tab" data-toggle="tab">ID / QR CODE</a></li>
                            <?php
                        } ?>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="section-main-tab">
                            <br/>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <?php echo $this->partial('section-common-fields.phtml', array('form' => $form)); ?>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <b>INFO</b>
                                            <?php if ($this->section_id != "" && $this->section_id != null) { ?>
                                                <div class="box-tools pull-right">
                                                    <a href="<?php echo $this->basePath(); ?>/admin/form/<?php echo $this->section_id; ?>/"
                                                       class="btn btn-box-tool" style="margin-top: -7px;">
                                                        <i class="fa fa-th-list fa-2x"></i>
                                                    </a>
                                                </div>
                                            <?php } ?>
                                        </div>
                                        <div class="panel-body">
                                            <?php
                                            echo $this->formElement($form->get('links_validator'));
                                            if (count($form->get('links_validator')->getMessages()) > 0) { ?>
                                                <div id="custom_form_error"
                                                     class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="bg-danger text-danger" style="padding: 8px;">
                                                        <?php
                                                        echo $this->hpFormElementErrors($form->get('links_validator'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                        ?>
                                                    </div>
                                                </div>
                                            <?php } ?>
                                            <br/>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <span class="text-left"
                                                              style="margin-left: 5px;"><?php echo $this->formLabel($form->get('form_type')); ?></span>
                                                        <div class="form-group has-feedback">
                                                            <?php
                                                            echo $this->formElement($form->get('form_type'));
                                                            echo $this->hpFormElementErrors($form->get('form_type'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                            ?>
                                                        </div>
                                                    </div>

                                                    <div id="privacy_link_col"
                                                         class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <span class="text-left"
                                                              style="margin-left: 5px;"><?php echo $this->formLabel($form->get('privacy_link')); ?></span>
                                                        <div class="form-group has-feedback">
                                                            <?php
                                                            echo $this->formElement($form->get('privacy_link'));
                                                            echo $this->hpFormElementErrors($form->get('privacy_link'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                            ?>
                                                        </div>
                                                    </div>

                                                    <div id="terms_link_col"
                                                         class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <span class="text-left"
                                                              style="margin-left: 5px;"><?php echo $this->formLabel($form->get('terms_link')); ?></span>
                                                        <div class="form-group has-feedback">
                                                            <?php
                                                            echo $this->formElement($form->get('terms_link'));
                                                            echo $this->hpFormElementErrors($form->get('terms_link'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                            ?>
                                                        </div>
                                                    </div>

                                                    <div id="forward_to_col"
                                                         class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <span class="text-left"
                                                              style="margin-left: 5px;"><?php echo $this->formLabel($form->get('forward_to')); ?></span>
                                                        <div class="form-group has-feedback">
                                                            <?php
                                                            echo $this->formElement($form->get('forward_to'));
                                                            echo $this->hpFormElementErrors($form->get('forward_to'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                            ?>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <span class="text-left"
                                                              style="margin-left: 5px;"><?php echo $this->formLabel($form->get('success_message')); ?></span>
                                                        <div class="form-group has-feedback">
                                                            <?php
                                                            echo $this->formElement($form->get('success_message'));
                                                            echo $this->hpFormElementErrors($form->get('success_message'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                            ?>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="row" style="margin-top: 25px;">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div id="custom_form-jstree"></div>
                                                        <?php echo $this->hpFormElementErrors($form->get('custom_forms_details'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <br/>
                                                <?php echo $this->formLabel($form->get("tags")); ?>
                                                <div class="form-group has-feedback">
                                                    <?php
                                                    echo $this->formElement($form->get("tags"));
                                                    echo $this->hpFormElementErrors($form->get("tags"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                    ?>
                                                    <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane" id="section-layout-tab">
                            <br/>
                            <div class="col-lg-8 col-md-8 col-xs-8 selectpicker-error">
                                <div class="form-group has-feedback">
                                    <?php
                                    echo $this->formLabel($form->get('page_size'));
                                    echo $this->formElement($form->get('page_size'));
                                    echo $this->hpFormElementErrors($form->get('page_size'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                    ?>
                                </div>
                            </div>

                            <?php echo $this->partial('layout-tab.phtml', array('form' => $form)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-look-tab">
                            <br/>
                            <?php echo $this->partial('look-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields, 'custom_theme' => $this->custom_theme)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-option-tab">
                            <br/>
                            <?php echo $this->partial('option-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <?php if ($this->appUrl !== null) {
                            ?>
                            <div class="tab-pane fade" id="section-qrcode-tab">
                                <br/>
                                <?php echo $this->partial('qrcode-tab.phtml', array('form' => $form, 'appUrl' => $this->appUrl, 'hashId' => $this->hashId)); ?>
                                <div class="clearfix"></div>
                            </div>
                            <?php
                        } ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
        </div>

    </div>
</div><!-- /.box-body -->

<div class="box-footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-xs-8">
            <?php echo $this->formElement($form->get('save')); ?>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
    </div>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

    initFormTab();
    initFormValidator("#section-main-tab");

    var custom_form_jstree = $('#custom_form-jstree');
    var custom_form_related_field_values = {};

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href"); // activated tab
        initFormValidator(target);
    });

    $(".switch-btn").bootstrapSwitch();

    tinymce.init({
        selector: '#success_message', height: "300",
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen textcolor table',
            'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor | table',
        content_css: '//www.tinymce.com/css/codepen.min.css',
        setup: function (ed) {
            ed.on('init', function () {
                ed.execCommand("fontName", false, "sans-serif");
            });
        },
        table_default_styles: {
            width: '100%'
        },
        extended_valid_elements: 'script[type]'
    });

    $('#tags').tokenfield({
        autocomplete: {
            source: "<?php echo $this->basePath(); ?>/ajax/tags/content/" + $('#type').val(),
            minLength: 2,
            delay: 100
        }
    }).on('tokenfield:createtoken', function (e) {
        var enabled = true;
        var tokens = $('#tags').tokenfield('getTokens');

        if (e.attrs.value.length >= 4) {
            for (var i = 0; i < tokens.length; i++) {
                if (tokens[i].value == e.attrs.value) {
                    enabled = false;
                }
            }
        } else {
            $('.tag_error').html("Tag must be at leas 4 chars");
            enabled = false;
        }

        console.log("ENABLED: " + enabled);

        if (enabled) {
            $('.tag_error').html("");

            if (e.attrs.id == null) {
                var tag = formatTwitterHashtag(e.attrs.value);
                if (tag != e.attrs.value) {
                    e.preventDefault();
                    $(this).tokenfield('createToken', tag);
                }
            }
        } else {
            e.preventDefault();
        }
    });


    /* SUPER VARS FOR JSTREE */
    var $formType = $('#form_type');
    var custom_form_id = '<?php echo $this->section_id; ?>';
    var group_counter = 0;
    var field_counter = 0;
    var group_names = [];
    var field_names = [];
    /* .../SUPER VARS FOR JSTREE */

    var AUTH_OPTIONAL = '<?php echo \Form\LayoutForm::AUTH_MODE_OPTIONAL; ?>';
    var AUTH_POPUP = '<?php echo \Form\LayoutForm::AUTH_MODE_POPUP; ?>';
    var AUTH_MANDATORY = '<?php echo \Form\LayoutForm::AUTH_MODE_MANDATORY; ?>';

    var AREA_MENU = '<?php echo \Form\Section\SectionForm::AREA_MENU; ?>'
    var AREA_FOOTER = '<?php echo \Form\Section\SectionForm::AREA_FOOTER; ?>'

    /* FILL CUSTOM LINKS VALIDATOR PARAMS */
    initCustomFormExtraInputs($formType.selectpicker('val'));

    function initCustomFormExtraInputs(custom_form_picker_type) {
        var $privacy_link = $('#privacy_link');
        var $privacy_link_col = $('#privacy_link_col');

        var $terms_link = $('#terms_link');
        var $terms_link_col = $('#terms_link_col');

        var $forward_to = $('#forward_to');
        var $forward_to_col = $('#forward_to_col');

        $privacy_link_col.addClass('hidden');
        $terms_link_col.addClass('hidden');
        $forward_to_col.addClass('hidden');

        var $auth = $("form#section #auth");
        var $authPopupOption = $auth.find('[value=' + AUTH_POPUP + ']');
        var $authMandatoryOption = $auth.find('[value=' + AUTH_MANDATORY + ']');
        var $authOptionalOption = $auth.find('[value=' + AUTH_OPTIONAL + ']');

        var $area = $("form#section #area");
        var $areaMenuOption = $area.find('[value=' + AREA_MENU + ']');
        var $areaFooterOption = $area.find('[value=' + AREA_FOOTER + ']');

        switch (custom_form_picker_type) {
            case '<?php echo \Form\Section\CustomForm\CustomFormSectionForm::REGISTRATION_FORM; ?>':
                $privacy_link_col.removeClass('hidden');
                $terms_link_col.removeClass('hidden');
                $forward_to.val('');

                $authPopupOption.prop('disabled', true);
                $authMandatoryOption.prop('disabled', true);
                break;
            case '<?php echo \Form\Section\CustomForm\CustomFormSectionForm::USER_FORM; ?>':
                $authPopupOption.prop('disabled', true);
                $authOptionalOption.prop('disabled', true);
                $auth.selectpicker().selectpicker('val', AUTH_MANDATORY);

                $areaMenuOption.prop('disabled', true);
                $areaFooterOption.prop('disabled', true);
                break;
            case '<?php echo \Form\Section\CustomForm\CustomFormSectionForm::CONTACT_FORM; ?>':
                $privacy_link.val('');
                $terms_link.val('');
                $forward_to_col.removeClass('hidden');
                break;
            case '<?php echo \Form\Section\CustomForm\CustomFormSectionForm::SURVEY_FORM; ?>':
                $privacy_link.val('');
                $terms_link.val('');
                $forward_to.val('');
                break;
        }

        setLinksValidatorValue(custom_form_picker_type);

//        console.log($('#custom_form_error .form_error'));

    }

    $formType.on('changed.bs.select', function () {
        var $this = $(this);
        var formTypeVal = $this.selectpicker('val');

        var $auth = $("form#section #auth");
        var $authPopupOption = $auth.find('[value=' + AUTH_POPUP + ']');
        var $authMandatoryOption = $auth.find('[value=' + AUTH_MANDATORY + ']');
        var $authOptionalOption = $auth.find('[value=' + AUTH_OPTIONAL + ']');

        var $area = $("form#section #area");
        var $areaMenuOption = $area.find('[value=' + AREA_MENU + ']');
        var $areaFooterOption = $area.find('[value=' + AREA_FOOTER + ']');

        initCustomFormExtraInputs(formTypeVal);

        if (formTypeVal === "<?php echo \Form\Section\CustomForm\CustomFormSectionForm::REGISTRATION_FORM; ?>") {
            $authPopupOption.prop('disabled', true);
            $authMandatoryOption.prop('disabled', true);
            $authOptionalOption.prop('disabled', false);
            $auth.selectpicker('val', AUTH_OPTIONAL);

            $areaMenuOption.prop('disabled', false);
            $areaFooterOption.prop('disabled', false);
        } else if (formTypeVal === "<?php echo \Form\Section\CustomForm\CustomFormSectionForm::USER_FORM; ?>") {
            $authPopupOption.prop('disabled', true);
            $authOptionalOption.prop('disabled', true);
            $authMandatoryOption.prop('disabled', false);
            $auth.selectpicker('val', AUTH_MANDATORY);

            $areaMenuOption.prop('disabled', true);
            $areaFooterOption.prop('disabled', true);
        } else {
            $authPopupOption.prop('disabled', false);
            $authMandatoryOption.prop('disabled', false);
            $authOptionalOption.prop('disabled', false);
            $auth.selectpicker('val', AUTH_OPTIONAL);

            $areaMenuOption.prop('disabled', false);
            $areaFooterOption.prop('disabled', false);

            $('.custom_form_group').each(function () {
                var $this = $(this);

                $('#' + $this.attr('id') + ' .custom_form_field').each(function () {
                    var $customFormField = $(this);
                    var field = JSON.parse($customFormField.attr('value'));

                    if (field.type === "<?php echo \Application\Model\SectionModel::HPFORM_IMAGE; ?>") {
                        field.is_avatar = false;
                        $customFormField.attr('value', JSON.stringify(field));
                    }
                });
            });

            populateHiddenCustomFormsDetailsJson();
            custom_form_jstree.jstree(true).settings.core.data = getCustomFormJstreeData();
            custom_form_jstree.jstree(true).refresh();
        }
        $auth.selectpicker('render');
        $area.selectpicker('render');
    });

    $('#privacy_link, #terms_link, #forward_to').on('change', function () {
        setLinksValidatorValue($formType.selectpicker('val'));
    });

    function setLinksValidatorValue(custom_form_picker_type) {
        var choice_validate = custom_form_picker_type;
        var privacy_validate = $('#privacy_link').val();
        var terms_validate = $('#terms_link').val();
        var forward_to_validate = $('#forward_to').val();
        var fields_exists = false;

        var fields_value = $('#custom_forms_details').val();
        if (fields_value !== "") {
            var fieldsets_check = JSON.parse(fields_value).fieldsets;
            if (fieldsets_check.length > 0) {
                fields_exists = true;
            }
        }

        var links_validate = JSON.stringify({
            choice: choice_validate,
            privacy: privacy_validate,
            terms: terms_validate,
            forward_to: forward_to_validate,
            fields: fields_exists
        });

        $('#links_validator').val(links_validate);
    }

    /* .../FILL CUSTOM LINKS VALIDATOR PARAMS */


    /* LAYOUT PAGE SIZE */
    $("#page_size").bootstrapSlider({
        ticks: [0, 10, 20, 30, 40, 50],
        ticks_snap_bounds: 20,
        tooltip: 'always',
        value: <?php echo $form->get('page_size')->getValue(); ?>
    });
    /* .../LAYOUT PAGE SIZE */


    /* ON SUBMIT CREATE MEGA GROUPS/FIELDS JSON */
    function populateHiddenCustomFormsDetailsJson() {
        var custom_forms_details_json = {};

        custom_forms_details_json['fieldsets'] = getFieldsetsWithFields();

        $('#custom_forms_details').val(JSON.stringify(custom_forms_details_json));
    }

    function getFieldsetsWithFields() {
        var fieldsets = [];

        $('.custom_form_group').each(function () {
            var fieldset = {};

            var label = $(this).attr('text');
            var value = $(this).attr('value');

            if (value !== undefined && value !== "") {
                label = JSON.parse(value);
            }

            fieldset['name'] = $(this).attr('text');
            if (label !== $(this).attr('text')) {
                fieldset['label'] = label;
            }
            fieldset['fields'] = getInnerFields($(this).attr('id'));

            if (fieldset.fields.length > 0) fieldsets.push(fieldset);
        });

        return fieldsets;
    }

    function getInnerFields(fieldset_id) {
        var fields = [];

        $('#' + fieldset_id + ' .custom_form_field').each(function () {
            var field = JSON.parse($(this).attr('value'));

            fields.push(field);
        });

        return fields;
    }

    /* .../ON SUBMIT CREATE MEGA GROUPS/FIELDS JSON */


    /* POPULATE CUSTOM FORM JSTREE */
    custom_form_jstree.on("changed.jstree", function (e, data) {

    }).jstree({
        "core": {
            "check_callback": function (operation, node, node_parent, node_position, more) {
                if (operation === 'move_node' && node_parent.id === "#") {
                    return false;
                } else {
                    return true;
                }
            },
            "themes": {
                "stripes": true,
                "variant": "large"
            },
            'data': getCustomFormJstreeData()
        },
        "plugins": ["changed", "contextmenu", "dnd", "types", "unique"],
        "contextmenu": {items: customFormJstreeMenu},
        "types": {
            "root": {
                "valid_children": ["group"]
            },
            "group": {
                "valid_children": ["field"]
            },
            "field": {
                "valid_children": ["value"]
            },
            "value": {
                "valid_children": []
            }
        }
    }).bind("move_node.jstree", function (e, data) {

    }).bind("select_node.jstree", function (e, data) {

    });
    /* .../POPULATE CUSTOM FORM JSTREE */


    /* GET JSTREE DATA FROM MEGA JSON */
    function getCustomFormJstreeData() {
        var jstree_data =
            [{
                "id": "root",
                "parent": "#",
                "text": "List of Fields",
                "type": "root",
                "icon": "fa fa-wpforms",
                "state": {'opened': true, 'disabled': false, 'selected': false},
                "li_attr": {'class': 'custom_form_root'},
                "a_attr": {}
            }];

        jstree_data = getCustomFormDetails(jstree_data);

        return jstree_data;
    }

    function getCustomFormDetails(jstree_data) {
        var custom_forms_details = $('#custom_forms_details').val();

        if (custom_forms_details) {
            var custom_forms_details_json = JSON.parse(custom_forms_details).fieldsets;
            $.each(custom_forms_details_json, function (key1, value1) {
                var this_details = getJstreeDetails('group', value1);
                var custom_form_group = jstreeGroupsAndFields('group', this_details, true);
                jstree_data.push(custom_form_group);
                group_names.push(value1.name);
                $.each(value1.fields, function (key2, value2) {
                    var this_details = getJstreeDetails('field', value2);
                    var custom_form_field = jstreeGroupsAndFields('field', this_details, true);
                    jstree_data.push(custom_form_field);
                    if (value2.name === undefined) {
                        field_names.push(value2.label);
                    } else {
                        field_names.push(value2.name);
                    }
                });
            });
        }

        return jstree_data;
    }

    function jstreeGroupsAndFields(type, this_details, reloaded) {
        return {
            "id": type + "_" + this_details.counter,
            "parent": this_details.parent,
            "text": this_details.label,
            "lang": this_details.lang,
            "type": type,
            "icon": this_details.icon,
            "state": {'opened': true, 'disabled': false, 'selected': false},
            "li_attr": {
                'class': this_details.class,
                'value': this_details.value,
                'reloaded': reloaded,
                'text': this_details.name
            },
            "a_attr": {}
        };
    }

    function getJstreeDetails(type, value) {
        var jstree_details = {};
        var currentLang = '<?php echo $this->aclHelper->session->currentLang; ?>';

        jstree_details['lang'] = currentLang;

        switch (type) {
            case "group":
                group_counter++;
                jstree_details['counter'] = group_counter;
                jstree_details['label'] = getLocaleText(currentLang, value.label, value.name);
                jstree_details['name'] = value.name;
                jstree_details['value'] = JSON.stringify(value.label);
                jstree_details['class'] = "custom_form_group";
                jstree_details['parent'] = "root";
                jstree_details['icon'] = "fa fa-object-group";
                break;
            case "field":
                field_counter++;
                jstree_details['counter'] = field_counter;
                if (value.required) {
                    jstree_details['label'] = getLocaleText(currentLang, value.label, value.label) + ' <i class="fa fa-asterisk" aria-hidden="true"></i>';
                } else {
                    jstree_details['label'] = getLocaleText(currentLang, value.label, value.label);
                }
                if (value.hidden) {
                    jstree_details['label'] = "<span class='hidden_field'>"+jstree_details['label']+"</span>"
                }
                jstree_details['name'] = value.name;
                jstree_details['value'] = JSON.stringify(value);
                jstree_details['class'] = "custom_form_field";
                jstree_details['parent'] = "group_" + group_counter;
                jstree_details['icon'] = getJstreeFieldIcon(value);
                break;
        }

        return jstree_details;
    }

    function getJstreeFieldIcon(value) {
        var field_icon = "";
        var type = value.type;
        var validator = value.validator;

        switch (type) {
            case '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_DESCR; ?>':
                field_icon = 'fa fa-file-text-o';
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_TEXT; ?>':
                switch (validator) {
                    case "NONE":
                        field_icon = 'fa fa-text-width';
                        break;
                    case "VALID_PHONE":
                        field_icon = 'fa fa-phone';
                        break;
                    case "VALID_EMAIL":
                        field_icon = 'fa fa-envelope-o';
                        break;
                    case "VALID_URL":
                        field_icon = 'fa fa-link';
                        break;
                    case "NUMERIC":
                        field_icon = 'fa fa-calculator';
                        break;
                }
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_TEXTAREA; ?>':
                field_icon = 'fa fa-align-justify';
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_IMAGE; ?>':
                if (value.is_avatar === true) {
                    field_icon = 'fa fa-user-circle-o';
                } else {
                    switch (validator) {
                        case "SINGLE":
                            field_icon = 'fa fa-picture-o';
                            break;
                        case "GALLERY":
                            field_icon = 'fa fa-window-restore';
                            break;
                    }
                }
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_CHECKBOX; ?>':
                field_icon = 'fa fa-check-square-o';
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_RADIOBOX; ?>':
                field_icon = 'fa fa-check-circle-o';
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_ADDRESS; ?>':
                field_icon = 'fa fa-map-marker';
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_TAG_GROUP; ?>':
                switch (validator) {
                    case "TAG_SINGLE":
                        field_icon = 'fa fa-tag';
                        break;
                    case "TAG_MULTIPLE":
                        field_icon = 'fa fa-tags';
                        break;
                }
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>':
                switch (value.value.origin_data) {
                    case '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_LOCALE; ?>':
                        field_icon = 'fa fa-bars';
                        break;
                    case '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_REMOTE; ?>':
                        field_icon = 'fa fa-list';
                        break;
                    default:
                        field_icon = 'fa fa-bars';
                        break;
                }
                break;
            default:
                field_icon = "glyphicon glyphicon-bishop";
        }

        return field_icon;
    }

    /* .../GET JSTREE DATA FROM MEGA JSON */


    /* POPULATE JSTREE MENU OPTIONS */
    function customFormJstreeMenu(node) {
        var items = {};
        var $node = $('#' + node.id);

        if ($node.hasClass("custom_form_root")) {
            items = populateRootOptions(node);
        } else if ($node.hasClass("custom_form_group")) {
            items = populateGroupOptions(node);
            if (checkGroupHasFields(node)) delete items.deleteItem;
        } else if ($node.hasClass("custom_form_field")) {
            items = populateFieldOptions(node);
        }

        return items;
    }

    function populateRootOptions() {
        return {
            createItem: { // The "create" menu item
                label: "Add Field's Group",
                icon: "glyphicon glyphicon-plus",
                action: function () {
                    console.log("Add Field's Group");
                    var create_group_btn = '<button type="button" id="create-custom-form-group-btn" class="modal-confirm-btn btn btn-success btn-labeled" style="margin-bottom: 0;">CREATE GROUP<span class="btn-label-right"><i class="glyphicon glyphicon-ok"></i></span></button>';
                    $('#sectionCustomFormGroupCreateModal .modal-title').html('CREATE NEW GROUP');
                    $('#sectionCustomFormGroupCreateModal .modal-custom_form-group-action-btn').html(create_group_btn);
                    $('#sectionCustomFormGroupCreateModal').modal();
                }
            }
        };
    }

    var selectRelatedNullOption = "<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_RELATED_TO_NULL_LABEL; ?>";

    function setCustomFormRelatedFieldValues(action, node) {
        var childrens = {};
        var currentNodeName = undefined;
        if (action === "add") {
            childrens = custom_form_jstree.jstree().get_children_dom(node);
        } else {
            currentNodeName = node.text;
            childrens = custom_form_jstree.jstree().get_children_dom(custom_form_jstree.jstree().get_parent(node));
        }

        var acceptedTypes = [
            '<?php echo \Application\Model\SectionModel::HPFORM_CHECKBOX; ?>',
            '<?php echo \Application\Model\SectionModel::HPFORM_RADIOBOX; ?>',
            '<?php echo \Application\Model\SectionModel::HPFORM_TAG_GROUP; ?>',
            '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>'
        ];
        var $custom_form_field_select_related = $('#custom_form_field_select_related');
        var $custom_form_field_select_type = $('#custom_form_field_select_type');
        $custom_form_field_select_related.html('<option>' + selectRelatedNullOption + '</option>');
        custom_form_related_field_values = {};

        for (var i = 0; i < childrens.length; i++) {
            var value = JSON.parse(childrens[i].getAttribute("value"));
            var relatedTemp = [];
            var skip = false;

            if (value.name !== undefined && value.name === currentNodeName) {
                skip = true;
            }

            if ($.inArray(value.type, acceptedTypes) > -1 && !skip) {
                var key = value.label;
                var label = value.label;
                var origin_data = '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_LOCALE ?>';
                if (value.type === '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>') {
                    key = value.name;
                    label = value.label['<?php echo $this->aclHelper->session->currentLang; ?>'];
                    origin_data = value.value.origin_data;
                    if (origin_data === '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_LOCALE ?>') {
                        $.each(value.value.option_values, function (key, value) {
                            relatedTemp.push({
                                key: key,
                                value: value.label['<?php echo $this->aclHelper->session->currentLang; ?>']
                            });
                        });
                    }
                } else if (value.name !== undefined) {
                    key = value.name;
                    label = value.label['<?php echo $this->aclHelper->session->currentLang; ?>'];
                    $.each(value.value, function (key, value) {
                        relatedTemp.push({
                            key: key,
                            value: value['<?php echo $this->aclHelper->session->currentLang; ?>']
                        });
                    });
                } else {
                    value.value.split(',').forEach(function (tag) {
                        tag = tag.trim();
                        relatedTemp.push({
                            key: tag,
                            value: tag
                        });
                    });
                }

                custom_form_related_field_values[key] = relatedTemp;

                $custom_form_field_select_related.append('<option value="' + key + '" data-origin="' + origin_data + '">' + label + '</option>');
            }
        }

//        console.log("related option", custom_form_related_field_values);

        $custom_form_field_select_related.selectpicker('refresh');
        $custom_form_field_select_related.trigger("selectRelatedDone");
    }

    function populateGroupOptions(node) {
        return {
            createItem: { // The "create" menu item
                label: "Add Field",
                icon: "glyphicon glyphicon-plus",
                action: function () {
                    console.log("Add Field");
                    var $sectionCustomFormFieldActionModal = $('#sectionCustomFormFieldActionModal');
                    var create_field_btn = '<button type="button" id="create-custom-form-field-btn" class="modal-confirm-btn btn btn-success btn-labeled" style="margin-bottom: 0;">CREATE FIELD<span class="btn-label-right"><i class="glyphicon glyphicon-ok"></i></span></button>';

                    $sectionCustomFormFieldActionModal.find('.modal-title').html('CREATE FIELD');
                    $sectionCustomFormFieldActionModal.find('.modal-custom_form-field-action-btn').html(create_field_btn);
                    $sectionCustomFormFieldActionModal.find('.modal-confirm-btn').attr('node-data', JSON.stringify(node));
                    $sectionCustomFormFieldActionModal.modal();

                    setCustomFormRelatedFieldValues('add', node);
                }
            },
            renameItem: {
                label: "Rename",
                icon: "glyphicon glyphicon-pencil",
                action: function () {
                    console.log("Rename");
                    var update_group_btn = '<button type="button" id="update-custom-form-group-btn" class="modal-confirm-btn btn btn-success btn-labeled" style="margin-bottom: 0;">UPDATE GROUP<span class="btn-label-right"><i class="glyphicon glyphicon-ok"></i></span></button>';
                    $('#sectionCustomFormGroupCreateModal .modal-title').html('UPDATE GROUP');
                    $('#sectionCustomFormGroupCreateModal .modal-custom_form-group-action-btn').html(update_group_btn);
                    $('#sectionCustomFormGroupCreateModal .modal-confirm-btn').attr('node-data', JSON.stringify(node));
                    $('#sectionCustomFormGroupCreateModal').modal();
                }
            },
            deleteItem: { // The "delete" menu item
                label: "Delete",
                icon: "glyphicon glyphicon-trash",
                action: function () {
                    console.log("Delete");
                    deleteSelectedNode(node);
                }
            }
        };
    }

    function populateFieldOptions(node) {
        return {
            renameItem: { // The "rename" menu item
                label: "Update",
                icon: "glyphicon glyphicon-pencil",
                action: function () {
                    console.log("Update");
                    var $sectionCustomFormFieldActionModal = $('#sectionCustomFormFieldActionModal');
                    var update_field_btn = '<button type="button" id="update-custom-form-field-btn" class="modal-confirm-btn btn btn-success btn-labeled" style="margin-bottom: 0;">UPDATE FIELD<span class="btn-label-right"><i class="glyphicon glyphicon-ok"></i></span></button>';

                    $sectionCustomFormFieldActionModal.find('.modal-title').html('UPDATE FIELD');
                    $sectionCustomFormFieldActionModal.find('.modal-custom_form-field-action-btn').html(update_field_btn);
                    $sectionCustomFormFieldActionModal.find('.modal-confirm-btn').attr('node-data', JSON.stringify(node));
                    $sectionCustomFormFieldActionModal.modal();

                    setCustomFormRelatedFieldValues('update', node);
                }
            },
            deleteItem: { // The "delete" menu item
                label: "Delete",
                icon: "glyphicon glyphicon-trash",
                action: function () {
                    console.log("Delete");
                    var checkResponse = checkRelatedField(node);
                    if (checkResponse.success) {
                        if (node.li_attr.reloaded) {
                            checkFieldContent(node);
                        } else {
                            deleteSelectedNode(node);
                        }
                    } else {
                        var relatedFieldName = checkResponse.related_node_value.label[currentLang];
                        var $errorAlertModal = $('#errorAlertModal');
                        $errorAlertModal.find(".modal-title").html('IMPOSSIBLE TO DELETE');
                        $errorAlertModal.find('.text-box').html("Can't delete this field because is related to '" + relatedFieldName + "' field!");
                        $errorAlertModal.modal();
                    }
                }
            }
        };
    }

    /* .../POPULATE JSTREE MENU OPTIONS */

    function checkRelatedField(node) {
        var node_value = JSON.parse(node.li_attr.value);
        var node_key = node_value.name !== undefined ? node_value.name : node_value.label;
        var siblings = custom_form_jstree.jstree().get_children_dom(custom_form_jstree.jstree().get_parent(node));
        var success = true;
        var related_node_value = {};

        for (var i = 0; i < siblings.length; i++) {
            var sibling_value = JSON.parse(siblings[i].getAttribute("value"));
            var sibling_key = sibling_value.name !== undefined ? sibling_value.name : sibling_value.label;
            var skip = false;

            if (sibling_key === node_key) {
                skip = true;
            }

            if (sibling_value.type === '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>' && !skip) {
                var related_to = sibling_value.value.related_to;
                if (related_to === node_key) {
                    success = false;
                    related_node_value = sibling_value;
                }
            }
        }

        return {
            success: success,
            related_node_value: related_node_value
        };
    }


    /* ON MODAL CREATE, ADD THE JSTREE */
    function addNewlyCreatedJstreeObj(parent, jstree_obj) {
        custom_form_jstree.jstree().create_node('#' + parent, jstree_obj, "last");
        populateNameArray(jstree_obj.type, jstree_obj.text);
    }

    /* .../ON MODAL CREATE, ADD THE JSTREE */


    /* POPULATE ARRAY FOR LABEL CHECKS */
    function populateNameArray(type, label) {
        switch (type) {
            case "group":
                group_names.push(label);
                break;
            case "field":
                field_names.push(label);
                break;
        }
    }

    /* .../POPULATE ARRAY FOR LABEL CHECKS */


    /* CHECK IF FIELD HAS CONTENTS */
    function checkFieldContent(node) {
        var $node = $("#" + node.id);
        var field_type = JSON.parse($node.attr("value")).type;

        if (field_type !== '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_DESCR; ?>') {
            var fieldLabel = node.li_attr.text;
            var value = JSON.parse(node.li_attr.value);
            if (value.name !== undefined) {
                fieldLabel = value.name;
            } else {
                fieldLabel = value.label;
            }

            $.get('<?php echo $this->basePath(); ?>/ajax/check/section/field/content', {
                fieldLabel: fieldLabel,
                customFormId: custom_form_id
            }, function (result) {
                if (result) { //DB column has some data
                    var $deleteSectionOldFieldWithContentModal = $('#deleteSectionOldFieldWithContentModal')
                    $deleteSectionOldFieldWithContentModal.find('.modal-confirm-btn').attr('node-data', JSON.stringify(node));
                    $deleteSectionOldFieldWithContentModal.modal();
                } else {
                    deleteSelectedNode(node);
                    populateOldFieldsDeleted(node.li_attr.text);
                }
            });
        } else {
            deleteSelectedNode(node);
        }
    }

    /* .../CHECK IF FIELD HAS CONTENTS */


    /* CHECK IF GROUP HAS FIELDS */
    function checkGroupHasFields(node) {
        var group_has_fields = false;
        $.each(node.children, function () {
            group_has_fields = true;
        });

        return group_has_fields;
    }

    /* .../CHECK IF GROUP HAS FIELDS */


    /* DELETE SELECTED NODE */
    function deleteSelectedNode(node) {
        var instance = $('#' + node.id).jstree(true);
        instance.delete_node(instance.get_selected());

        removeLabelFromArray(node);
    }

    function populateOldFieldsDeleted(label) {
        var $custom_forms_deleted = $('#custom_forms_deleted');
        var fields_deleted = $custom_forms_deleted.val();

        if (fields_deleted !== "") {
            fields_deleted = JSON.parse(fields_deleted);
        } else {
            fields_deleted = [];
        }

        fields_deleted.push(label);
        $custom_forms_deleted.val(JSON.stringify(fields_deleted));
    }

    /* .../DELETE SELECTED NODE */


    /* REMOVE LABELS FROM ARRAY */
    function removeLabelFromArray(node) {
        switch (node.type) {
            case "group":
                group_names = $.grep(group_names, function (labels_value) {
                    return labels_value != node.text;
                });
                break;
            case "field":
                field_names = $.grep(field_names, function (labels_value) {
                    return labels_value != node.li_attr.text;
                });
                break;
        }

        console.log(field_names);
    }

    /* .../REMOVE LABELS FROM ARRAY */

</script>