<style type="text/css">
    .hp_error_tooltip_title {
        top: 194px;
        position: relative;
    }

    .hp_error_tooltip_area {
        top: 228px;
        position: relative;
    }
</style>

<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
    </div>
<?php }

/** @var \Form\Section\Dev\DevSectionForm $form */
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}

$disabledFields = $form->getDisabledTabFields();
?>
<div class="box-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 settings">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">

                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#section-main-tab" data-toggle="tab">MAIN DATA</a></li>
                        <li><a id="section-look-tab-link" href="#section-look-tab" data-toggle="tab">LOOK AND FEEL</a>
                        </li>
                        <li><a href="#section-option-tab" data-toggle="tab">SETTINGS</a></li>
                        <?php if ($this->appUrl !== null) {
                            ?>
                            <li><a href="#section-qrcode-tab" data-toggle="tab">ID / QR CODE</a></li>
                            <?php
                        } ?>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div class="tab-pane active" id="section-main-tab">
                            <br/>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <?php echo $this->partial('section-common-fields.phtml', array(
                                        'form' => $form,
                                        'maxFileSize' => $this->maxFileSize,
                                    )); ?>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><b>INFO</b></div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                    <?php echo $this->formLabel($form->get("dev_section_uri")); ?>
                                                    <div class="form-group has-feedback">
                                                        <?php
                                                        echo $this->formElement($form->get("dev_section_uri"));
                                                        echo $this->hpFormElementErrors($form->get("dev_section_uri"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                        ?>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                    <?php echo $this->formLabel($form->get("dev_section_ios")); ?>
                                                    <div class="form-group has-feedback">
                                                        <?php
                                                        echo $this->formElement($form->get("dev_section_ios"));
                                                        echo $this->hpFormElementErrors($form->get("dev_section_ios"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                        ?>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                    <?php echo $this->formLabel($form->get("dev_section_android")); ?>
                                                    <div class="form-group has-feedback">
                                                        <?php
                                                        echo $this->formElement($form->get("dev_section_android"));
                                                        echo $this->hpFormElementErrors($form->get("dev_section_android"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                        ?>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <?php echo $this->formLabel($form->get("dev_section_param_key")); ?>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-right-pad">
                                                    <div class="form-group has-feedback">
                                                        <?php
                                                        echo $this->formElement($form->get('dev_section_param_key'));
                                                        echo $this->hpFormElementErrors($form->get('dev_section_param_key'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                        ?>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 no-lateral-pad">
                                                    <div class="form-group has-feedback">
                                                        <?php
                                                        echo $this->formElement($form->get('dev_section_param_value'));
                                                        echo $this->hpFormElementErrors($form->get('dev_section_param_value'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                        ?>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-left-pad">
                                                    <?php
                                                    echo $this->formElement($form->get('dev_section_param_add_param'));
                                                    echo $this->hpFormElementErrors($form->get('dev_section_param_add_param'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                    ?>
                                                </div>
                                            </div>
                                            <div id="section_dev_extra_params_list"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-look-tab">
                            <br/>
                            <?php echo $this->partial('look-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields, 'custom_theme' => $this->custom_theme)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-option-tab">
                            <br/>
                            <?php echo $this->partial('option-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <?php if ($this->appUrl !== null) {
                            ?>
                            <div class="tab-pane fade" id="section-qrcode-tab">
                                <br/>
                                <?php echo $this->partial('qrcode-tab.phtml', array('form' => $form, 'appUrl' => $this->appUrl, 'hashId' => $this->hashId)); ?>
                                <div class="clearfix"></div>
                            </div>
                            <?php
                        } ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
        </div>

    </div>
</div><!-- /.box-body -->

<div class="box-footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-xs-8">
            <?php
            echo $this->formElement($form->get('save'));
            ?>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
    </div>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

    initFormTab();
    initFormValidator("#section-main-tab");

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href"); // activated tab
        initFormValidator(target);
    });

    $(".switch-btn").bootstrapSwitch();

    var section_dev_extra_param_counter = 1;

    var ext_par_val = $('#section_dev_extra_params').val();
    if (ext_par_val !== "") {
        var extra_params = JSON.parse(ext_par_val);
        if (extra_params.length > 0) {
            for (var i = 0; i < extra_params.length; i++) {
                var html = createExtraParamRow(section_dev_extra_param_counter, extra_params[i].key, extra_params[i].value);
                $('#section_dev_extra_params_list').prepend(html);
                initParamInputOptions('#section', '#section_dev_extra_params', section_dev_extra_param_counter);
                section_dev_extra_param_counter++;
            }
        }
    }

    $('#dev_section_param_add_param').on('click', function () {
        var $param_key = $('#dev_section_param_key');
        var $param_value = $('#dev_section_param_value');
        var param_key_val = $param_key.val();
        var param_value_val = $param_value.val();
        var container_id = '#section';
        var extra_params_hidden_id = '#section_dev_extra_params';

        if ($.trim(param_key_val) !== "" && $.trim(param_value_val) !== "") {

            var html = createExtraParamRow(section_dev_extra_param_counter, param_key_val, param_value_val);
            $('#section_dev_extra_params_list').prepend(html);

            extraParamsAssign(container_id, extra_params_hidden_id);
            initParamInputOptions(container_id, extra_params_hidden_id, section_dev_extra_param_counter);

            $param_key.val('');
            $param_value.val('');

            section_dev_extra_param_counter++;
        }
    });

</script>
