<style type="text/css">
    .hp_error_tooltip_title {
        top: 194px;
        position: relative;
    }

    .hp_error_tooltip_area {
        top: 228px;
        position: relative;
    }
</style>

<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
    </div>
<?php } ?>
<?php
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}

$disabledFields = $form->getDisabledTabFields();
?>
<div class="box-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 settings">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">

                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#section-main-tab" data-toggle="tab">MAIN DATA</a></li>
                        <li><a href="#section-layout-tab" data-toggle="tab">LAYOUT</a></li>
                        <li><a id="section-look-tab-link" href="#section-look-tab" data-toggle="tab">LOOK AND FEEL</a>
                        </li>
                        <li><a href="#section-option-tab" data-toggle="tab">SETTINGS</a></li>
                        <?php if ($this->appUrl !== null) {
                            ?>
                            <li><a href="#section-qrcode-tab" data-toggle="tab">ID / QR CODE</a></li>
                            <?php
                        } ?>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="section-main-tab">
                            <br/>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <?php echo $this->partial('section-common-fields.phtml', array('form' => $form)); ?>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><b>INFO</b></div>
                                        <div class="panel-body">
                                            <br/>
                                            <label>EVENTS LIST DATE FILTER</label>
                                            <div class="well">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <?php echo $this->formLabel($form->get("start-date")); ?>
                                                        <div class="form-group has-feedback start-date-picker-box">
                                                            <?php
                                                            echo $this->formElement($form->get("start-date"));
                                                            echo $this->hpFormElementErrors($form->get("start-date"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                            ?>
                                                            <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <?php echo $this->formLabel($form->get("start-current-date")); ?>
                                                        <div class="form-group has-feedback">
                                                            <?php
                                                            echo $this->formElement($form->get("start-current-date"));
                                                            echo $this->hpFormElementErrors($form->get("start-current-date"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                            ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <?php echo $this->formLabel($form->get("end-date")); ?>
                                                        <div class="form-group has-feedback end-date-picker-box">
                                                            <?php
                                                            echo $this->formElement($form->get("end-date"));
                                                            echo $this->hpFormElementErrors($form->get("end-date"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                            ?>
                                                            <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <?php echo $this->formLabel($form->get("end-current-date")); ?>
                                                        <div class="form-group has-feedback">
                                                            <?php
                                                            echo $this->formElement($form->get("end-current-date"));
                                                            echo $this->hpFormElementErrors($form->get("end-current-date"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                            ?>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <?php
                                                        echo $this->hpFormElementErrors($form->get("date-validator"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                        ?>
                                                    </div>
                                                </div>
                                            </div>

                                            <br/>

                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <?php echo $this->formLabel($form->get("tags")); ?>
                                                    <div class="form-group has-feedback">
                                                        <?php
                                                        echo $this->formElement($form->get("tags"));
                                                        echo $this->hpFormElementErrors($form->get("tags"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                        ?>
                                                        <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <?php echo $this->formLabel($form->get("order")); ?>
                                                <div class="form-group has-feedback selectpicker-error">
                                                    <?php
                                                    echo $this->formElement($this->form->get('order'));
                                                    echo $this->hpFormElementErrors($this->form->get('order'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                    ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane" id="section-layout-tab">
                            <br/>
                            <div class="col-lg-8 col-md-8 col-xs-8 selectpicker-error">
                                <div class="form-group has-feedback">
                                    <?php
                                    echo $this->formLabel($form->get('page_size'));
                                    echo $this->formElement($form->get('page_size'));
                                    echo $this->hpFormElementErrors($form->get('page_size'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                    ?>
                                </div>
                            </div>

                            <?php echo $this->partial('layout-tab.phtml', array('form' => $form)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-look-tab">
                            <br/>
                            <?php echo $this->partial('look-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields, 'custom_theme' => $this->custom_theme)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-option-tab">
                            <br/>
                            <?php echo $this->partial('option-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <?php if ($this->appUrl !== null) {
                            ?>
                            <div class="tab-pane fade" id="section-qrcode-tab">
                                <br/>
                                <?php echo $this->partial('qrcode-tab.phtml', array('form' => $form, 'appUrl' => $this->appUrl, 'hashId' => $this->hashId)); ?>
                                <div class="clearfix"></div>
                            </div>
                            <?php
                        } ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
        </div>
    </div>
</div><!-- /.box-body -->

<div class="box-footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-xs-8">
            <?php
            echo $this->formElement($form->get('save'));
            ?>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
    </div>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">
    $(document).ready(function () {

        initFormTab();
        initFormValidator("#section-main-tab");

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href"); // activated tab
            initFormValidator(target);
        });

        $(".switch-btn").bootstrapSwitch();

        $("#page_size").bootstrapSlider({
            ticks: [0, 10, 20, 30, 40, 50],
            ticks_snap_bounds: 20,
            tooltip: 'always',
            value: <?php echo $form->get('page_size')->getValue(); ?>
        });

        /* INIT DATE PICKER */
        var $startDatePicker = $('#start-date');
        var $startDateCheckbox = $('#start-current-date');
        var $endDatePicker = $('#end-date');
        var $endDateCheckbox = $('#end-current-date');
        var startDate = "<?php echo date('Y-m-d H:i'); ?>";
        var endDate = "<?php echo date('Y-m-d H:i', strtotime('+1 month')); ?>";
        var startDatePickerDisabled = $startDateCheckbox.is(":checked");
        var endDatePickerDisabled = $endDateCheckbox.is(":checked");

        if ($startDatePicker.val() !== "") {
            startDate = $startDatePicker.val();
            startDatePickerDisabled = false;
        } else {
            startDate = "<?php echo date('Y-m-d'); ?>";
        }

        if ($endDatePicker.val() !== "") {
            endDate = $endDatePicker.val();
            endDatePickerDisabled = false;
        } else {
            endDate = "<?php echo date('Y-m-d', strtotime('+1 month')); ?>";
        }

        $startDatePicker.on('keyup', function () {
            datePickerKeyUp(this, 'start-date-picker-box', startDate);
        });

        $endDatePicker.on('keyup', function () {
            datePickerKeyUp(this, 'end-date-picker-box', endDate);
        });

        if (startDatePickerDisabled) {
            $startDatePicker.prop('disabled', true);
        } else {
            initDatePicker($startDatePicker, 'start-date-picker-box', startDate);
        }

        $startDateCheckbox.on('switchChange.bootstrapSwitch', function (event, state) {
            if (state === true) {
                $startDatePicker.prop('disabled', true);
            } else {
                $startDatePicker.prop('disabled', false);
                $startDatePicker.on('click', function () {
                    initDatePicker($startDatePicker, 'start-date-picker-box', startDate, true);
                });
            }
        });

        if (endDatePickerDisabled) {
            $endDatePicker.prop('disabled', true);
        } else {
            initDatePicker($endDatePicker, 'end-date-picker-box', endDate);
        }

        $endDateCheckbox.on('switchChange.bootstrapSwitch', function (event, state) {
            if (state === true) {
                $endDatePicker.prop('disabled', true);
            } else {
                $endDatePicker.prop('disabled', false);
                $endDatePicker.on('click', function () {
                    initDatePicker($endDatePicker, 'end-date-picker-box', endDate, true);
                });
            }
        });

        /* .../INIT DATE PICKER */

        function datePickerKeyUp(date_picker, box, date) {
            var $datePicker = $(date_picker);

            if ($datePicker.val().length === 0) {
                var instance = $datePicker.data('daterangepicker');
                var container = instance.container;
                container.remove();

                $datePicker.on('blur', function () {
                    $datePicker.val(null);
                });

                $datePicker.on('click', function () {
                    initDatePicker($datePicker, box, date, true);
                });
            }
        }


        /* INIT TAG INPUT */
        $('#tags').tokenfield({
            autocomplete: {
                source: "<?php echo $this->basePath(); ?>/ajax/tags/content/" + $('#type').val(),
                minLength: 2,
                delay: 100
            }
        }).on('tokenfield:createtoken', function (e) {

            var enabled = true;
            var tokens = $('#tags').tokenfield('getTokens');

            if (e.attrs.value.length >= 4) {
                for (var i = 0; i < tokens.length; i++) {
                    if (tokens[i].value == e.attrs.value) {
                        enabled = false;
                    }
                }
            } else {
                $('.tag_error').html("Tag must be at leas 4 chars");
                enabled = false;
            }

            if (enabled) {
                $('.tag_error').html("");

                if (e.attrs.id == null) {
                    var tag = formatTwitterHashtag(e.attrs.value);
                    if (tag != e.attrs.value) {
                        e.preventDefault();
                        $(this).tokenfield('createToken', tag);
                    }
                }
            } else {
                e.preventDefault();
            }
        });
        /* .../INIT TAG INPUT */

    });
</script>
