<style type="text/css">
    .geodata {
        width: 100%;
        height: 210px;
        background: #efefef;
        border: 1px solid #d0d0d0;
    }

    .geodata h3 {
        padding-top: 45px;
    }

    .geodata button {
        width: 100px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    .geodata .separator {
        content: '';
        display: inline-block;
        background: #dddddd;
        margin-left: 9px;
        margin-right: 8px;
        height: 18px;
        width: 1px;
        vertical-align: top;
    }

    .box-beacon,
    .box-circular {
        display: none;
    }

    .beacondata {
        width: 100%;
        padding: 7px;
        height: 149px;
        background: white;
        border: 1px solid white;
    }

    #beaconrange .active {
        color: white;
        background-color: #3c8dbc;
        border-color: #367fa9
    }

    #beaconrange .beaconrange_label {
        font-weight: bold;
        display: inline;
        bottom: 3px;
        position: relative;
    }

    .circulardata #map-container {
        width: 100%;
        height: 272px;
    }

    .circulardata .map-fields {
        position: absolute;
        width: 100%;
        z-index: 100;
        left: 15px;
        top: 56px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .hp_error_tooltip_title {
        top: 194px;
        position: relative;
    }

    .hp_error_tooltip_area {
        top: 228px;
        position: relative;
    }

    .hp_error_tooltip_region {
        top: -70px;
        float: right;
        position: relative;
    }

    .hp_error_tooltip_beacon_uuid_validator {
        top: -18px;
        float: right;
        position: relative;
    }
</style>


<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
    </div>
<?php } ?>
<?php
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}

$disabledFields = $form->getDisabledTabFields();
?>
<div class="box-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 settings">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">

                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#section-main-tab" data-toggle="tab">MAIN DATA</a></li>
                        <li><a href="#section-layout-tab" data-toggle="tab">LAYOUT</a></li>
                        <li><a id="section-look-tab-link" href="#section-look-tab" data-toggle="tab">LOOK AND FEEL</a>
                        </li>
                        <li><a href="#section-option-tab" data-toggle="tab">SETTINGS</a></li>
                        <?php if ($this->appUrl !== null) {
                            ?>
                            <li><a href="#section-qrcode-tab" data-toggle="tab">ID / QR CODE</a></li>
                            <?php
                        } ?>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div class="tab-pane active" id="section-main-tab">
                            <br/>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <?php echo $this->partial('section-common-fields.phtml', array('form' => $form)); ?>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><b>INFO</b></div>
                                        <div class="panel-body">
                                            <br/>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <?php echo $this->formLabel($form->get("tags")); ?>
                                                <div class="form-group has-feedback">
                                                    <?php
                                                    echo $this->formElement($form->get("tags"));
                                                    echo $this->hpFormElementErrors($form->get("tags"), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                    ?>
                                                    <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                                                <span class="text-center"><?php echo $this->formLabel($form->get('scan')); ?></span>
                                                <div class="form-group has-feedback">
                                                    <?php
                                                    echo $this->formElement($form->get('scan'));
                                                    echo $this->hpFormElementErrors($form->get('scan'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                    ?>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="geodata text-center">
                                                    <h3>GEO DATA<br/>
                                                        <small>Choose your location type</small>
                                                    </h3>
                                                    <p>
                                                        <button id="btn-indoor" type="button"
                                                                class="btn btn-primary btn-xs"><i
                                                                    class="fa fa-bluetooth-b" aria-hidden="true"></i><i
                                                                    class="separator"></i>&nbsp;&nbsp;&nbsp;&nbsp;Indoor
                                                        </button>
                                                        <button id="btn-outdoor" type="button"
                                                                class="btn btn-primary btn-xs"><i
                                                                    class="fa fa-street-view" aria-hidden="true"></i><i
                                                                    class="separator"></i>&nbsp;Outdoor
                                                        </button>
                                                    </p>
                                                </div>
                                                <div class="box box-default box-beacon">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Indoor area (iBeacon)</h3>
                                                        <div class="box-tools pull-right">
                                                            <button id="beacon-hide-btn" class="btn btn-box-tool"
                                                                    data-widget="remove"><i class="fa fa-times"></i>
                                                            </button>
                                                        </div><!-- /.box-tools -->
                                                    </div><!-- /.box-header -->
                                                    <div class="box-body">
                                                        <div class="beacondata">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="form-group">
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon"><?php echo $form->get('subtitle')->getOption('label'); ?></div>
                                                                            <?php echo $this->formElement($form->get('subtitle')); ?>
                                                                        </div>
                                                                        <?php echo $this->hpFormElementErrors($form->get('subtitle'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="form-group">
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon"><?php echo $form->get('uuid')->getOption('label'); ?>
                                                                                &nbsp;
                                                                            </div>
                                                                            <?php echo $this->formElement($form->get('uuid')); ?>
                                                                        </div>
                                                                        <?php echo $this->hpFormElementErrors($form->get('uuid'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                                                        <?php echo $this->hpFormElementErrors($form->get('beacon_uuid_validator'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <div class="form-group">
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon"><?php echo $form->get('major')->getOption('label'); ?></div>
                                                                            <?php echo $this->formElement($form->get('major')); ?>
                                                                        </div>
                                                                        <?php echo $this->hpFormElementErrors($form->get('major'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <div class="form-group">
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon"><?php echo $form->get('minor')->getOption('label'); ?></div>
                                                                            <?php echo $this->formElement($form->get('minor')); ?>
                                                                        </div>
                                                                        <?php echo $this->hpFormElementErrors($form->get('minor'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT); ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.box-body -->
                                                </div><!-- /.box -->

                                                <div class="box box-default box-circular">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Outdoor area (GPS)</h3>
                                                        <div class="box-tools pull-right">
                                                            <button id="circular-hide-btn" class="btn btn-box-tool"
                                                                    data-widget="remove"><i class="fa fa-times"></i>
                                                            </button>
                                                        </div><!-- /.box-tools -->
                                                    </div><!-- /.box-header -->
                                                    <div class="box-body">
                                                        <div class="circulardata">
                                                            <div class="row map-fields">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                                                     style="padding: 0;">
                                                                    <div class="input-error">
                                                                        <?php
                                                                        echo $this->formElement($form->get('address'));
                                                                        echo $this->hpFormElementErrors($form->get('address'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                                        ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div id="map-container"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.box-body -->
                                                </div><!-- /.box -->
                                                <?php echo $this->hpFormElementErrors($form->get('region'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane" id="section-layout-tab">
                            <br/>
                            <div class="col-lg-8 col-md-8 col-xs-8 selectpicker-error">
                                <div class="form-group has-feedback">
                                    <?php
                                    echo $this->formLabel($form->get('page_size'));
                                    echo $this->formElement($form->get('page_size'));
                                    echo $this->hpFormElementErrors($form->get('page_size'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                    ?>
                                </div>
                            </div>

                            <?php echo $this->partial('layout-tab.phtml', array('form' => $form)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-look-tab">
                            <br/>
                            <?php echo $this->partial('look-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields, 'custom_theme' => $this->custom_theme)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-option-tab">
                            <br/>
                            <?php echo $this->partial('option-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <?php if ($this->appUrl !== null) {
                            ?>
                            <div class="tab-pane fade" id="section-qrcode-tab">
                                <br/>
                                <?php echo $this->partial('qrcode-tab.phtml', array('form' => $form, 'appUrl' => $this->appUrl, 'hashId' => $this->hashId)); ?>
                                <div class="clearfix"></div>
                            </div>
                            <?php
                        } ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
        </div>
    </div>
</div><!-- /.box-body -->

<div class="box-footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-xs-8">
            <?php
            echo $this->formElement($form->get('save'));
            ?>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
    </div>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

    initFormTab();
    initFormValidator("#section-main-tab");

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href"); // activated tab
        initFormValidator(target);
    });

    $(".switch-btn").bootstrapSwitch();

    $("#page_size").bootstrapSlider({
        ticks: [0, 10, 20, 30, 40, 50],
        ticks_snap_bounds: 20,
        tooltip: 'always',
        value: <?php echo $form->get('page_size')->getValue(); ?>
    });

    $('#tags').tokenfield({
        autocomplete: {
            source: "<?php echo $this->basePath(); ?>/ajax/tags/content/" + $('#type').val(),
            minLength: 2,
            delay: 100
        }
    }).on('tokenfield:createtoken', function (e) {
        var enabled = true;
        var tokens = $('#tags').tokenfield('getTokens');

        if (e.attrs.value.length >= 4) {
            for (var i = 0; i < tokens.length; i++) {
                if (tokens[i].value == e.attrs.value) {
                    enabled = false;
                }
            }
        } else {
            $('.tag_error').html("Tag must be at leas 4 chars");
            enabled = false;
        }

        if (enabled) {
            $('.tag_error').html("");

            if (e.attrs.id == null) {
                var tag = formatTwitterHashtag(e.attrs.value);
                if (tag != e.attrs.value) {
                    e.preventDefault();
                    $(this).tokenfield('createToken', tag);
                }
            }
        } else {
            e.preventDefault();
        }
    });

    $(document).on("keypress", "form", function (event) {
        return event.keyCode != 13;
    });

    $(document).ready(function () {

        $('#uuid').inputmask({mask: "********-****-****-****-************"});
        if ($('#region').val() == 'beacon_region') $('.data-grid-row img[data-grid-val=MAP_LAYOUT]').parent().hide();

        var region = $('#region').val();
        if (region != "" && region == "beacon_region") {
            $('.geodata').hide();
            $('.box-beacon').show();
        } else if (region != "" && region == "circular_region") {
            $('.geodata').hide();
            $('.box-circular').show();
            initLocationPiker();
        }

        if (region != "") {
            initFormValidator("#section-main-tab");
        }

        setBeaconUuidValidatorValue();
        $("#btn-indoor").on('click', function () {
            $('#mode').val('INDOOR');
            $('#region').val('beacon_region');
            setBeaconUuidValidatorValue();
            $('.geodata').hide();
            $('.box-beacon').show();
            $('.data-grid-row img[data-grid-val=MAP_LAYOUT]').parent().hide();

            if ($('#cell-type').val() == "MAP_LAYOUT") {
                $('.select-grid').select('LEFT_LAYOUT', 'LEFT_LAYOUT');
            }
        });

        $("#btn-outdoor").on('click', function () {
            $('#mode').val('OUTDOOR');
            $('#region').val('circular_region');
            setBeaconUuidValidatorValue();
            $('.geodata').hide();
            $('.box-circular').show();
            $('.data-grid-row img[data-grid-val=MAP_LAYOUT]').parent().show();
            initLocationPiker();
        });

        $('#uuid').on('change', function () {
            setBeaconUuidValidatorValue();
        });

        $("#beacon-hide-btn").on('click', function () {
            $('#region').val('');
            setBeaconUuidValidatorValue();
            $('.geodata').show();
            $('.box-beacon').hide();
        });

        $("#circular-hide-btn").on('click', function () {
            $('#region').val('');
            setBeaconUuidValidatorValue();
            $('.geodata').show();
            $('.box-circular').hide();
        });

        function setBeaconUuidValidatorValue() {
            var region_validate = $('#region').val();
            var uuid_validate = $('#uuid').val();

            var beacon_uuid_validate = JSON.stringify({region: region_validate, uuid: uuid_validate});

            $('#beacon_uuid_validator').val(beacon_uuid_validate);
        }

        $("#beaconrange .btn input[name=beacon_range]:checked")
            .prop('checked', true)
            .closest('label')
            .removeClass('active')
            .removeClass('btn-default')
            .addClass('btn-primary');

        $("#beaconrange .btn input[name=beacon_range]").on('change', function () {
            $("#beaconrange .btn input[name=beacon_range]")
                .closest('label')
                .removeClass('active')
                .removeClass('btn-primary')
                .addClass('btn-default');

            $("#beaconrange .btn input[name=beacon_range]:checked")
                .prop('checked', true)
                .closest('label')
                .removeClass('active')
                .removeClass('btn-default')
                .addClass('btn-primary');
        });

    });

    function initLocationPiker() {
        var lat = 40.91692610;
        var lng = 17.02109310;

        if ($('#latitude').val() && $('#longitude').val()) {
            lat = $('#latitude').val();
            lng = $('#longitude').val();
        }

        var map = $('#map-container').locationpicker({
            location: {latitude: lat, longitude: lng},
            radius: 0,
            zoom: parseInt($('#zoom_map').val()),
            inputBinding: {
                latitudeInput: $('#latitude'),
                longitudeInput: $('#longitude'),
                radiusInput: 0,
                locationNameInput: $('#address')
            },
            enableAutocomplete: true,
            enableAutocompleteBlur: true
        });

        var mapContext = map.locationpicker('map').map;
        mapContext.addListener('zoom_changed', function() {
            $('#zoom_map').val(this.getZoom()); // 0-22
        });
    }
</script>
