<style type="text/css">
    .hp_error_tooltip_title {
        top: 194px;
        position: relative;
    }

    .hp_error_tooltip_area {
        top: 228px;
        position: relative;
    }
</style>

<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
    </div>
<?php }

/** @var \Form\Section\Dev\DevSectionForm $form */
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}

$disabledFields = $form->getDisabledTabFields();
?>
<div class="box-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 settings">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">

                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#section-main-tab" data-toggle="tab">MAIN DATA</a></li>
                        <li><a id="section-look-tab-link" href="#section-look-tab" data-toggle="tab">LOOK AND FEEL</a>
                        </li>
                        <li><a href="#section-option-tab" data-toggle="tab">SETTINGS</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div class="tab-pane active" id="section-main-tab">
                            <br/>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <?php echo $this->partial('section-common-fields.phtml', array(
                                        'form' => $form,
                                        'maxFileSize' => $this->maxFileSize,
                                    )); ?>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div class="panel panel-default ">
                                        <div class="panel-heading"><b>INFO</b></div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <p style="text-align: center;font-style: italic;color: #b3b3b3;">There are no parameters to setting</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-look-tab">
                            <br/>
                            <?php echo $this->partial('look-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields, 'custom_theme' => $this->custom_theme)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-option-tab">
                            <br/>
                            <?php echo $this->partial('option-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields)); ?>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
        </div>

    </div>
</div><!-- /.box-body -->

<div class="box-footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-xs-8">
            <?php
            echo $this->formElement($form->get('save'));
            ?>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
    </div>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

    initFormTab();
    initFormValidator("#section-main-tab");

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href"); // activated tab
        initFormValidator(target);
    });

    $(".switch-btn").bootstrapSwitch();

</script>
