<style type="text/css">
    .hp_error_tooltip_title {
        top: 194px;
        position: relative;
    }

    .hp_error_tooltip_area {
        top: 228px;
        position: relative;
    }

    .hp_error_tooltip_privacy_link {
        top: -18px;
        float: right;
        position: relative;
    }

    .hp_error_tooltip_terms_link {
        top: -18px;
        float: right;
        position: relative;
    }
</style>

<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
        <span id="register-error"></span>
    </div>
<?php } ?>
<?php
$form = $this->form;
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}
?>
<div class="box-body" id="registration">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 settings">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">

                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#section-main-tab" data-toggle="tab">MAIN DATA</a></li>
                        <li><a href="#section-layout-tab" data-toggle="tab">LAYOUT</a></li>
                        <li><a id="section-look-tab-link" href="#section-look-tab" data-toggle="tab">LOOK AND FEEL</a>
                        </li>
                        <?php if ($this->appUrl !== null) {
                            ?>
                            <li><a href="#section-qrcode-tab" data-toggle="tab">ID / QR CODE</a></li>
                            <?php
                        } ?>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="section-main-tab">
                            <br/>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <?php echo $this->partial('section-common-fields.phtml', array('form' => $form)); ?>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><b>INFO</b></div>
                                        <div class="panel-body">
                                            <br/>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <span class="text-left"
                                                      style="margin-left: 5px;"><?php echo $this->formLabel($form->get('privacy_link')); ?></span>
                                                <div class="form-group has-feedback">
                                                    <?php
                                                    echo $this->formElement($form->get('privacy_link'));
                                                    echo $this->hpFormElementErrors($form->get('privacy_link'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                    ?>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <span class="text-left"
                                                      style="margin-left: 5px;"><?php echo $this->formLabel($form->get('terms_link')); ?></span>
                                                <div class="form-group has-feedback">
                                                    <?php
                                                    echo $this->formElement($form->get('terms_link'));
                                                    echo $this->hpFormElementErrors($form->get('terms_link'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                    ?>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <?php echo $this->hpFormElementErrors($form->get('tags'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT); ?>
                                                <span class="text-left" style="margin-left: 5px;"><b>Tag groups *</b>&nbsp;(Tags to improve user registered profile)</span>
                                                <span class="tag_error text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane" id="section-layout-tab">
                            <br/>
                            <?php echo $this->partial('layout-tab.phtml', array('form' => $form)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane" id="section-look-tab">
                            <br/>
                            <?php echo $this->partial('look-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields, 'custom_theme' => $this->custom_theme)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <?php if ($this->appUrl !== null) {
                            ?>
                            <div class="tab-pane fade" id="section-qrcode-tab">
                                <br/>
                                <?php echo $this->partial('qrcode-tab.phtml', array('form' => $form, 'appUrl' => $this->appUrl, 'hashId' => $this->hashId)); ?>

                                <div class="clearfix"></div>
                            </div>
                            <?php
                        } ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
        </div>

    </div>
</div><!-- /.box-body -->

<div class="box-footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-xs-8">
            <?php
            echo $this->formElement($form->get('save'));
            ?>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
    </div>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>

<script type="text/javascript">

    initFormTab();
    initFormValidator("#section-main-tab");

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href"); // activated tab
        initFormValidator(target);
    });

    var row_number = 0;

    $(document).ready(function () {
        if (!$('#tags').val()) {
            addTagRow('.panel-body', null, true);
        } else {
            var tags = JSON.parse($('#tags').val());
            for (var t = 0; t < tags.length; t++) {
                addTagRow('.panel-body', tags[t], (t == tags.length - 1));
            }
        }
    });

    function addTagRow(selector, content, isLast) {
        var label = "";
        var tags = "";

        if (content != null) {
            label = content.label;
            tags = content.tags;
        }

        var rowTpl = '<div class="row" id="tag_row_' + row_number + '">' +
            '<div id="tag_block_title_' + row_number + '" class="col-lg-3 col-md-3 col-xs-12" style="padding-right: 0;">' +
            '<input type="text" id="tag_label_' + row_number + '" class="form-control" placeholder="Your group title..." value="' + label + '" style="border-right: none;">' +
            '</div>' +
            '<div id="tag_block_list_' + row_number + '" class="col-lg-9 col-md-9 col-xs-12 input-group" style="padding-left: 0; padding-right: 15px; border-left: none;">' +
            '<input type="text" id="tag_list_' + row_number + '" class="form-control" placeholder="Type #something and hit enter - atleast 2 tags are required and each tag must contain 4 or more letters)" value="' + tags + '" >' +
            '<span class="input-group-btn" style="vertical-align: top;">' +
            '<button class="btn btn-danger" type="button" id="tag_del_button_' + row_number + '"><span class="fa fa-minus"></span></button>' +
            '<button class="btn btn-primary tag-add-btn" type="button" id="tag_add_button_' + row_number + '"><span class="fa fa-plus"></span></button>' +
            '</span>' +
            '</div>' +
            '</div>';

        $(selector).append(rowTpl);

        if (!isLast) {
            $('#tag_add_button_' + row_number).hide();
        }

        $('#tag_label_' + row_number).attr("data-row-number", row_number);
        $('#tag_list_' + row_number).attr("data-row-number", row_number);
        $('#tag_add_button_' + row_number).attr("data-row-number", row_number);
        $('#tag_del_button_' + row_number).attr("data-row-number", row_number);

        $('#tag_list_' + row_number).tokenfield().on('tokenfield:createtoken', function (e) {
            $('div').removeClass('has-error');
            if (e.attrs.value.length >= 4) {
                $('.tag_error').html("");
                var tag = formatTwitterHashtag(e.attrs.value);
                if (tag != e.attrs.value) {
                    e.preventDefault();
                    $(this).tokenfield('createToken', tag);
                }
            } else {
                $('.tag_error').html("Tag must be at leas 4 chars");
                e.preventDefault();
            }
        }).on('tokenfield:removedtoken', function (e) {
            var row = $(this).attr("data-row-number");
            validateRow(row, false, true);
        });

        $('#tag_del_button_' + row_number).click(function () {
            var row = $(this).attr("data-row-number");
            $('#tag_row_' + row).remove();
            $(".tag-add-btn").last().show();
        });

        $('#tag_add_button_' + row_number).click(function () {
            var row = $(this).attr("data-row-number");
            if (validateRow(row, true, true)) {
                $(this).hide();
                addTagRow(selector, null, true);
            }
        });

        if (row_number == 0) {
            $('#tag_del_button_' + row_number).prop('disabled', true);
        } else {
            $('#tag_label_' + row_number).focus();
        }

        $('#tag_label_' + row_number).keyup(function (event) {
            var row = $(this).attr("data-row-number");
            validateRow(row, true, false);
        });

        row_number++;
    }

    function validateRow(row, onLabel, onList) {
        var valid = false;
        if (!$('#tag_label_' + row).val() && onLabel) {
            $('#tag_block_title_' + row).addClass('has-error');
            $('#tag_label_' + row).attr('placeholder', 'required value');
        } else if ($('#tag_list_' + row).tokenfield('getTokens').length < 2 && onList) {
            $('#tag_block_title_' + row).removeClass('has-error');
            $('#tag_list_' + row).data('bs.tokenfield').$input.attr('placeholder', 'required almost two #tags');
            $('#tag_block_list_' + row).addClass('has-error');
        } else {
            $('#tag_block_title_' + row).removeClass('has-error');
            $('#tag_block_list_' + row).removeClass('has-error');
            $('#tag_label_' + row).attr('placeholder', 'your group title...');
            $('#tag_list_' + row).data('bs.tokenfield').$input.attr('placeholder', 'type #something and hit enter');
            valid = true;
        }

        return valid;
    }

    function storeTags() {
        var data = new Array();

        for (var row = 0; row < row_number; row++) {
            if ($('#tag_row_' + row).length) {
                if (!validateRow(row, true, true)) {
                    return false;
                } else {
                    data.push({
                        label: $('#tag_label_' + row).val(),
                        tags: $('#tag_list_' + row).val()
                    });
                }
            }
        }

        $('#tags').val(JSON.stringify(data));

        return true;
    }
</script>
