<style type="text/css">
    .hp_error_tooltip_title {
        top: 194px;
        position: relative;
    }

    .hp_error_tooltip_area {
        top: 228px;
        position: relative;
    }

    #section .upload-plus-icon {
        width: 110px;
        margin: 0 auto;
    }

    #section .upload-plus-icon .file-input {
        height: 110px !important;
        width: 110px !important;
        margin: 0;
    }

    #section .upload-plus-icon .file-drop-zone-title,
    #section .upload-plus-icon .file-preview-frame img {
        color: #aaa;
        height: 50px !important;
        width: 50px !important;
    }

    #section .upload-plus-icon .file-drop-zone {
        color: #aaa;
        height: 71px !important;
        width: 71px !important;
    }

    #section .upload-plus-icon .file-drop-zone-title {
        padding: 5px 0 0 0;
        font-size: 30px;
    }

    #section .upload-plus-icon .file-default-preview {
        height: 59px;
    }

    #section .upload-plus-icon .file-preview {
        height: 110px;
    }

    #section .upload-plus-icon .file-default-preview i {
        margin-top: 9px !important;
    }

    #section .upload-plus-icon .file-preview-frame img {
        color: #aaa;
        height: 59px !important;
        width: 59px !important;
    }

    ul#map-list-dropdown,
    ul#map-list-dropdown li {
        display: inline;
    }

    ul#map-list-dropdown .unstyled-button {
        border: none;
        padding: 0;
        background: none;
    }

    .map-list-label {
        background-color: #ffa313 !important;
        display: inline-block;
        width: 80px;
        padding: .6em .6em .3em;
        margin-right: 10px;
    }

    .content_filter_desc {
        color: #a1a1a1;
        font-style: italic;
    }

    #user_section_content_filter_shit button {
        margin-bottom: 0;
    }
</style>

<?php if ($this->error_msg != null) { ?>
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <?php echo $this->error_msg; ?>
    </div>
<?php }

/** @var \Form\Section\User\UserSectionForm $form */
$form = $this->form;
$form->prepare();

$contentFilterOptions = $form->get('user_section_content_filter')->getValueOptions();
$contentFilterValues = array();
foreach ($contentFilterOptions as $contentFilterOption) {
    $contentFilterValues[] = $contentFilterOption['value'];
}

echo $this->form()->openTag($form);

foreach ($form->getFormHiddenElement() as $field) {
    echo $this->formElement($form->get($field));
}

$disabledFields = $form->getDisabledTabFields();
?>
<div class="box-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 settings">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">

                    <!-- Create the tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#section-main-tab" data-toggle="tab">MAIN DATA</a></li>
                        <li><a href="#section-layout-tab" data-toggle="tab">LAYOUT</a></li>
                        <li><a id="section-look-tab-link" href="#section-look-tab" data-toggle="tab">LOOK AND FEEL</a>
                        </li>
                        <li><a href="#section-option-tab" data-toggle="tab">SETTINGS</a></li>
                        <?php if ($this->appUrl !== null) {
                            ?>
                            <li><a href="#section-qrcode-tab" data-toggle="tab">ID / QR CODE</a></li>
                            <?php
                        } ?>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div class="tab-pane active" id="section-main-tab">
                            <br/>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <?php echo $this->partial('section-common-fields.phtml', array(
                                        'form' => $form,
                                        'maxFileSize' => $this->maxFileSize,
                                    )); ?>
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><b>INFO</b></div>
                                        <div class="panel-body">
                                            <br/>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <?php echo $this->formLabel($form->get("tags")); ?>
                                                    <div class="form-group has-feedback">
                                                        <?php
                                                        echo $this->formElement($form->get("tags"));
                                                        echo $this->hpFormElementErrors($form->get("tags"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                        ?>
                                                        <span class="glyphicon glyphicon-tags form-control-feedback"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="well">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                                                 style="text-align: center;">
                                                                <?php echo $this->formLabel($form->get('upload_user_section_add_icon')); ?>
                                                                <div class="form-group has-feedback uploader upload-plus-icon">
                                                                    <?php
                                                                    echo $this->formElement($form->get('upload_user_section_add_icon'));
                                                                    echo $this->hpFormElementErrors($form->get('upload_user_section_add_icon'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                                    ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row top-buffer">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="form-group has-feedback"
                                                                     style="margin-bottom: 0;">
                                                                    <?php
                                                                    echo $this->formElement($form->get('upload_user_section_add_icon_label'));
                                                                    echo $this->hpFormElementErrors($form->get('upload_user_section_add_icon_label'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                                    ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row top-buffer">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="form-group has-feedback"
                                                                     style="margin-bottom: 0;">
                                                                    <?php
                                                                    echo $this->formElement($form->get('upload_user_section_add_icon_position'));
                                                                    echo $this->hpFormElementErrors($form->get('upload_user_section_add_icon_position'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                                    ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="well" style="min-height: 293px;">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <?php echo $this->formLabel($form->get('user_section_detail_layout')); ?>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="has-feedback">
                                                                    <?php
                                                                    echo $this->formElement($form->get('user_section_detail_layout'));
                                                                    echo $this->hpFormElementErrors($form->get('user_section_detail_layout'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                                    ?>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <?php echo $this->formLabel($form->get('custom_form_list')); ?>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="has-feedback">
                                                                    <?php
                                                                    echo $this->formElement($form->get('custom_form_list'));
                                                                    echo $this->hpFormElementErrors($form->get('custom_form_list'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                                    ?>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <?php echo $this->formLabel($form->get('user_section_content_filter')); ?>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div id="user_section_content_filter_shit" class="has-feedback">
                                                                    <?php
                                                                    echo $this->formElement($form->get('user_section_content_filter'));
                                                                    echo $this->hpFormElementErrors($form->get('user_section_content_filter'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                                                                    ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <span id="content_filter_desc_<?php echo $contentFilterValues[0]; ?>"
                                                                      style="display: none;" class="content_filter_desc">Show all contents except own</span>
                                                                <span id="content_filter_desc_<?php echo $contentFilterValues[1]; ?>"
                                                                      style="display: none;" class="content_filter_desc">Show only the user's content</span>
                                                                <span id="content_filter_desc_<?php echo $contentFilterValues[2]; ?>"
                                                                      style="display: none;" class="content_filter_desc">Show all contents</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div id="user_section-jstree"></div>
                                                    <?php
                                                    echo $this->hpFormElementErrors($form->get('user_section_custom_form_field_map_json'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                                    ?>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane" id="section-layout-tab">
                            <br/>
                            <div class="col-lg-8 col-md-8 col-xs-8 selectpicker-error">
                                <div class="form-group has-feedback">
                                    <?php
                                    echo $this->formLabel($form->get('page_size'));
                                    echo $this->formElement($form->get('page_size'));
                                    echo $this->hpFormElementErrors($form->get('page_size'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                                    ?>
                                </div>
                            </div>

                            <?php echo $this->partial('layout-tab.phtml', array('form' => $form)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-look-tab">
                            <br/>
                            <?php echo $this->partial('look-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields, 'custom_theme' => $this->custom_theme)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <div class="tab-pane fade" id="section-option-tab">
                            <br/>
                            <?php echo $this->partial('option-tab.phtml', array('form' => $form, 'disabledFields' => $disabledFields)); ?>
                            <div class="clearfix"></div>
                        </div>

                        <?php if ($this->appUrl !== null) {
                            ?>
                            <div class="tab-pane fade" id="section-qrcode-tab">
                                <br/>
                                <?php echo $this->partial('qrcode-tab.phtml', array('form' => $form, 'appUrl' => $this->appUrl, 'hashId' => $this->hashId)); ?>
                                <div class="clearfix"></div>
                            </div>
                            <?php
                        } ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="small"><i class="fa fa-asterisk small"></i> <em class="small">Required fields</em></div>
        </div>

    </div>
</div><!-- /.box-body -->

<div class="box-footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
        <div class="col-lg-4 col-md-4 col-xs-8">
            <?php
            echo $this->formElement($form->get('save'));
            ?>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-2"></div>
    </div>
</div><!-- box-footer -->

<?php echo $this->form()->closeTag(); ?>

<!-- Warning modal on custom form change -->
<div id="warning-custom-form-change" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Warning</h3>
            </div>
            <div class="modal-body">
                <p>Changing custom form you'll lose previous fields map setting</p>
            </div>
            <div class="modal-footer">
                <button id="custom-form-dismiss" type="button" class="btn btn-default pull-left" data-dismiss="modal">
                    DISMISS
                </button>
                <button id="custom-form-change" type="button" class="modal-confirm-btn btn btn-danger btn-labeled">
                    <span class="btn-label-left"><i class="glyphicon glyphicon-trash"></i></span>
                    CHANGE CUSTOM FORM
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    initFormTab();
    initFormValidator("#section-main-tab");

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href"); // activated tab
        initFormValidator(target);
    });

    $(".switch-btn").bootstrapSwitch();

    $("#page_size").bootstrapSlider({
        ticks: [0, 10, 20, 30, 40, 50],
        ticks_snap_bounds: 20,
        tooltip: 'always',
        value: <?php echo $form->get('page_size')->getValue(); ?>
    });

    $('#tags').tokenfield({
        autocomplete: {
            source: "<?php echo $this->basePath(); ?>/ajax/tags/content/" + $('#type').val(),
            minLength: 2,
            delay: 100
        }
    }).on('tokenfield:createtoken', function (e) {
        var enabled = true;
        var tokens = $('#tags').tokenfield('getTokens');

        if (e.attrs.value.length >= 4) {
            for (var i = 0; i < tokens.length; i++) {
                if (tokens[i].value == e.attrs.value) {
                    enabled = false;
                }
            }
        } else {
            $('.tag_error').html("Tag must be at leas 4 chars");
            enabled = false;
        }

        console.log("ENABLED: " + enabled);

        if (enabled) {
            $('.tag_error').html("");

            if (e.attrs.id == null) {
                var tag = formatTwitterHashtag(e.attrs.value);
                if (tag != e.attrs.value) {
                    e.preventDefault();
                    $(this).tokenfield('createToken', tag);
                }
            }
        } else {
            e.preventDefault();
        }
    });

    // ICON ADD UPLOADER

    var dropTextIcons = "+";
    var baseUrlAddIcon = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getActionIconThumbUrl(); ?>";
    var uploadUrlAddIcon = "<?php echo $this->basePath(); ?>/media/section/user/add-icon";

    initAsyncUploaderId("#upload_user_section_add_icon", "#user_section_add_icon_id", "#user_section_add_icon", dropTextIcons, baseUrlAddIcon, uploadUrlAddIcon, '#save',
        function () {
            uploadAddIconSuccess = true;
            trySubmitAfterIconsSectionUpload();
        }, function () {
            uploadAddIconSuccess = false;
        }, <?php echo $this->maxFileSize; ?>);

    // JSTREE MANAGER
    var group_counter = 0;
    var field_counter = 0;
    var $customFormList = $('#custom_form_list');
    var custom_form_id = $customFormList.val();
    var $contentFilter = $('#user_section_content_filter');
    var $contentFilterValue = $contentFilter.val();
    var $userSectionJsTree = $('#user_section-jstree');

    showContentFilterDescription($contentFilterValue);

    function showContentFilterDescription(content_filter_value) {
        var $otherUserDescription = $("#content_filter_desc_<?php echo $contentFilterValues[0];?>");
        var $userDescription = $("#content_filter_desc_<?php echo $contentFilterValues[1];?>");
        var $allUserDescription = $("#content_filter_desc_<?php echo $contentFilterValues[2];?>");
        switch (content_filter_value) {
            case "<?php echo $contentFilterValues[0]; ?>":
                $otherUserDescription.show();
                $userDescription.hide();
                $allUserDescription.hide();
                break;
            case "<?php echo $contentFilterValues[1]; ?>":
                $otherUserDescription.hide();
                $userDescription.show();
                $allUserDescription.hide();
                break;
            case "<?php echo $contentFilterValues[2]; ?>":
                $otherUserDescription.hide();
                $userDescription.hide();
                $allUserDescription.show();
                break;
            default:
                $otherUserDescription.hide();
                $userDescription.hide();
                $allUserDescription.hide();
                break;
        }
    }

    $userSectionJsTree
        .on("refresh.jstree", function (e, data) {

        })
        .on("select_node.jstree", function (node, selected, event) {
            var $mapListBtn = $('.map_list_btn');
            $mapListBtn.unbind('click');
            $mapListBtn.on('click', function () {
                $(this).parent().prev().find('span.map-list-label-text').text($(this).children().text());
                $(this).parent().prev().val($(this).children().children().data('value'));

                var field_values_json = getFieldValues(selected.node, $(this));
                var $fieldNode = $('#' + selected.node.id);
                $fieldNode.attr('value', JSON.stringify(field_values_json));

                populateHiddenCustomFormsFieldsMapJson();
            });

        })
        .jstree({
            "core": {
                "check_callback": function () {
                    return false;
                },
                "themes": {
                    "stripes": true,
                    "variant": "large"
                }
            },
            "plugins": ["types"],
            "types": {
                "root": {
                    "valid_children": ["group"]
                },
                "group": {
                    "valid_children": ["field"]
                },
                "field": {
                    "valid_children": ["value"]
                },
                "value": {
                    "valid_children": []
                }
            }
        }).bind("move_node.jstree", function (e, data) {

    }).bind("select_node.jstree", function (e, data) {

    });

    function getFieldValues(node, li) {
        var field_values = {};
        var map_value = li.children().children().data('value');
        var map_label = li.children().text();
        var field_name = node.li_attr.text;

        if (field_name === undefined) {
            $(node.text).each(function (idx, elem) {
                if ($(elem).hasClass("field-label")) {
                    field_name = $(elem).text();
                }
            });
        }

        field_values[field_name] = {map_type: map_value};

        console.log("UPDATE", field_values);
        return field_values;
    }

    $(document).ready(function () {
        if (custom_form_id > 0) {
            getUserSectionJsTreeData(custom_form_id);
        }
    });

    $contentFilter
        .on('changed.bs.select', function () {
            showContentFilterDescription($(this).val());
        });

    var previous_value;
    $customFormList
        .on('shown.bs.select', function () {
            previous_value = $(this).val();
        })
        .on('changed.bs.select', function () {
            var warningCustomFormChangeModal = $('#warning-custom-form-change');
            var customFormChangeBtn = $("#custom-form-change");
            var customFormDismissBtn = $("#custom-form-dismiss");

            if (previous_value !== "") {
                warningCustomFormChangeModal.modal({
                    show: true
                });
            } else {
                getUserSectionJsTreeData($customFormList.val());
            }

            customFormChangeBtn.unbind('click');
            customFormChangeBtn.on("click", function () {
                var $userSectionCustomFormFieldMapJson = $("#user_section_custom_form_field_map_json");
                getUserSectionJsTreeData($customFormList.val());
                $userSectionCustomFormFieldMapJson.val("[]");
                warningCustomFormChangeModal.modal('hide');
            });

            customFormDismissBtn.unbind('click');
            customFormDismissBtn.on("click", function () {
                $customFormList.val(previous_value);
                $customFormList.selectpicker('refresh');
            });
        });

    function getUserSectionJsTreeData(section_id) {
        var jsTree_data = [];

        $userSectionJsTree.jstree(true).settings.core.data = jsTree_data;
        $userSectionJsTree.jstree(true).refresh();

        if (section_id > 0) {
            jsTree_data =
                [{
                    "id": "root",
                    "parent": "#",
                    "text": "List of Fields",
                    "type": "root",
                    "icon": "fa fa-wpforms",
                    "state": {'opened': true, 'disabled': false, 'selected': false},
                    "li_attr": {'class': 'custom_form_root'},
                    "a_attr": {}
                }];

            getUserSectionDetails(section_id, jsTree_data);
        }
    }

    function getUserSectionDetails(section_id, jsTree_data) {
        $.get("<?php echo $this->basePath(); ?>/ajax/get-section-params/" + section_id)
            .done(function (data) {
                var fieldSets = data.fieldsets;
                var user_section_custom_form_field_map_json = JSON.parse($("#user_section_custom_form_field_map_json").val());
                $.each(fieldSets, function (key1, value1) {
                    var this_details = getJsTreeDetails('group', value1);
                    var custom_form_group = jsTreeGroupsAndFields('group', this_details, true);
                    jsTree_data.push(custom_form_group);
                    $.each(value1.fields, function (key2, value2) {
                        var field_map = {};
                        var field_name = value2.name;

                        if (field_name === undefined) {
                            field_name = value2.label;
                        }

                        for (var idx = 0; idx < user_section_custom_form_field_map_json.length; idx++) {
                            if (user_section_custom_form_field_map_json[idx][field_name] !== undefined) {
                                field_map = user_section_custom_form_field_map_json[idx]
                            }
                        }

                        var this_details = getJsTreeDetails('field', value2, field_name, field_map);
                        if (!$.isEmptyObject(this_details)) {
                            var custom_form_field = jsTreeGroupsAndFields('field', this_details, true);
                            jsTree_data.push(custom_form_field);
                        }
                    });
                });

                $userSectionJsTree.jstree(true).settings.core.data = jsTree_data;
                $userSectionJsTree.jstree(true).refresh();
            });
    }

    function getJsTreeDetails(type, value, field_name, field_map) {
        var jstree_details = {};
        var currentLang = '<?php echo $this->aclHelper->session->currentLang; ?>';

        switch (type) {
            case "group":
                group_counter++;
                jstree_details['lang'] = currentLang;
                jstree_details['counter'] = group_counter;
                jstree_details['label'] = getLocaleText(currentLang, value.label, value.name);
                jstree_details['name'] = value.name;
                jstree_details['value'] = null;
                jstree_details['class'] = "custom_form_group";
                jstree_details['parent'] = "root";
                jstree_details['icon'] = "fa fa-object-group";
                break;
            case "field":
                var fieldElements = getJsTreeFieldElements(value, field_map[field_name]);
                if (!$.isEmptyObject(fieldElements)) {
                    field_counter++;
                    jstree_details['lang'] = currentLang;
                    jstree_details['counter'] = field_counter;
                    if (value.required) {
                        jstree_details['label'] = fieldElements.map_list + '<span class="field-label">' + getLocaleText(currentLang, value.label, value.label) + '</span>&nbsp;<i class="fa fa-asterisk" aria-hidden="true"></i>';
                    } else {
                        jstree_details['label'] = fieldElements.map_list + '<span class="field-label">' + getLocaleText(currentLang, value.label, value.label) + '</span>';
                    }
                    jstree_details['name'] = value.name;
                    jstree_details['value'] = JSON.stringify(field_map);
                    jstree_details['class'] = "custom_form_field";
                    jstree_details['parent'] = "group_" + group_counter;
                    jstree_details['icon'] = fieldElements.icon;
                }

                break;
        }

        return jstree_details;
    }

    function jsTreeGroupsAndFields(type, this_details, reloaded) {
        return {
            "id": type + "_" + this_details.counter,
            "parent": this_details.parent,
            "text": this_details.label,
            "lang": this_details.lang,
            "type": type,
            "icon": this_details.icon,
            "state": {'opened': true, 'disabled': false, 'selected': false},
            "li_attr": {
                'class': this_details.class,
                'value': this_details.value,
                'reloaded': reloaded,
                'text': this_details.name
            },
            "a_attr": {}
        };
    }

    function getJsTreeFieldElements(value, field_map) {
        var field_elements = {};
        var field_icon = "";
        var field_map_list = {};
        var type = value.type;
        var validator = value.validator;
        var map_list = <?php echo json_encode($this->mapList); ?>;

        switch (type) {
            case '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_DESCR; ?>':
                field_icon = 'fa fa-file-text-o';
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_INPUT_TEXT; ?>':
                field_map_list.title = map_list.title.value;
                field_map_list.subtitle = map_list.subtitle.value;
                field_map_list.body_text = map_list.body_text.value;
                field_map_list.body_table = map_list.body_table.value;
                switch (validator) {
                    case "NONE":
                        field_icon = 'fa fa-text-width';
                        break;
                    case "VALID_PHONE":
                        field_icon = 'fa fa-phone';
                        break;
                    case "VALID_EMAIL":
                        field_icon = 'fa fa-envelope-o';
                        break;
                    case "VALID_URL":
                        field_icon = 'fa fa-link';
                        break;
                    case "NUMERIC":
                        field_icon = 'fa fa-calculator';
                        break;
                }
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_TEXTAREA; ?>':
                field_icon = 'fa fa-align-justify';
                field_map_list.subtitle = map_list.subtitle.value;
                field_map_list.body_text = map_list.body_text.value;
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_IMAGE; ?>':
                if (value.is_avatar === true) {
                    field_icon = 'fa fa-user-circle-o';
                } else {
                    switch (validator) {
                        case "SINGLE":
                            field_icon = 'fa fa-picture-o';
                            field_map_list.cover = map_list.cover.value;
                            break;
                        case "GALLERY":
                            field_icon = 'fa fa-window-restore';
                            field_map_list.gallery = map_list.gallery.value;
                            break;
                    }
                }
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_CHECKBOX; ?>':
                field_icon = 'fa fa-check-square-o';
                field_map_list.body_table = map_list.body_table.value;
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_RADIOBOX; ?>':
                field_icon = 'fa fa-check-circle-o';
                field_map_list.body_table = map_list.body_table.value;
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_ADDRESS; ?>':
                field_map_list.title = map_list.title.value;
                field_map_list.subtitle = map_list.subtitle.value;
                field_map_list.body_text = map_list.body_text.value;
                field_icon = 'fa fa-map-marker';
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_TAG_GROUP; ?>':
                field_map_list.body_table = map_list.body_table.value;
                switch (validator) {
                    case "TAG_SINGLE":
                        field_icon = 'fa fa-tag';
                        break;
                    case "TAG_MULTIPLE":
                        field_icon = 'fa fa-tags';
                        break;
                }
                break;
            case '<?php echo \Application\Model\SectionModel::HPFORM_SELECT; ?>':
                field_map_list.body_table = map_list.body_table.value;
                switch (value.value.origin_data) {
                    case '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_LOCALE; ?>':
                        field_icon = 'fa fa-bars';
                        break;
                    case '<?php echo \Form\Section\CustomForm\CustomFieldForm::HP_FORM_SELECT_TYPE_REMOTE; ?>':
                        field_icon = 'fa fa-list';
                        break;
                    default:
                        field_icon = 'fa fa-bars';
                        break;
                }
                break;
            default:
                field_icon = "glyphicon glyphicon-bishop";
        }

        if (!$.isEmptyObject(field_map_list)) {
            field_elements.icon = field_icon;
            field_elements.map_list = getFieldsMapList(field_map_list, field_map);
        }

        return field_elements;
    }

    function getFieldsMapList(field_map_list, field_map) {
        var map_type = null;
        if (field_map !== undefined && field_map.map_type !== undefined) {
            map_type = field_map.map_type;
        }
        var label_value = map_type;
        var label_name = "Map Field";

        if (map_type !== null) {
            label_name = field_map_list[label_value];
        }

        var map_list = '<ul id="map-list-dropdown" style="padding:0;">' +
            '<li class="dropdown">' +
            '<button id="field_map_dropdown" class="dropdown-toggle unstyled-button" data-toggle="dropdown" value="' + label_value + '">' +
            '<span class="label map-list-label"><span id="map-list-label-' + field_counter + '" class="map-list-label-text">' + label_name + '</span><span class="caret"></span></span>' +
            '</button>' +
            '<ul id="map_list" aria-labelledby="field_map_dropdown" class="dropdown-menu" role="menu">';

        for (var key in field_map_list) {
            if (!field_map_list.hasOwnProperty(key)) continue;
            map_list += '<li class="map_list_btn">' +
                '<a><span data-value="' + key + '" style="margin-right:5px;"></span>' + field_map_list[key] + '</a>' +
                '</li>';
        }

        map_list += '</ul>' +
            '</li>' +
            '</ul>';

        return map_list;
    }

    // SUBMIT
    function getInnerFields() {
        var fields = [];

        $('.custom_form_field').each(function () {
            var field = JSON.parse($(this).attr('value'));
            if (!$.isEmptyObject(field)) {
                fields.push(field);
            }
        });

        return fields;
    }

    function populateHiddenCustomFormsFieldsMapJson() {
        var custom_forms_fields_map_json = getInnerFields();
        $('#user_section_custom_form_field_map_json').val(JSON.stringify(custom_forms_fields_map_json));
    }

</script>
