<?php
$content_types = $this->content_types;
$cdnBaseurl = $this->layout()->cdnBaseurl;
?>
<style type="text/css">
    #contents .drag_icon {
        width: 24px;
        height: 24px;
        background: url('<?php echo $this->basePath(); ?>/img/icon/drag.png');
        background-size: 24px 24px;
        background-repeat: no-repeat;
        cursor: move;
    }

    #contents .delete_icon {
        margin-bottom: 0;
    }
</style>

<div class="row">
    <div class="col-lg-1 col-md-0 col-xs-0"></div>
    <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<b>CONTENT TYPE</b></h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <?php
                        foreach ($content_types as $c) {
                            if (APPLICATION_ENV === "production" && $c["only_dev"] === true) {
                                continue;
                            }
                            if ($c["enabled"]) { ?>
                                <div class="section-list-item">
                                    <a href="<?php echo $this->basePath() . $c["url"]; ?>"
                                       class="btn-top-bar <?php echo $c["class"]; ?>">
                                <span class="info-box-icon">
                                    <i class="fa <?php echo $c["icon"]; ?>"></i>
                                </span>
                                        <span class="info-box-label"><?php echo $c["label"]; ?></span>
                                    </a>
                                </div>
                            <?php }
                        } ?>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <em>Click one of the CONTENT Type icon to add it in your application</em>
            </div><!-- box-footer -->
        </div><!-- /.box -->
    </div>
    <div class="col-lg-2 col-md-0 col-xs-0"></div>
</div>

<div class="row">
    <div class="col-lg-1 col-md-0 col-xs-0"></div>
    <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<b>YOUR CONTENTS</b></h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <table id="contents" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Cover</th>
                                <th>Last Modified</th>
                                <th>Type</th>
                                <th>Title</th>
                                <th class="hidden-xs">Description</th>
                                <th>Content Tags</th>
                                <th>User Tags</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tfoot class="hidden-xs">
                            <tr>
                                <th></th>
                                <th>Cover</th>
                                <th>Last Modified</th>
                                <th>Type</th>
                                <th>Title</th>
                                <th class="hidden-xs">Description</th>
                                <th>Content Tags</th>
                                <th>User Tags</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <em>Click one of the CONTENT Type icon to add it in your application</em>
            </div><!-- box-footer -->
        </div><!-- /.box -->
    </div>
    <div class="col-lg-2 col-md-0 col-xs-0"></div>
</div>
<script type="application/javascript">
    $(document).ready(function () {

        var table = $('#contents').DataTable({
            stateSave: true,
            stateDuration: 60 * 5,
            serverSide: true,
            ajax: '<?php echo $this->basePath(); ?>/ajax/content/list/',
            ordering: true,
            order: [[ 2, 'desc' ]],
            columns: [
                {"name": "id", "width": "1%", "sortable": false, "visible": false},
                {"name": "cover", "width": "1%", "sortable": false},
                {"name": "updated_at", "width": "1%", "sortable": true, "class": "clickable"},
                {"name": "type", "width": "1%", "sortable": true, "class": "clickable"},
                {"name": "title", "width": "30%", "sortable": true, "class": "clickable"},
                {"name": "description", "width": "65%", "sortable": true, "class": "clickable"},
                {"name": "tags", "width": "1%", "sortable": false, "class": "clickable"},
                {"name": "tags_user", "width": "1%", "sortable": false, "class": "clickable"},
                {"name": "status", "width": "1%", "sortable": false},
                {"name": "fnc", "width": "1%", "sortable": false}
            ],

            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        var uri = "";
                        if (row[1] == "") uri = "<?php echo $this->basePath(); ?>/img/placeholder/app-icon.png";
                        else uri = "<?php echo $cdnBaseurl . \Common\Helper\ImageHelper::getCoverIconThumbUrl(); ?>" + row[1];

                        return '<div style="width:50px;height:50px;background: url(' + uri + ') center center no-repeat, url(/img/placeholder/square-pattern.jpg) left top repeat;background-size: 50px, 8px;"></div>';
                    },
                    "targets": 1
                },
                {
                    "render": function (data, type, row) {
                        var contentId = row[0];
                        var render = "", status = "", alter_status = "", btn_style = "", alter_data = 0;

                        if (data == 0) {
                            status = "PUBLIC";
                            alter_status = "DRAFT";
                            btn_style = "btn-primary";
                            alter_data = 1;
                        } else {
                            status = "DRAFT";
                            alter_status = "PUBLIC";
                            btn_style = "btn-danger";
                            alter_data = 0;
                        }

                        render += '<div class="content-status btn-group btn-group-xs" style="diplay: block; width: 80px;">';
                        render += '<button id="content_' + contentId + '" type="button" class="content_' + contentId + ' btn ' + btn_style + ' btn-xs" style="top: 5px; width: 50px">' + status + '</button>';
                        render += '<button type="button" class="content_' + contentId + ' btn ' + btn_style + ' dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="top: 5px;">';
                        render += '<span class="caret"></span>';
                        render += '</button>';
                        render += '<ul class="dropdown-menu">';
                        render += '<li><a href="#" data-id="' + contentId + '" data-value="' + alter_data + '">Move to <b>' + alter_status + '</b></a></li>';
                        render += '</ul>';
                        render += '</div>';

                        return render;
                    },
                    "targets": 8
                }
            ]
        });

        table.on('draw', function () {
            $('tr td.clickable').unbind('click');
            $('tr td.clickable').click(function () {
                var contentId = $(this).closest('tr').attr('data-content-id');
                var contentType = $(this).closest('tr').attr('data-content-type').toLowerCase();

                window.location.href = "<?php echo $this->basePath(); ?>/admin/content/" + contentType + "/" + contentId;
            });

            $('#contents .delete_icon').unbind('click');
            $('#contents .delete_icon').click(function () {
                var title = $(this).attr("content-title");
                var content_id = $(this).attr("content-id");
                var content_type = $(this).attr("content-type");

                $('#deleteContentModal .modal-title').html(title.toUpperCase());
                $('#deleteContentModal .modal-confirm-btn').attr('content-id', content_id);
                $('#deleteContentModal .modal-confirm-btn').attr('content-type', content_type);

                $('#deleteContentModal').modal();
            });


            $('.content-status li a').unbind('click');
            $('.content-status li a').click(function () {
                var contentId = $(this).attr("data-id");
                var status = $(this).attr("data-value");
                var buttons = $(".content_" + contentId);

                var $item = $(this);
                $.post("<?php echo $this->basePath(); ?>/ajax/content/" + contentId + "/status/", {"status": status}, function (response) {
                    if (status == 0) {
                        $item.html("Move to <b>DRAFT</b>");
                        $item.attr("data-value", 1);
                        $("#content_" + contentId).html("PUBLIC");
                        buttons.removeClass("btn-danger");
                        buttons.addClass("btn-primary");
                    } else {
                        $item.html("Move to <b>PUBLIC</b>");
                        $item.attr("data-value", 0);
                        $("#content_" + contentId).html("DRAFT");
                        buttons.removeClass("btn-primary");
                        buttons.addClass("btn-danger");
                    }
                }, "json");
            });
        });
    });
</script>