<?php
    $content_types = $this->content_types;
    $content_params = $this->content_params;
?>

<style>
    #content .nav-tabs>li.active>a {
        color: #3c8dbc;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-lg-1 hidden-md hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<b>CONTENT TYPE</b></h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                    <?php
                    foreach($content_types as $type => $c) {
                        if (APPLICATION_ENV === "production" && $c["only_dev"] === true) {
                            continue;
                        }
                        if ($c["enabled"]) {
                            $cls = $c["active"] ? "active" : "deactive" ;
                            $url = (!$c["active"]) ? $this->basePath() . $c["url"] : "#title" ;
                            ?>
                            <div class="section-list-item">
                                <a href="<?php echo $url ?>" class="btn-top-bar <?php echo $c["class"]; ?> <?php echo $cls; ?>">
                                <span class="info-box-icon">
                                    <i class="fa <?php echo $c["icon"]; ?>"></i>
                                </span>
                                    <span class="info-box-label"><?php echo $c["label"]; ?></span>
                                </a>
                            </div>
                        <?php  }
                    } ?>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <em>Click one of the CONTENT Type icon to add it in your application</em>
            </div><!-- box-footer -->
        </div><!-- /.box -->
    </div>
    <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>
</div>

<div class="row">
    <div class="col-lg-1 hidden-md hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<i class="fa <?php echo $content_params["icon"]; ?>"></i>&nbsp;&nbsp;<b><?php echo $content_params["label"]; ?></b></h3>
                <div class="box-tools pull-right">
                    <?php echo $this->partial('flag-dropdown.phtml', array('form' => $this->form, 'currentLang' => $this->currentLang, 'userLanguages' => $this->userLanguages, 'disabled' => true)); ?>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <?php
            echo $this->partial($this->form->getView(), array(
                'initialPreview' => $this->initialPreview,
                'initialPreviewConfig' => $this->initialPreviewConfig,
                'initialPreviewThumbTags' => $this->initialPreviewThumbTags,
                'maxFileSize' => $this->maxFileSize,
                'content_actions' => null,
                'custom_theme' => $this->custom_theme,
                'error_msg' => $this->error_msg,
                'form' => $this->form,
                'addRemoteMediaForm' => $this->addRemoteMediaForm,
            ));
            ?>
        </div><!-- /.box -->
    </div>
    <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>
</div>