<?php
$actionForm = $this->actionForm;
$actionForm->prepare();

echo $this->form()->openTag($actionForm);

foreach ($actionForm->getFormHiddenElement() as $field) {
    echo $this->formElement($actionForm->get($field));
}

echo $this->partial('action-common.phtml', array('actionForm' => $actionForm, 'maxFileSize' => $this->maxFileSize));
?>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?php echo $this->formLabel($actionForm->get('action_upload_file')); ?>
        <span id="action_attachment_media_id-error-message" class="label label-danger action-form-error-label"
              style="margin-left: 20px;"></span>
        <div class="form-group has-feedback">
            <?php
            echo $this->formElement($actionForm->get('action_upload_file'));
            echo $this->hpFormElementErrors($actionForm->get('action_upload_file'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
            ?>
        </div>
    </div>
</div>

<?php echo $this->form()->closeTag(); ?>

<script type="application/javascript">
    $(document).ready(function () {
        var uploadAttachmentUrl = "<?php echo $this->basePath() ?>/media/attachment/add/";
        var $action_upload_file = $("#action_upload_file");
        var $action_attachment_media_id = $("#action_attachment_media_id");
        var $action_attachment_media_url = $("#action_attachment_media_url");
        var $action_attachment_media_mime_type = $("#action_attachment_media_mime_type");

        var initialPreview = JSON.parse('<?php echo $this->initialPreview; ?>');
        var initialPreviewConfig = JSON.parse('<?php echo $this->initialPreviewConfig; ?>');
        var initialPreviewThumbTags = JSON.parse('<?php echo $this->initialPreviewThumbTags; ?>');

        $actionSubmitBtn.attr("file_attachment_selected", "no");

        $action_upload_file.fileinput(
            {
                uploadUrl: uploadAttachmentUrl, // server upload action
                uploadAsync: true,
                initialPreviewAsData: true,
                maxFileSize: <?php echo $this->maxFileSize ?>,
                maxFileCount: 1,
                showUpload: false,
                showProgress: false,
                showPreview: false,
                showRemove: false,
                dropZoneTitle: "Drag & drop your attachment here ...",
                layoutTemplates: {
                    main2: '{preview} {remove} {browse}',
                    actions: '',
                    footer: '<div class="file-thumbnail-footer">\n' +
                    '    <div class="file-caption-name" style="width:0; height: 0;"></div>\n' +
                    '    {progress}\n' +
                    '</div>'
                },
                previewTemplates: {
                    image: '<div class="file-preview-frame" id="{previewId}" data-fileindex="{fileindex}" style="width: 120px; height: auto;">\n' +
                    '   <img src="{data}" class="file-preview-image" title="{caption}" alt="{caption}" style="width: 120px; height: auto; background: white;">\n' +
                    '   {footer}\n' +
                    '</div>\n'
                },
                initialCaption: (initialPreviewConfig[0] !== undefined) ? initialPreviewConfig[0].caption : "",

                initialPreview: initialPreview,
                initialPreviewConfig: initialPreviewConfig,
                initialPreviewThumbTags: initialPreviewThumbTags
            }
        ).on("filebatchselected", function (event, files) {
            $actionSubmitBtn.attr("file_attachment_selected", "yes");
            uploadAttachmentFile = false;
        }).on('filecleared', function (event) {
            $actionSubmitBtn.attr("file_attachment_selected", "no");
            $action_attachment_media_id.val("");
            $action_attachment_media_url.val("");
            $action_attachment_media_mime_type.val("");
        }).on('fileuploaded', function (event, data, previewId, index) {
            var response = data.response.file;
            $action_attachment_media_id.val(response.media_id);
            $action_attachment_media_url.val(response.url);
            $action_attachment_media_mime_type.val(response.mime_type);

            uploadAttachmentFile = true;
//            console.log("tryActionSubmitAfterUpload from uploadAttachmentFile");
            tryActionSubmitAfterUpload();
        });

        $actionSubmitBtn.bind('click', function () {
            if ($actionSubmitBtn.attr("file_attachment_selected") === "yes") {
                $action_upload_file.fileinput("upload");
            } else {
                uploadAttachmentFile = true;
//                console.log("tryActionSubmitAfterUpload from Submit Action");
//                tryActionSubmitAfterUpload();
            }
        });
    });
</script>