<?php
$actionForm = $this->actionForm;
$actionForm->prepare();

echo $this->form()->openTag($actionForm);

foreach ($actionForm->getFormHiddenElement() as $field) {
    echo $this->formElement($actionForm->get($field));
}

echo $this->partial('action-common.phtml', array('actionForm' => $actionForm, 'maxFileSize' => $this->maxFileSize));
?>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?php echo $this->formLabel($actionForm->get("action_date_picker")); ?>
        <span id="action_date_picker-error-message" class="label label-danger action-form-error-label"
              style="margin-left: 20px;"></span>
        <div class="form-group has-feedback action-datapicker-box">
            <?php
            echo $this->formElement($actionForm->get("action_date_picker"));
            echo $this->hpFormElementErrors($actionForm->get("action_date_picker"), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
            ?>
            <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
        </div>
    </div>
</div>

<?php echo $this->form()->closeTag(); ?>

<script type="application/javascript">
    $(document).ready(function () {

        /* INIT DATAPICKER */
        var startDate = "<?php echo date('Y-m-d'); ?>";
        var endDate = "<?php echo date('Y-m-d', strtotime('+1 month')); ?>";
        var datapickerDisabled = true;

        if ($("#action_start_date").val() != "") {
            startDate = $("#action_start_date").val();
            datapickerDisabled = false;
        } else {
            startDate = "<?php echo date('Y-m-d'); ?>";
        }

        if ($("#action_end_date").val() != "") {
            endDate = $("#action_end_date").val();
            datapickerDisabled = false;
        } else {
            endDate = "<?php echo date('Y-m-d', strtotime('+1 month')); ?>";
        }

        $('#action_date_picker').on('keyup', function () {
            if ($(this).val().length == 0) {
                var instance = $('#action_date_picker').data('daterangepicker');
                var container = instance.container;
                container.remove();

                $('#action_date_picker').on('blur', function () {
                    $('#action_date_picker').val(null);
                });

                $('#action_date_picker').click(function () {
                    initDateRangePicker(true, 'action_date_picker', 'action-datapicker-box', 'action_start_date', 'action_end_date', startDate, endDate, 'up');
                });

                $("#action_start_date").val(null);
                $("#action_end_date").val(null);
            }
        });

        if (datapickerDisabled) {
            $('#action_date_picker').click(function () {
                initDateRangePicker(true, 'action_date_picker', 'action-datapicker-box', 'action_start_date', 'action_end_date', startDate, endDate, 'up');
            });
        } else {
            initDateRangePicker(false, 'action_date_picker', 'action-datapicker-box', 'action_start_date', 'action_end_date', startDate, endDate, 'up');
        }
        /* .../INIT DATAPICKER */

    });
</script>