<?php
$actionForm = $this->actionForm;
$actionForm->prepare();

echo $this->form()->openTag($actionForm);

foreach ($actionForm->getFormHiddenElement() as $field) {
    echo $this->formElement($actionForm->get($field));
}

echo $this->partial('action-common.phtml', array('actionForm' => $actionForm, 'maxFileSize' => $this->maxFileSize));
?>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?php echo $this->formLabel($actionForm->get('action_content_list')); ?>
        <div class="form-group has-feedback">
            <?php
            echo $this->formElement($actionForm->get('action_content_list'));
            echo $this->hpFormElementErrors($actionForm->get('action_content_list'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
            ?>
        </div>
    </div>
</div>

<?php echo $this->form()->closeTag(); ?>

<script type="application/javascript">
    $(document).ready(function () {
        $('#action_content_list').selectpicker();
    });
</script>