<?php
$actionForm = $this->actionForm;
$actionForm->prepare();

echo $this->form()->openTag($actionForm);

foreach ($actionForm->getFormHiddenElement() as $field) {
    echo $this->formElement($actionForm->get($field));
}

echo $this->partial('action-common.phtml', array('actionForm' => $actionForm, 'maxFileSize' => $this->maxFileSize));
?>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?php echo $this->formLabel($actionForm->get('action_email')); ?>
        <span id="action_email-error-message" class="label label-danger action-form-error-label"
              style="margin-left: 20px;"></span>
        <div class="form-group has-feedback">
            <?php
            echo $this->formElement($actionForm->get('action_email'));
            echo $this->hpFormElementErrors($actionForm->get('action_email'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
            ?>
            <span class="glyphicon glyphicon-link form-control-feedback"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?php echo $this->formLabel($actionForm->get('action_email_subject')); ?>
        <span id="action_email-error-message" class="label label-danger action-form-error-label"
              style="margin-left: 20px;"></span>
        <div class="form-group has-feedback">
            <?php
            echo $this->formElement($actionForm->get('action_email_subject'));
            echo $this->hpFormElementErrors($actionForm->get('action_email_subject'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
            ?>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?php echo $this->formLabel($actionForm->get('action_email_placeholder')); ?>
        <div class="form-group has-feedback">
            <?php
            echo $this->formElement($actionForm->get('action_email_placeholder'));
            echo $this->hpFormElementErrors($actionForm->get('action_email_placeholder'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
            ?>
        </div>
    </div>
</div>

<?php echo $this->form()->closeTag(); ?>

<script>
    $(document).ready(function () {
        var contentType = $("form#content #type").val();
        var $emailSubject = $("#action_email_subject");

        switch (contentType) {
            case "<?php echo  \Rest\Model\Json\ContentSerializer::PERSON_CONTENT ?>":
                $emailSubject.val($("form#content #firstname").val() + " " + $("form#content #lastname").val());
                break;
            default:
                $emailSubject.val($("form#content #title").val());
                break;
        }
    });
</script>
