<style>
    #action .ace-resize {
        position: relative;
        width: 100%;
        height: 200px;
    }

    #action .tab-content {
        padding: 10px;
        border: 1px solid #ddd;
        border-top: none;
    }
</style>

<?php
$actionForm = $this->actionForm;
$actionForm->prepare();

echo $this->form()->openTag($actionForm);

foreach ($actionForm->getFormHiddenElement() as $field) {
    echo $this->formElement($actionForm->get($field));
}

echo $this->partial('action-common.phtml', array('actionForm' => $actionForm, 'maxFileSize' => $this->maxFileSize));
?>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <?php echo $this->formLabel($actionForm->get('action_url')); ?>
                <span id="action_url-error-message" class="label label-danger action-form-error-label"
                      style="margin-left: 20px;"></span>
                <div class="form-group has-feedback">
                    <?php
                    echo $this->formElement($actionForm->get('action_url'));
                    echo $this->hpFormElementErrors($actionForm->get('action_url'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                    <span class="glyphicon glyphicon-link form-control-feedback"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                <?php echo $this->formLabel($actionForm->get('action_open_in_app')); ?>
                <div class="form-group has-feedback">
                    <?php
                    echo $this->formElement($actionForm->get('action_open_in_app'));
                    echo $this->hpFormElementErrors($actionForm->get('action_open_in_app'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="action_custom_file_container" class="row hidden">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul id="tabs" class="nav nav-tabs" style="margin-top: 10px;">
            <li class="active"><a id="action-custom_css-tab-link" href="#action-custom_css-tab"
                                  data-toggle="tab"><?php echo $this->formLabel($actionForm->get('action_custom_css')); ?></a>
            </li>
            <li><a id="action-custom_js-tab-link" href="#action-custom_js-tab"
                   data-toggle="tab"><?php echo $this->formLabel($actionForm->get('action_custom_js')); ?></a></li>
        </ul>

        <div class="tab-content">
            <div id="action-custom_css-tab" class="tab-pane active">
                <div class="form-group has-feedback input-error" style="margin-bottom: 0">
                    <?php
                    echo $this->formElement($actionForm->get('action_custom_css'));
                    echo $this->hpFormElementErrors($actionForm->get('action_custom_css'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                    ?>
                    <div id="action_custom_css_ace_div" class="ace-resize"></div>
                </div>
            </div>

            <div id="action-custom_js-tab" class="tab-pane">
                <div class="form-group has-feedback input-error" style="margin-bottom: 0">
                    <?php
                    echo $this->formElement($actionForm->get('action_custom_js'));
                    echo $this->hpFormElementErrors($actionForm->get('action_custom_js'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                    ?>
                    <div id="action_custom_js_ace_div" class="ace-resize"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php echo $this->form()->closeTag(); ?>

<script type="application/javascript">
    var $actionCustomCssInput = $('#action_custom_css');
    var action_custom_css_ace_div = ace.edit("action_custom_css_ace_div");
    var $actionCustomJsInput = $('#action_custom_js');
    var action_custom_js_ace_div = ace.edit("action_custom_js_ace_div");

    /* INIT CODE EDITOR MODE */
    action_custom_css_ace_div.getSession().setValue($actionCustomCssInput.val());
    action_custom_css_ace_div.setTheme("ace/theme/twilight");
    action_custom_css_ace_div.getSession().setMode("ace/mode/css");

    action_custom_js_ace_div.getSession().setValue($actionCustomJsInput.val());
    action_custom_js_ace_div.setTheme("ace/theme/twilight");
    action_custom_js_ace_div.getSession().setMode("ace/mode/javascript");
    /* .../INIT CODE EDITOR MODE */

    $(document).ready(function () {
        /* INIT OPEN_IN_APP SWITCH ON CREATE/UPDATE */
        var $openInAppSwitch = $("#action_open_in_app.switch-btn");
        var $actionCustomFileContainer = $('#action_custom_file_container');
        var row_id = $('#remoteWithDataDialogBox .modal-confirm-btn').data('rowId');

        if (row_id !== "" && row_id !== null) {
            var state = $('#remoteWithDataDialogBox').data('extras').params.open_in_app;
            $openInAppSwitch.bootstrapSwitch('state', state);
        } else {
            $openInAppSwitch.bootstrapSwitch();
        }

        if ($openInAppSwitch.val() === "1") {
            $actionCustomFileContainer.removeClass('hidden');
        }

        $openInAppSwitch.on('switchChange.bootstrapSwitch', function(event, state){
            if (state) {
                $actionCustomFileContainer.removeClass('hidden');
            } else {
                $actionCustomFileContainer.addClass('hidden');
            }
        });
        /* .../INIT OPEN_IN_APP SWITCH ON CREATE/UPDATE */
    });

    function populateCustomCssAndJS() {
        $actionCustomCssInput.val(action_custom_css_ace_div.getSession().getValue());
        $actionCustomJsInput.val(action_custom_js_ace_div.getSession().getValue());
    }
</script>