<style>
    #action-map-container {
        width: 100%;
        height: 272px;
    }

    .action-map-fields {
        /*position: absolute;*/
        width: 100%;
        z-index: 100;
        left: 15px;
        top: 56px;
        padding-left: 15px;
        padding-right: 15px;
    }
    div.pac-container.pac-logo {
        z-index: 2000;
    }
</style>
<?php
$actionForm = $this->actionForm;
$actionForm->prepare();

echo $this->form()->openTag($actionForm);

foreach ($actionForm->getFormHiddenElement() as $field) {
    echo $this->formElement($actionForm->get($field));
}

echo $this->partial('action-common.phtml', array('actionForm' => $actionForm, 'maxFileSize' => $this->maxFileSize));
?>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
        <div class="action-map-fields" style="padding: 0;">
            <?php echo $this->formLabel($actionForm->get("action_address")); ?>
            <span id="action_address-error-message" class="label label-danger action-form-error-label"
                  style="margin-left: 20px;"></span>
            <div class="input-error">
                <?php
                echo $this->formElement($actionForm->get('action_address'));
                echo $this->hpFormElementErrors($actionForm->get('action_address'), \Application\ViewHelper\HpRenderFormError::LEFT_PLACEMENT);
                ?>
            </div>
        </div>
        <div id="action-map-container"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="form-group input-error col-lg-8 col-md-12 col-xs-12">
                <?php
                echo $this->formElement($actionForm->get('action_street'));
                echo $this->hpFormElementErrors($actionForm->get('action_street'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                ?>
            </div>
            <div class="form-group input-error col-lg-4 col-md-12 col-xs-12">
                <?php
                echo $this->formElement($actionForm->get('action_city'));
                echo $this->hpFormElementErrors($actionForm->get('action_city'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                ?>
            </div>
        </div>
        <div class="row">
            <div class="form-group input-error col-lg-4 col-md-12 col-xs-12">
                <?php
                echo $this->formElement($actionForm->get('action_state'));
                echo $this->hpFormElementErrors($actionForm->get('action_state'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                ?>
            </div>
            <div class="form-group input-error col-lg-4 col-md-12 col-xs-12">
                <?php
                echo $this->formElement($actionForm->get('action_zip'));
                echo $this->hpFormElementErrors($actionForm->get('action_zip'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                ?>
            </div>
            <div class="form-group input-error col-lg-4 col-md-12 col-xs-12">
                <?php
                echo $this->formElement($actionForm->get('action_country'));
                echo $this->hpFormElementErrors($actionForm->get('action_country'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                ?>
            </div>
        </div>
    </div>
</div>

<?php echo $this->form()->closeTag(); ?>

<script type="application/javascript">

    var resetAddress = true;
    var lat = 40.91692610;
    var lng = 17.02109310;

    $(document).ready(function () {

        /* INIT MAP */
        if ($('#action_latitude').val() && $('#action_longitude').val()) {
            resetAddress = false;
            lat = $('#action_latitude').val();
            lng = $('#action_longitude').val();
        }

        $('#action-map-container').locationpicker({
            location: {latitude: lat, longitude: lng},
            radius: 0,
            zoom: 16,
            inputBinding: {
                latitudeInput: $('#action_latitude'),
                longitudeInput: $('#action_longitude'),
                radiusInput: 0,
                locationNameInput: $('#action_address')
            },
            enableAutocomplete: true,
            enableAutocompleteBlur: true,
            oninitialized: function (component) {
                if (resetAddress) {
                    $('#action_address').val("");
                } else {
                    var addressComponents = $(component).locationpicker('map').location.addressComponents;

                    $('#action_street').val(addressComponents.addressLine1);
                    $('#action_city').val(addressComponents.city);
                    $('#action_state').val(addressComponents.stateOrProvince);
                    $('#action_zip').val(addressComponents.postalCode);
                    $('#action_country').val(addressComponents.country);
                }
            },
            onchanged: function (currentLocation, radius, isMarkerDropped) {
                var addressComponents = $(this).locationpicker('map').location.addressComponents;

                $('#action_street').val(addressComponents.addressLine1);
                $('#action_city').val(addressComponents.city);
                $('#action_state').val(addressComponents.stateOrProvince);
                $('#action_zip').val(addressComponents.postalCode);
                $('#action_country').val(addressComponents.country);
            }
        });
        /* .../INIT MAP */
    });
</script>