<style>
    .restyle .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
</style>

<?php
$actionForm = $this->actionForm;
$actionForm->prepare();

echo $this->form()->openTag($actionForm);

foreach ($actionForm->getFormHiddenElement() as $field) {
    echo $this->formElement($actionForm->get($field));
}

echo $this->partial('action-common.phtml', array('actionForm' => $actionForm, 'maxFileSize' => $this->maxFileSize));
?>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <?php echo $this->formLabel($actionForm->get('action_number')); ?>
                <span id="action_number-error-message" class="label label-danger action-form-error-label"
                      style="margin-left: 20px;"></span>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-right-pad">
                        <div class="form-group has-feedback restyle">
                            <?php
                            echo $this->formElement($actionForm->get('action_prefix'));
                            echo $this->hpFormElementErrors($actionForm->get('action_prefix'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 no-left-pad">
                        <div class="form-group has-feedback">
                            <?php
                            echo $this->formElement($actionForm->get('action_number'));
                            echo $this->hpFormElementErrors($actionForm->get('action_number'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                            ?>
                            <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                <?php echo $this->formLabel($actionForm->get('action_operation')); ?>
                <div class="form-group has-feedback">
                    <?php
                    echo $this->formElement($actionForm->get('action_operation'));
                    echo $this->hpFormElementErrors($actionForm->get('action_operation'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="action_phone_placeholder_container" class="row hidden">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <?php echo $this->formLabel($actionForm->get('action_phone_placeholder')); ?>
        <div class="form-group has-feedback">
            <?php
            echo $this->formElement($actionForm->get('action_phone_placeholder'));
            echo $this->hpFormElementErrors($actionForm->get('action_phone_placeholder'), \Application\ViewHelper\HpRenderFormError::RIGHT_PLACEMENT);
            ?>
        </div>
    </div>
</div>

<?php echo $this->form()->closeTag(); ?>

<script type="application/javascript">
    $(document).ready(function () {
        var $actionOperation = $('#action_operation');
        var $actionPrefix = $('#action_prefix');
        var $actionPhonePlaceholderContainer = $('#action_phone_placeholder_container');

        $actionPrefix.selectpicker();
        $actionOperation.selectpicker();

        if ($actionOperation.val() === "<?php echo \Form\Action\Phone\PhoneActionForm::PHONE_MODE_SMS ?>") {
            $actionPhonePlaceholderContainer.removeClass('hidden');
        }

        $actionOperation.on('change', function(){
            var $this = $(this);
            if ($this.val() === "<?php echo \Form\Action\Phone\PhoneActionForm::PHONE_MODE_SMS ?>") {
                $actionPhonePlaceholderContainer.removeClass('hidden');
            } else {
                $actionPhonePlaceholderContainer.addClass('hidden');
            }
        });
    });
</script>