<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <?php
    echo $this->headTitle()->setSeparator(' | ')->setAutoEscape(false);
    echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
    ?>

    <!-- Le styles -->
    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/app-logo.png'))
        ->appendStylesheet($this->basePath() . '/bootstrap/css/bootstrap.min.css')
        ->appendStylesheet($this->basePath() . '/dist/css/AdminLTE.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/iCheck/square/blue.css')
        ->appendStylesheet($this->basePath() . '/css/style.css')
        ->appendStylesheet("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        ->appendStylesheet("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
    ?>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <?php
    echo $this->headScript()
        ->appendFile("https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js", 'text/javascript', array('conditional' => 'lt IE 9',))
        ->appendFile("https://oss.maxcdn.com/respond/1.4.2/respond.min.js", 'text/javascript', array('conditional' => 'lt IE 9',));
    ?>
</head>
<body class="hold-transition login-page">

<!-- Your Page Content Here -->
<?php
echo $this->content;
?>

<!-- jQuery 2.1.4 -->
<?php
echo $this->headScript()
    ->appendFile($this->basePath() . "/plugins/jQuery/jQuery-2.1.4.min.js")// jQuery 2.1.4
    ->appendFile($this->basePath() . "/bootstrap/js/bootstrap.min.js")// Bootstrap 3.3.5
    ->appendFile($this->basePath() . "/plugins/iCheck/icheck.min.js")       // iCheck
?>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
</body>
</html>
