<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <?php
    $backendName = $this->app_data !== null ? $this->app_data->backend_name : "";

    echo $this->headTitle($backendName)->setSeparator(' | ')->setAutoEscape(false);
    echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
    ?>

    <!-- The styles -->
    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/app-logo.png'))
        ->appendStylesheet($this->basePath() . "/plugins/jQueryUI/jquery-ui.min.css")
        ->appendStylesheet($this->basePath() . '/plugins/bootstrap-select/1.10.0/bootstrap-select.min.css')
        ->appendStylesheet($this->basePath() . '/bootstrap/css/bootstrap.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/bootstrap-fileinput-4.3.2/css/fileinput.min.css')
        ->appendStylesheet($this->basePath() . '/dist/css/AdminLTE.min.css')
        ->appendStylesheet($this->basePath() . '/dist/css/skins/skin-black.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/iCheck/square/blue.css')
        ->appendStylesheet($this->basePath() . '/plugins/flag-icon/flag-icon.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/select-grid/select-grid.css')
        ->appendStylesheet($this->basePath() . '/plugins/jstree-3.3.3.0/themes/default/style.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/colorpicker/css/bootstrap-colorpicker.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/datatables-1.10.12/media/css/jquery.dataTables.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/datatables-1.10.12/media/css/dataTables.bootstrap.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/datatables-1.10.12/extensions/RowReorder/css/rowReorder.dataTables.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/datatables-1.10.12/extensions/RowReorder/css/rowReorder.bootstrap.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/datatables-1.10.12/extensions/Select/css/select.dataTables.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/datatables-1.10.12/extensions/Select/css/select.bootstrap.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/bootstrap-switch-3.3.2/dist/css/bootstrap-switch.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/daterangepicker/daterangepicker.css')
        ->appendStylesheet($this->basePath() . '/plugins/bootstrap-datepicker-1.6.1/css/bootstrap-datepicker3.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/sliptree-bootstrap-tokenfield/css/bootstrap-tokenfield.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/sliptree-bootstrap-tokenfield/css/tokenfield-typeahead.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/bootstrap-slider-7.1.1/dist/css/bootstrap-slider.min.css')
        ->appendStylesheet($this->basePath() . '/plugins/clockpicker-0.0.7/clockpicker.css')
        ->appendStylesheet($this->basePath() . '/css/style.css?time=' . time())
        ->appendStylesheet("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        ->appendStylesheet("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
    ?>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <?php
    echo $this->headScript()
        ->appendFile("https://www.gstatic.com/charts/loader.js", 'text/javascript')
        ->appendFile("https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js", 'text/javascript', array('conditional' => 'lt IE 9',))
        ->appendFile("https://oss.maxcdn.com/respond/1.4.2/respond.min.js", 'text/javascript', array('conditional' => 'lt IE 9',))
        ->appendFile('https://maps.google.com/maps/api/js?libraries=places&key=' . $this->gmap_key)
        ->appendFile($this->basePath() . "/plugins/jQuery/jQuery-2.1.4.min.js")// jQuery 2.1.4
        ->appendFile($this->basePath() . "/plugins/jQueryUI/jquery-ui.min.js")
        ->appendFile($this->basePath() . "/plugins/jQuery-google-map/jquery.googlemap.js")//Google Map
        ->appendFile($this->basePath() . "/plugins/clipboard/clipboard.min.js")
        ->appendFile($this->basePath() . "/plugins/input-mask/jquery.inputmask.js")
        ->appendFile($this->basePath() . '/plugins/bootstrap-fileinput-4.3.2/js/fileinput.min.js')
        ->appendFile($this->basePath() . '/plugins/bootstrap-fileinput-4.3.2/js/plugins/sortable.min.js')
        ->appendFile($this->basePath() . "/bootstrap/js/bootstrap.min.js")// Bootstrap 3.3.5;
        ->appendFile($this->basePath() . "/dist/js/app.min.js")// AdminLTE App
        ->appendFile($this->basePath() . "/plugins/bootstrap-select/1.10.0/bootstrap-select.min.js")
        ->appendFile($this->basePath() . "/plugins/iCheck/icheck.min.js")// iCheck
        ->appendFile($this->basePath() . "/plugins/ace/ace.js")// Code editor
        ->appendFile($this->basePath() . '/plugins/select-grid/select-grid.js')
        ->appendFile($this->basePath() . '/plugins/jstree-3.3.3.0/jstree.min.js')// jsTree
        ->appendFile($this->basePath() . '/plugins/colorpicker/js/bootstrap-colorpicker.min.js')
        ->appendFile($this->basePath() . '/plugins/datatables-1.10.12/media/js/jquery.dataTables.min.js')
        ->appendFile($this->basePath() . '/plugins/datatables-1.10.12/media/js/dataTables.bootstrap.min.js')
        ->appendFile($this->basePath() . '/plugins/datatables-1.10.12/extensions/RowReorder/js/dataTables.rowReorder.min.js')
        ->appendFile($this->basePath() . '/plugins/datatables-1.10.12/extensions/Select/js/dataTables.select.min.js')
        ->appendFile($this->basePath() . '/plugins/bootstrap-switch-3.3.2/dist/js/bootstrap-switch.min.js')
        ->appendFile($this->basePath() . '/plugins/jquery-locationpicker-plugin-0.1.12/dist/locationpicker.jquery.min.js')
        ->appendFile($this->basePath() . '/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')
        ->appendFile($this->basePath() . '/plugins/daterangepicker/moment.min.js')
        ->appendFile($this->basePath() . '/plugins/daterangepicker/daterangepicker.js')
        ->appendFile($this->basePath() . '/plugins/bootstrap-datepicker-1.6.1/js/bootstrap-datepicker.min.js')
        ->appendFile($this->basePath() . '/plugins/bootstrap-slider-7.1.1/dist/modernizr.js')
        ->appendFile($this->basePath() . '/plugins/bootstrap-slider-7.1.1/dist/bootstrap-slider.min.js')
        ->appendFile($this->basePath() . '/plugins/sliptree-bootstrap-tokenfield/bootstrap-tokenfield.min.js')
        ->appendFile($this->basePath() . '/plugins/tinyMCE-4.4.3/tinymce.min.js')
        ->appendFile($this->basePath() . '/plugins/clockpicker-0.0.7/clockpicker.js')
        ->appendFile($this->basePath() . '/plugins/jquery-ajax-native/jquery-ajax-native.js')
        ->appendFile($this->basePath() . '/js/utils.js?time=' . time());
    ?>
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="<?php echo $this->basePath(); ?>" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><img src="<?php echo $this->basePath() . '/img/app-logo.png'; ?>" height="40"
                                         width="40"/></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img src="<?php echo $this->basePath() . '/img/app-logo.png'; ?>" height="40"
                                       width="40"/><span><?php echo $this->app_data !== null ? $this->app_data->backend_name : ""; ?></span></span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">


            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu" style="width: 100%;">
                <ul class="nav navbar-nav" style="float: left;">
                    <li class="dropdown user user-menu">
                        <!-- Sidebar toggle button-->
                        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav" style="float: right;">
                    <!-- Messages: style can be found in dropdown.less-->
                    <?php if ($this->app_data && property_exists($this->app_data, "id")) {
                        $iconUrl = $this->placeholder('app-data-logo')->toString() !== "" ? $this->placeholder('app-data-logo') : ($this->app_data->icon !== "" && $this->app_data->icon !== null) ? $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getAppIconUrl() . $this->app_data->icon : "/img/placeholder/app-icon.png";
                        $appTitle = $this->placeholder('app-data-title')->toString() !== "" ? $this->placeholder('app-data-title') : $this->app_data->title;
                        ?>
                        <li class="hidden-xs">
                            <a href="<?php echo $this->basePath() . "/admin/app/" . $this->app_data->id; ?>"
                               aria-expanded="false">
                                <img src="<?php echo $iconUrl; ?>" class="app-icon" alt="User Image"
                                     style="background: url(<?php echo $iconUrl; ?>) center center no-repeat, url(/img/placeholder/square-pattern.jpg) left top repeat;background-size: 30px, 8px;">
                                <span class="app-title"><?php echo $appTitle; ?></span>
                            </a>
                        </li>

                        <!-- User Account Menu -->
                        <!--                    <li class="dropdown user user-menu">-->
                        <!--                        <a href="-->
                        <?php //echo $this->basePath() . "/admin/app"; ?><!--" class="new-application">-->
                        <!--                            <i class="fa fa-plus"></i>-->
                        <!--                            <span class="hidden-xs">NEW APPLICATION</span>-->
                        <!--                        </a>-->
                        <!--                    </li>-->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a class="new-notification">
                                <i class="fa fa-bell"></i>
                                <span class="hidden-xs">SEND NOTIFICATION</span>
                            </a>

                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <?php if ($this->app_data != null) { ?>
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-ellipsis-v"></i></a>
                            </li>
                        <?php } ?>
                    <?php } ?>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <?php
            if ($this->user_data) {
                // Sidebar user panel
                echo $this->partial('user-panel.phtml', array(\Common\Helper\LayoutHelper::USER_DATA => $this->user_data));
                // Sidebar menu
                echo $this->partial('sidebar-menu.phtml', array(
                        \Common\Helper\LayoutHelper::MENU => $this->menu,
                        \Common\Helper\LayoutHelper::MENU_ENABLED => $this->menu_enabled
                    )
                );
            }
            ?>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <?php echo $this->title; ?>
                <small><?php echo $this->subtitle; ?></small>
            </h1>
            <br/>
            <?php echo $this->partial('breadcrumb.phtml', array(\Common\Helper\LayoutHelper::BREADCRUMBS => $this->breadcrumb)); ?>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <?php
            echo $this->content;
            ?>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            <?php
            $version = $this->app_data !== null ? " <b>" . $this->app_data->version . "</b>" : "";
            echo $backendName . " control panel" . $version; ?>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 - <?php echo date("Y"); ?> <a href="http://www.rhubbit.com" target="_blank">Rhubbit
                srl</a>.</strong>&nbsp;
        All rights reserved.
    </footer>

    <?php if ($this->app_data != null) { ?>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <?php
            echo $this->partial('aside-menu.phtml'); ?>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    <?php } ?>
</div>

<!-- ./wrapper -->
<script>
    $(document).ready(function () {
        <?php if ($this->app_data != null) { ?>
        initNotificationModal(
            "<?php echo $this->basePath(); ?>/admin/notification/",
            "<?php echo $this->basePath(); ?>/admin/notification/append/",
            "<?php echo $this->app_data->app_key; ?>"
        );
        <?php } ?>

        /* AT SESSION TIMEOUT SEND TO LOGIN */
        var ajax_url = '<?php echo $this->basePath(); ?>/ajax/check-session-timeout/';
        var interval = 1000 * 30; // where 30 is your every 30 seconds
        checkSessionTimeout(ajax_url, interval);
    });
</script>

<!-- modal template here -->
<?php
$sm = $this->getHelperPluginManager()->getServiceLocator();
$aclHelper = new \Common\Helper\AclHelper($sm);

echo $this->partial('/modal/dlg-copy-to-clipboard.phtml');
echo $this->partial('/modal/dlg-delete-app.phtml');
echo $this->partial('/modal/dlg-delete-content.phtml');
echo $this->partial('/modal/dlg-delete-provider.phtml');
echo $this->partial('/modal/dlg-delete-section.phtml');
echo $this->partial('/modal/dlg-delete-section-old-field-with-content.phtml');
echo $this->partial('/modal/dlg-error-alert.phtml');
echo $this->partial('/modal/dlg-form-users-address-google-maps.phtml');
echo $this->partial('/modal/dlg-form-users-images-carousel.phtml');
echo $this->partial('/modal/dlg-remote.phtml');
echo $this->partial('/modal/dlg-remote-with-data.phtml');
echo $this->partial('/modal/dlg-section-custom_form-group-create.phtml', array('aclHelper' => $aclHelper));
echo $this->partial('/modal/dlg-set-registration-section-confirm.phtml');
echo $this->partial('/modal/dlg-update-content-layouts.phtml');
echo $this->partial('/modal/dlg-update-section-layouts.phtml');

if (!is_null($this->googleAnalytics['ua'])) {
    ?>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '<?php echo $this->googleAnalytics['ua']; ?>', 'auto');
        ga('send', 'pageview');
    </script>

<?php } ?>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>