<style type="text/css">
    .users-list {
        padding-bottom: 1px;
    }

    .users-list > li img {
        width: 59px;
        height: 59px;
    }

    #chart_posts-data p,
    #chart_device-data p {
        min-height: 290px;
        top: 120px;
        position: relative;
    }
</style>

<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-6">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-download"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Donwload</span>
                <span class="info-box-number"><?php echo $device->total; ?></span>
                <!-- The progress section is optional -->
                <div class="progress">
                    <div class="progress-bar" style="width: <?php echo $device->ratio * 100; ?>%"></div>
                </div>
                <span class="progress-description">
                  <b><?php echo $device->ratio; ?>%</b> in 30 Days
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-files-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Content view</span>
                <span class="info-box-number"><?php echo $post_view->total; ?></span>
                <!-- The progress section is optional -->
                <div class="progress">
                    <div class="progress-bar" style="width: <?php echo $post_view->ratio; ?>%"></div>
                </div>
                <span class="progress-description">
                  <b><?php echo $post_view->ratio; ?>%</b> in 30 Days
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="fa fa-star"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Like</span>
                <span class="info-box-number"><?php echo $post_like->total; ?></span>
                <!-- The progress section is optional -->
                <div class="progress">
                    <div class="progress-bar" style="width: <?php echo $post_like->ratio; ?>%"></div>
                </div>
                <span class="progress-description">
                   <b><?php echo $post_like->ratio; ?>%</b> in 30 Days
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
    <div class="col-lg-3 col-md-3 col-xs-6">
        <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-share-alt"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Share</span>
                <span class="info-box-number"><?php echo $post_share->total; ?></span>
                <!-- The progress section is optional -->
                <div class="progress">
                    <div class="progress-bar" style="width: <?php echo $post_share->ratio; ?>%"></div>
                </div>
                <span class="progress-description">
                  <b><?php echo $post_share->ratio; ?>%</b> in 30 Days
                </span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div>
</div>
<br/>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <?php echo $this->partial('analytics-boxes/device-data-analytics-box.phtml'); ?>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <?php echo $this->partial('analytics-boxes/posts-data-analytics-box.phtml'); ?>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Latest Users</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    <?php
                    $params = $this->users['params'];
                    $encodedAvatarLabel = null;
                    if ($params !== null && $params->form_type === \Form\Section\CustomForm\CustomFormSectionForm::REGISTRATION_FORM) {
                        foreach ($params->fieldsets as $fieldSet) {
                            foreach ($fieldSet->fields as $field) {
                                if ($field->type === "IMAGE" && $field->is_avatar === true) {
                                    $encodedAvatarLabel = base64_encode($field->name);
                                }
                            }
                        }
                    }

                    foreach ($this->users['users'] as $u) {
                        if (is_null($encodedAvatarLabel) || !isset($u->$encodedAvatarLabel)) {
                            $icon = $this->basePath() . "/img/placeholder/user-avatar.png";
                        } else {
                            $avatarId = $u->$encodedAvatarLabel;
                            $media = $this->mediaModel->getMediaById($avatarId);
                            $icon = $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getFormThumbUrl($this->users['formId']) . $media->uri;
                        }

                        $name = $u->username;

                        $registeredAtLabel = "registered at";

                        $date = explode(" ", $u->$registeredAtLabel);
                        ?>
                        <li>
                            <img src="<?php echo $icon; ?>" alt="User Image">
                            <a class="users-list-name"
                               href="<?php echo $this->basePath(); ?>/admin/user/"><?php echo $name; ?></a>
                            <span class="users-list-date"><?php echo $date[0]; ?></span>
                        </li>
                    <?php } ?>
                </ul>
                <!-- /.users-list -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <a href="<?php echo $this->basePath(); ?>/admin/user/" class="uppercase">View All Users</a>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Recently Added Sections</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="products-list product-list-in-box">
                    <?php
                    foreach ($this->sections as $s) {
                        if (is_null($s->icon_id) || $s->icon_id == "") {
                            $icon = $this->basePath() . "/img/placeholder/app-icon.png";
                        } else {
                            $media = $this->mediaModel->getMediaById($s->icon_id);
                            $coverFormat = \Common\Helper\ImageHelper::TMB_SIZE . "x" . \Common\Helper\ImageHelper::TMB_SIZE;
                            $icon = $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getCoverIconFormatUrl($coverFormat) . $media->uri;
                        }
                        ?>
                        <li class="item">
                            <div class="product-img">
                                <img src="<?php echo $icon; ?>" alt="Cover Image"
                                     style="width:50px;height:50px;background: url(<?php echo $icon; ?>) center center no-repeat, url(/img/placeholder/square-pattern.jpg) left top repeat;background-size: 50px, 8px;">
                            </div>
                            <div class="product-info">
                                <a href="<?php echo $this->basePath() . $s->url; ?>update" class="product-title">
                                    <?php echo $s->title; ?>
                                    <?php if ($s->status == 0) { ?>
                                        <span class="label label-primary pull-right">PUBLISHED</span>
                                    <?php } else { ?>
                                        <span class="label label-danger pull-right">DRAFT</span>
                                    <?php } ?>
                                </a>
                                <span class="product-description">
                                In <b><?php echo $s->area; ?></b> main page area
                        </span>
                            </div>
                        </li>
                    <?php } ?>
                    <!-- /.item -->
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <a href="<?php echo $this->basePath(); ?>/admin/section/" class="uppercase">View All Sections</a>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Recently Added Contents</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="products-list product-list-in-box">
                    <?php
                    foreach ($contents as $c) {
                        $icon = (is_null($c->media_uri) || $c->media_uri == "")
                            ? $this->basePath() . "/img/placeholder/app-icon.png"
                            : $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getMediaThumbUrl() . $c->media_uri;
                        ?>
                        <li class="item">
                            <div class="product-img">
                                <img src="<?php echo $icon; ?>" alt="Cover Image"
                                     style="width:50px;height:50px;background: url(<?php echo $icon; ?>) center center no-repeat, url(/img/placeholder/square-pattern.jpg) left top repeat;background-size: 50px, 8px;">
                            </div>
                            <div class="product-info">
                                <a href="<?php echo $this->basePath() . $c->url; ?>" class="product-title">
                                    <?php echo $c->title; ?>
                                    <?php if ($c->status == 0) { ?>
                                        <span class="label label-primary pull-right">PUBLISHED</span>
                                    <?php } else { ?>
                                        <span class="label label-danger pull-right">DRAFT</span>
                                    <?php } ?>
                                </a>
                                <span class="product-description">
                                <?php echo $c->description; ?>
                        </span>
                            </div>
                        </li>
                    <?php } ?>
                    <!-- /.item -->
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
                <a href="<?php echo $this->basePath(); ?>/admin/content/" class="uppercase">View All Contents</a>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
</div>
	
	