<div class="row">
    <div class="col-lg-3 col-md-2 col-xs-0"></div>
    <div class="col-lg-6 col-md-8 col-xs-12">

        <div class="registration-box">
            <!-- /.login-logo -->
            <div class="login-box-body">
                <?php
                echo $this->partial($this->form->getView(), array('error_msg'=>$this->error_msg, 'form'=>$this->form));
                ?>
            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

    </div>
    <div class="col-lg-3 col-md-2 col-xs-0"></div>
</div>