<style>
#providersDataTable .delete_icon {
    margin-bottom: 0;
}

#providersDataTable .delete_icon.disabled {
    background-color: #e8e8e8;
    border: 1px solid #a3a3a3;
}

#providersDataTable .copy_clipboard_icon {
    margin-bottom: 0;
    margin-left: 8px;
    padding: 6px 8px;
}

#providersDataTable .clickable {
    vertical-align: middle;
}
</style>


<div class="row">
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="row">
            <?php echo $this->partial($this->form->getView(), array('form' => $this->form)); ?>
        </div>

        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;<b>YOUR PROVIDERS</b></h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <table id="providersDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th><!--Id--></th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Site</th>
                                        <th class="text-center">Email</th>
                                        <th><!--Clipboard--></th>
                                        <th><!--Delete--></th>
                                    </tr>
                                </thead>
                                <tfoot class="hidden-xs">
                                    <tr>
                                        <th><!--Id--></th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Site</th>
                                        <th class="text-center">Email</th>
                                        <th><!--Clipboard--></th>
                                        <th><!--Delete--></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div>



<script>
$(document).ready(function() {

    var providerTable = $('#providersDataTable');

    providerTable.DataTable({
        "processing": true,
        "serverSide": true,
        "stateSave": true,
        "stateDuration": 300,
        "ajax": '<?php echo $this->basePath(); ?>/ajax/provider/list',
        columns: [
            { "name": "id",       "width": "1%",   "sortable": false, "visible": false },
            { "name": "name",     "width": "32%",  "sortable": true,  "class": "clickable" },
            { "name": "site",     "width": "32%",  "sortable": true,  "class": "clickable" },
            { "name": "email",    "width": "32%",  "sortable": true,  "class": "clickable" },
            { "name": "copy",     "width": "1%",   "sortable": false },
            { "name": "delete",   "width": "1%",   "sortable": false }
        ]
    });

    providerTable.DataTable().on('draw', function() {

        $('#providersDataTable td.clickable').on('click', function() {
            var rowId = providerTable.DataTable().row(this).data()[0];
            $('#provider_id').val(rowId);

            $.get("<?php echo $this->basePath(); ?>/ajax/provider/"+rowId, function(data) {
                $('#name').val(data[0].name);
                $('#site').val(data[0].site);
                $('#email').val(data[0].email);
            });

            $('.retitle').html('&nbsp;<b>UPDATE PROVIDER</b>');
            $('#save').addClass('hidden');
            $('#reset').removeClass('hidden');
            $('#update').removeClass('hidden');
        });

        /* COPY UUID TO CLIPBOARD */
        $('.copy_clipboard_icon').on('click', function() {
            var title = "PROVIDER'S UUID";
            var value = $(this).attr('data-value');

            $('#copyToClipboardModal .modal-title').html(title.toUpperCase());
            $('#copyToClipboardModal .modal-body').html(value);
            $('#copyToClipboardModal .copy_clipboard').attr('data-clipboard-text', value);

            $('#copyToClipboardModal').modal();
            new Clipboard('#copyToClipboardModal .copy_clipboard');
        });

        /* DELETE */
        $('#providersDataTable .delete_icon').unbind('click');
        $('#providersDataTable .delete_icon').click(function() {
            var title = $(this).attr("provider-title");
            var provider_id = $(this).attr("provider-id");
            var section_id = $(this).attr("section-id");

            if (section_id) {
                $('#errorAlertModal .modal-title').html('IMPOSSIBLE TO DELETE');
                $('#errorAlertModal .text-box').html('The selected Provider is used by some of your Sections!');
                $('#errorAlertModal').modal();
            } else {
                $('#deleteProviderModal .modal-title').html(title.toUpperCase());
                $('#deleteProviderModal .modal-confirm-btn').attr('provider-id', provider_id);

                $('#deleteProviderModal').modal();
            }
        });


    });
});
</script>