<?php $this->placeholder('app-data-title')->set($this->app_data_title); ?>
<?php $this->placeholder('app-data-logo')->set($this->app_data_logo); ?>

<div class="row">
    <div class="custom-left-lg-reduce col-lg-2 hidden-md hidden-sm hidden-xs"></div>
    <div class="custom-lg-enlarge col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <?php echo $this->partial($this->form->getView(), array(
                'maxFileSize' => $this->maxFileSize,
                'error_msg' => $this->error_msg,
                'form' => $this->form,
                'box_title' => $this->box_title,
                'custom_theme' => $this->custom_theme,
                'extraAppIcons' => $this->extraAppIcons,
                'controllerUriFields' => $this->controllerUriFields,
                'bundle_root' => $this->bundle_root,
                'app_id' => $this->app_id,
                'action' => $this->action));
            ?>
        </div><!-- /.box -->
    </div>
    <div class="custom-right-lg-reduce col-lg-2 hidden-md hidden-sm hidden-xs"></div>
</div>