<?php
echo $this->partial('/modal/dlg-superadmin-template-action.phtml', array('form' => $this->form,'error_msg' => $this->error_msg));
echo $this->partial('/modal/dlg-delete-template.phtml');
?>

<style type="text/css">
    #templates-list-body {
        padding-left: 20px;
        padding-right: 20px;
    }

    #templates-list td {
        vertical-align: middle;
    }

    #templates-list .template-color-preview {
        height: 30px;
        width: 30px;
        border: solid 1px #dddddd;
        margin-right: 2px;
        display: inline-block;
    }
</style>

<div id="templates-list-body" class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border" style="padding: 12px;">
                <h3 class="box-title">&nbsp;<b>TEMPLATES LIST</b></h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <button type="button" id="create-template" class="btn btn-primary btn-labeled">
                        NEW
                        <span class="btn-label-right"><i class="fa fa-plus"></i></span>
                    </button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <table id="templates-list" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th><!-- Template Id --></th>
                                    <th class="text-center">Icon</th>
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Like</th>
                                    <th class="text-center">Share</th>
                                    <th class="text-center">Filter</th>
                                    <th class="text-center" style="white-space: nowrap;">Page Size</th>
                                    <th class="text-center">Mode</th>
                                    <th class="text-center">Fonts</th>
                                    <th class="text-center" style="min-width: 178px;">Colors</th>
                                    <th><!-- Actions --></th>
                                </tr>
                            </thead>
                            <tfoot class="hidden-xs">
                                <tr>
                                    <th><!-- Template Id --></th>
                                    <th class="text-center">Icon</th>
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Like</th>
                                    <th class="text-center">Share</th>
                                    <th class="text-center">Filter</th>
                                    <th class="text-center" style="white-space: nowrap;">Page Size</th>
                                    <th class="text-center">Mode</th>
                                    <th class="text-center">Fonts</th>
                                    <th class="text-center" style="min-width: 178px;">Colors</th>
                                    <th><!-- Actions --></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

<script type="application/javascript">
    $(document).ready(function() {
        /* GENERATION OF DATATABLE */
        var templatesDataTable = $('#templates-list').DataTable({
//            stateSave: true,
//            stateDuration: 60 * 5,
            serverSide: true,
            "scrollX": true,
            ajax: '<?php echo $this->basePath(); ?>/admin/templates/list/',
            columns: [
                { "name": "id",        "width": "1%",  "sortable": false, "visible": false},
                { "name": "icon",      "width": "1%",  "sortable": false, "class": "clickable" },
                { "name": "title",     "width": "95%", "sortable": true,  "class": "clickable" },
                { "name": "like",      "width": "1%",  "sortable": false, "class": "clickable text-center" },
                { "name": "share",     "width": "1%",  "sortable": false, "class": "clickable text-center" },
                { "name": "filter",    "width": "1%",  "sortable": false, "class": "clickable text-center" },
                { "name": "page_size", "width": "1%",  "sortable": false, "class": "clickable text-center" },
                { "name": "mode",      "width": "1%",  "sortable": false, "class": "clickable text-center" },
                { "name": "fonts",     "width": "1%",  "sortable": false, "class": "clickable text-center" },
                { "name": "colors",    "width": "1%",  "sortable": false, "class": "clickable text-center" },
                { "name": "actions",   "width": "1%",  "sortable": false }
            ],
            "columnDefs": [
                {
                    "render": function ( data, type, row ) {
                        var uri = "<?php echo $this->basePath(); ?>/img/template/" + row[2] + ".jpg";
                        if(data !== "" && data !== null) uri = "<?php echo $this->layout()->cdnBaseurl . \Common\Helper\ImageHelper::getTemplateIconUrl(); ?>" + data;

                        return '<div style="width: 43px; height: 43px; background: url(\''+uri+'\'); background-size: 43px 43px; background-repeat: no-repeat;"></div>';
                    },
                    "targets": 1
                },
                {
                    "render": function ( data, type, row ) {
                        var result = '<i class="fa fa-times fa-2x" aria-hidden="true"></i>';
                        if (data) result = '<i class="fa fa-check fa-2x" aria-hidden="true"></i>';

                        return result;
                    },
                    "targets": [ 3, 4, 5 ]
                },
                {
                    "render": function ( data, type, row ) {
                        var fonts = "";

                        fonts += '<span class="label label-success" style="margin-right: 5px;">'+data.primary+'</span>';
                        fonts += '<span class="label label-danger">'+data.secondary+'</span>';

                        return fonts;
                    },
                    "targets": 8
                },
                {
                    "render": function ( data, type, row ) {
                        var colors = "";

                        colors += '<div class="template-color-preview" style="background-color: '+data.global_bg+';"></div>';
                        colors += '<div class="template-color-preview" style="background-color: '+data.accent_bg+';"></div>';
                        colors += '<div class="template-color-preview" style="background-color: '+data.primary_bg+';"></div>';
                        colors += '<div class="template-color-preview" style="background-color: '+data.secondary_bg+';"></div>';
                        colors += '<div class="template-color-preview" style="background-color: '+data.light_txt+';"></div>';
                        colors += '<div class="template-color-preview" style="background-color: '+data.dark_txt+';"></div>';

                        return colors;
                    },
                    "targets": 9
                }
            ],
            "fnDrawCallback": function() {
                initTemplateListActions();
            }
        });
        /* .../GENERATION OF DATATABLE */


        /* CREATE NEW TEMPLATE */
        $('#create-template').on('click', function() {
            $('#templateActionModal .modal-title').html('CREATE NEW TEMPLATE');

            $('#templateActionModal').modal();
        });
        /* .../CREATE NEW TEMPLATE */


        /* INIT UPDATE/DELETE TEMPLATE */
        function initTemplateListActions() {
            /* UPDATE TEMPLATE */
            $('tr td.clickable').click(function() {
                var template_id = $(this).closest('tr').attr('data-template-id');
                $('#templateActionModal .modal-title').html("UPDATE TEMPLATE");

                $.get('<?php echo $this->basePath(); ?>/superadmin/template/details/', { templateId: template_id }, function(data) {
                    if (data.success) {
                        initTemplateModalOnUpdate(data.success);

                        $('#templateActionModal').modal();
                    }

                });
            });
            /* .../UPDATE TEMPLATE */


            /* DELETE TEMPLATE */
            $('.delete_icon').on('click', function() {
                var template_id = $(this).closest('tr').attr('data-template-id');
                var title = $(this).attr("template-name");

                $('#deleteTemplateModal .modal-title').html("DELETE "+title.toUpperCase()+" TEMPLATE");
                $('#deleteTemplateModal .modal-confirm-btn').attr('template-id', template_id);

                $('#deleteTemplateModal').modal();
            });
            /* .../DELETE TEMPLATE */
        }
        /* .../INIT UPDATE/DELETE TEMPLATE */

    });
</script>