<?php
/**
 * Created by PhpStorm.
 * User: mirco
 * Date: 17/08/2019
 * Time: 16:35
 */

$appKey = $this->layout()->app_data->app_key;
?>

<div class="row">
    <div class="col-lg-1 col-md-0 col-xs-0"></div>
    <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<b>YOUR NOTIFICATIONS</b></h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <table id="notifications" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th></th>
                                <th class="nowrap">Sent At</th>
                                <th>Title</th>
                                <th>Body</th>
                                <th>Filter</th>
                                <th class="nowrap">Related To</th>
                                <th>Sent (qty)</th>
                                <th>Open (qty)</th>
                                <th>Conv.(%)</th>
                            </tr>
                            </thead>
                            <tfoot class="hidden-xs">
                            <tr>
                                <th></th>
                                <th class="nowrap">Sent At</th>
                                <th>Title</th>
                                <th>Body</th>
                                <th>Filter</th>
                                <th class="nowrap">Related To</th>
                                <th>Sent (qty)</th>
                                <th>Open (qty)</th>
                                <th>Conv.(%)</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
    <div class="col-lg-2 col-md-0 col-xs-0"></div>
</div>
<script type="application/javascript">
    $(document).ready(function () {
        var table = $('#notifications').DataTable({
            stateSave: true,
            stateDuration: 60 * 5,
            serverSide: true,
            ajax: {
                'url': '<?php echo $this->basePath(); ?>/ajax/notification/list/',
                'type': 'GET',
                'beforeSend': function (request) {
                    request.setRequestHeader("App-Id", "<?php echo $appKey; ?>");
                }
            },

            ordering: true,
            order: [[ 1, 'desc' ]],
            columns: [
                {"name": "id", "width": "1%", "sortable": false, "visible": false},
                {"name": "send_date", "width": "1%", "sortable": true},
                {"name": "title", "width": "20%", "sortable": false, "render": function (data, type, row) {
                    return "<div title='"+row[2]+"'>"+data+"</div>";
                }},
                {"name": "body", "width": "1%", "sortable": false, "visible": false},
                {"name": "receiver_filter", "width": "60%", "sortable": false},
                {"name": "related_to", "width": "1%", "sortable": false, "render": function (data, type, row) {
                    return (data != null) ? "<a href='"+data.url+"' target='_blank' >"+data.title+"</a>" : "-";
                }},
                {"name": "device_count", "width": "1%", "sortable": true},
                {"name": "read_message_count", "width": "1%", "sortable": true},
                {"name": "conversion_rate", "width": "1%", "sortable": true}
            ]
        });
    });
</script>