<?php
$content_types = $this->content_types;
$cdnBaseurl = $this->layout()->cdnBaseurl;
?>
<style type="text/css">

    #user-list-body {
        padding-left: 20px;
        padding-right: 20px;
    }
</style>

<div id="user-list-body" class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<b>REGISTERED USERS</b></h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th><!-- User Id --></th>
                                <th class='text-center'>Address</th>
                                <th class='text-center'>City</th>
                                <?php
                                if ($this->customFormData !== null) {
                                    foreach ($this->customFormData['details'] as $dataDetails) {
                                        echo "<th class='text-center'><i class='" . $dataDetails['icon'] . "' aria-hidden='true'></i>&nbsp;" . ucfirst($dataDetails['label']) . "</th>";
                                    }
                                } else {
                                    ?>
                                    <th class='text-center'>Last Modified</th>
                                    <th class='text-center'>Username</th>
                                    <th class='text-center'>Registered At</th>
                                    <?php
                                }
                                ?>
                            </tr>
                            </thead>
                            <tfoot class="hidden-xs">
                            <tr>
                                <th><!-- User Id --></th>
                                <th class='text-center'>Address</th>
                                <th class='text-center'>City</th>
                                <?php
                                if ($this->customFormData !== null) {
                                    foreach ($this->customFormData['details'] as $dataDetails) {
                                        echo "<th class='text-center'><i class='" . $dataDetails['icon'] . "' aria-hidden='true'></i>&nbsp;" . ucfirst($dataDetails['label']) . "</th>";
                                    }
                                } else {
                                    ?>
                                    <th class='text-center'>Last Modified</th>
                                    <th class='text-center'>Username</th>
                                    <th class='text-center'>Registered At</th>
                                    <?php
                                }
                                ?>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

<script type="application/javascript">
    $(document).ready(function () {

        var table = $('#users').DataTable({
            stateSave: true,
            stateDuration: 60 * 5,
            serverSide: true,
            "scrollX": true,
            ajax: '<?php echo $this->basePath(); ?>/ajax/user/list/<?php echo $this->formId; ?>',
            "ordering": true,
            "order": [[3, 'desc']],
            columns: [
                {"name": "user_id", "width": "1%", "sortable": false, "visible": false},
                {"name": "address", "width": "70%", "sortable": true},
                {"name": "city", "width": "20%", "sortable": true},
                <?php
                if ($this->customFormData !== null) {
                foreach ($this->customFormData['details'] as $dataDetails) {
                    if ($dataDetails['label'] == "username") {
                        echo '{ "name": "' . $dataDetails['label'] . '", "width": "1%", "sortable": true, "class": "text-center" },';
                    } elseif ($dataDetails['label'] == "registered at" || $dataDetails['label'] == "last modified") {
                        echo '{ "type": "date", "name": "' . $dataDetails['label'] . '", "width": "1%", "sortable": true, "class": "text-center" },';
                    } else {
                        echo '{ "name": "' . base64_encode($dataDetails['label']) . '", "width": "1%", "sortable": true, "class": "text-center" },';
                    }
                }
            } else {
                ?>
                {"type": "date", "name": "last modified", "width": "1%", "sortable": true},
                {"name": "username", "width": "1%", "sortable": true, "class": "text-center"},
                {"type": "date", "name": "registered at", "width": "1%", "sortable": true},
                <?php
                }
                ?>
            ]
        });


    });
</script>