<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
    <tbody>
        <tr>
            <td align="center">

                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                    <tbody>
                        <tr>
                            <td valign="middle">
                                <table width="100%" cellpadding="0" border="0" cellspacing="0" align="left">
                                    <tbody>
                                        <tr>
                                            <td align="center" height="50">
                                                <img src="<?php echo $this->app_icon; ?>" alt="undefined" width="200" height="200" style="display:block" border="0" class="CToWUd">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td bgcolor="#f6f6f6" align="center">
                                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <u></u>
                                                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td height="30"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="font-family:'Droid Serif',Georgia,'Times New Roman',serif;color:#666666;font-size:28px;line-height:38px;font-weight:normal">
                                                                <?php echo $this->app_name; ?> APP
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:'Raleway',Arial,Helvetica,sans-serif;color:#575757;font-size:15px;line-height:26px;text-align:center">
                                                                <p>
                                                                    <div>
                                                                        This is your new password&nbsp;
                                                                    </div>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="5"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <table cellpadding="0" border="0" cellspacing="0" align="center">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td height="48" align="center" style="margin-bottom:10px; padding:0 40px;font-size:15px;border:2px solid #dcdcdc;color:#b3b3b3;font-family:'Raleway',Arial,Helvetica,sans-serif;letter-spacing:1px">
                                                                            <b style="color:#b3b3b3;"><?php echo $this->password; ?></b>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="30"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <u></u>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                    <tbody>
                        <tr>
                            <td align="center">
                                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="font-family:'Droid Serif',Georgia,'Times New Roman',serif;color:#666666;font-size:28px;line-height:38px;font-weight:normal">
                                                What to do
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                    <tbody>
                        <tr>
                            <td align="center">
                                <u></u>
                                <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                    <tbody><tr>
                                        <td align="" style="font-family:'Raleway',Arial,Helvetica,sans-serif;color:#666666;font-size:15px;line-height:24px;text-align:center">
                                            <div>
                                                <p style="margin-top:0px;margin-bottom:10px">
                                                    Click your app login button,<br/>
                                                    insert your <b>email / password</b> and login in <b><?php echo $this->app_name; ?> APP</b>.
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <u></u>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td height="30"></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#2c2c2c">
                    <tbody><tr>
                        <td align="center" style="padding:30px 0 10px">
                            <table width="660" cellpadding="0" border="0" cellspacing="0" align="center">
                                <tbody>
                                <tr>
                                    <td align="center" style="min-width:660px;width:660px">
                                        <table width="100%" cellpadding="0" border="0" cellspacing="0" align="center">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-bottom:20px" valign="top" align="center" width="100%">
                                                        <table width="100%" cellpadding="0" border="0" cellspacing="0" align="left">
                                                            <tbody>
                                                            <tr>
                                                                <td align="left" height="50" width="50">
                                                                    <a href="http://www.hub.plus/" target="_blank" style="padding-left: 10px">
                                                                        <img src="http://admin.hub.plus/img/app-logo.png" alt="undefined" width="50" height="50" style="display:block;" border="0" class="CToWUd">
                                                                    </a>
                                                                </td>
                                                                <td align="left" height="50">
                                                                    <a href="http://www.hub.plus/" target="_blank" style="text-decoration: none; color: #dcdcdc">
                                                                        Application developed with <b><?php echo strtoupper($this->backend_name); ?></b>
                                                                    </a>
                                                                </td>
                                                                <td align="right" height="50">
                                                                    <div style="color: #dcdcdc">
                                                                        <a href="http://www.rhubbit.com/" target="_blank" style="text-decoration: none; color: #dcdcdc; padding-right: 10px;">
                                                                            Powered by <b>Rhubbit s.r.l.</b>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <span style="white-space:nowrap;font:15px courier;line-height:0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
            </td>
        </tr>
    </tbody>
</table>