<style>
.chart_box_body_adapt {
    height: 300px; /* height equal to chart height option */
}
</style>


<div class="row">
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="row">
            <?php
            echo $this->partial('analytics-boxes/device-data-analytics-box.phtml');
            echo $this->partial('analytics-boxes/posts-data-analytics-box.phtml');
            ?>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div>


<script>
$(document).ready(function() {

});
</script>
