<style>

</style>


<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <div class="input-daterange input-group" id="datepicker">
                            <span class="input-group-addon">from</span>
                            <input type="text" class="input-sm form-control" name="start" />
                            <span class="input-group-addon">to</span>
                            <input type="text" class="input-sm form-control" name="end" />
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <button>Submit</button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="chart_device_details-data"><i class="fa fa-spinner fa-spin"></i></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">

                </div>
                <div class="box-body">
                    device data details listed
                </div>
            </div>
        </div>
    </div><!-- .row -->
</div>
<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>



<script>
$(document).ready(function() {

    $('.input-daterange').datepicker({
//        format: "yyyy/mm/dd",
        weekStart: 1,
        clearBtn: true,
        daysOfWeekHighlighted: "0",
        autoclose: true,
        todayHighlight: true
    });





    var deviceDataDetailsChartDiv = 'chart_device_details-data';

    var os   = JSON.stringify({ android: 1, ios: 1 });
    var type = JSON.stringify({ tablet: 1, smartphone: 1 });

    var fullDate = new Date();
    var twoDigitDate = fullDate.getDate()+""; if(twoDigitDate.length==1) twoDigitDate="0" +twoDigitDate;
    var twoDigitMonth = fullDate.getMonth() +1 +""; if(twoDigitMonth.length==1) twoDigitMonth="0" +twoDigitMonth;
    var twoDigitPastMonth = fullDate.getMonth() -8 +""; if(twoDigitPastMonth.length==1) twoDigitPastMonth="0" +twoDigitPastMonth;

    var fromDate    = fullDate.getFullYear() + "-" + twoDigitPastMonth + "-" + twoDigitDate;
    var currentDate = fullDate.getFullYear() + "-" + twoDigitMonth + "-" + twoDigitDate;

    google.charts.load('current', {'packages':['corechart'], 'callback': drawDeviceDataChart});

    function drawDeviceDataChart() {
        $.ajax({
            url: "<?php echo $this->basePath(); ?>/ajax/analytics/device/data",
            data: { os: os, type: type, from: fromDate, to: currentDate },
            dataType: "json"
        }).done(function(jsonData) {

            var data = new google.visualization.DataTable(jsonData);

            var options = { 'height': 300 };
            var chart = new google.visualization.PieChart(document.getElementById(deviceDataDetailsChartDiv));

            chart.draw(data, options);
        }).fail(function() {
            google.visualization.errors.addError(deviceDataDetailsChartDiv, "Failed to load data for the chart.");
        });
    }

});
</script>