<style>

</style>


<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">

                </div>
                <div class="box-body">
                    <div id="chart_posts_details-data"><i class="fa fa-spinner fa-spin"></i></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">

                </div>
                <div class="box-body">
                    posts data details listed
                </div>
            </div>
        </div>
    </div><!-- .row -->
</div>
<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>



<script>
$(document).ready(function() {

    var postsDataDetailsChartDiv = 'chart_posts_details-data';

    var posts = JSON.stringify({ "VIEW": 1, "SHARE": 1, "LIKE": 1, "UNLIKE": 1 });

    var fullDate = new Date();
    var twoDigitDate = fullDate.getDate()+""; if(twoDigitDate.length==1) twoDigitDate="0" +twoDigitDate;
    var twoDigitMonth = fullDate.getMonth() +1 +""; if(twoDigitMonth.length==1) twoDigitMonth="0" +twoDigitMonth;
    var twoDigitPastMonth = fullDate.getMonth() -8 +""; if(twoDigitPastMonth.length==1) twoDigitPastMonth="0" +twoDigitPastMonth;

    var fromDate    = fullDate.getFullYear() + "-" + twoDigitPastMonth + "-" + twoDigitDate;
    var currentDate = fullDate.getFullYear() + "-" + twoDigitMonth + "-" + twoDigitDate;

    google.charts.load('current', {'packages':['corechart'], 'callback': drawPostsDataChart});

    function drawPostsDataChart() {
        $.ajax({
            url: "<?php echo $this->basePath(); ?>/ajax/analytics/posts/data",
            data: { posts: posts, from: fromDate, to: currentDate },
            dataType: "json"
        }).done(function(jsonData) {

            var data = new google.visualization.DataTable(jsonData);

            var options = { 'height': 300, curveType: 'function', legend: { position: 'top' } };
            var chart = new google.visualization.LineChart(document.getElementById(postsDataDetailsChartDiv));

            chart.draw(data, options);
        }).fail(function() {
            google.visualization.errors.addError(postsDataDetailsChartDiv, "Failed to load data for the chart.");
        });
    }

});
</script>