<div class="row">
    <div class="col-lg-1 hidden-md hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<i class="fa fa-edit"></i>&nbsp;&nbsp;<b>User data</b></h3>
            </div><!-- /.box-header -->
            <?php
            echo $this->partial($this->form->getView(), array(
                'success_msg' => $this->success_msg,
                'error_msg' => $this->error_msg,
                'form' => $this->form,
            ));
            ?>
        </div><!-- /.box -->
    </div>
    <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>
</div>
