<style type="text/css">
    #forms-list-body {
        padding-left: 20px;
        padding-right: 20px;
    }
</style>

<div id="forms-list-body" class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">&nbsp;<b><?php echo $this->customFormTitle ?> DATA</b></h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <a href="<?php echo $this->basePath(); ?>/admin/section/custom_form/<?php echo $this->sectionId; ?>/update/"
                       class="btn btn-box-tool">
                        <i class="fa fa-gear fa-2x"></i>
                    </a>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <table id="form-users" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <?php
                                foreach ($this->customFormDataDetails as $dataDetails) {
                                    if ($dataDetails['label'] == "created_at") {
                                        echo "<th class='text-center'><i class='" . $dataDetails['icon'] . "' aria-hidden='true'></i>&nbsp;Registered</th>";
                                    } else {
                                        echo "<th class='text-center'><i class='" . $dataDetails['icon'] . "' aria-hidden='true'></i>&nbsp;" . ucfirst($dataDetails['label']) . "</th>";
                                    }
                                } ?>
                            </tr>
                            </thead>
                            <tfoot class="hidden-xs">
                            <tr>
                                <?php foreach ($this->customFormDataDetails as $dataDetails) {
                                    if ($dataDetails['label'] == "created_at") {
                                        echo "<th class='text-center'><i class='" . $dataDetails['icon'] . "' aria-hidden='true'></i>&nbsp;Registered</th>";
                                    } else {
                                        echo "<th class='text-center'><i class='" . $dataDetails['icon'] . "' aria-hidden='true'></i>&nbsp;" . ucfirst($dataDetails['label']) . "</th>";
                                    }
                                } ?>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

<script type="application/javascript">
    $(document).ready(function () {

        /* GENERATION OF DATATABLE */
        var table = $('#form-users').DataTable({
            stateSave: true,
            stateDuration: 60 * 5,
            serverSide: true,
            "scrollX": true,
            ajax: '<?php echo $this->basePath(); ?>/ajax/form/users/list/<?php echo $this->sectionId; ?>',
            "ordering": true,
            "order": [[ 0, 'desc' ]],
            columns: [
                <?php
                foreach ($this->customFormDataDetails as $dataDetails) {
                    if ($dataDetails['label'] == "username") {
                        echo '{ "name": "' . $dataDetails['label'] . '", "width": "1%", "sortable": true, "class": "text-center '.$dataDetails['class'].'" },';
                    } elseif ($dataDetails['label'] == "registered at" || $dataDetails['label'] == "last modified") {
                        echo '{ "type": "date", "name": "' . $dataDetails['label'] . '", "width": "1%", "sortable": true, "class": "text-center '.$dataDetails['class'].'" },';
                    } else {
                        echo '{ "name": "' . base64_encode($dataDetails['label']) . '", "width": "1%", "sortable": true, "class": "text-center '.$dataDetails['class'].'" },';
                    }
                }
                ?>
            ],
            "fnDrawCallback": function () {
                initClickableImagesPreview();
                initAddressToGoogleMaps();
//                $('.form_user_textarea').popover();
            }
        });

        table.on('draw', function () {
            $('tr td.clickable').unbind('click');
            $('tr td.clickable').click(function () {
                var rowId = $(this).closest('tr').attr('data-row-id');
                window.location.href = "<?php echo $this->basePath(); ?>/admin/form/<?php echo $this->sectionId?>/row/" + rowId;
            });
        });
        /* .../GENERATION OF DATATABLE */


        /* ON IMAGE CLICK SHOW IMAGE/GALLERY CAROUSEL */
        function initClickableImagesPreview() {
            $('.form_user_image').on('click', function () {
                var image_url = $(this).attr("detailed-url");
                var shown_image = '<div><img src="' + image_url + '"></div>';
                $('#formUsersImageCarouselModal .modal-body').html(shown_image);

                $('#formUsersImageCarouselModal').modal();
            });

            $('.form_user_gallery').on('click', function () {
                var gallery_urls = $(this).attr("gallery-urls");
                var shown_carousel = generateFormUserCarousel(JSON.parse(gallery_urls));

                $('#formUsersImageCarouselModal .modal-body').html(shown_carousel);

                $('#formUsersImageCarouselModal').modal();

                $('.carousel').carousel({interval: false}); //disabled auto slide
            });
        }

        /* .../ON IMAGE CLICK SHOW IMAGE/GALLERY CAROUSEL */


        /* ON ADDRESS CLICK SHOW GOOGLE MAPS */
        function initAddressToGoogleMaps() {
            $('.form_user_address').on('click', function () {
                var user_address = $(this).attr('user-address');
                $('#usersAddress').attr('val', user_address);

                $('#formUsersAddressGoogleMapsModal .modal-footer').html('<div id="usersAddressShown" class="text-center"><p><i>' + user_address + '</i></p></div>');

                $('#formUsersAddressGoogleMapsModal').modal();
            });
        }

        /* .../ON ADDRESS CLICK SHOW GOOGLE MAPS */


        /* CREATION OF CAROUSEL */
        function generateFormUserCarousel(uris) {
            var all_carousel_li = [];
            var all_carousel_items = [];
            var active_carousel = 'active';

            for (var i = 0; i < uris.length; i++) {
                if (i != 0) active_carousel = '';
                all_carousel_li += '<li data-target="#forms-user-gallery-carousel" data-slide-to="' + i + '" class="' + active_carousel + '"></li>';
                all_carousel_items += '<div class="item ' + active_carousel + '"><img src="' + uris[i] + '" data-holder-rendered="true"></div>';
            }

            return '<div class="carousel" id="forms-user-gallery-carousel">' +
                '<ol class="carousel-indicators">' +
                all_carousel_li +
                '</ol>' +
                '<div class="carousel-inner" role="listbox">' +
                all_carousel_items +
                '</div>' +
                '<a href="#forms-user-gallery-carousel" class="left carousel-control" role="button" data-slide="prev">' +
                '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>' +
                '<span class="sr-only">Previous</span>' +
                '</a>' +
                '<a href="#forms-user-gallery-carousel" class="right carousel-control" role="button" data-slide="next">' +
                '<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>' +
                '<span class="sr-only">Next</span>' +
                '</a>' +
                '</div>';
        }

        /* .../CREATION OF CAROUSEL */

    });
</script>