<div class="login-box">
    <!-- /.login-logo -->
    <div class="logo-box">
        <img src="<?php echo $this->basePath() . '/img/app-logo.png'; ?>" height="160" width="160"/>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            Sign in to start your session</p>

        <?php
            echo $this->partial($this->form->getView() ,array('error_msg'=>$this->error_msg, 'form'=>$this->form));
        ?>

        <a href="<?php echo $this->basePath(); ?>/password-recovery">I forgot my password</a><br>
        <a href="<?php echo $this->basePath(); ?>/register/user">Register a new account</a>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
	