<div class="login-box">
    <!-- /.login-logo -->
    <div class="logo-box">
        <img src="<?php echo $this->basePath() . '/img/app-logo.png'; ?>" height="160" width="160"/>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg" style="font-size: 24px; background: #ddf0fd; padding: 14px; color: #0e76bd">
            <?php echo $this->title; ?>
        </p>
        <p class="login-box-msg">
            <?php echo $this->message; ?>
        </p>

        <a href="<?php echo $this->basePath(); ?>">Login</a><br>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
