<div class="registration-box">
    <!-- /.login-logo -->
    <div class="logo-box">
        <img src="<?php echo $this->basePath() . '/img/app-logo.png'; ?>" height="160" width="160"/>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Register your account and start your <b><?php echo $this->backend_name; ?></b> experience</p>

        <?php
        echo $this->partial($this->form->getView(), array('error_msg' => $this->error_msg, 'form' => $this->form));
        ?>

        <a href="<?php echo $this->basePath(); ?>">I already have an account</a><br>

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
	