<style>
    #drawer-sections td {
        vertical-align: middle;
    }
</style>

<table id="drawer-sections" class="table table-striped table-bordered" cellspacing="0" style="width: 100%;">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Icon</th>
        <th>Last Modified</th>
        <th class="hidden-xs">Type</th>
        <th>Title</th>
        <th>Content Tags</th>
        <th>User Tags</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <?php
    foreach ($this->drawer_sections as $s) {
        if (is_null($s["icon_id"]) || $s["icon_id"] == "") {
            $icon_path = $this->basePath() . "/img/placeholder/app-icon.png";
        } else {
            $icon = $this->mediaModel->getMediaById($s["icon_id"]);
            $coverFormat = \Common\Helper\ImageHelper::TMB_SIZE . "x" . \Common\Helper\ImageHelper::TMB_SIZE;
            $icon_path = $this->cdnBaseurl . \Common\Helper\ImageHelper::getCoverIconFormatUrl($coverFormat) . $icon->uri;
        }

        $len = 50;
        $resources = $s["resource"];
        if (strlen($resources) > $len) {
            $resources = substr($resources, 0, $len) . "<br/>" . substr($resources, $len, strlen($resources));
        }

        $tags = explode(",", $s["parsed_tags"]);
        $renderTags = array();
        foreach ($tags as $tag) {
            if ($tag !== "") {
                $renderTags[] = '<div><span class="label label-primary">' . $tag . '</span></div>';
            }
        }

        $renderUserTags = array();
        if ($s["tags_user"] !== null) {
            $tags = json_decode($s["tags_user"]);
            foreach ($tags as $tag) {
                if ($tag !== "") {
                    $renderUserTags[] = '<div><span class="label label-primary">' . $tag . '</span></div>';
                }
            }
        }
        ?>
        <tr id="section-row-<?php echo $s["id"]; ?>" data-section-id="<?php echo $s["id"]; ?>"
            data-section-type="<?php echo $s["type"]; ?>">
            <td style="display: none;"><?php echo $s["weight"]; ?></td>
            <td style="display: none;"><?php echo $s["id"]; ?></td>
            <td class="orderable" style="width: 10px;">
                <div class="drag_icon"></div>
            </td>
            <td class="clickable" style="width: 34px;">
                <div style="width: 50px; height: 50px; background: url(<?php echo $icon_path; ?>) center center no-repeat, url(/img/placeholder/square-pattern.jpg) left top repeat;background-size: 50px, 8px;"></div>
            </td>
            <td class="clickable hidden-xs"><?php echo $s["updated_at"]; ?></td>
            <td class="clickable hidden-xs"><?php echo $s["label"]; ?></td>
            <td class="clickable"><?php echo $s["title"]; ?></td>
            <td class="clickable"><?php echo count($renderTags) > 0 ? implode("", $renderTags) : "" ?></td>
            <td class="clickable"><?php echo count($renderUserTags) > 0 ? implode("", $renderUserTags) : "" ?></td>
            <td style="width: 85px;"><?php echo $s["status"]; ?></td>
            <td style="width: 32px;">
                <button type="button" class="delete_icon btn btn-default" section-title="<?php echo $s["title"]; ?>"
                        section-id="<?php echo $s["id"]; ?>"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var drawerTable = $('#drawer-sections').DataTable({
            "filter": false,
            "paging": false,
            "ordering": true,
            "info": false,
//            "scrollY": 388,
//            "scrollX": true,
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        var sectionId = row[1];
                        var render = "", status = "", alter_status = "", btn_style = "", alter_data = 0;

                        if (data == 0) {
                            status = "PUBLIC";
                            alter_status = "DRAFT";
                            btn_style = "btn-primary";
                            alter_data = 1;
                        } else {
                            status = "DRAFT";
                            alter_status = "PUBLIC";
                            btn_style = "btn-danger";
                            alter_data = 0;
                        }

                        render += '<div class="section-status btn-group btn-group-xs" style="display: block">';
                        render += '<button id="section_' + sectionId + '" type="button" class="section_' + sectionId + ' btn ' + btn_style + ' btn-xs" style="top: 5px; width: 50px">' + status + '</button>';
                        render += '<button type="button" class="section_' + sectionId + ' btn ' + btn_style + ' dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="top: 5px;">';
                        render += '<span class="caret"></span>';
                        render += '</button>';
                        render += '<ul class="dropdown-menu">';
                        render += '<li><a href="#" data-id="' + sectionId + '" data-value="' + alter_data + '">Move to <b>' + alter_status + '</b></a></li>';
                        render += '</ul>';
                        render += '</div>';

                        return render;
                    },
                    "targets": 9
                }
            ],
            "columns": [
                {"width": "1%", "sortable": true, "visible": false},
                {"width": "1%", "sortable": true, "visible": false},
                {"width": "1%", "sortable": false},
                {"width": "1%", "sortable": false},
                {"width": "1%", "sortable": false},
                {"width": "30%", "sortable": false},
                {"width": "65%", "sortable": false},
                {"width": "1%", "sortable": false},
                {"width": "1%", "sortable": false},
                {"width": "1%", "sortable": false},
                {"width": "1%", "sortable": false}
            ],
            rowReorder: {
                selector: '.orderable'
            }
        });

        drawerTable.on('row-reorder', function (e, diff, edit) {
            var reorderedDrawerRow = [];
            for (var i = 0, ien = diff.length; i < ien; i++) {
                var sectionId = drawerTable.row(diff[i].node).data()[1];
                var newWeight = diff[i].newData;

                reorderedDrawerRow.push({"section": sectionId, "weight": newWeight});
            }
            $.post("<?php echo $this->basePath(); ?>/ajax/sections/weight/", {"data": reorderedDrawerRow}, function (response) {
            }, "json");
        });

    });
</script>